.head_menu {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    z-index: 56;
    background-color: #fff
}

.head_menu > div {
    height: 100%;
    position: relative
}

.page_Logo {
    width: auto;
    height: 100%;
    float: left;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: relative;
}
.page_Logo a{width: auto;height: 100%;}
.page_Logo a h1{height: 100%;display: flex;align-items:center;flex-direction:row;}
.page_Logo img {width: auto;height: auto;}
.head_mail{margin-left: 2.4%;position: relative;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%)}
.head_mail a{font-size: 14px;color: #333;line-height: 20px;font-weight: normal;text-decoration: underline;}
.head_mail a:hover{font-weight: bold}
.head_seach{margin-left: 2.4%;position: relative;top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);height: 30px;width: 30px;}
.head_search_icon,.head_search_close{width: 30px;height: 30px;position: absolute;left: 0;}
.head_seachshow:before{content: '';display: table;width: 2px;height: 54px;background: #e9e9e9;position: absolute;left: -27px;top: -12px;}
.head_language {font-size: 14px;line-height: 24px;font-weight: normal;width: 80px;position: relative;z-index:100;margin-left: 25px;height: 40px;top: 50%;-webkit-transform: translateY(-32%);-moz-transform: translateY(-32%);transform: translateY(-32%)}
.head_language span img{margin-right: 10px;float: right}
.head_language ul{position: absolute;display: none;z-index: 999;background: #fff;padding: 10px 10px 0;border: 1px solid #DCDCDC;width: 90px;top: 30px;left: -20px;}
.head_language:hover ul{display: block;}
.head_language ul li a{color: #333;font-size: 14px;line-height: 20px;font-weight: normal;display: block;line-height: 24px;margin-bottom: 8px;}
.head_language ul li a img{float: right}
.head_language ul li:hover span{text-decoration: underline}
.HJ02_head_menu{width: 100%;margin: auto;}
.HJ02_head_menu{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;height: 50px;}
.HJ02_head_menu>div>ul{display: flex;display: -webkit-flex;justify-content: space-between;flex-wrap: nowrap;}
.HJ02_head_menu>div>ul>li{float: left;width: auto;position: relative;text-align: center}
.HJ02_head_menu>div>ul>li>a>h2{color: #fff;font-size: 16px;line-height: 50px;padding:0 15px;text-align: center;font-weight: normal;display: inline-block}
.nav_more a h2{position: relative}
.nav_more a h2:after{content: '';display: table;width:11px;height:7px;position: absolute;right: -25%;top: 22px;background: url(../img/nav_more.png) no-repeat;background-size: cover}

/*导航开始*/
.hj02-menu{position: absolute;top: 50px;left: 0;min-width: 200px;transition: 1s;z-index:99;display: none;box-shadow: 0 2px 4px #ebebeb}
.hj02-menu>li{padding: 10px 0;}
.hj02-menu>li>a>h3{font-size: 14px;line-height: 26px;color: #333;text-align: left;padding: 0 10px 0 20px;font-weight: normal}
.HJ02_head_menu>div>ul>li:hover .hj02-menu{height: auto;display: block;}
/*导航开始*/

/*黄金02banner1开始*/
.HJ02-banner1-box{width: 100%;min-width: 1190px;max-width: 1920px;height: 500px;margin: auto;position: relative;margin-bottom: 120px;}
#HJ02-banner1{width: 100%;height: 500px;}
#HJ02-banner1 .slick-slide{width: 100%;height: 100%;float: left;}
#HJ02-banner1 .slick-slide img{width: 100%;height: 100%;}
#HJ02-banner1 .slick-prev{left: 10%;z-index: 99;display: none;width: 40px;height: 40px;background: rgba(0,0,0,0.5)}
#HJ02-banner1 .slick-next{right: 10%;z-index: 99;display: none;width: 40px;height: 40px;background: rgba(0,0,0,0.5)}

#HJ02-banner1 .slick-prev:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat 0px 0px;
}
#HJ02-banner1 .slick-next:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat -39px 0px;
}

#HJ02-banner1 .slick-dots{bottom: 36px;}
#HJ02-banner1 .slick-dots li button::before{border: #c8c8c8 1px solid;width: 10px;height: 10px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;opacity: 0.5;content: "";background: #000;}

.HJ02-banner1-box_other{width: 100%;height: 186px;position: absolute;bottom: -93px;left: 0;}
.HJ02-banner1-box_other ul{display: flex;justify-content:space-between;}
.HJ02-banner1-box_other ul div{display: none;justify-content:space-between;float: left;}
.HJ02-banner1-box_other ul li{display: flex;width: 380px;background: #fff;justify-content:center;align-items:center;flex-direction:column;height: 186px;border: 1px solid #D6D6D6;transition: .6s; -webkit-transition: .6s;}
.HJ02-banner1-box_other ul li p,.HJ02-banner1-box_other ul li h4{width: 100%;text-align: center;}
.HJ02-banner1-box_other h4{font-size: 18px;color: #333;line-height: 30px;font-weight: bold;}
.HJ02-banner1-box_other h4 a{position: relative;display: inline-block}
.HJ02-banner1-box_other ul li h4 a:before{content: '';width: 0;height: 2px;display: table;position: absolute;;bottom: -2px;left: 50%;transition: .6s;}
.HJ02-banner1-box_other ul div:first-child{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.HJ02-banner1-box_other ul div:nth-child(2){
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .4s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .4s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .4s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.HJ02-banner1-box_other ul div:nth-child(3){
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .6s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .6s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .6s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .6s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.HJ02-banner1-box_other ul li:hover{
    transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    transition: .6s;
    -webkit-transition: .6s;
}

/*黄金02banner1结束*/


.page_probg {
    width: 100%;
    margin: auto;
    min-width: 1190px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.index_product_title {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.index_product_title_left {
    width: 40%;
    float: left;
    box-sizing: border-box;
}
#index_product_title_left1 h3{
    color: #333;font-size: 30px;line-height: 40px;font-weight: bold;
}

.index_product_title_left > div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.index_product_title_right {
    width: 60%;
    float: right;
    padding-right: 15px;
    box-sizing: border-box;
}

.index_product_title_right > div,.hj02_advantage_right_box,.hj02_index_videoBox_left,.hj02_index_videoBox_right,.news_item,.news_item_right_box,.page_Logo,#HJ02-aboutus2-content{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.hj02_proclasslist{float: right;}
.hj02_proclasslist li{padding: 2px 15px;float: left;}
.hj02_proclasslist li a{font-size: 14px;line-height: 20px;color: #666;font-weight: normal;}
.hj02_pro_more{font-size: 14px;color: #666;line-height: 24px;float: right;padding: 4px 8px;}


.index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    font-family: Saira;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
}

.index_product_more:hover {
    outline: 0;
}

.index_prolist_wai {
    width: 100%;height:460px;overflow: hidden;position: relative;
}
.index_prolist_waibox{position: absolute;left: 0;top: 0;}
.index_prolist_wai_cont{
    width: 1190px;float: left;overflow: hidden;
}

.index_proitem {
    width: 360px;
    height: 340px;
    float: left;
    background-color: #fff;
    padding-bottom: 14px;

}
.index_proitem_box {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}
.index_proitem_box:after{content: '';display: table;width: 0;height: 2px;position: absolute;bottom: 0;left:0;transition: .6s;}
.index_proitem_name h6{overflow: hidden;text-overflow: ellipsis;font-size: 16px;}

.index_proitem_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.index_proitem_img img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    display: -webkit-box;
}

.index_proitem_img a {
    position: relative;display: block;width: 100%;height: 100%;
}

/*.index_proitem_img a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    transition: .3s;
    visibility: hidden;
    z-index: 9;
}*/

.index_proitem_img a:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transition: .3s;
    background: url(../img/product_more.png) no-repeat center 50% rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.index_proitem_box:hover .index_proitem_img a:after {
    opacity: 1;
    visibility: visible;
}

.index_proitem_second {
    padding: 20px;
}

.index_proitem_desc {
    margin-bottom: 0;
    font-family: Ubuntu,Arial;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #999;
    font-size: 15px;
    min-height: 25px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: keep-all;
}
.index_pro_slickbox{padding-bottom: 50px!important;}
.index_pro_slickbox .hj02-pro-prev{left: -50px;z-index: 99;width: 40px;height: 40px;background: rgba(0,0,0,0.5);top: 37%;transition: .6s;}
.index_pro_slickbox .hj02-pro-next{right: -40px;z-index: 99;width: 40px;height: 40px;background: rgba(0,0,0,0.5);top: 37%;transition: .6s;}

.index_pro_slickbox .hj02-pro-prev:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat 0px 0px;
}
.index_pro_slickbox .hj02-pro-next:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat -39px 0px;
}
.hj02-pro-pagination{bottom: 10px!important;}
.hj02-pro-pagination .swiper-pagination-bullet{width: 6px;height: 6px;background: #e3e3e3;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;border: none;padding: 0;border: 2px solid #e3e3e3;opacity: 1!important;}
.hj02-pro-pagination .swiper-pagination-bullet-active{border: 2px solid #333;width: 6px;height: 6px;background: #e3e3e3;}




.index_proitem_box:hover .index_proitem_img img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}
.index_proitem_box:hover .index_proitem_box{
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.10);
}
.index_proitem:hover .index_proitem_box:after{
    content: '';display: table;width: 100%;transition: .6s;
}
/*index product*/
/*index aboutus*/
#aboutus {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: auto;
    background-size: cover;
    padding-top: 70px;
}
.hj02_abus_left{width: 820px;float: left}
.hj02_abus_right{width: 250px;float: right;}
.hj02_abus_left_title{width: 100%;font-size: 44px;line-height: 60px;font-weight: normal;font-family: OpenSans-Semibold}
.hj02_abus_left_content_left{width: 400px;height: 400px;overflow: hidden;float: left;}
#ab_picbox{width: 400px;height: 400px;position: relative}
.page_indexpic{float: left;	overflow: hidden;width: 400px;height: 400px;}
.page_indexpic ul {width: 1200px;height: auto;}
.page_indexpic ul li {list-style: none;float: left;background: #fff;text-align: center;width: 400px;height: 400px;}

#tip{position: absolute; height: 10px; width: auto; z-index: 2; bottom: 14px; right: 10px;}
#tip ul li{cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 10px;}

.hj02_abus_left_content_right{width: 400px;height: 400px;float: right;overflow: hidden;position: relative}
.hj02_abus_left_content_right a{position: absolute;bottom: 0;left: 0}
.hj02_abus_left_content_right a:hover{text-decoration: underline}

.hj02_abus_right_honor{width: 100%;height: 345px;overflow: hidden;}
.hj02_abus_right_honor_box{width: 100%;height: 100%;position: relative}
/*index aboutus*/

/*index aboutus2*/
#HJ02-aboutus2{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;height: 554px;margin-bottom: 64px;}
.HJ02-aboutus2-left{width: 40.78%;height: 100%;position: relative;float: left}
.HJ02-aboutus2-right{width: 59.22%;height: 100%;position: relative;float: left}
.HJ02-aboutus2-content{width: 730px;height: 550px;background: #fff; position: absolute;top: 70px;box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);padding: 70px 60px 0 60px;box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.HJ02-aboutus2-content h3{font-size: 26px;color: #333333;line-height: 36px;font-weight: normal;margin-bottom: 30px;}
.HJ02-abus_content{font-size: 16px;color: #6e6e6e;line-height: 30px;font-weight: normal;}
.HJ02-aboutus2-content a{width: 136px;height: 38px;text-align: center;line-height: 38px;position: absolute;left: 60px;bottom: 100px;font-size: 14px;color: #fff;}
.HJ02-aboutus2-content a:hover{opacity: 0.8;}
/*index aboutus2*/

/*hj02-index_video*/
.hj02_index_videoBox{width: 100%;min-width: 1190px;max-width: 1920px;height: 330px;padding-top: 170px;margin: auto;}
.hj02_index_videoBox_left{width: 900px;height: 330px;overflow: hidden;}
.hj02_index_videoBox_right{width: 260px;height: 330px;overflow: hidden;padding: 40px;box-sizing: border-box;text-align: left}
.hj02_index_videoBox_right_title{font-size: 28px;color: #ffffff;letter-spacing: 0;line-height: 34px;}
.hj02_video_more{width: 115px;height: 32px;border: 1px solid #fff;display: block;color: #fff;font-size: 14px;line-height: 32px;text-align: left;padding-left: 10px;position: relative}
.hj02_video_more:before{content: '';display: table;width: 24px;height: 2px;background: #fff;position: absolute;right: 10px;top: 15px;}

.hj02_index_videoBox_right a img{
    transition: .6s;
    -moz-transition:  .6s;	/* Firefox 4 */
    -webkit-transition:  .6s;	/* Safari 和 Chrome */
    -o-transition:  .6s;	/* Opera */
}

.hj02_index_videoBox_right:hover a img{
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);	/* Safari 和 Chrome */
    -moz-transform: rotateZ(45deg);	/* Firefox */
    transition: .6s;
    -moz-transition:  .6s;	/* Firefox 4 */
    -webkit-transition:  .6s;	/* Safari 和 Chrome */
    -o-transition:  .6s;	/* Opera */
}
#imgContainer{width:900px;height:330px;overflow:hidden;position:relative;}
#imgContainer img{display:none;width: 100%;height: 100%}
#imgMask{position:absolute;width:100%;height:100%;overflow:hidden;}
#imgMask .range{float:left;position:relative;}
#imgMask .range div{position:absolute;left:0;top:0;}
#imgContainer .pageBar{position:absolute;z-index:99;right:10px;bottom:10px;display: none}
#imgContainer .pictureBar{z-index:99;}
.pageBar img, .pictureBar img{display:block !important;float:left;border:1px solid #666;margin:0px 2px 2px 2px;filter:alpha(opacity=50);-moz-opacity: .5;opacity: .5;}
.pageBar img.current, .pictureBar img.current{filter:alpha(opacity=100);-moz-opacity: 1;opacity: 1;display:block !important;}
.pageBar a{display:block;background:#000;border:1px solid #666;color:#fff;float:left;width:16px;font-size:12px;margin:2px;text-align:center;line-height :16px;font-family:Arial;cursor:pointer;text-decoration:none;}
.pageBar a:hover,.pageBar a.current{background:red;color:#fff;border:1px solid #600;border-top:1px solid #F96;border-left:1px solid #F96;}
/*hj02-index_video*/

/*hj02-index-honor*/
#hj02_advantage{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;height: 645px;margin-bottom: 84px;}
.hj02_advantage_left{width: 40.78%;float: left;height: 100%;position: relative;}
.hj02_advantage_right{width: 59.22%;float: left;height: 100%;position: relative;}
.hj02_advantage_left_cont{width: 420px;float: right;}
.hj02_advantage_left_cont h3{font-size: 40px;line-height: 55px;font-weight: bold;color: #fff;}
.hj02_advantage_left_more{width: 200px;height: 50px;border: 1px solid #fff;display: block;color: #fff;font-size: 20px;line-height: 30px;text-align: left;line-height: 50px;padding-left: 20px;position: relative}
.hj02_advantage_left_more:before{content: '';display: table;width: 50px;height: 2px;background: #fff;position: absolute;right: 24px;top: 24px;}
.border{position: absolute;background: none;transition: all .5s ease-in-out;}
.hj02_advantage_left_more .border:nth-of-type(1){
    top:0;
    left:0;
    width:0;
    height:0;
    border-top:1px solid white;
}
.hj02_advantage_left_more .border:nth-of-type(2){
    top:0;
    right:0;
    width:10px;
    height:0;
    border-right:1px solid white;
}
.hj02_advantage_left_more .border:nth-of-type(3){
    bottom:0;
    right:0;
    width:0;
    height:0;
    border-bottom:1px solid white;
}
.hj02_advantage_left_more .border:nth-of-type(4){
    bottom:0;
    left:0;
    width:0;
    height:0;
    border-left:1px solid white;
}
.hj02_advantage_left_more:hover .border:nth-of-type(1){
    width:221px;
}
.hj02_advantage_left_more:hover .border:nth-of-type(2){
    height:51px;
}
.hj02_advantage_left_more:hover .border:nth-of-type(3){
    width:221px;
}
.hj02_advantage_left_more:hover .border:nth-of-type(4){
    height:51px;
}
.hj02_advantage_right_box{width: 730px;height: 660px;background: #fff;position: absolute;top: 70px;box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);padding: 50px 40px 0 30px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.advantages_list{width: 100%;height: auto;overflow: hidden;}
.hj02_adv_cont{width: 528px;float: right;}
.hj02_adv_cont_title{font-size: 26px;line-height: 36px;font-weight: bold;}
.hj02_adv_cont_text{font-size: 16px;line-height: 20px;font-weight: normal}
.hj02_adv_item{width: 100%;}
.hj02_adv_image{width: 96px;height: 110px;float: left;overflow: hidden}
.hj02_adv_image img{width: 100%;height: 100%;}
.advantages_list .swiper-button-prev{width: 10px;height: 16px;margin-top:0;top: 93%;left:614px;}
.advantages_list .swiper-button-next{width: 10px;height: 16px;margin-top:0;top: 93%;right: 40px;}
.advantages_list .swiper-pagination{width: auto;left: 636px;bottom: 25px;}
/*hj02-index-honor*/







.hj01-evaluate {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 810px;
    margin: auto;
    padding: 140px 172px;
    box-sizing: border-box;
}

.hj01-evaluate_content {
    width: 100%;
    height: 526px;
}

.hj01-evaluate_right {
    width: 50%;
    height: 100%;
    float: right;
    background: #fff;
}

.hj01-evaluate_right_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.hj01-evaluate_right_title {
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    height: 80px;
}

.section-heading-title {
    position: relative;
    margin-bottom: 10px;
}

.section-heading-title:after {
    content: "";
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #d0d0d0;
    height: 1px;
    width: 80px;
    display: inline-block;
    position: absolute;
    bottom: -24px;
    left: 0;
}

.evaluate_list {
    padding-left: 20px;
    overflow: hidden;
}

.evaluate_list .slick-arrow {
    opacity: 0;
    visibility: hidden;
}

.insignia-testimonial-image img {
    width: 68px;
    height: 68px;
}

.insignia-testimonial-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #6d8190;
}

@media screen and (max-width: 1440px) {
    .insignia-testimonial-text {
        font-family: Ubuntu;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 28px;
        color: #6d8190;
    }
}

.insignia-testimonial-meta_name {
    font-family: Saira;
    font-size: 16px;
}

.insignia-testimonial-meta_job {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-weight: 400;
}
.hj01-advantage2{
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 810px;
    margin: auto;
    padding:140px 0;
    box-sizing: border-box;}
.hj01-adv2_content{width: 1140px;margin: auto;height: 594px;}
.hj01-adv2_right{width: 60%;height: 100%;float: right;background: #fff;}
.hj01-adv2_right_title {
    margin-bottom: 20px;
    position: relative;
    height: 80px;
}
.adv2-image{width: 100%;height: 237px;}
.adv2-image img{width: 100%;height: 100%;}
/*hj02-index-case*/
.hj02_cases{
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 606px;
    margin: auto;
    box-sizing: border-box;
}
.hj02_cases_more{font-size: 14px;line-height: 45px;padding-right: 20px;position: relative;display: inline-block;}

#index_caselist {
    width: 100%;
    margin: auto;
    height: 475px;position: relative;
}
.index_prolist_wai2{
    width: 100%;height:510px;overflow: hidden;position: relative;
}
.index_caseitem {
    width: 538px;
    height: 478px;
    float: left;
}

.index_caseitem_box {
    width: 583px;
    position: relative;
    overflow: hidden;
}
.index_caseitem_img {
    width: 100%;
    height: 264px;
    overflow: hidden;
}
.index_caseitem_img img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.index_caseitem_img a {
    display: block;
    position: relative;
}
.index_caseitem:hover .index_caseitem_img img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.index_caseitem_down {
    background-color: #fff;
    min-height: 120px;
    max-height: 194px;
    padding: 20px 30px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
    z-index: 999;
}
.index_case_title{position: relative}

.index_case_title h4 {
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    line-height: 30px;
}
.index_case_title2 {
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 28px;
}
.hj02-case-pagination.swiper-pagination{position: absolute;bottom: -36px!important;}
.hj02-case-pagination .swiper-pagination-bullet{width: 8px;height: 8px;border-radius: 50%;border: 2px solid #fff;opacity: 1;background: transparent;}
.hj02-case-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width: 8px;height: 8px;border-radius: 50%;border: 2px solid #fff;opacity: 1;background: #fff;}

#index_caselist .hj02-case-next{right: -50px;z-index: 99;width: 40px;height: 40px;background: rgba(0,0,0,0.5);transition: .6s;top: 36%}
#index_caselist .hj02-case-prev{left: -50px;z-index: 99;width: 40px;height: 40px;background: rgba(0,0,0,0.5);transition: .6s;top: 36%}

#index_caselist .hj02-case-prev:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat 0px 0px;
}
#index_caselist .hj02-case-next:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat -39px 0px;
}
/*hj02-index-case*/

/*hj02-index-other1*/

#hj02_index_other1{width: 100%;min-width: 1190px;max-width: 1920px;height: 200px;padding-top: 40px;}
.shuzi_box{width: 100%;margin: auto;text-align: center;height: 160px;background: #fff;border-radius: 4px;box-shadow: 0 2px 20px 0 rgba(0,0,0,0.06);}
.shuzi_box li.abus_shuzi{width: 25%;float: left;padding-top: 54px;text-align: center;}
.count_shuzi{font-size: 50px;color: #666666;letter-spacing: 0;font-family: OpenSans-Semilight;}
.count_shuzi_desc{font-size: 14px;color: #999999;letter-spacing: 0;}
/*hj02-index-other1*/

/*hj02-index-partener*/
.hj02-customer{width: 1000px;margin: auto;height: 70px;overflow: hidden}
.hj02-customer-wai{width: 100%;position: relative}

/*hj02-index-partener*/

#hj02_news {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    margin: 0 auto;
    height: 630px;
}
.hj02-news-box{width: 100%;height: 520px;overflow: hidden;position: relative;padding-bottom: 10px;}
.hj02-news_wai{position: absolute;left: 0;}
.hj02-news_item{width: 1190px;height: 100%;float: left;padding-top: 10px;}
.news_item{width: 374px;height: 395px;background: #F8F8F8;float: left;padding: 45px 58px 45px 58px;position: relative;overflow: hidden}
.news_item_right_box{float: right;width: 630px;padding-right: 10px;}
.news_item_right{border-top: 1px solid #e5e5e5;height: 160px;padding-top: 40px;padding-left: 40px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;background: rgba(255,255,255,0.8)}
.news_item_right_left{width: 480px;float: left;transition: all .36s ease;}
.news_item_right_right{width: 100px;float: right;text-align: center}
.details{width: 40px;height: 16px;color: transparent;border-left: 1px solid #e5e5e5;overflow: hidden;position: relative;display: block;margin: auto}
.details:before{
 content: '';display: table;width: 20px;height: 11px;background: url(../img/news_jian.png)no-repeat;position: absolute;top: 2px;left: 10px;transition: .6s;
}
.details:after{
    content: '';display: table;width: 20px;height: 11px;background: url(../img/news_jian.png)no-repeat;position: absolute;top: 2px;left: -40px;transition: .6s;
}
.news_item_date{font-size: 22px;color: #999999;letter-spacing: 0;}
.news_item-title a{font-size: 18px;color: #333333;letter-spacing: 0;}
.news_item-desc{font-size: 14px;color: #999999;letter-spacing: 0;line-height: 21px;height: auto;max-height: 42px;overflow: hidden;transition: all .36s ease;}
.hynews_pic{width: 374px;height: 158px;overflow: hidden;}
.hynews_pic img{width: 100%;height: 100%;transition: .6s;}
.news_item-title2{position: relative}
.news_item-title2:before{content: '';display: table;width: 6px;height: 6px;border-radius: 50%;background: #333;position: absolute;top: 10px;left: -14px;}
.news_item-title2 a{font-size: 18px;color: #333333;letter-spacing: 0;}
.news_item-desc2{font-size: 14px;color: #999999;letter-spacing: 0;line-height: 21px;}
.news_item_right_right p span{font-size: 22px;color: #999999;letter-spacing: 0;position: relative}

.news_item:hover .hynews_pic img{transform: scale(1.02);transition: .6s;}
.news_item_right:hover{-moz-box-shadow:0 5px 30px rgba(0,0,0,.08); -webkit-box-shadow:0 10px 30px rgba(0,0,0,.08); box-shadow: 0 10px 30px rgba(0,0,0,.08);}
.news_item .news_item-desc-wai{border-left: 1px solid transparent;transition: all .36s ease;}
.news_item:hover .news_item-desc-wai{border-left: 1px solid #d3d3d3;transition: all .36s ease;}
.news_item:hover .news_item-desc{padding-left: 30px;border-color: #d3d3d3;transition: all .36s ease;-webkit-transform: translateX(10px);-ms-transform: translateX(10px);transform: translateX(10px);}
.news_item_more{width: 140px;height: 37px;display: block;line-height: 37px;text-align: center;position: absolute;bottom: 0;left: 58px;transition: all .36s ease;opacity: 0}
.news_item_more:before{
    content: '';display: table;width: 15px;height: 1px;position: absolute;left: -10%;top: 18px;background: #fff;transform: translateX(-7px);transition: all .36s ease;
}
.news_item_more:after{
    content: '';display: table;width: 1px;height: 15px;position: absolute;left: 50%;top: -40px;background: #fff;transform: translateX(-1px);transition: all .36s ease;
}
.news_item:hover .news_item_more{bottom: 45px;left: 56px;transition: all .36s ease;opacity: 1}
.news_item:hover .news_item_more:before{
    content: '';display: table;width: 15px;height: 1px;position: absolute;left: 69px;top: 18px;background: #fff;transform: translateX(-7px);transition: all .36s ease;
}
.news_item:hover .news_item_more:after{
    content: '';display: table;width: 1px;height: 15px;position: absolute;left: 50%;top: 11px;background: #fff;transform: translateX(-1px);transition: all .36s ease;
}
.news_item_right:hover .news_item_right_left{
    transition: all .36s ease;-webkit-transform: translateX(10px);-ms-transform: translateX(10px);transform: translateX(10px);
}
.news_item_right:hover .details:before{
    left: 40px;
}
.news_item_right:hover .details:after{
    left: 10px;
}
/*#customers {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    background: url(../img/cus_btn.png) repeat-x 0 21px;
}

.customer_cont {
    width: 1190px;
    margin: auto;
    height: auto;
    margin-top: 66px;
}

.cus-title {
    width: 1190px;
    text-align: center;
    font-size: 26px;
    color: #333333;
    font-weight: normal;
    font-family: Arial;
}

#cus_btn {
    width: 1190px;
    margin: auto;
    height: 30px;
}

.Cooperation_cont {
    margin-top: 22px;
}

.blk_12 {
    OVERFLOW: hidden;
    min-width: 1190px;
    margin: auto;
    ZOOM: 1;
    position: relative;
}

.blk_12 .pcont {
    OVERFLOW: hidden;
    WIDTH: 1190px;
    margin: auto;
    position: relative;
}

.blk_12 .ScrCont {
    WIDTH: 32766px;
    ZOOM: 1
}

.blk_12 #List1_2 {
    FLOAT: left;
}

.blk_12 #List2_2 {
    FLOAT: left;
}

.LeftBotton2 a {
    width: 24px;
    display: block;
}

.RightBotton2 a {
    width: 24px;
    display: block;
    cursor: pointer;
}

.blk_12 img {
    width: 230px;
    height: 100px;
    display: block;
    float: left;
    margin-right: 85px;
    border: 1px solid #c9c9c9;
}

.commu_cont3 {
    MARGIN: 9px 7px 7px;
    LINE-HEIGHT: 150%
}

.commu_cont3 UL {
    WIDTH: 132px
}*/
/*bottom*/
.HJ02_bottom {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 364px;
    padding-top: 30px;
}
.hj02_bottom_list{width: 100%;}
.hj02_bottom_list>li{float: left;}
.hj02_bottom_nav{width: 280px;margin-right: 20px;}
.hj02_bottom_class{width: 285px;margin-right: 20px;}
.hj02_bottom_contact{width: 285px;margin-right: 100px;}
.hj02_bottom_share{width: 160px;}
.hj02_bottom_list>li>p{font-size: 24px;color: #FFFFFF;letter-spacing: 0;line-height: 35px;margin-bottom: 10px;color: #fff}
.hj02_bottom_nav nav li{padding-left: 20px;}
.hj02_bottom_nav nav li a h2{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal;display: inline-block;}
.hj02_bottom_class ul li{padding-left: 20px;}
.hj02_bottom_class ul li a h3{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal;display: inline-block;}
.hj02_bottom_contact ul li{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal;}
.hj02_bottom_contact ul li a{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal}
.hj02_bottom_contact ul li:hover a{text-decoration: underline;font-weight: bold}
.hj02-copy{font-size: 14px;line-height: 20px;color: #9E9E9E;border-top: 1px solid #2D2D35;padding-top: 20px;}
.hj02-copy a{color:#9E9E9E}
.hj02-copy a:hover{text-decoration: underline}
.hj02-bottom-share__item{ display:inline-block; margin:0 5px;}
/*bottom*/




.upper-footer {
    padding-bottom: 60px;
}

.HJ01_bottom_down_item {
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.HJ01_bottom_down_item_content {
    width: 100%;
}

.HJ01_bottom_down_item_content p {
    color: #6d8190;
    font-family: Ubuntu;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.HJ01_bottom_down_item_content a {
    color: #6d8190;
    font-family: Ubuntu;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.HJ01_bottom_down_item_content ul > li {
    position: relative;
    padding-left: 18px;
    padding-bottom: 12px;
}

.HJ01_bottom_down_item_content ul > li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 80%;
    color: #6d8190
}

.HJ01_bottom_down_item_content ul > li a h3 {
    font-family: Ubuntu;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.HJ01_bottom_down_item_content ul > li a h2 {
    font-family: Ubuntu;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.HJ01_bottom_share {
    margin-top: 40px;
}

.HJ01_bottom_share a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 12px;
    display: inline-block;
    text-align: center;
}

.bottom_copyright > div {
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 15px;
    color: #fff;
    font-family: Ubuntu;
    font-weight: 400;
}

.bottom_copyright > div a {
    font-size: 15px;
    color: #fff;
    font-family: Ubuntu;
    font-weight: 400;
}

.foot_nav {
    width: 240px;
    height: auto;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 116px;
}

.foot_title {
    font-size: 22px;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    margin-top: 42px;
    margin-bottom: 16px;
}

.foot_nav li {
    float: left;
}

.foot_nav #menu1 {
    margin-right: 40px;
}

.foot_nav #menu3 {
    margin-right: 28px;
}

.foot_nav #menu5 {
    margin-right: 40px;
}

.foot_nav li a h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 31px;
    padding: 0 10px;
}

.foot_nav div:last-child {
    display: none;
}

.foot_hot {
    width: 229px;
    float: left;
    height: auto;
    margin-right: 116px;
}

.foot_proclass {
    width: 229px;
    height: auto;
}

.foot_proclass li {
    float: left;
}

.ft_cla_name {
    width: 100%;
    float: left;
}

.ft_cla_name a h3 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 31px;
}

.ft_ewm {
    width: 111px;
    float: left;
    margin-right: 116px;
}

.ft_cont {
    float: left;
    width: 262px;
}

.ft_cont ul li {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: Arial;
    padding-left: 28px;
    line-height: 23px;
}

.fc-left {
    font-size: 14px;
    color: #ffffff;
    width: 812px;
    height: 143px;
    float: left;
}

.lef_1, .lef_2 {
    float: left;
}

.lef_1 {
    width: 419px;
}

.lef_2 {
    width: 382px;
}

.lef_1 li, .lef_2 li {
    padding-left: 22px;
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
}

.foot-cont {
    width: 1190px;
    height: 143px;
    margin: 0 auto;
}

.fc_title {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.fc_add {
    list-style: none;
    height: 74px;
    width: 886px;
}

.fc_add li {
    float: left;
    margin-right: 20px;
    line-height: 30px;
    padding-left: 28px;
}

.fc-right {
    width: 378px;
    height: 143px;
    float: right;
}

.fr_2 {
    float: right;
    width: 264px;
    margin-right: 12px;
}

.foot1 {
    width: 792px;
    height: 75px;
    margin-top: 25px;
    float: left;
}

.foot2 {
    width: 97px;
    height: 117px;
    float: left;
    text-align: center;
    margin-top: -17px;
}

.foot3 {
    width: 110px;
    height: 77px;
    float: right;
    text-align: center;
}

.search_list {
    position: absolute;
    background: url(../img/topewmbg.png);
    top: 22px;
    width: 250px;
    height: 59px;
    font-size: 15px;
    text-align: center;
    z-index: 55
}

#qbox1, #qbox3, .ab_pic, .news_text {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}