.index_about_indexAboutbg{min-width:1190px; max-width:1920px; margin:auto; padding-top:69px; background:url(../img/aboutbg.jpg); padding-bottom:74px;}
.index_about_indexAbout{width:1190px; margin:auto;}
.index_about_aboutpic{width:600px; height:336px; POSITION: relative; float:left; overflow:hidden;}
.index_about_pic{width:600px; height:336px; overflow:hidden; display:block;}
.index_about_pic img{width:600px; height:336px; transition:all .6s;}
.index_about_pic:hover img{transition:all .6s;transform:scale(1.15);}
.imgbox {
	Z-INDEX: 99; MARGIN: 0px auto; WIDTH: 600px; POSITION: absolute; HEIGHT: 336px
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
.thumbWrap {
	WIDTH: 100%; margin-top:58px;
}
.thumbWrap DIV {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 8px 0px 0px; WIDTH: 140px; CURSOR: pointer; HEIGHT: 79px
}
.thumbWrap DIV IMG {
	MARGIN: 0px; WIDTH: 138px; HEIGHT: 77px; border:1px solid #a09b97;
}


.index_about_right{width:534px; float:right; margin-top:40px;}
.index_about_head{width:100%; text-align:left; height:49px; font-size:25px; color:#333333; font-weight:bold; line-height:49px;}
.index_about_right p{ font-size:13px; color:#767676; line-height:23px; margin-top:18px;}

#index_about_animate,#index_about_animate_1{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}