.page_Banner{ width:100%; margin:0 auto;height:568px; min-width:1190px; max-width:1920px;}
.DB_tab25 {width:100%;height:568px;position:relative;overflow:hidden}

.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:568px;display:none}

.DB_tab25 .DB_imgSet{position:absolute;width:1190px;left:50%;margin-left:-595px;}

.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:0px;top:100px; z-index:99;}
.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:0;top:112px; z-index:99;}
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:24px;top:47px}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:577px;top:168px}
.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:530px;top:100px; z-index:99;}
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:720px;top:160px}

.DB_tab25 .DB_menuWrap{position:absolute;width:1190px;left:50%;margin-left:-595px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:534px;text-align:center;font-size:0; line-height:0;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 5px;display:inline; height:6px;}


.DB_tab25 .DB_prev{position:absolute;left:0px;top:254px; height:78px; width:38px; cursor:pointer;display:none; background:url(../img/prevArrow.png) left no-repeat; z-index:99;}
.DB_tab25 .DB_next{position:absolute;right:0px;top:254px;cursor:pointer; height:78px; width:38px; display:none; background:url(../img/nextArrow.png) left no-repeat; z-index:99;}

