.index_bottom_bg{min-width:1190px; max-width:1920px; margin:auto; background:#2a2a2a; padding-bottom:50px;}
.index_bottom_footer{width:1190px; margin:auto; padding-top:33px;}
.index_bottom_contact{width:618px; float:left;}
.bottom_head{width:100%; text-align:left; line-height:61px; margin-bottom:20px; background:url(../img/bottom_line.jpg) left bottom no-repeat; font-size:16px; color:#ffffff;}
.index_bottom_contact ul li{ font-size:13px; color:#ffffff; line-height:32px;}
.index_bottom_contact ul li a{font-size:13px; color:#ffffff;}
.index_bottom_contact div{font-size:13px; color:#ffffff; line-height:32px;}
.index_bottom_ewm{width:418px; margin-top:55px;}
.index_bottom_ewm ul li{ float:left; font-size:13px; text-align:center; color:#ffffff; line-height:25px;}
.index_bottom_ewm ul li span{font-size:25px; color:#ffffff;}

.index_bottom_right{width:456px; float:right;}
.index_bottom_about{width:170px; float:left; text-align:left;}
.index_bottom_about ul li{font-size:13px; color:#ffffff; line-height:32px;}
.index_bottom_about ul li a{font-size:13px; color:#ffffff;}

.index_bottom_product{width:285px; float:left; text-align:left;}
.index_bottom_product ul li{font-size:13px; color:#ffffff; line-height:32px;}
.index_bottom_product ul li h3{font-size:13px; color:#ffffff; font-weight:normal;}
.index_bottom_product ul li h3:hover{ text-decoration:underline; color:#FFFFFF;}

.index_bottom_bottom2{ width:100%; margin-top:30px; border-top:1px solid #404040; padding-top:30px; line-height:20px; text-align:left; color:#ffffff; font-size:13px;}
.index_bottom_bottom2 a{color:#ffffff; font-size:13px;}

.index_bottom_friendlink{width:1190px; margin:auto;}

#index_bottom_animate,#index_bottom_animate_1,#index_bottom_animate_2{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}