.index_customer_title{width:1190px; height:60px; margin:auto; margin-top:29px; text-align:center; font-size:35px; color:#332424; font-weight:bold; line-height:60px;}
.index_customer_hezuo{width:1190px; margin:auto; margin-top:40px; overflow:hidden; margin-bottom:40px;}
.customer_logo{width:214px; height:115px; float:left; overflow:hidden;}
.customer_logo img{width:212px; height:113px; border:1px solid #d9d9d9;}
#index_customer_animate,#index_customer_animate1{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}