.index_products_Searchbg{ width:100%;margin:auto;min-width:1190px; max-width:1920px; height:31px; padding:11px 0; border-bottom:1px solid #e8e7e7; overflow:hidden;}
.index_products_KSearch{ width:1190px; margin:0 auto; height:31px;}
.index_products_Search{ width:1190px; margin:auto; text-align:left}
.index_products_Search ul{ display:inline-block}
.index_products_Search ul li{ float:left; font-size:13px;}
.index_products_Search ul li a{font-size:13px; color:#595757; line-height:31px;}
.index_products_Search ul li input[type=text]{ width:180px; height:16px; line-height:16px; color:#b1b1b1; font-size:12px; border:0; background:none}
.index_products_searchbtn{width:45px; float:right; height:16px; text-align:left; color:#595757; line-height:16px; background:none;}


.index_products_indexpro{ width:1190px; margin:auto; margin-top:48px;}
.index_products_title{width:1190px; height:52px; font-size:35px; color:#332424; text-align:center; line-height:52px; font-weight:bold;}
.index_products_title2{width:1190px; margin:auto; text-align:center; font-size:13px; line-height:25px; color:#a0a0a0;}

.index_products_kb{width:1190px; margin:auto; margin-top:27px; height:24px;}
.index_products_content{width:1190px; margin:auto; background:url(../img/index_prolistbg.jpg) repeat-y;}
.Page_leftclass{width:243px; float:left;}
.page_proClass{width:220px; float:left; margin-left:10px; margin-top:18px;}
.left_class{width:220px; height:33px;  box-shadow:0 0 5px #dedcdc; text-align:left; margin-bottom:10px;}
.left_class h3{padding:0 8px 0 33px; color:#2a2a2a; font-size:14px; font-weight:bold; line-height:33px;}
.left_class1{width:179px; padding:0 8px 0 33px; text-align:left;}
.left_class1 h3{ color:#5e5e5e; font-size:13px; line-height:22px; font-weight:normal;}

.index_products_right{width:850px; margin-left:50px; float:left;}
.index_pro_list{width:100%; margin-top:16px;}
.index_products_pagepro{width:257px; float:left; margin-bottom:10px;}
.index_products_proimg{width:257px; height:175px; overflow:hidden;}
.index_products_proimg img{width:257px; height:175px; display:block; transition:all .6s;}
.index_products_pagepro:hover .index_products_proimg img{transition:all .6s; transform:scale(1.15);}
.index_products_proname {width:247px; padding:5px; text-align:center;}
.index_products_proname a{font-size:13px; color:#5e5e5e; line-height:24px; font-weight:normal;}

#index_products_animate,#index_products_animate_1,#index_products_animate_2,#index_products_animate_3,#index_products_animate_4{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}