HTML BODY {
	MARGIN:0px;  PADDING:0px; TEXT-ALIGN:left; FONT-SIZE:13px; FONT-FAMILY:"Microsoft YaHei","Arial";color:#525353;
}
TD,div {font-family: "Microsoft YaHei","Arial";font-size: 13px; color: #333333; line-height:22px;}

INPUT,TEXTAREA {BORDER-WIDTH:1px; BORDER-COLOR:cccccc;background:ffffff;font-family: "Microsoft YaHei","Arial";}
INPUT{ outline:medium;}
img{ border:0}
*{ margin:0}
a{ text-decoration:none; color:#333}
a:hover{ text-decoration:underline;}
ul{ padding:0; margin:0}
li{ list-style:none;}
.clear{clear:both; overflow:hidden; height:0px;}

@font-face {
    font-family: 'ArnoPro semibold';
    src: url('../ArnoPro semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#animate1,#animate2,#animate3,#animate4,#animate4_1,#animate4_2,#animate5,#animate6,#animate6_1,#animate6_2,#animate7,#animate7-1,#animate8,#animate8_1,#animate8_2,#animate9,#animate9-1,#animate9-2,#animate10,#animate10-1,#animate11,#animate11-1,#animate_banner {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

.menuon{display:block; background:#f1f1f1;}

.in_banner{ width:100%; margin:0 auto; min-width:1190px; max-width:1920px; height:316px;}

.page_Main{ width:1190px; margin:auto; margin-top:38px; margin-bottom:60px;}

/*内页左侧*/
.page_inleft{width:263px; float:left;}
.page_LeftClass{width:211px; padding:18px 25px; border:1px solid #e0e0e0; border-top:none; border-bottom:none;}
.parent{width:211px; }
.parent h3{font-size:16px; color:#333; padding:5px 25px 5px 18px; line-height:24px; font-weight:bold;}
.parent a:hover{color:#ffffff;}
.parent1{width:211px;}
.parent1 h3{font-size:18px; color:#333; font-weight:bold; padding:5px 25px 5px 18px; line-height:24px;}
.parent1 a:hover{color:#ffffff;}

.zparent{width:211px; background:url(../img/in_dot1.jpg) 15px 15px no-repeat; text-align:left;}
.zparent h3{font-size:14px; color:#333333; padding:5px 15px 5px 25px; line-height:20px; font-weight:normal;}
.zparent:hover{background:url(../img/in_dot2.jpg) 15px 15px no-repeat;}
.zparent a:hover{ text-decoration:none;}
.zparent1{width:211px; background:url(../img/in_dot2.jpg) 15px 15px no-repeat; text-align:left;}
.zparent1 a:hover{ text-decoration:none;}

.left_contact{width:249px; padding-right:14px; padding-top:30px; margin:auto; background:url(../img/left_contact.jpg) no-repeat; height:96px;}
.left_contact ul li{ font-size:13px; color:#333333; line-height:30px; text-align:right;}
.left_contact ul li a{font-size:13px; color:#333333;}


/*内页右侧*/
.in_right{width:878px; float:right;}
.r_mbx{float:right; text-align:right; line-height:25px; font-size:13px; color:#aaaaaa;}
.r_mbx a{font-size:13px; color:#aaaaaa;}

.in_RightTitle{width:100%; height:66px; margin:auto; margin-top:30px; background:url(../img/index_title.png) center bottom no-repeat; font-size:30px; color:#5b5b5b; font-weight:bold; line-height:52px; text-align:center;}


.page_RightTitle2{ width:100%; height:48px; background:url(../img/in_titledot2.jpg) left bottom no-repeat; text-align:left; font-size:30px; color:#5b5b5b; line-height:48px; text-transform:uppercase; margin-bottom:25px;}

.page_RightMain{width:100%; margin:auto; margin-top:35px; padding-bottom:30px;}

.in_pagepro{width:283px; float:left; overflow:hidden; margin-bottom:25px;}
.in_proimg{width:283px; height:193px; overflow:hidden;}
.in_proimg img{width:283px; height:193px; display:block; transition:all .6s;}
.in_pagepro:hover .in_proimg img{transition:all .6s; transform:scale(1.15);}
.in_proname {width:273px; padding:5px; text-align:center;}
.in_proname a{font-size:13px; color:#5e5e5e; line-height:24px; font-weight:normal;}





/*通用样式*/
#product_detail { width:100%; margin-top:25px;}
#product_detail .left { width: 409px;float:left;}
#product_detail .big_pic { width: 409px; height:279px; text-align:center; overflow:hidden;}
#product_detail .big_pic img {width:409px; height:279px;}
#product_detail .big_pic .bigimg{ width:650px; height:443px;}
#product_detail .big_pic .view { display: block;text-indent: 20px; margin-left: 130px; width: 19px; height: 15px; display: inline-block; cursor: pointer; }
#product_name{ font-size:20px !important; color:#333333 !important; font-weight:normal; line-height:25px;}
.pro_info_box { width:434px; height:190px; padding-top:15px; text-align:left;}
#product_detail .product_info {width:434px; float:right; overflow:hidden;}
#product_detail .product_info li {line-height:22px; margin-bottom:5px; font-size:13px; color:#000000;}
#product_detail .product_info li a{ font-size:20px; color:#3869a3;}


/*焦点图*/
#product_detail ul.pic_list {width:100%; overflow: hidden; height:75px;}
#product_detail ul.pic_list li { width:109px; height: 75px; text-align:center;padding-right:25px;float:left;}
#product_detail ul li { list-style: none; }

.mod18{width:100%;height:75px; background:url(../img/fzt_bg.jpg) center no-repeat; position:relative;}
.mod18 .btn{position:absolute;width:33px;height:19px; cursor:pointer;z-index:99;}
.mod18 .prev{top:28px;background:url(../img/l_btn.jpg) no-repeat;left:0;}
.mod18 .prev:hover{background:url(../img/l_btn2.jpg) no-repeat;}
.mod18 .next{top:28px;background:url(../img/r_btn.jpg) no-repeat;right:0;}
.mod18 .next:hover{background:url(../img/r_btn2.jpg) no-repeat;}

.mod18 .listBox{width:332px;height:75px;margin:0 auto;position:relative;overflow:hidden;}
.mod18 .listBox ul{height:75px;position:absolute;}
.mod18 .listBox li{cursor:pointer;position:relative;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li img{width:107px;height:73px; border:1px solid #e3e3e5;}
.mod18 .listBox .on i{display:block;}

.bt{
width:69px; margin:auto; border:none; text-align:center;
color: #fff;
background:#e40012;
cursor: pointer;
height: 24px !important;
font-size:13px;
}

.in_case{width:375px; float:left; margin-bottom:22px;}
.incase_pic{width:375px; height:250px; overflow:hidden;}
.incase_pic img{width:375px; height:250px;}
.incase_name{width:100%; text-align:center; padding:5px 0;}
.incase_name a{font-size:14px; color:#000;}

.detailtitle{width:1190px; margin:auto; background:url(../img/in_right.jpg) right center no-repeat; line-height:50px; font-size:22px; color:#333333; text-align:left; text-transform:uppercase; font-weight:bold;}
.detailtitle2{width:100%; text-align:center; background:url(../img/in_titledot2.jpg) center bottom no-repeat; height:45px; line-height:40px; font-size:22px; color:#fefefe; font-weight:bold; text-transform:uppercase;}
#pro_profile{ width:100%; padding-top:20px; overflow-x:auto;}
#pro_profile table{width:100%;}
#pro_profile table td{ padding-left:5px;}
.btn ul li{ float:left !important;}

.pro_title1{ width:100%; font-size:22px; color:#00366e; line-height:49px; border-bottom:5px solid #002c6f}
.back{ width:100%; padding:15px 0; text-align:center}
.back span{ padding:5px 15px; color:#fff; background:#0f83d8; font-size:14px;}

.page_inquirybg{ width:100%; margin:0 auto; min-width:1002px; max-width:1920px; padding-bottom:37px; background:#f1f1f1; margin-bottom:30px; padding-top:28px;}

.pro_title2{width:700px;padding-left:11px;text-align:left;line-height:42px; font-size:22px; color:#004d98; background:#efefef; font-weight:bold; text-transform:uppercase; float:left;}

.proinquiry{width:100%; padding:10px 0 0 0}

.news .body ul li{ line-height:25px; padding:5px 0; border-bottom:1px dashed #ccc; list-style:none}
.news .body ul li a{ font-size:15px; color:#333333;}
.news .body ul li span{ float:right; font-size:14px;}

.right{ float:right}
.news #news_detail .body{ width:100%; float:left;}
.news #news_detail{ width:100%; float:left; padding:10px 0}
.news #news_detail h1{ text-align:center; font-size:18px;}
.prev_next{padding-bottom:20px; width:100%; float:left;}
.prev_next ul li{ list-style:none}

.news_view{ width:100%; float:left; padding:5px 0; border-bottom:1px dashed #ccc}

.back input[type=button]{ background:#ff9c00; padding:3px 10px; border:0; color:#fff; cursor:pointer; font-size:16px; font-family:Arial}
.news_body{ padding:10px 0}

.main_page{text-align:center;width:100%; float:left; padding-top:15px; padding-bottom:15px;}
.main_page a,.main_page .current{ margin:0 5px;}
.main_page a{ background:#f5f5f5; padding:3px 8px; color:#717071 !important; border:1px solid #d6d7d2}
.main_page .current{ padding:3px 8px; background:#000; color:#fff;border:1px solid #000}

#sitemap ul li{ list-style:none; text-align:left; list-style:none}
#sitemap ul li h2{ font-size:16px; padding-bottom:8px;color:#333333; font-weight:normal;}
#sitemap ul li ul li{ float:inherit; padding-left:30px}
#sitemap ul li ul li h3,#sitemap ul li ul li a{ font-size:14px;line-height:24px; color:#333333; font-weight:normal;}

/*关联产品与新闻*/
.reation{ width:100%; float:left; padding-top:15px;}
.reation h5{ font-size:24px; border-bottom:1px solid #ccc; line-height:38px; margin-bottom:10px;}

/*评论*/
.inquiry{ width:100%; float:left;}
.comment{ width:100%; float:left; padding:10px 0}
.commentTitle{ width:100%; float:left; text-align:left;}
.commentTitle h5{ font-size:22px; color:#333333; line-height:53px;text-align:left; font-weight:normal}
.commentTitle h5 span{ float:right; line-height:53px; font-size:14px;}
.commentTitle h5 span a{color:#333333;}
.commentlist{ width:100%; float:left; padding-top:10px; text-align:left;}
.commentlist ul{ width:100%; float:left;}
.commentlist ul li{ float:left; list-style:none}
.inquiryinfo{ width:100%; float:left; padding-bottom:10px;}


