
.product_detail--top{ display:flex;}
#lingtong_prodetail .left{ flex:0 0 45%; border:4px solid #babcbb; width:45%; position:relative;}
.inner_lingtong__prodetailinfo{ margin-left:5%; flex:0 0 45%; display:flex; flex-direction:column;}
.inner-3__prodetailname{
	font-size:35px;
	margin-bottom: 20px;
	color:#414141;
	line-height:44px;
	margin-bottom:0px;
}
.left_center{ width:100%; position:absolute; top:50%; left:50%; 
webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}
.left .inner-3__prodetail__img{ border:0px; }
.inner-3__procatename{ font-size:28px; color:#414141; margin-bottom:30px;}
.inner-3__prodetaildesc{ font-size:18px; color:#655d5a;}
.inner-3__prodetaildesc b{color:#0a0a0a;}
.lingtong__prodetailbtnlist{ display:flex;}
.lingtong_detail_btn, .lingtong_detail_btn a{ display:inline-block; background:#cf4144; color:#fff; font-size:20px;}
.lingtong_detail_btn{ display:flex; justify-content:center; align-items:center; padding:10px 20px; margin-right:15px; cursor:pointer;}
.lingtong_detail_btn img{ margin-right:20px;}
.inner-3__prodetail__img{ border:4px solid #babcbb; position:relative;}
.inner-3__prodetail__thumbsbox .swiper-slide{ max-width:20%; width:100px;margin-right: 16px;}
.product_detail_editor_content_title{ border-left: 10px solid #cf4144;}
.detail_editor{ margin-bottom:64px;}
.inner-3__prodetailbtn a{background:#cf4144;}
.inner-3__probox .inner-3__proMask{background:#cf4144;}
#inner-3__prodetail .left .detail-gallery-thumbs3_lingtong .swiper-slide{border: 1px solid #d2d2d2;overflow: hidden;width: 92px;}
.detail-gallery-thumbs3_lingtong .swiper-button-next,.inner-3__prodetail__thumbsbox .swiper-button-prev{background-image: none;text-align: center;line-height: 44px;outline: none;}
.detail-gallery-thumbs3_lingtong .swiper-button-next i,.inner-3__prodetail__thumbsbox .swiper-button-prev i{font-size: 20px;font-weight: normal;}
.detail-gallery-thumbs3_lingtong .swiper-button-next-detail{right: -30px; color:#babcbb;}
.detail-gallery-thumbs3_lingtong .swiper-button-prev-detail{left: -30px; color:#babcbb;}
.inner-3__prodetail__thumbsbox .fa:before{color:#babcbb;}
.inner-3__prodetail__thumbsbox{ max-width:100%;}
.bofangimg{ position:absolute; z-index:100; max-width:50% !important;}
.all_scale .lib-video{max-width: 100%;height: auto;position: absolute;top: 50%;left: 50%;transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);}
.hidden_mainimg{ visibility:hidden;}
.deatail_container{ display:flex;}
.HJZF2_Z-product_categories-lingtong-left{ flex:0 0 25%;}
.inner-3__maincontent{ flex:0 0 75%;padding-left: 50px;}
.Product .lingtong_cate[pcid="257"]{
	display:none;
}
.Case .lingtong_cate[pcid="256"]{
	display:none;
}
.InsidePages_content2_commontitle span{
	border-left: 10px solid #cf4144;
    height: 40px;
    font-weight: normal;
    text-align: left;
    font-size: 18px;
    color: #333333;
    background: #eee;
    line-height: 40px;
    margin-bottom: 20px;
    padding-left: 5px;
	border-bottom:0px;
	width:100%;
}
.InsidePages_content2_commontitle{
	border-bottom:0px;
}
@media(max-width: 750px) {
.product_detail--top{ flex-direction:column;}
#lingtong_prodetail .left{ width:100%;}
.lingtong_detail_btn img{ display:none}
.lingtong_detail_btn{ flex:0 0 100%; margin:10px;}
.lingtong__prodetailbtnlist{ flex-direction:column;}
.lingtong_detail_btn span{ white-space:nowrap;}
.inner-3__prodetail__img img{ width:100%;}
.left_center{ position:relative;width:100%;top:0; left:0; 

webkit-transform: translate(0%,0%);
-moz-transform: translate(0%,0%);
-o-transform: translate(0%,0%);
transform: translate(0%,0%);}
.inner-3__prodetailname{ margin-top:20px;}
.inner-3__prodetail__thumbsbox{ display:none;}
.deatail_container{ flex-direction:column;}
.inner-3__maincontent{ padding:0px;}
.hidden_mainimg{ display:none;}
}



