HTML BODY {
	MARGIN:0px;  PADDING:0px; TEXT-ALIGN:left; FONT-SIZE:13px; FONT-FAMILY:"Microsoft YaHei","Arial";color:#525353; background:#fff;
}
TD,div {font-family: "Microsoft YaHei","Arial";font-size: 13px; color: #333333; line-height:22px;}

INPUT,TEXTAREA {BORDER-WIDTH:1px; BORDER-COLOR:cccccc;background:ffffff;font-family: "Microsoft YaHei","Arial";}
INPUT{ outline:medium;}
img{ border:0}
*{ margin:0}
a{ text-decoration:none; color:#333}
a:hover{ text-decoration:underline;}
ul{ padding:0; margin:0}
li{ list-style:none;}
.clear{clear:both; overflow:hidden; height:0px;}

#animate1,#animate2,#animate3,#animate4,#animate5,#animate5_1,#animate6,#animate7,#animate7-1,#animate7-2,#animate8,#animate8-1,#animate9,#animate9-1,#animate9-2,#animate10,#animate10-1,#animate11,#animate11-1 {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}


/*头部*/
.top_headbg{min-width:1002px; max-width:1920px; background:#FFFFFF; margin:auto;}
.top_head{width:1002px; margin:auto;}
.top_head ul li{ float:left; list-style:none; display:inline; padding-left:5px; color:#aaa; line-height:19px;}
.top_head ul li a{line-height:19px; color:#aaa;}

/*logo*/
.page_Top{width:1002px; height:75px; margin:auto;}
.page_Logo{ width:215px; float:left; height:75px; overflow:hidden;}
.page_Logo img{width:215px; height:75px; border:none;}
.page_HeadRight{width:339px; padding-top:8px; height:67px; float:right;}
.fav{width:323px; text-align:right; padding-right: 15px; height: 32px; overflow: hidden; line-height: 32px;}
.fav a{color:#585858; font-size:13px;}
.fav a:hover{ color:#ef8300; text-decoration:none;}
.Page_Search{ width:100%;}
.search_left{ float: left; width: 121px; height: 18px; line-height: 18px; color: #494949;}
#keywords {width: 110px; padding: 0px; padding-left: 9px; height: 18px; font-size: 12px; border: none; color: #ababab; background: none;
 line-height: 18px;}
.search_right .submit {float: left; width: 67px; height: 20px;}

/*菜单*/
.Page_menu{width: 1002px; margin:auto; height: 36px; background: url(../img/menu_bg.jpg) repeat-x;}
.Page_menu ul {list-style: none; padding-left: 19px;}
.Page_menu ul li{float: left; width: 125px; text-align: center; height: 36px; line-height: 36px; color: #ffffff;}
.Page_menu ul li h2{color: #ffffff; font-size: 14px; font-weight:bold; display: block;}
.Page_menu ul li:hover{ background:url(../img/menu_hover.jpg) center no-repeat;}
.Page_menu ul li:hover h2,.Page_menu ul li:hover h3{ color:#FFFFFF;}
.Page_menu ul li:hover a{ text-decoration:none;}

.menuon{display:block; background:url(../img/menu_hover.jpg) center no-repeat;}
.menuon h2{ font-size:14px; color:#FFFFFF !important; font-weight:bold; line-height:36px;}

/*banner*/
.page_Banner{width:100%; max-width:1920px; min-width:1002px; margin:auto; height:339px; background:url(../img/home_banner_b.jpg) top center; overflow:hidden;}
.banner_bar{width:988px; height:13px; background:url(../img/banner_line.jpg) repeat-x; margin:auto; overflow:hidden;}
.banner_bar2{width:988px; height:33px; background:url(../img/home_bar.jpg) center no-repeat; margin:auto; overflow:hidden;}

/*首页正文*/
.main_out{width:1002px; margin:auto;}
.index_toppro {height: 319px; width: 1002px; background-color: #eaeaea;}
.top_pic1 {margin-top: 23px; height: 171px; width: 331px; float: left;}
.top_pic1 img {width: 298px; height: 171px;}
.pc_desc ul {width: 330px; float: left; list-style: none;}
.pc_desc ul li {width: 288px; margin: auto; padding-left: 10px; line-height: 21px; margin-top: 9px;}
.pc_desc .pc_con { height: 85px; overflow: hidden; font-size: 13px}
.pc_desc .pc_link a {font-size: 13px; color: #888888; text-decoration: underline;}
.index_div {width: 1002px; height: 24px; background: url(../img/index_div.jpg) no-repeat;}
.banner{width: 1002px; height: 254px; overflow: hidden;}
.banner img{width: 1002px; height: 234px;}

.index_body {height: 253px; border-bottom: #dadde3 solid 1px; width: 1002px;}
.index_bodyleft {width: 341px; float: left;}
.index_news_title {background: url(../img/index_news.jpg) no-repeat; height: 43px; width: 298px; padding-right: 16px; text-align: right;}
.index_news_title a {color: #ffffff; line-height: 40px; font-size: 11px; font-weight: 600;}
.index_news_title a:hover{ color:#ef8300; text-decoration:none;}
.index_news_list {width: 303px; padding-left: 9px; border-left: #dadde3 solid 1px; border-right: #dadde3 solid 1px;}
.xinwen {width: 293px; height: 36px; overflow: hidden; border-bottom: #d1d1d1 dashed 1px; line-height: 36px;}
.news_biaoti {float: left; color: #575757; line-height:36px;}
.news_biaoti a {color: #575757;}
.news_biaoti a:hover {color: #ef8300; text-decoration: none;}
.news_date {float: left; margin-left:5px; color: #939393; line-height:36px;}
.index_bodyright {float: right; width: 661px;}
.about_title {
    background: url(../img/index_about.jpg) no-repeat;
    padding-right: 7px;
    height: 43px;
    text-align: right;
}
.about_title a {
    color: #425f8f;
    line-height: 40px;
    font-size: 11px;
    font-weight: 600;
}
.about_title a:hover{ color:#ef8300; text-decoration:none;}
.about_body {
    height: 200px;
    padding-top: 10px;
    width: 100%;
    background: url(../img/index_about_bg.jpg) no-repeat right bottom;
    line-height: 25px;
    overflow: hidden;
}
.about_body p {
    width: 636px;
    margin: auto;
}

.index_pc {
    width: 1002px;
    margin: auto;
    height: 251px;
    margin-top: 33px;
}
.index_pc1 {
    float: left;
    width: 335px;
    height: 230px;
    background: url(../img/index1.jpg) no-repeat top left;
}
.index_pc_body {
    margin-top: 140px;
}
.index_pc_li {
    float: left;
    list-style: none;
    width: 134px;
    text-indent: 20px;
    line-height: 24px;
}
.index_pc_li a:hover{color:#ef8300; text-decoration:none;}
.index_pc2 {
    float: left;
    width: 337px;
    height: 230px;
    background: url(../img/index2.jpg) no-repeat top left;
}
.index_pc3 {
    float: left;
    width: 330px;
    height: 230px;
    background: url(../img/index3.jpg) no-repeat top left;
}

/*底部*/
.bottom_bg{margin: auto; width: 1002px; height: 117px; background: #e8e8e8; text-align: left;}
.foot_menu {height: 40px; width: 1002px; margin: auto;}
.foot_menu ul {list-style: none; padding-left: 27px; width: 621px; padding-top: 17px; float: left;}
.foot_menu ul li {float: left; color: #4d4d4d;}
.foot_menu ul li h2 {color: #4d4d4d; display:inline; font-size:13px; font-weight:normal; line-height:19px;}
.foot_menu ul li a{color: #4d4d4d; font-size:13px; line-height:19px;}

.chose_lan {
    float: right;
    width: 168px;
    height: 21px;
    padding-right: 16px;
    padding-top: 9px;
}

.foot_div {background: url(../img/body_div.jpg) no-repeat; height: 1px; width: 1002px;}

.bot_body {
    margin: auto;
    width: 1002px;
    height: auto;
    position: relative;
}

.bot_contact {
    padding-left: 22px;
    padding-top: 13px;
}
.fright {
    margin: auto;
    width: 1002px;
}
.copyright {
    height: 34px;
    padding-left: 21px;
    width: 920px;
    line-height: 34px;
}
.friend{margin: auto; width: 1002px; text-align:center;}

.in_banner{margin:auto; width:1001px; height:172px; background:url(../img/banner_in.jpg) center no-repeat; overflow:hidden;}

.page_Main{width:1002px; margin:auto; padding-bottom:20px;}

/*内页左侧*/
.Page_classbg{ width:224px; float:left;}
.left1{width: 224px; padding-bottom:30px; background: url(../img/left_protitle.jpg) no-repeat top; background-color: #eaeaea; padding-top: 37px;}
.left2{width: 224px; padding-bottom:30px; background: url(../img/left_abouttitle.jpg) no-repeat top; background-color: #eaeaea; padding-top: 37px;}
.page_LeftClass{padding-top: 11px; padding-left: 34px;}
.parent{width:140px; padding-left:10px; text-align:left; margin-top:10px;}
.parent h3{width: 140px; display:inline; line-height: 25px; font-size:13px; font-weight:normal; color: #383838;}
.parent a:hover{ text-decoration:none;}
.parent h3:hover{color:#004d8c;}
.parent:hover{background:#4699db; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.parent:hover h3,.parent:hover a{color:white;}

.parent1{width:140px; padding-left:10px; text-align:left; margin-top:10px; background:#4699db; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.parent1 h3{width: 140px; display:inline; line-height: 25px; font-size:13px; font-weight:normal; color: #fff;}
.parent1 a{color:#fff;}
.parent1 a:hover{ text-decoration:none;}
.parent1 h3:hover{color:#fff;}


.child{ width: 201px; margin: auto; border-bottom: #c0c0c0 dashed 1px; line-height: 40px; background: url(../img/arrow.jpg) no-repeat;background-position-x: 5px; background-position-y: 5px;}
.child h3{font-size:14px; color:#131313; line-height:40px; font-weight:normal; padding-left:30px;}

.child_div { background: url(../img/child_div.jpg) no-repeat; height: 3px; margin-top: 15px; width: 100%;}

.left_contacttitle {
    background: url(../img/left_contact.jpg) no-repeat;
    width: 224px;
    height: 59px;
}
.left_contact_in{width:205px; margin-left:10px; text-align:left;}
.left_contact_in ul li{line-height: 24px; font-size:13px; color: #575757;}
.left_contact_in ul li a{font-size:13px; color: #575757;}
.left_map {
    background: url(../img/left_map.jpg) no-repeat;
    width: 210px;
    height: 95px;
    margin: auto;
}

/*内页右侧*/
.page_right{width: 751px; float: right; padding-bottom: 25px;}
.page_RightTitle{width:743px; padding-left:8px; height: 37px; background: url(../img/right_title.jpg) repeat-x; position: relative; font-size: 14px; color: #008dd8; font-weight: 600; line-height:35px;}
.page_RightTitle h3{font-size: 14px; color: #008dd8; font-weight: 600; width: auto; line-height: 35px; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.page_RightTitle span{float:right; color:#a4a4a4; margin-right:10px; line-height:35px; font-weight:normal; font-size:13px;}
.page_RightTitle span a{ color:#a4a4a4;}
.page_RightTitle span a:hover{ color:#ef8300;}

.page_RightTitle h2{float:none; display:inline; font-size:12px;}
.page_RightMain{width:730px; padding:10px; margin:auto; background:#FFFFFF;}
.page_RightMain1{width:750px; padding:10px 0; margin:auto; background:#FFFFFF;}

.r_top1{background:url(../img/hotpro.jpg) no-repeat; width:732px; height:50px;}
.more{ float:right; height:12px; width:40px; margin-top:7px; margin-right:24px;}
.zhanshi_title{width:732px; height:49px; background:url(../img/allpro.jpg) no-repeat; }

.xinpin_in{ margin:auto; width:688px; padding:0 21px 10px 21px; border:solid 1px #d5d7d6; border-top:0px; background:#FFFFFF;}
.pro_re{width:730px; margin:auto; text-align:left;}
.pro_re div{ line-height:20px; padding:0; margin:0;}

.page_pro{width:177px; float:left;}
.page_proimg{border: 1px solid #c0c0c2; width:171px; height:127px;}
.page_proimg img{margin: 2px; width: 167px; height:123px;}
.page_proname{line-height:20px; padding:3px 0; text-align:center; overflow:hidden;}
.page_proname a{color:#585858;}

.asd_list{width:345px; float:left; margin-top:20px;}
.img_list{padding: 3px; padding-bottom: 0px; float: left;}
.img_list img{width: 172px; height: 127px;}
.proname_list{float: right; width: 157px; padding-top: 8px;}
.proname_list a{color:#3a3a3a;font-size:14px;}
.proname_list a:hover{color:#3a3a3a;}
.proname_list ul li{ list-style:none; overflow:hidden; line-height:22px; color:#222;}
.proname_list ul li h3{ color: #008dda; font-size: 14px; font-weight:normal; line-height:22px;}

.page_RightTitle2{width:924px; margin:auto; margin-top:23px; padding-bottom:10px; background:url(../img/in_right.jpg) center bottom no-repeat; text-align:left;}
.page_RightTitle2 h4{ font-size:26px; color:#434343; line-height:30px; font-weight:bold;}
.page_RightTitle2 span{ float:right; margin-right:15px;}
.page_RightTitle2 span a{font-size:14px; color:#444444; line-height:40px;}




/*通用样式*/
#product_detail {width:719px; margin:auto;}
#product_detail .left { width: 334px;float:left;}
#product_detail .big_pic {height: 247px; width: 334px; float:left; border: 2px #cccccc solid; margin-top: 10px; padding: 0px;}
#product_detail .big_pic img {width: 326px; height: 241px; margin: 3px;}
#product_detail .big_pic .bigimg{ width:700px; height:517px;}
#product_detail .big_pic .view { display: block;text-indent: 20px; margin-left: 130px; width: 19px; height: 15px; display: inline-block; cursor: pointer; }
.pro_info_box {min-height:190px;}
#product_detail .product_info { margin-top:10px; border-top:1px solid #b4b4b4; margin-left: 10px; width:350px;}
#product_detail .product_info li {line-height: 29px; min-height:30px; border:1px solid #b4b4b4; border-top:0px; padding-left:10px; width:338px; font-size:13px; color:#111; font-weight:bold;}
#product_detail .product_info li a{ font-size:13px; color:#213f71}
#product_detail .product_info li a:hover{color:#0066cc;}

/*焦点图*/
#product_detail ul.pic_list {margin-top: 4px; width: 335px; height: 50px; overflow: hidden; padding-top:10px;}
#product_detail ul.pic_list li { width: 62px; height: 48px; border: 1px solid #b4b4b4; float: left; margin: 0px 2px 0px 1px; padding:0px;}
#product_detail ul.pic_list li:hover{ border:1px solid #e0998c;}
#product_detail ul li { list-style: none; }

.mod18{width:100%;height:50px; position:relative;}
.mod18 .btn{position:absolute;width:15px;height:50px; cursor:pointer;z-index:99;}
.mod18 .prev{top:0px;left:0;}
.mod18 .next{top:0px;right:0;}

.mod18 .listBox{width:335px;height:50px;margin:0 auto;position:relative;overflow:hidden; padding:0;}
.mod18 .listBox ul{height:50px;position:absolute;}
.mod18 .listBox li{cursor:pointer;position:relative;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li img{width: 58px; height: 44px; margin: 2px;}
.mod18 .listBox .on i{display:block;}

.pro_title{ width:100%; margin:auto; color: #008dd8; font-size: 16px; font-weight: bold; height: 32px; line-height: 32px;}
#pro_profile{ width:100%; padding: 0px 8px;  padding-bottom: 10px;}
#pro_profile table td{ padding-left:5px;}
.btn ul li{ float:left !important;}

.pro_title1{ width:100%; font-size:22px; color:#00366e; line-height:49px; border-bottom:5px solid #002c6f}
.back{ width:100%; padding:15px 0; text-align:center}
.back span{ padding:5px 15px; color:#fff; background:#0f83d8; font-size:14px;}

.page_inquirybg{ width:100%; margin:0 auto; min-width:1002px; max-width:1920px; padding-bottom:37px; background:#f1f1f1; margin-bottom:30px; padding-top:28px;}

.pro_title2{width:700px;padding-left:11px;text-align:left;line-height:42px; font-size:22px; color:#004d98; background:#efefef; font-weight:bold; text-transform:uppercase; float:left;}

.proinquiry{width:750px; margin:auto; padding:10px 0 0 0}

.news .body ul li{ line-height:20px; padding:5px 0; list-style:none; border-bottom:1px dashed #CCC;}
.news .body ul li a{ font-size:14px; color:#333333;}
.news .body ul li span{ float:right; font-size:13px;}
.news ul li.newson a{ color:#e60011}

.r_mid1{width:747px; padding:15px 5px;}
.r_mid1 ul li{ list-style:none; font-size:13px; float:left; line-height:20px; padding:0 3px 15px 3px; text-align:center;}
.r_mid1 ul li a{ line-height:20px;}


.right{ float:right}
.news #news_detail .body{ width:100%; float:left;}
.news #news_detail{ width:100%; float:left; padding:10px 0}
.news #news_detail h1{ text-align:center; font-size:18px;}
.prev_next{padding-bottom:20px; width:100%; float:left;}
.prev_next ul li{ list-style:none}

.news_view{ width:100%; float:left; padding:5px 0; border-bottom:1px solid #ccc}

.back input[type=button]{ background:#ff9c00; padding:3px 10px; border:0; color:#fff; cursor:pointer; font-size:16px; font-family:Arial}
.news_body{ padding:10px 0}

.main_page{text-align:center;width:100%; float:left; padding-top:15px; padding-bottom:15px;}
.main_page a,.main_page .current{ margin:0 5px;}
.main_page a{ background:#f5f5f5; padding:3px 8px; color:#717071 !important; border:1px solid #d6d7d2}
.main_page .current{ padding:3px 8px; background:#4699db; color:#fff;border:1px solid #4699db}

#sitemap ul li{ list-style:none; text-align:left; list-style:none}
#sitemap ul li h2{ font-size:16px; padding-bottom:8px;color:#333333; text-transform:uppercase; font-weight:normal;}
#sitemap ul li ul li{ float:inherit; padding-left:30px}
#sitemap ul li ul li h3,#sitemap ul li ul li a{ font-size:14px;line-height:24px; color:#333333; font-weight:normal;}

/*关联产品与新闻*/
.reation{ width:100%; float:left; padding-top:15px;}
.reation h5{ font-size:24px; border-bottom:1px solid #ccc; line-height:38px; margin-bottom:10px;}

/*评论*/
.inquiry{ width:100%; float:left;}
.comment{ width:100%; float:left; padding:10px 0}
.commentTitle{ width:100%; float:left; text-align:left;}
.commentTitle h5{ font-size:22px; color:#333333; line-height:53px;text-align:left; font-weight:normal}
.commentTitle h5 span{ float:right; line-height:53px; font-size:14px;}
.commentTitle h5 span a{color:#333333;}
.commentlist{ width:100%; float:left; padding-top:10px; text-align:left;}
.commentlist ul{ width:100%; float:left;}
.commentlist ul li{ float:left; list-style:none}
.inquiryinfo{ width:100%; float:left; padding-bottom:10px;}



.bt{
background:#4699db;
color: #fff;
cursor: pointer;
height: 25px !important;
padding: 0 !important;
width:80px !important;
margin:auto;
}

.pro_DetailTitle{ width:737px; height:29px; background:url(../img/detailtitlebg.jpg) 3px 0 no-repeat; font-size:14px; color:#fff; line-height:29px; padding-left:20px;}

.Page_Footlan{ width:1002px; margin:0 auto; height:66px; padding-bottom:20px; margin-bottom:20px; border-bottom:1px dashed #ccc;}
.Page_Footlan div{ float:left; width:125px; line-height:16px;}
.Page_Footlan div a{ color:#d9d8d7}


.in_case{width:290px; float:left; margin-bottom:22px;}
.incase_pic{width:288px; height:229px; border:1px solid #727272; overflow:hidden;}
.incase_pic img{width:288px; height:229px;}
.incase_name{width:100%; text-align:center; padding:5px 0;}
.incase_name a{font-size:14px; color:#ffffff;}

.styletable{ border-left:1px solid #c7c7c7; border-top:1px solid #c7c7c7}
.styletable tr td{ border-bottom:1px solid #c7c7c7; border-right:1px solid #c7c7c7}
.styletable td{ padding-left:3px;}


/*右侧二维码*/
.sidebar{ width:60px; position:fixed; top:250px; right:0px; z-index:99999}
.sidebar ul li{ position:relative; list-style:none; margin-bottom:1px;}
.sidebar ul li img{ float:left;}
.sidebar ul li .sidebox{position:absolute;width:60px; height:60px;top:0;right:0;transition:all 0.3s;background:#7e7e7e;overflow:hidden;color:#fff; font:14px "Microsoft YaHei";}
.sidebar ul li .sidebox1{position:absolute;width:60px; height:60px;top:0;right:0;transition:all 0.3s;background:#7e7e7e;overflow:hidden;color:#fff; font:14px "Microsoft YaHei";}
.sidebar ul li .sidebox2{position:absolute;width:60px; height:60px;top:0;right:0;transition:all 0.3s;background:#7e7e7e;overflow:hidden;color:#fff; font:14px "Microsoft YaHei";}
.sidebar ul li .sidebox3{position:absolute;width:60px; height:60px;top:0;right:0;transition:all 0.3s;background:#7e7e7e;overflow:hidden;color:#fff; font:14px "Microsoft YaHei";}
.sidebar ul li .sidebox3:hover{ background:#ef8300;}
.mobile-container {width: 60px; height: 60px;background: url(../img/r_ewm.png) no-repeat #7e7e7e;float:left;}
.mobile-container:hover{ background:url(../img/r_ewm.png) no-repeat #ef8300;}
.mobile-show {width: 140px;min-height: 120px; background: #fff; border-radius: 10px; border: 1px solid #dddddd; position: absolute; left: -142px; top: -80px; }
.mobile-show .mobile-sanjiao {width:0; height: 0; border-style: solid; border-color: transparent transparent transparent #ffffff; border-width: 6px; left: 140px; top: 120px; position: absolute; z-index: 2;}
.mobile-show .mobile-sanjiao-big { width: 0; height: 0; border-style: solid; border-color: transparent transparent transparent #dddddd; border-width: 8px; left: 141px; top: 118px; position: absolute; }
.mobile-show .mobile-txt{ float:left; width:124px; padding:10px 10px; text-align:center; font-size:15px; color:#4c4c4c; }
.mobile-show .mobile-txt ul li{ width:124px;min-height:120px;line-height:20px;}
/*自定义样式结束*/