@font-face{font-family: "ougangiconfont";
src: url('ougangnewiconfont.eot?t=1618889201365'); /* IE9 */
src: url('ougangnewiconfont.eot?t=1618889201365#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABswAAAKOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBMIEvATYCJAMMCwgABCAFhG0HORv4BcgekiSBEA8OUkIBFMBxPDyNMd+/O0Q0qWY8ahKNeKQUEsRGKmSxrS6NyTVNCVzZxQ4YVFFSPs9temm+4EZgx5rIeBIS2KGbWrOeQcDnuZzeBDqQUR8ol7Vp7PV8TMAEA9obo8iKKCFuGLvgBT4mUGtQNd3m6HQYWBX2qkDcSUISWAtRRWGFaqGy4WD+F08qVKeHdAt4jL4fX2AhrCQVmb1x72KEA/2vgY8Gw8zvjNOAECPA4xXImAIU4rwxe8ggGGdQazJ2V1YqQloqUS4TqQxDpfOHRxJEJbu+HoyhXOI14KkycwPUPHV9BpVJzRxgmW1pj64JqXvnCd5c9wnbs6dr7rAh4I/9+ujWhJnYhiey6Stsewsut3OrWa4RGhGb+NoKwP+Kf52/FV/h1JPjT+9t9a3p8/j4X1sEjvdiowhxWldXVHqtcQiNxrAa+kCC/TN5pT/I5/oHEAi27sviTd2sdQW87Mu/0FoMz1VLMPXvUw/sK4bWXpIL8jtQhsZl3RPTCbVOkF9ka3WMPHQY9YRqHRmSKgPIqg2RhZ1ChTpLqFRtBbUmjR2v04YyiFKDCYsAodkVkkbPyJrdkYW9R4VOn6jUHAbU2g/XhXVGQrIPUZxkmIOpEpQQyfCug9njxiAWNDVJ89qIj2KakxKwoba+XBjDGUyX2JLLC42M8ZCnJA1HwXNYVQnMUiJjxGpFxrKddXV805tqEUkDuw0UlsRgHCilBJIgRAYfjGbslc8HYQKNKol2NNVlozAqRxofalCrfgA5ZsoManqUV3LyBI0YhgfxKCINGgVuTHWyBJRtnifDEKaWOCGd1akODeOHmmq3t6R/oJK1Yd+cI0WOoupGSmYY0UxIIwUNAAAA') format('woff2'),
url('ougangnewiconfont.woff?t=1618889201365') format('woff'),
url('ougangnewiconfont.ttf?t=1618889201365') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
url('ougangnewiconfont.svg?t=1618889201365#iconfont') format('svg'); /* iOS 4.1- */
}

.ougangiconfont{
  font-family: "ougangiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before{
  content: "\e631";
}

.icon-cuowu:before{
  	content: "\e619";
}