.baiducss p{font-weight:normal !important;margin:5px 0;}
.baiducss strong{
	font-weight:bold !important;
}
.baiducss *{
	vertical-align:top;
}
.baiducss img{ max-width:100% !important; display:inline-block;} 
.baiducss p{ text-align:left; font-size:16px;} 
.baiducss td{ margin:0px; padding:0px;}
.baiducss a{ display:inline !important;     width:inherit !important;line-height: inherit!important;color: inherit !important;}
.scrolltable{ max-width:100%; overflow:scroll;}
.baiducss video{ max-width:100%;}
.no_data{width: 200px;height: 153px;background: url(../image/no_data.png) no-repeat 100% 100%;margin: auto;	margin-top: 100px;}
