@media all and (min-width:1200px){
    header{
        transform: translateY(-72px)!important;
    }
    body, button, input, select, textarea{
        font-size: 13px;
    }
    .container{
        padding: 0 40px;
        zoom: 0.9;
    }
    .head_hj22_nav .logo img{
        transform: scale(0.666);
        -webkit-transform: scale(0.666);
    }
    .head_hj22_nav .menu ul li h2{
        font-size: 16px!important;
    }
    .nav_drop li a span{
        font-size: 14px!important;
    }
    .hj22_language span{
        font-size: 16px!important;
    }
    .hjzf2_news-31_stitle{
        font-size: 14px!important;
    }
    .hjzf2_news-31-rightdown_title{
        margin-bottom: 14px!important;
    }
    .hjzf2_news-31-rightdown_title span{
        font-size: 20px!important;
    }
    .index_title{
        font-size: 24px!important;
    }
    .index_sub_title{
        font-size: 14px!important;
    }
    .index_text{
        font-size: 13px!important;
    }
    .index_pd{
        padding: 54px 0!important;
    }
    .HJZF_Z_other__one{
        font-size: 24px!important;
    }
    /* .hjzf2_news-31-leftdown li{
        padding: 74px 13px!important;
    } */
    #other-1_1800 > section > div > div > div > div > div.HJZF_Z_other__two{
        font-size: 14px!important;
    }
    .hjzf2_news-31-lefttop li{
        padding: 16px 0 16px!important;
    }
    .hjzf2_news-31_img{
        width: 60px!important;
        height: 60px!important;
    }
    .InsidePages_left_content-main > p{
        font-size: 14px!important;
    }
    ul.InsidePages_left_navlist > li > a > h3{
        font-size: 13px!important;
    }
    .InsidePages_content-right_editor span, .HJZF_contact_editor span{
        zoom: 0.8;
    }
    .news-31__downitem{
        padding-bottom: 10px!important;
        margin-bottom: 14px!important;
    }
    .hjzf2_news-31-righttop {
        margin-bottom: 24px!important;
    }
    .InsidePages_left_search{
        height: 34px!important;
    }
    .InsidePages_left_search li input{
        font-size: 12px!important;
        height: 34px!important;
        line-height: 34px!important;
    }
    .InsidePages_left_search li.search_second button{
        height: 34px!important;
        line-height: 34px!important;
    }
    .HJZF_Z__Breadcrumbs a,.HJZF_Z__Breadcrumbs span{
        font-size: 12px!important;
    }
    .main-content_inner_news > ul > li a h3{
        font-size: 12px!important;
    }
    .main_news_title a h5{
        font-size: 14px!important;
    }
    .main_news_desc{
        font-size: 12px!important;
    }
    .main_news_right_date p{
        font-size: 21px!important;
    }
    .main_news_right_date p:after{
        left: 74%!important;
    }
    .main_news_dowm span a{
        font-size: 12px!important;
    }
    .InsidePages_content2_commontitle{
        font-size: 16px!important;
    }
    .inquiryleft{
        font-size: 12px!important;
    }
    input[type="submit"].productbutton{
        width: 80px!important;
        height: 30px!important;
        line-height: 30px!important;
        font-size: 14px!important;
    }
    .inquiryinfo input[type=text],#code_char img{
        zoom: 0.9;
    }
}
@media (max-width: 1365px) and (min-width: 768px){
    .nav> ul> li {
        padding-left: 1vw!important;        
        padding-right: 1vw!important;
    }
}
