.HJZF2_Z__bottom-v-0.css {
    width: 100%;
    height: auto;
    padding-top: 60px;
}
.HJZF2_Z__bottom-v-0.css_content{margin-bottom-v-0.css: 25px;}
.HJZF2_Z__bottom-v-0.cssItem {
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    margin-bottom-v-0.css: 30px;
}
.bottom-v-0.cssInfo {
    padding-left: 15px;
}
.productInfo{
    padding-right: 15px;
}
.bottom-v-0.cssInfo__logo {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: left;
    margin-bottom-v-0.css: 20px;
}

.bottom-v-0.cssInfo__logo img {
    max-width: 100%;
    height: auto;
}

.bottom-v-0.cssInfo__context {
    padding-bottom-v-0.css: 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
}

.bottom-v-0.cssInfo__more {
    padding: 6px 12px 6px 12px;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    background: #ffb536;
    display: inline-block;
}

.HJZF2_Z__bottom-v-0.cssItem__title {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
    margin-bottom-v-0.css: 15px;
}

.contctInfo ul {
    margin-bottom-v-0.css: 15px;
}

.contctInfo ul li {
    color: #fff;
    font-size: 14px;
    line-height: 35px;
}

.contctInfo ul li a {
    color: #fff;
}
.contctInfo ul li a:hover{
    text-decoration: underline;
}

.contctInfo ul li:first-child {
    margin-top: 0;
}
.contctInfo ul li img{
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}
.contctInfo ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:  flex-start;
}
.contctInfo ul li span {
    color: #fff;
    font-size: 14px;
    flex: 0 0 auto;
    /*flex-grow: ;    放大 : 0不放大 1 有剩余空间占领剩余空间*/
    /*flex-shrink: ;  收缩: 0不缩放 1自动缩放*/
}
.contctInfo ul li span:nth-of-type(2n) {
    color: #fff;
    font-size: 14px;
    flex: 1;
}

.contctInfo__social a {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 2px;
    line-height: 26px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}
.contctInfo__social a img{width: 100%;}

.contctInfo__social span, .contctInfo__social span a {
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    position: relative;
}

.contctInfo__social span.screen-reader-text {
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.productInfo__list li {
    margin-top: 15px;
}

.productInfo__list li:first-child {
    margin-top: 0;
}

.productInfo__list li a {
    color: #fff;
    padding-left: 22px;
    display: inline-block;
    position: relative;
}

.productInfo__list li a:before {
    background-color: rgba(148, 159, 178, .15);
    position: absolute;
    content: "";
    display: inline-block;
    width: 14px;
    top: 4px;
    left: 0;
    height: 14px;

}

.productInfo__list li a:after {
    position: absolute;
    width: 14px;
    top: 4px;
    left: 0;
    content: "\f105";
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.productInfo__list li a h3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
}

.classInfo__list li:first-child{margin-top: 0;}
.classInfo__list li a h2{
    padding-left: 22px;
    font-size: 14px;
    line-height: 35px;
    font-weight: normal;
    color: #fff;
    position: relative;
}
.classInfo__list li a h2:before{
    background-color: rgba(148, 159, 178, .15);
    position: absolute;
    content: "";
    display: inline-block;
    width: 14px;
    top: 50%;
    left: 0;
    height: 14px;
    transform: translateY(-50%);
}
.classInfo__list li a h2:after{
    position: absolute;
    width: 14px;
    top: 50%;
    left: 0;
    content: "\f105";
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    transform: translateY(-50%);
}
.classInfo__list li a h2:hover,.productInfo__list li a:hover{text-decoration: underline}
.HJZF2_Z__bottom-v-0.css__copyrightContent{width: 100%;border-top: 1px solid rgba(255,255,255,.12)}
.HJZF2_Z__bottom-v-0.css__copyrightContent{padding: 10px 0;}
.HJZF2_Z__bottom-v-0.css__copyright--left,.HJZF2_Z__bottom-v-0.css__copyright--right,.HJZF2_Z__bottom-v-0.css__copyright--left a,.HJZF2_Z__bottom-v-0.css__copyright--right a{font-size: 14px;line-height: 20px;font-weight: normal;color: #fff;}
.HJZF2_Z__bottom-v-0.css__copyright--right{text-align: right;}

.HJZF2_Z__bottom-v-0.css__friendlink{ width:100%; font-size: 14px; line-height:30px; padding-bottom-v-0.css:10px; color: #fff;}
.HJZF2_Z__bottom-v-0.css__link{ padding:0 15px;}
.HJZF2_Z__bottom-v-0.css__link a{font-size: 14px; color:#FFFFFF;}

@media screen and (max-width: 768px){
    .HJZF2_Z__bottom-v-0.css{background-repeat:  repeat!important;}
    .HJZF2_Z__bottom-v-0.css__copyright--left,.HJZF2_Z__bottom-v-0.css__copyright--right{text-align: center;margin-bottom-v-0.css: 10px;}
    .HJZF2_Z__bottom-v-0.css{padding-top: 0;}
    .HJZF2_Z__bottom-v-0.css_content{margin-bottom-v-0.css: 0;}
}
@media screen and (max-width: 576px){
    .HJZF2_Z__bottom-v-0.cssItem{padding-left: 15px;padding-right: 15px;}
    .classInfo__list li{width: 50%;float: left;overflow: hidden;text-overflow: ellipsis;}
    .classInfo__list li:first-child{margin-top: 15px;}
    .productInfo__list li{width: 50%;float: left;overflow: hidden;text-overflow: ellipsis;}
    .productInfo__list li:first-child{margin-top: 15px;}
    .HJZF2_Z__bottom-v-0.css{padding-top: 0;}
    .HJZF2_Z__bottom-v-0.css_content{margin-bottom-v-0.css: 0;}
}

@media(min-width: 768px){
	.bottom-v-0.css_mobile,.bottom-v-0.css_mobile a{color: #333;}
}