.HJ01CN_other2{width: 100%;height: 1662px;margin: auto;min-width: 1190px;max-width: 1920px;}
.HJ01CN_other2-title{font-size: 40px;line-height: 50px;font-weight: normal;text-align: center;color: #fff;padding-top: 190px;}
.HJ01CN_other2_list{margin-top: 80px;}
.hj01cn_other_item_pic{width: 580px;height: 300px;overflow: hidden;float: left;}
.hj01cn_other_item_text{width: 408px;padding-left: 80px;float: right;position: relative}
.hj01cn_other_item_text h3{font-size: 24px;line-height: 30px;font-weight: bold;}
.hj01cn_other_item_text h5{font-size: 13px;line-height: 20px;font-weight: normal;color: #dcdcdc}
.hj01cn_other_item_text p{font-size: 13px;line-height: 22px;font-weight: normal;color: #4e4e4e;padding-left: 13px;position: relative}
.hj01cn_other_item_text a{display: inline-block;font-size: 14px;line-height: 20px;font-weight: normal;position: relative}
.hj01cn_other_item_text img{position: absolute;left: 0;top: 46px;}
.HJ01CN_other2_list li:nth-child(even) .hj01cn_other_item_pic{
    float: right;
}
.HJ01CN_other2_list li:nth-child(even) .hj01cn_other_item_text{
    float: left;
}



