.page_Banner{ width:100%; margin:0 auto;height:600px; min-width:1190px; max-width:1920px;}
.DB_tab25 {width:100%;height:600px;position:relative;overflow:hidden}

.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:600px;}

.DB_tab25 .DB_imgSet{position:absolute;width:1190px;left:50%;margin-left:-595px;}

.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:107px;top:263px;}

.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:0px;top:213px;}


.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:394px;top:331px;}


.DB_tab25 .DB_menuWrap{position:absolute;width:1000px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:500px;text-align:center;font-size:0;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 5px;display:inline}


.DB_tab25 .DB_prev{position:absolute;left:-250px;top:188px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:-250px;top:188px;cursor:pointer;display:none}