.wap2_aboutus2 {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wap2_aboutus2 .center-text {
    text-align: center;
    display: block;
}

.wap2_aboutus2 h2 {
    font-size: 21px;
}

.wap2_aboutus2 .bolder {
    font-weight: 700;
}

.wap2_aboutus2 .bottom-30 {
    margin-bottom: 30px;
}

.wap2_aboutus2 .line_height35 {
    line-height: 35px;
}

.wap2_aboutus2 .deco-thin {
    height: 2px;
    width: 60px;
    background-color: #d8334a;
}

.wap2_aboutus2 .highlight-red.bg-highlight {
    margin: 0 auto;
    margin-bottom: 30px color : #fff;
}

.wap2_aboutus2 .boxed-text-large {
    max-width: 300px;

    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
}

.wap2_aboutus2 .font-15 {
    font-size: 15px;
    line-height: 26px;
    font-weight: normal;
}

.wap2_aboutus2 .highlight-red.bg-highlight.button {
    border: 2px solid #d8334a;
    background-color: #d8334a;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.wap2_aboutus2 .button, .wap2_aboutus2 .button-round {
    color: #fff;
    height: 45px;
    line-height: 42px;
    margin: 0 10px 10px 0;
    padding: 0 20px;
}

.wap2_aboutus2 .button-center {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wap2_aboutus2 .button-round {
    border-radius: 40px;
}

.wap2_aboutus2 .button-s {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
