.wap2_aboutus3 .section.destinations {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wap2_aboutus3 .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.wap2_aboutus3 .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.wap2_aboutus3 .container .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.wap2_aboutus3 .row .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.wap2_aboutus3 .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.wap2_aboutus3 .section-title {
    color: #000;
    font-size: 23px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
}



.wap2_aboutus3 .section.destinations .vacation-place {
    padding: 0px;
    background: none;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wap2_aboutus3 .section.destinations .vd-photo img {
    width: 100%;
    height: auto;
}

.wap2_aboutus3 .section.destinations .vd-des-left {
    width: 100%;
}

.wap2_aboutus3 .section.destinations .vd-des .vd-des-name {
    font-weight: 600;
    color: #ef6246;
    font-size: 18px;
}

.wap2_aboutus3 .section.destinations .vd-des .vd-des-name span {
    font-size: 18px;
    padding: 15px 0;
    display: inline-block;
    padding-right: 20px;
    border-bottom: 2px solid #fab716;
}

.wap2_aboutus3 .section.destinations .vd-des-location {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    max-width: 100%;
    white-space: pre-wrap;
}

.wap2_aboutus3 .section.destinations .readmore-news {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.wap2_aboutus3 .readmore-btn {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    padding: 10px 50px;
    color: #ffffff;
    background-color: #ef6246;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    text-decoration: none;
}