#aboutus-12{width: 100%;min-width: 1200px;max-width: 1920px;height:auto;margin: auto;padding-top: 70px;padding-bottom: 70px;}
.aboutus-12__container{width: 1200px;height: auto;margin: auto;}
.aboutus-12--top{margin-bottom: 40px;}
.aboutus-12--left{float: left;width: 603px;height: 309px;overflow: hidden;}
.aboutus-12--right{float: right;width: 596px;overflow: hidden;}
.aboutus-12--right__content{padding-left: 45px;}
.aboutus-12--right__title{font-size: 30px;line-height: 30px;color: #ffffff;font-weight: normal;margin-bottom: 30px;margin-top: 15px;position: relative;}
.aboutus-12--right__text{font-size: 14px;line-height: 26px;color: #ffffff;font-weight: normal;margin-bottom: 40px;}
.aboutus-12--right__content ul li{float: left;margin-right: 28px;}
.aboutus-12--right__content ul li a{padding: 8px 20px;border: 1px solid #fff;display: inline-block;font-size: 14px;color: #fff;line-height: 24px;}




.aboutus-12__shuzi_box{width: 100%;height: auto;justify-content: space-between;margin-bottom: 30px;}
.aboutus-12__shuzi_box li.aboutus-12__shuzi__item{text-align: center;}
.aboutus-12__shuzi_box li.aboutus-12__shuzi__item .count_shuzi{font-size: 50px;line-height: 70px;color: #fff;font-weight: bold;}
.aboutus-12__shuzi_box li.aboutus-12__shuzi__item .count_shuzi:after{content: attr(data-danwei);color: #fff;line-height: 28px;font-size: 14px;font-weight: normal;position: relative;op: -12px;left: 6px;}
.aboutus-12__shuzi_box li.aboutus-12__shuzi__item .count_shuzi_desc{font-size: 14px;line-height: 28px;color: #ffffff;font-weight: normal;}














