.new_hjzf_aboutus__aboutus{ padding:0 0 20px 0;}
.new_hjzf_aboutus__titlemore{ float:right;font-size: 13px;}
.new_hjzf_aboutus__title{ line-height:37px; height:37px;padding: 0 10px;}
.new_hjzf_aboutus__titlename{ float:left;font-size: 24px;color: #303338;}
.new_hjzf_aboutus__content{font-size: 16px;line-height: 24px;font-weight: normal;color: #333;padding: 10px 10px 0;}