/* CSS Document */
.new_hjzf_banner__swiper-container img{
	width:100%;display: block;
}
.new_hjzf_banner__swiper-pagination{ position:relative; top:-35px; width:100%; text-align:center; z-index:2; height:0px;}
