.new_hjzf_bottom_2__foot_nav,.new_hjzf_bottom_2__ul{ width:100%;height:46px;}
.new_hjzf_bottom_2__ul li{ box-sizing:border-box; float:left; width:20%; list-style:none; display:block;border-right:1px solid #fff; text-align:center;padding-top: 3px;}
.new_hjzf_bottom_2__ul li i{font-size: 24px;line-height: 24px;}
.new_hjzf_bottom_2__ul{ background:#F8F702;  position:fixed; bottom:0px;z-index: 98}
.new_hjzf_bottom_2__ul__icon{ display:block; margin-top:5px;}

