.wap2_cases{width: 100%;margin: auto}
.wap2_cases .container{margin: 0 20px 30px;}
.wap2_cases__title{font-size: 21px;line-height: 35px;font-weight: 700;text-align: center;display: block;margin-bottom: 5px;}
.wap2_cases__desc{;margin: 0 auto;margin-bottom: 15px;font-size:15px;line-height:26px;color:#333;font-weight:normal;text-align: center;}
.wap2_caseWrap__swiper .swiper-slide_wrap{border: 1px solid rgba(0,0,0,.1);height: 100%;}
.wap2_caseWrap__swiper .swiper-slide a{display: block;position: relative;width: 100%;height: 0;padding-bottom: 100%;overflow: hidden}
.wap2_caseWrap__swiper .swiper-slide img{width: 100%;position: absolute;left: 0;top: 0;height: auto;height: auto}
.wap2_caseWrap__swiper .swiper-slide .article-content{padding: 10px 15px 0;}
.wap2_caseWrap__swiper .swiper-slide .article-title{font-weight: 600;font-size: 16px;margin-bottom: 10px;line-height: 20px;z-index: 5;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.wap2_caseWrap__swiper .swiper-slide .article-content{font-size: 14px;line-height: 26px;margin-bottom: 15px;color: #666;font-weight: normal;overflow: hidden;}
.wap2_caseWrap__swiper .swiper-slide .article-content p{
    max-height: 110px;text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}
.wap2_cases_pageaction{width: 100%;margin: auto;position: relative;text-align: center;height: 24px;margin-top: 20px}
.wap2_cases_pageaction .swiper-pagination{left: 50%;transform: translate3d(-50%,0,0);-moz-transform: translate3d(-50%,0,0);-webkit-transform: translate3d(-50%,0,0)}
.wap2_cases_pageaction .swiper-pagination .swiper-pagination-bullet{margin: 0 5px;}