.new_hjzf_head{ background:#FFFFFF; width:100%; position:relative;}
.new_hjzf_head__logo{ width:100%;}
.fixedSubNav{ position:fixed; z-index:99; top:0;}
.wap2_head_sideMenu_lan{ position:absolute; top:12px; right:5px; z-index:91;}
.head-6__Language>ul>li{ list-style:none;}
.head-6__Language>ul>li>p i{ margin-left:5px;}
.head-6__Language>ul>li:before{content: '';display: table;width: 0;height: 0;border-width: 6px;border-style: solid;border-color:#fff transparent transparent transparent;position: absolute;right: 0;top: 25px;z-index: -1}
.head-6__Language>ul>li ul{display: none;width: auto;border: 1px solid #e3e3e3;padding: 0 10px;position: absolute;right:0;top: 24px;background: #fff;z-index: 96;}
.head-6__Language>ul>li ul li{padding: 4px 0 4px 20px;line-height: 24px;position: relative;list-style-type: none}
.wap2_header-HJ01_sideMenu_top .head-6__Language ul{ padding:0 25px; font-size:16px;}
.head-6__Language>ul>li ul li span{font-size: 14px;color: #333333;font-weight: normal;line-height: 20px;}
#lang_ul_top{ display: none;width: 80px;border: 1px solid #e3e3e3;padding:5px 10px;position: absolute;right:0;top: 24px;background: #fff;z-index: 96;}
#lang_ul_top a{ color:#333; display:block; line-height:30px;}
#lang_ul_top a img{ margin-right:5px; vertical-align: middle;}
#lang_ul_top a span{ font-size:14px; color:#333;}
