.new_hjzf_head-1__more{ float:right; width:40px; cursor:pointer;}
.new_hjzf_head-1 a{ cursor:pointer;}
.new_hjzf_head-1 li{ list-style:none;}
.new_hjzf_head-1__nav nav{ padding:20px; }
.nav_title{min-width:100px;color:#fff;}
.new_hjzf_head-1__nav_child{ padding-left:10px;}
.new_hjzf_head-1__main_nav {position:relative;}
.new_hjzf_head-1__nav_more_on{
transform: rotate(180deg);
-ms-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);		
-moz-transform: rotate(180deg);		
}
.new_hjzf_head-1__nav_child{ display:none;}
.new_hjzf_head-1__nav nav{ overflow-y:scroll}
