.wap2_news-hj01{width: 100%;margin: auto;height: auto}
.wap2_news-hj01 .container{margin: 0 auto;width: 90%;}
.wap2_news-hj01__title{font-weight: 700;line-height: 35px;font-size: 21px;display: block;text-align: center;margin-bottom: 5px;}
.wap2_news-hj01__desc{width: 90%;line-height: 26px;font-size: 15px;color: #333;font-weight: normal;margin-bottom: 20px;}
.index_newsitem_box{width: 100%;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #E7E7E7;}
.index_newsitem_img{float: left;margin-right: 10px;width: 20%;}
.index_newsitem_img img{width: 100%;}
.index_newsitem_down{width: 70%;float: left}
.index_newsitem_title a{text-decoration: none;font-size: 14px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;display: block}
.index_newsdate i{color: #b1b1b1;font-size: 14px;line-height: 20px;font-weight: normal}
.index_newsdate{font-size: 14px;color: #b1b1b1;line-height: 20px;font-size: 14px;font-weight: normal}
.wap2_news-hj01_more{width: 100%;margin-top: 20px;margin-bottom: 30px;text-align: center}
.wap2_news-hj01_more a{display: block;margin:auto;text-decoration: none;width: 190px;height: 40px;line-height: 40px;font-size: 16px;font-weight: bold;text-align: center;color: #fff;border-radius: 20px;-moz-border-radius: 20px;-webkit-border-radius: 20px}