.wap2__news-HJ03 {
    width: 100%;
    height: auto;
    margin: auto;
}

.wap2__news-HJ03 .container {
    margin: 0 auto;
    width: 90%;
}

.wap2__news-HJ03-title {
    margin: auto;
    margin-bottom: 20px;
}

.wap2__news-HJ03-title h4 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.wap2__news-HJ03-title .line {
    height: 2px;
    width: 30px;
    background: #363636;
    margin: 3px auto;
}
.wap2__news-HJ03__list ul li.wap2__news-HJ03__item{
    border: 1px solid #666;
    margin: 10px 0px;
    list-style-type: none;
}
.wap2__news-HJ03__list ul li.wap2__news-HJ03__item a{
    text-decoration: none;
}
.wap2__news-HJ03__list ul li.wap2__news-HJ03__item .news_item_content{
    margin: 10px 10px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}
.news_item_img {
    width: 80px;
    height: 80px;
    margin: 7px;
    margin-left: 0px;
}
.jianje{
    width: 1px;
    background: #666666;
    height: 50px;
}
.news_item_txt{
    margin-left: 10px;
    width: 200px
}
.news_item_txtTitle {
    font-size: 18px;
    color: #010101;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news_item_txtDate{
    font-size: 16px;
    color: #666;
}
.news_item_txtDesc{
    color: #666;
    font-size: 16px;
}
.wap2__news-HJ03__more{text-align: center;margin: auto;margin-top: 20px;margin-bottom: 35px;}
.wap2__news-HJ03__more a{
    display: inline-block;
    border: 2px solid #777;
    color: #666;
    padding: 6px 14px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
}