.wap2_product_two {
    padding: 0 20px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wap2_product_two .center-text {
    text-align: center;
    display: block;
}
.wap2_product_two>h3{
    font-size: 21px;color: #000;margin-bottom: 10px;
}
.wap2_product_two .bolder {
    font-weight: 700;
}
.wap2_product_two .call-to-action em, .wap2_product_two .review-6 h1, .wap2_product_two .uppercase {

}
.wap2_product_two .line_height35 {
    line-height: 35px;
}
.wap2_product_two>h3 .color-highlight {
    color: #d8334a;
}

.wap2_product_two .font-15 {
    font-size: 15px;
}
.wap2_product_two .boxed-text-large{
    margin: 0 auto;padding-bottom: 30px;
}

.wap2_product_two .boxed-text-large {
    text-align: left;
}
.wap2_product_two .center-text{
    text-align: center;
    display: block;
    line-height: 26px;
}
.index_pro a{ width:calc(50% - 2px); float:left;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;text-decoration: none}
.index_proImg{width: 100%;position: relative;height: 0;padding-bottom: 75%;display: block}
.index_proImg img{position: absolute;top: 0;left: 0;width: 100%;max-height: 100%}
.index_pro h1{color: #333333; padding:5px 0px 15px;font-size: 14px;text-decoration: none}
.index_pro img{ border:1px solid #E4E4E4; border-radius:6px; }
.index_pro a:nth-child(3n+2){ padding-left:10px}
.index_pro a:nth-child(3n+1){ padding-right:10px}
.wap2_product_two{position: relative;width: 100%;padding-bottom: 10px;}
.wap2_product_two .swiper-pagination{width: 100%;left: 0;}
.wap2_product_two .swiper-pagination .swiper-pagination-bullet{width: 50px;height: 5px;margin: 0 5px;border-radius: 0;}
.swiper_productTwo{margin-bottom: 20px;}
.wap2_product_two .button,.wap2_product_two .button-round {
    color: #fff;
    height: 45px;
    line-height: 45px;
    margin: 0 10px 10px 0;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.wap2_product_two .button-s {

}
.wap2_product_two .button-round {
    border-radius: 40px!important;
}
.wap2_product_two .button-center-medium {
    width: 190px;
    margin: 0 auto;
    display: block;
}
.clear{ clear:both;}