.new_hjzf_product_three{margin-bottom: 30px;padding-top: 30px;}
.wap2_product_three{width: 100%;margin: auto;height: auto;}
.wap2_product_three .container{width: 90%;margin: auto}
.wap2_product_three__title{font-weight: 700;
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;text-align: center;
    color: #000000;margin-bottom: 20px;position: relative;
}
.wap2_product_three__title:before{content: '';display: table;width: 30px;height: 2px;background: #333;position: absolute;top: 30px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.gallery-top {

    width: 100%;
}
.wap2_product_three .index_proImg{width: 100%;}
.wap2_product_three .index_proImg img{width: 100%;height: auto}
.wap2_product_three .product_three-thumbs{width: calc(100% - 56px);margin: auto}

.wap2_product_three3__down{position: relative;width: 100%;margin: auto}
.wap2_product_three3__down .swiper-button-next,.wap2_product_three3__down .swiper-button-prev{background: #333;opacity: 1!important;outline:none;width: 24px;height: 100%;top: 50%;transform: translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform: translateY(-50%);margin-top: 0;}
.wap2_product_three3__down .swiper-button-next:after,.wap2_product_three3__down .swiper-button-prev:after{font-size: 16px;}
.wap2_product_three3__down .swiper-button-next{right: 0}
.wap2_product_three3__down .swiper-button-prev{left: 0}

.wap2_product_three .index_proImg_s img{width: 100%}

.product_three-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}