.new_hjzf_products__products{ padding:0 0 10px 0;color: #333;}
.new_hjzf_products__More{ float:right;font-size: 13px;}
.new_hjzf_products__title{ line-height:37PX; height:37px;padding: 0 10px;}
.new_hjzf_products__products_indexhotpro{padding: 10px;}
.new_hjzf_products__Products{ float:left;font-size: 24px;}
.new_hjzf_products__products_indexhotpro__product{ width:33%; float:left;}
.new_hjzf_products__products_indexhotpro__img{ width:90%; margin:0 5%; border:1px solid #e3e3e3;}
.new_hjzf_products__products_indexhotpro__txt{ padding:10px;}
.new_hjzf_products__products_indexhotpro__txt a{line-height: 20px;font-size: 16px; color:#333; text-decoration:none; text-align:center; display: block; width:100%;}