.new_hjzf_aboutus .hj-aboutus {width: 100%;max-width: 1920px;min-width: 1190px;height: auto;padding-top: 70px;padding-bottom: 70px;margin: auto;}
.new_hjzf_aboutus .HJ05-aboutus-box{height: 410px;}
.new_hjzf_aboutus .HJ05-aboutus-box-left{width: 600px;height: 410px;position: relative}
.new_hjzf_aboutus .HJ05-aboutus-box-right{width: 540px;height: 410px;}
.new_hjzf_aboutus .hj05-abus-title1{font-size: 14px;line-height: 26px;font-weight: 600;letter-spacing: 0;margin-bottom: 15px;}
.new_hjzf_aboutus .hj05-abus-title2{font-size: 30px;line-height: 50px;font-weight: 700;letter-spacing: 0px;margin-bottom: 15px;color: #333}
.new_hjzf_aboutus .hj05_abus_left_content{font-size: 16px;line-height: 28px;font-weight: normal;color: #626262;}
.new_hjzf_aboutus .index_abus_more{width: 160px;height: 50px;line-height: 50px;text-align: center;font-size: 16px;color: #fff;position: absolute;left: 0;bottom: 0;display: block}
.new_hjzf_aboutus .index_abus_more i{padding-left: 10px;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
.new_hjzf_aboutus .index_abus_more:hover i{padding-left: 15px;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
.new_hjzf_aboutus .hj05_abus_right_content{width: 100%;height: 100%;overflow: hidden}
.new_hjzf_aboutus .swiper-container-horizontal>.swiper-pagination-bullets{left: -20px;text-align: right}
.new_hjzf_aboutus .new_hjzf_aboutus_pagination .swiper-pagination-bullet{width: 10px;height: 10px;border: 1px solid #fff;opacity: 1;}

