.new_hjzf_aboutus-HJ04 .aboutUsLeft,.aboutUsRight{width: 50%;height: 430px;}
.new_hjzf_aboutus-HJ04 .aboutUsLeft{
    padding: 70px 80px;
    background: #EFF1F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.new_hjzf_aboutus-HJ04 .aboutUsTitle{
    font-size: 20px;
    color: #333;    
}
.new_hjzf_aboutus-HJ04 .aboutUsTips{
    font-size: 13px;
    color: #666;    
}
.new_hjzf_aboutus-HJ04 .aboutUsContent{
    font-size: 13px;
    line-height: 26px;
    color: #999;
    margin-top: 40px;
}
.new_hjzf_aboutus-HJ04 .aboutUsMore{
    display: block;    
    font-size: 15px;
    color: #555;
    margin-top: 25px;
}
/*.aboutUsMore::before{*/
/*content: "";*/
/*width: 40px;*/
/*height: 1px;*/
/*background: #555;*/
/*position: absolute;*/
/*top: 0;*/
/*}*/
.new_hjzf_aboutus-HJ04 .aboutUsRight{
    margin-top: 70px;
}
.new_hjzf_aboutus-HJ04 .aboutUsRight>img{width: 100%;height: 430px;}