#aboutus-7{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;padding: 64px 0 80px 0;}
.aboutus-7__container{width: 1200px;margin: auto;height: auto;}
.aboutus-7__title{width: 100%;text-align: center;font-size: 40px;line-height: 46px;font-weight: normal;}
.aboutus-7__gallery-thumbs{margin-top: 30px;margin-bottom: 80px;padding: 10px 0;}
.aboutus-7__thumbs_item{width: 220px;height: 90px;text-align: center;font-size: 16px;color: #333333;line-height: 90px;font-weight: bold;}
.aboutus-7__thumbs_item.swiper-slide-thumb-active{box-shadow: 2px 3px 7px #ccc;}


.aboutus-7__gallery-top{width: 1200px;height: 500px;}
.aboutus-7__gallery-top--left{width: 588px;height: 500px;float: left;}
.aboutus-7__gallery-top--right{width: 588px;height: 500px;float: right;padding-top: 30px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: relative;}
.aboutus-7__gallery-top--right__title{color: #333333;font-size: 32px;line-height: 40px;font-weight: bold;position: relative;padding-top: 60px;padding-bottom: 40px;}
.aboutus-7__gallery-top--right__title:before{content: '';display: inline-block;width: 80px;height: 6px;background: #cdaf69;position: absolute;top: 0;left: 0;}
.aboutus-7__gallery-top--right__context{font-size: 16px;color: #333333;line-height: 24px;font-weight: normal;}
.aboutus-7__gallery-top--right__more{width: 200px;height: 48px;border: 1px solid #cdaf69;line-height: 48px;text-align: center;font-size: 16px;color: #cdaf69;position: absolute;bottom: 0;left: 0;}
.aboutus-7__gallery-top--right__more:before{content: '';width: 0;height: 100%;position: absolute;left: 0;top: 0;z-index: -1;transition: 0.6s;-webkit-transition: 0.6s;-moz-transition: 0.6s;}
.aboutus-7__gallery-top--right__more:hover {color: #fff;}
.aboutus-7__gallery-top--right__more:hover:before{width: 100%;transition: 0.6s;-webkit-transition: 0.6s;-moz-transition: 0.6s;}
.aboutus-7__gallery-top .aboutus-7__gallery-top--left{transform: translateX(-20px);transition: 0.6s;}
.aboutus-7__gallery-top .ani-slide .aboutus-7__gallery-top--left{transform: translateX(0);transition: 0.6s;}
.aboutus-7__gallery-top .aboutus-7__gallery-top--right{transform: translateX(20px);transition: 0.6s;}
.aboutus-7__gallery-top .ani-slide .aboutus-7__gallery-top--right{transform: translateX(0);transition: 0.6s;}




