.new_hjzf_aboutus-HJ01{
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 430px;
    background-size: cover;
    padding-top: 70px;
}

.new_hjzf_aboutus-HJ01__container{
    width: 1190px;margin: auto;
}
.new_hjzf_aboutus-HJ01__ab_title {
    width: 1190px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .3s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .3s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.new_hjzf_aboutus-HJ01__ab_title h3 {
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px
}

.new_hjzf_aboutus-HJ01__ab_text {
    width: 740px;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


.new_hjzf_aboutus-HJ01__shuzi_box {
    width: 100%;
    margin: auto;
    text-align: center;
}

.new_hjzf_aboutus-HJ01__shuzi_box li {
    float: left;
    width: 25%;
}

.new_hjzf_aboutus-HJ01__shuzi_box li:last-child .abus_shuzibox {
    border-right-width: 0px !important;
}


.new_hjzf_aboutus-HJ01__abus_shuzibox {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    border-right-width: 2px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-right-color: rgba(255, 255, 255, 0.1) !important;
    border-right-style: solid !important;
}

.new_hjzf_aboutus-HJ01__count_shuzi {
    font-size: 70px;
    line-height: 75px;
    
}

.new_hjzf_aboutus-HJ01__count_shuzi_desc {
    font-size: 18px;
    line-height: 23px;
    
}