.new_hjzf_aboutus-HJ03 .module{padding-top: 70px;padding-bottom: 70px;height: 350px;}
.new_hjzf_aboutus-HJ03 #aboutus {width: 100%;max-width: 1920px;min-width: 1190px;height: auto;background: #f7f7f7}
.new_hjzf_aboutus-HJ03 .hj02_abus_left{width: 584px;height: 312px;overflow: hidden;float: left;}
.new_hjzf_aboutus-HJ03 #ab_picbox{width: 100%;height: 100%;position: relative}
.new_hjzf_aboutus-HJ03 .page_indexpic{float: left;	overflow: hidden;width: 100%;height: 100%;}
.new_hjzf_aboutus-HJ03 .page_indexpic ul {width: 1752px;height: auto;}
.new_hjzf_aboutus-HJ03 .page_indexpic ul li {list-style: none;float: left;background: #fff;text-align: center;width: 584px;height: 100%;}
.new_hjzf_aboutus-HJ03 #tip{position: absolute; height: 10px; width: auto; z-index: 2; bottom: 14px; right: 10px;}
.new_hjzf_aboutus-HJ03 #tip ul li{cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 10px;}
.new_hjzf_aboutus-HJ03 .hj02_abus_right{width: 533px;float: right;height: 312px;position: relative; margin-top: 30px;}
.new_hjzf_aboutus-HJ03 .hj02_abus_right_content{font-size: 14px;line-height: 26px;color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;}

.new_hjzf_aboutus-HJ03 #index_product_title_left1 p{font-size: 30px;line-height: 30px;color: #ffffff;display: inline-block;margin-right: 10px;}
.new_hjzf_aboutus-HJ03 .more-button{width:120px;height: 40px;overflow:hidden;color: transparent;border: none;position: absolute;box-sizing: border-box;text-indent: -40px;text-align: center;display: block;bottom: 10px;line-height: 40px;font-size: 14px;text-transform: uppercase; transition: all .36s ease;}
.new_hjzf_aboutus-HJ03 .more-button:after{
    content: "";
    width: 31px;
    height: 10px;
    background: url(../img/more_icon.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    transition: all .36s ease;
}
.new_hjzf_aboutus-HJ03 .index_product_title_left {
    width: 20%;
    float: left;
    box-sizing: border-box;
}
.new_hjzf_aboutus-HJ03 .more-button:hover:after{
    content: "";
    width: 31px;
    height: 10px;
    background: url(../img/more_icon.png) no-repeat -31px 0;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(104px,-50%,0);
    transform: translate3d(104px,-50%,0);
    transition: all .36s ease;
}

.new_hjzf_aboutus-HJ03 .swiper-pagination-bullet{
    margin-right: 10px;background: #000132;border: 1px solid #fff;opacity: 1;outline: none;
}


.new_hjzf_aboutus-HJ03 #index_product_title_left1 span{font-size: 14px;color: #bbb;line-height: 26px;display: inline-block;}

