#aboutus-9{width: 100%;min-width: 1200px;max-width: 1920px;height: 643px;margin: auto;padding-top: 80px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
#aboutus-9 .aboutus-9__container{width: 1200px;height: auto;margin: auto;}
.aboutus_9_main{
    width: 100%;margin: auto;
}
.aboutus_9_maintitle{ font-size: 48px; margin-bottom: 60px; line-height: 31.55px; font-weight: bold; letter-spacing: 2.4px;}
.aboutus_9_subtitle{font-size: 30px; color: #ffffff; height: 50px;letter-spacing: 1.5px;}
.aboutus-9__container{height: 650px;}
.aboutus_9_content{position: relative; width: 540px; height: 110px; line-height: 22px; display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:5;-webkit-box-orient:vertical;color: #ffffff;margin-bottom: 60px;}
.aboutus_9_menu_subtitle_box{
    float: left;
    width: 300px;
    height: 167px;
    text-align: center;
    background: #ffffff;
}
.menu_icon{
    background: #e5e5e5;
    width: 80px;
    height:80px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 36%;
    line-height: 80px;
}
.aboutus_9_menu_subtitle{
    font-size: 18px;
    letter-spacing: 0.9px;
}
.fa-building-o:before{
    line-height: 60px;
    color: #ffffff;
}
.aboutus_9_menu{overflow: hidden;}


.aboutus_9_content ul{width:2160px; position: absolute;left: 0;top: 0;}
.aboutus_9_content ul li{float: left; width: 540px; overflow: hidden; font-size: 16px; line-height: 28px; letter-spacing: 0.8px;}











