#aboutus-8{width: 100%;min-width: 1200px;max-width: 1920px;height:auto;margin: auto;padding-top: 70px;padding-bottom: 70px;}
.aboutus-8__container{width: 1200px;height: auto;margin: auto;}
.aboutus-8--left{width: 600px;float: left;height: auto}
.aboutus-8--left__title{font-size: 30px;color: #333333;line-height: 40px;font-weight: bold;padding-bottom: 30px;position: relative;margin-bottom: 40px;}
.aboutus-8--left__title:before{content: '';display: inline-block;width: 92px;height: 2px;position: absolute;bottom: 0;left: 0;background: #cdaf69;}
.aboutus-8--left__subtitle{padding-left: 30px;margin-bottom: 40px;font-size: 20px;line-height: 28px;color: #333333;font-weight: bold;}
.aboutus-8--left__content{font-size: 14px;line-height: 24px;color: #333333;font-weight: normal;padding-left: 30px;padding-right:50px;}
.aboutus-8--right{width: 600px;height: auto;float: right;}
.aboutus-8__shuzi_box{width: 100%;height: auto;justify-content: space-between;margin-bottom: 30px;}
.aboutus-8__shuzi_box li.aboutus-8__shuzi__item{text-align: center;}
.aboutus-8__shuzi_box li.aboutus-8__shuzi__item .count_shuzi{font-size: 60px;line-height: 70px;color: #06573c;font-weight: bold;}
.aboutus-8__shuzi_box li.aboutus-8__shuzi__item .count_shuzi_desc{font-size: 16px;line-height: 28px;color: #333333;font-weight: bold;}
.aboutus-8--right__img{width: 588px;height: 500px;}
.aboutus-8__more{width: 200px;height: 48px;display: block;margin: auto;border: 1px solid #cdaf69;text-align: center;line-height: 48px;font-size: 16px;color: #cdaf69;position: relative}
.aboutus-8__more span{position: relative;z-index: 99}
.aboutus-8__more:before{content: '';width: 0;height: 100%;position: absolute;left: 0;top: 0;transition: 0.6s;-webkit-transition: 0.6s;-moz-transition: 0.6s;}
.aboutus-8__more:hover span{color: #fff;}
.aboutus-8__more:hover:before{width: 100%;transition: 0.6s;-webkit-transition: 0.6s;-moz-transition: 0.6s;}













