.HJZF2_advantage17{
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 160px;
    height: auto;
    overflow: hidden;
}

.HJZF2_advantage17 .container {
    width: 1200px;
    height: auto;
    margin: auto;
}

.HJZF2_advantage17__title {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #3bad44;
    margin-bottom: 16px;
}
.HJZF2_advantage17__title_wai{display: inline-block;position: relative}

.HJZF2_advantage17__title span{
    background: #fff;padding: 0 15px;position: relative;display: inline-block;
}
.HJZF2_advantage17__title_wai:before{
    content: '';display: table;;width: 112%;height: 48px;border: 1px solid #b5b5b5;
    position: absolute;
    left: 50%;top: 13px;
    transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);
}
.HJZF2_advantage17__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #999999;
    margin-bottom: 30px;
    position: relative
}
.HJZF2_advantage17__subtitle span{
    background: #fff;padding: 0 20px;position: relative;display: inline-block;
}

.HJZF2_advantage17__content {
    width: 100%;
    margin: auto;
}
.HJZF2_advantage17__wrap{width: 100%;justify-content: space-between}
.HJZF2_advantage17__wrap>li{width: 400px;height: auto;}
.HJZF2_advantage17__wrap>li:first-child{padding-right: 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2_advantage17__wrap>li:last-child{padding-left: 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2_advantage17__wrap>li ul li{height: 120px;border-bottom: 1px solid #cccccc;padding-left: 28px;padding-right: 20px;padding-top: 40px;}
.HJZF2_advantage17__wrap>li ul li .HJZF2_advantage17__wrap__liImg{margin-right: 16px;}
.HJZF2_advantage17__wrap>li ul li .HJZF2_advantage17__wrap__name{font-size: 16px;font-weight: bold;line-height: 20px;margin-bottom: 10px;color: #3bad44;}
.HJZF2_advantage17__wrap>li ul li .HJZF2_advantage17__wrap__desc{font-size: 14px;font-weight: normal;line-height: 20px;color: #666666}

.HJZF2_advantage17__wrap>li.HJZF2_advantage17__wrap__liCenter{text-align: center;padding-top: 180px;position: relative;width: 384px;}
.HJZF2_advantage17__wrap__liCenter p{font-size: 16px;color: #fff;line-height: 20px;color: #fff;font-weight: bold;margin-bottom: 50px;position: relative;padding: 0 40px;}
.HJZF2_advantage17__wrap__liCenter p:before{content: '';display: table;width: 40px;height: 3px;background: #fff;position: absolute;top:40px;left: 50%;transform: translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform: translateX(-50%); }
.HJZF2_advantage17__wrap__liCenter div a{width: 140px;height: 38px;display: block;margin: auto;border: 1px solid #fff;border-radius: 20px;text-align: center;line-height: 38px;font-size: 14px;color: #fff;font-weight: normal;}
.HJZF2_advantage17__wrap__liCenter div a i{transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2_advantage17__wrap__liCenter div a:hover i{transform: translateX(8px);-moz-transform: translateX(8px);-webkit-transform: translateX(8px);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2_advantage17__wrap__liCenter img{position: absolute;bottom: -60px;left: -16px;}

