.HJZF2_advantage9{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;padding-top: 80px;padding-bottom: 80px;}
.HJZF2_advantage9 .container{width: 1190px;height:auto;margin: auto;}
.HJZF2_advantage9__gallery-top{width: 690px;height: 326px;float: left;margin-top: 60px;}
.JZF2_advantage9__content{width: 690px;height: 278px;padding: 15px 30px 30px 70px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;background: #fff;margin-top: 46px;position: relative;}
.JZF2_advantage9__content_pic{width: 140px;height: 140px;overflow: hidden;border-radius: 500px;-webkit-border-radius: 500px;-moz-border-radius: 500px;position: absolute;top: -45px;left: 80px;}
.JZF2_advantage9__content_title{padding-left: 170px;font-size: 16px;color: #333333;font-weight: bold;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-bottom: 20px;}
.JZF2_advantage9__content_subtitle{padding-left: 170px;font-size: 14px;line-height: 18px;color: #666666;font-weight: normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.JZF2_advantage9__content_desc{margin-top: 60px;font-size: 14px;line-height: 20px;color: #666666;font-weight: normal;}
.HJZF2_advantage9__gallery-thumbs{width: 380px;height: 430px;overflow: hidden;float: right;}
.HJZF2_advantage9__gallery-thumbs .swiper-slide{width: 382px;height: 130px;}
.JZF2_advantage9--right__content{width: 100%;height: 100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding: 28px 36px 28px 36px;background: #fff;justify-content: flex-start;align-items: center}
.JZF2_advantage9--right__content_pic{width: 70px;height: 70px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;overflow: hidden;margin-right: 20px;flex-basis:auto}
.JZF2_advantage9--right__content_pic img{width: 100%;height: 100%}
.JZF2_advantage9--right__text{width: 220px;}
.JZF2_advantage9--right__text .JZF2_advantage9--right__content_title{font-size: 16px;color: #333333;line-height: 20px;font-weight: bold;margin-bottom: 20px;}
.JZF2_advantage9--right__text .JZF2_advantage9--right__content_subtitle{font-size: 14px;color: #666666;line-height: 20px;font-weight: normal;}
.HJZF2_advantage9__gallery-top__button{float: left;margin-left: 44px;margin-top: 156px;width: 32px;height: 124px;background: rgba(255,255,255,0.6);border-radius: 30px;-moz-border-radius: 30px;-webkit-border-radius: 30px;position: relative;}
.HJZF2_advantage9__gallery-top__button .swiper-button-white{background-image: none;outline: none;text-align: center;}
.HJZF2_advantage9__gallery-top__button .swiper-button-white i{font-size: 22px;line-height: 44px;color:#7d7d7d;}
.HJZF2_advantage9__gallery-top__button .swiper-button-next{top: 80%;right: 2px;}
.HJZF2_advantage9__gallery-top__button .swiper-button-prev{top: 20%;left: 2px;}


