.new_hjzf_advantage-HJ03 .module{padding-top: 90px;padding-bottom: 90px;}
.new_hjzf_advantage-HJ03 #hj03_advantage{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;height: auto;}
.new_hjzf_advantage-HJ03 .hj03-adv-title{width: 100%;text-align: left;font-size: 24px;color: #333;font-weight: bold;line-height: 30px;}
.new_hjzf_advantage-HJ03 .hj03-adv-title2{width: 100%;text-align: left;font-size: 26px;color: #333;font-weight: bold;line-height: 30px;text-transform: uppercase;margin-bottom: 60px;}
.new_hjzf_advantage-HJ03 .hj03-adv-left,.hj03-adv-right{width: 320px;height: auto;}
.new_hjzf_advantage-HJ03 .hj03-adv-left{text-align: right;}
.new_hjzf_advantage-HJ03 .hj03-adv-right{text-align: left;}
.new_hjzf_advantage-HJ03 .hj03-adv-item{width: 258px;padding: 30px;background: transparent;margin-bottom: 50px;height: 134px;position: relative}
.new_hjzf_advantage-HJ03 .hj03-adv-item p.title{display: inline-block;transition: all .36s ease;color: #333;font-size: 16px;line-height: 30px;margin-bottom: 12px;}
.new_hjzf_advantage-HJ03 .hj03-adv-item p.item_des{display: inline-block;transition: all .36s ease;color: #333;font-size: 13px;line-height: 26px;color: #868585}

.new_hjzf_advantage-HJ03 .hj03-adv-left .hj03-adv-item .adv_icon{
        width: 78px;height: 80px;line-height: 80px;text-align: center;-moz-opacity:0;-khtml-opacity: 0;opacity: 0;filter:alpha(opacity=0);
        transition: all .5s cubic-bezier(.215,.61,.355,1) 0s;        
        font-size: 68px;
        color: #00468c;
        z-index: 1;
        position: absolute;
        left: 40px;
        top: -30px;}
.new_hjzf_advantage-HJ03 .hj03-adv-right .hj03-adv-item .adv_icon{
        width: 78px;height: 80px;line-height: 80px;text-align: center;-moz-opacity:0;-khtml-opacity: 0;opacity: 0;filter:alpha(opacity=0);
        transition: all .5s cubic-bezier(.215,.61,.355,1) 0s;       
        font-size: 68px;
        color: #00468c;
        z-index: 1;
        position: absolute;
        top: -30px;
        right: 40px;
    }
.new_hjzf_advantage-HJ03 .hj03-adv-item:after{content: '';display: table;width: 0;height: 1px;position: absolute;bottom: 30px;left: 30px;background: #333;transition: all .36s ease;}
.new_hjzf_advantage-HJ03 .hj03-adv-item:hover:after{width: 258px;transition: all .36s ease;}
.new_hjzf_advantage-HJ03 .hj03-adv-item:hover .adv_icon{-moz-opacity:1;-khtml-opacity: 1;opacity: 1;filter:alpha(opacity=100);}
.new_hjzf_advantage-HJ03 .hj03-adv-item:hover{background: #fff;box-shadow: 0 14px 50px -8px rgba(0,0,0,.12);}