.HJZF2_advantage16 {
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 70px;
    height: auto;
    overflow: hidden;
}

.HJZF2_advantage16 .container {
    width: 1200px;
    height: auto;
    margin: auto;
}

.HJZF2_advantage16__title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    line-height: 46px;
    color: #fff;

    margin-bottom: 58px;
}

.HJZF2_advantage16__subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
    position: relative
}

.HJZF2_advantage16__content {
    width: 100%;
    margin: auto;
}
.HJZF2_advantage16__content ul{justify-content : space-between;}
.HJZF2_advantage16__content ul li {
    border: 4px solid transparent;
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items:center;
}
.HJZF2_advantage16__content ul li p{
    margin: auto;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;color: #fff;line-height: 20px;
}
.HJZF2_advantage16__content ul li:before {
    content: '';
    display: table;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid #015bb3;
    transition: all 0.6 ease-in-out;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;
}
.HJZF2_advantage16__content ul li:after {
    content: '';
    display: table;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid white;
    border-top-color: transparent;
    transition: all 0.6 ease-in-out;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;
}
.HJZF2_advantage16__content ul li.HJZF2_advantage16__item1:after,.HJZF2_advantage16__content ul li.HJZF2_advantage16__item3:after,.HJZF2_advantage16__content ul li.HJZF2_advantage16__item5:after{
    border-right-color: transparent;transform: rotateZ(80deg);-moz-transform: rotateZ(80deg);-webkit-transform: rotateZ(80deg);
}
.HJZF2_advantage16__content ul li.HJZF2_advantage16__item2:after,.HJZF2_advantage16__content ul li.HJZF2_advantage16__item4:after,.HJZF2_advantage16__content ul li.HJZF2_advantage16__item6:after{
    transform: rotateZ(-20deg);-moz-transform: rotateZ(-20deg);-webkit-transform: rotateZ(-20deg);

}

.HJZF2_advantage16__content ul li:hover:after{
    transform: rotateZ(160deg);-moz-transform: rotateZ(160deg);-webkit-transform: rotateZ(160deg);
    transition: all 0.6 ease-in-out;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;
}
.HJZF2_advantage16__content ul li.HJZF2_advantage16__item2:hover:after,.HJZF2_advantage16__content ul li.HJZF2_advantage16__item4:hover:after,.HJZF2_advantage16__content ul li.HJZF2_advantage16__item6L:hover:after{
    transform: rotateZ(60deg);-moz-transform: rotateZ(60deg);-webkit-transform: rotateZ(60deg);
    transition: all 0.6 ease-in-out;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;
}