.new_hjzf_advantage-3HJ01__container{width: 1190px;margin: auto;height: auto;}
.new_hjzf_advantage-3HJ01__list li{float: left;width: 25%;height: 200px;text-align: center;padding-top: 20px;position: relative}
.new_hjzf_advantage-3HJ01__item{margin: 10px 20px 10px 20px;}
.new_hjzf_advantage-3HJ01__name{margin-bottom: 10px;color: #fff;font-size: 18px;line-height: 24px;font-weight: normal;}
.new_hjzf_advantage-3HJ01__name a{margin-top: 10px;color: #fff;font-size: 18px;line-height: 24px;font-weight: normal;}
.new_hjzf_advantage-3HJ01__span{width: 100%;text-align: center;margin-top: 56px;}
.new_hjzf_advantage-3HJ01__span span{width: 10px;height: 10px;border-radius: 50%;-moz-border-radius:50%;-webkit-border-radius:50%;background:#fff;display: inline-block;margin: 0 4px;}
.new_hjzf_advantage-3HJ01__list li:before{
    content: '';display: table;width: 1px;height: 160px;position: absolute;left: 0;top: 30px;background: rgba(255,255,255,0.2);
}
.new_hjzf_advantage-3HJ01__list li:first-child:before,.new_hjzf_advantage-3HJ01__list li:nth-child(5):before{display: none}
.new_hjzf_advantage-3HJ01__list li:first-child:after, .new_hjzf_advantage-3HJ01__list li:nth-child(3):after,.new_hjzf_advantage-3HJ01__list li:nth-child(2):after,.new_hjzf_advantage-3HJ01__list li:nth-child(4):after{
    content: '';display: table;width: 252px;height: 1px;position: absolute;left: 22px;bottom: 0;background: rgba(255,255,255,0.2);
}
.new_hjzf_advantage-3HJ01__list li{transform: perspective(400px);}
.new_hjzf_advantage-3HJ01__list li:hover .new_hjzf_advantage-3HJ01__pic img{transform: rotateY(360deg);-webkit-transform: rotateY(360deg);-moz-transform: rotateY(360deg);transition: .6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.new_hjzf_advantage-3HJ01 .new_hjzf_advantage-3HJ01__title {
    width: 1190px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .3s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .3s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.new_hjzf_advantage-3HJ01 .new_hjzf_advantage-3HJ01__p {
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px
}