.HJZF2_advantage10{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;padding-top: 40px;padding-bottom: 68px;overflow: hidden;}
.HJZF2_advantage10 .container{width: 1200px;height: auto;margin: auto;}
.HJZF2_advantage10__title{width: 100%;text-align: center;font-size: 30px;line-height:36px;color: #ffffff;font-weight: bold;margin-bottom: 10px;}
.HJZF2_advantage10__subtitle{width: 100%;text-align: center;font-size: 14px;line-height:24px;color: #ffffff;font-weight: normal;}
.HJZF2_advantage10__content{margin:auto;margin-top: 30px;}
.HJZF2_advantage10__wrap{width: 100%;margin: auto;justify-content:space-between;}
.HJZF2_advantage10__item{background: #fff;width: 286px;height: auto;text-align: center;position: relative;}
.HJZF2_advantage10__item--before{width: 100%;height: 100%;padding-top: 14px;padding-bottom: 24px;position: relative;z-index: 3;}
.HJZF2_advantage10__item--before__img{margin-bottom: 20px;}
.HJZF2_advantage10__item--before__title{font-size: 16px;line-height: 24px;font-weight: bold;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;margin-bottom: 10px;}
.HJZF2_advantage10__item--before__desc{font-size: 14px;line-height: 24px;font-weight: normal;color: #666;padding: 0 20px;overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;}


.HJZF2_advantage10__item--after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding:50px 18px 24px;text-align: left;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
    transform: rotate3d(1,0,0,90deg);transform-origin: 50% 50% -180px;transition: 0.6s ease-in;z-index: 4;
}
.HJZF2_advantage10__item--after__title{font-size: 16px;color: #fff;line-height: 24px;font-weight: bold;margin-bottom: 36px;position: relative}
.HJZF2_advantage10__item--after__title:before{content: '';display: table;width: 40px;height: 3px;background: #fff;position: absolute;bottom: -18px;}
.HJZF2_advantage10__item--after__desc{font-size: 14px;color: #fff;line-height: 24px;font-weight: normal;}
.HJZF2_advantage10__item:hover{
    perspective: 500;-webkit-perspective: 500;
}
.HJZF2_advantage10__item:hover .HJZF2_advantage10__item--after{
    transform-origin: 50% 50% -180px;transform: rotate3d(1,0,0,0deg);transition: 0.6s ease-in;z-index: 4;
}

@keyframes advantage-after-active  {
    
}









