.HJZF2_advantage15{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;padding-top: 60px;height:480px;overflow: hidden;}
.HJZF2_advantage15 .container{width: 1200px;height: auto;margin: auto;}
.HJZF2_advantage15__title{text-align: center;font-size: 42px;font-weight: bold;line-height: 46px;color: #fff;margin-bottom: 15px;}
.HJZF2_advantage15__subtitle{text-align: center;font-size: 24px;font-weight: normal;line-height: 30px;color: #fff;margin-bottom: 58px;position: relative}
.HJZF2_advantage15__content{width: 100%;margin: auto;}
.HJZF2_advantage15__content ul{justify-content : space-between;}
.HJZF2_advantage15__content ul li{width: 224px;background: #fff;}
.HJZF2_advantage15__content ul li .HJZF2_advantage15__itemImg{width: 224px;height: 146px;overflow: hidden;position: relative}
.HJZF2_advantage15__content ul li .HJZF2_advantage15__itemImg img{width: 100%;height: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2_advantage15__content ul li .HJZF2_advantage15__itemImg .HJZF2_advantage15__itemName{position: absolute;bottom: 0;left: 0;height: 27px;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowraptext-align: center;background: rgba(0,0,0,0.5);}
.HJZF2_advantage15__content ul li .HJZF2_advantage15__itemImg .HJZF2_advantage15__itemName a{display: block;width: 100%;height: 100%;font-size: 14px;color: #fff;line-height: 27px;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.HJZF2_advantage15__content ul li .HJZF2_advantage15__itemDesc{width: 100%;height: 90px;padding: 15px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-shadow: 2px 4px 9px #dfdfdf;font-size: 14px;color: #333333;line-height: 24px;font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.HJZF2_advantage15__content ul li:hover .HJZF2_advantage15__itemImg img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}

