.new_hjzf_advantage .hj-advantage{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;}
.new_hjzf_advantage .HJ05-advantage-box{min-height: 634px;padding-top: 70px;padding-bottom: 70px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box}
.new_hjzf_advantage .HJ05-advan-title{text-align: center;margin-bottom: 35px;}
.new_hjzf_advantage .HJ05-advan-title .ttwrap {display: inline-block;position: relative;text-transform: uppercase;font-size: 30px;color: #ffffff;font-weight: 600;padding: 9.5px 45px;background: #fdb819;z-index: 2;}
.new_hjzf_advantage .HJ05-advan-title:before {content: " ";position: relative;display: table;margin: auto;width: 600px;top: 22px;border-bottom: 1px solid #cccccc;}
.new_hjzf_advantage .HJ05-advan-title:after {content: " ";position: relative;bottom: 22px;display: table;margin: auto;width: 800px;border-bottom: 1px solid #cccccc;z-index: 0;}
.new_hjzf_advantage .HJ05-advan-title .ttwrap:before {content: " ";width: 20px;left: -20px;height: 100%;top: 0;position: absolute;background: linear-gradient(to bottom right, transparent 0%,transparent 47%,#fdb819 52%,#fdb819 100%);}
.new_hjzf_advantage .HJ05-advan-title .ttwrap:after {content: " ";width: 20px;right: -20px; height: 100%;top: 0;position: absolute;background: linear-gradient(to top left, transparent 0%,transparent 47%,#fdb819 52%,#fdb819 100%);}
.new_hjzf_advantage .HJ05-advan-title_2{font-size: 16px;line-height: 24px;color: #666666;font-weight: normal;text-align: center;margin-bottom: 50px;}
.new_hjzf_advantage .HJ05-advan-content-item{width: 33.333%;float: left;padding-right: 15px;padding-left: 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;;transition: .6s;-webkit-transition: .6s;-moz-transition: .6s;}
.new_hjzf_advantage .HJ05-advan-item{flex-direction: row;}
.new_hjzf_advantage .HJ05-advan-item .num {position: relative;padding:0 14px;height: 40px;line-height: 40px;text-align: center;display: inline-block;font-size: 24px;color: #ffffff;background: #001327; margin-right: 35px;transition: all 0.3s ease-out 0s;-webkit-transition: all 0.3s ease-out 0s;}
.new_hjzf_advantage .HJ05-advan-item .num:before{content: "";position: absolute;left: -5px;width: 5px;height: 40px;background: linear-gradient(to bottom right, transparent 0%,transparent 43%,#001327 56%,#001327 100%);}
.new_hjzf_advantage .HJ05-advan-item .num:after{content: "";position: absolute;right: -5px;width: 5px;height: 40px;background: linear-gradient(to top left, transparent 0%,transparent 43%,#001327 56%,#001327 100%);}
.new_hjzf_advantage .content-wrap .desc-title{font-weight: 500;font-size: 24px;margin-bottom: 20px;line-height: 24px;color: #001327;transition: all 0.3s;}
.new_hjzf_advantage .content-wrap .desc-line {color: #666666;max-width: 265px;}
.new_hjzf_advantage .HJ05-advan-content-item .HJ05-advan-item:nth-child(1){margin-top: 29px;margin-bottom: 98px;}
.new_hjzf_advantage .HJ05-advan-item:hover .content-wrap .desc-title{margin-left: 10px;transition: all 0.3s;}
.new_hjzf_advantagev .HJ05-advan-content-item.center img{transition: .6s;-webkit-transition: .6s;-moz-transition: .6s;}
.new_hjzf_advantage .HJ05-advan-content-item.center:hover img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px) ;
        transform: translateX(8px) ;
    }

    33.3% {
        -webkit-transform: translateX(-6px) ;
        transform: translateX(-6px) ;
    }

    49.95% {
        -webkit-transform: translateX(4px) ;
        transform: translateX(4px) ;
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px) ;
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px) ;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.new_hjzf_advantage .hvr-wobble-horizontal {display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px rgba(0,0,0,0);}
.new_hjzf_advantage .hvr-wobble-horizontal:hover,.new_hjzf_advantage .hvr-wobble-horizontal:focus,.new_hjzf_advantage .hvr-wobble-horizontal:active {-webkit-animation-name: hvr-wobble-horizontal;animation-name: hvr-wobble-horizontal;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-timing-function: ease-in-out;animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;animation-iteration-count: 1}