.HJZF2_advantage14{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;padding-top: 40px;height:700px;overflow: hidden;}
.HJZF2_advantage14 .container{width: 1200px;height: auto;margin: auto;}
.HJZF2_advantage14__title{text-align: center;font-size: 30px;font-weight: normal;line-height: 46px;color: #333333;margin-bottom: 15px;}
.HJZF2_advantage14__subtitle{text-align: center;font-size: 20px;font-weight: normal;line-height: 30px;color: #333333;margin-bottom: 40px;position: relative}
.HJZF2_advantage14__content{width: 100%;margin: auto;}

.HJZF2_advantage14__content .HJZF2_advantage14__options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 1200px;
    width: 100%;
    height: 450px;
}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option {
    position: relative;
    overflow: hidden;
    min-width: 150px;
    background-size: 750px auto;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    color: #fff;
}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option .HJZF2_advantage14__options__ce{position: relative;}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option .HJZF2_advantage14__options__ce .HJZF2_advantage14__options__ceName{position: absolute;top: 295px;font-size: 24px;font-weight: bold;line-height: 30px;color: rgba(255,255,255,0.8)}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option .HJZF2_advantage14__options__ce .HJZF2_advantage14__options__ceNum{position: absolute;top: 340px;font-size: 24px;font-weight: bold;line-height: 30px;color: rgba(255,255,255,0.8)}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active {
    flex-grow: 10000;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active .HJZF2_advantage14__options__ce{display: none;}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active .HJZF2_advantage14__options--big{position: relative;}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active .HJZF2_advantage14__options--big p{position: absolute;top: 295px;transition: 0.6s;}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active .HJZF2_advantage14__options--big p span{font-size: 24px;color: #fff;line-height: 30px;font-weight: bold;margin-right: 12px;}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active .HJZF2_advantage14__options--big .HJZF2_advantage14__options--big__desc{font-size: 14px;color: #fff;line-height: 20px;font-weight: normal;position: absolute;top: 340px;padding-right: 20px;opacity: 0;
    width: 400px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active>div {
    z-index: 1;
}




.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option:not(.active) {
    flex-grow: 1;
}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option:not(.active) .HJZF2_advantage14__options--big{display: none;}



.HJZF2_advantage14__content .HJZF2_advantage14__options .optHJZF2_advantage14__optionion:not(.active):hover {
    filter: grayscale(0%);
}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option:not(.active):hover>div:before {
    background: rgba(2, 24, 31, 0.5);
}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option:not(.active)>div:before {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
    box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.HJZF2_advantage14__content .HJZF2_advantage14__options .HJZF2_advantage14__option.active .HJZF2_advantage14__options--big .HJZF2_advantage14__options--big__desc {
    left: 0px;
    opacity: 1;
    margin-top: 1.5rem;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s;
}





