/*banner*/
.new_hjzf_banner-HJ04 #btn_prev,#btn_next{
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    -webkit-transition: all .36s;-moz-transition: all .36s;-o-transition: all .36s;transition: all .36s;
}
.new_hjzf_banner-HJ04 #btn_prev{
    left: 0;
}
.new_hjzf_banner-HJ04 #btn_next{
    right: 0;
}

/*.new_hjzf_banner-HJ04{
    margin-top: 88px;
}*/

.new_hjzf_banner-HJ04 .page_Banner{margin-top: 70px;overflow: hidden;}
.new_hjzf_banner-HJ04 .bannerOneImg{height: 776px;}
.new_hjzf_banner-HJ04 .main_image,.main_image ul,.main_image ul li,.main_image ul li span{display:block;width: 100%;height: 776px;}





.new_hjzf_banner-HJ04 .swiper-button-prev, .new_hjzf_banner-HJ04 .swiper-button-next{
    width: 56px!important;
    height: 56px!important;
    line-height: 56px!important;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    -webkit-transition: all .36s;-moz-transition: all .36s;-o-transition: all .36s;transition: all .36s;
    background-image: none!important;
}
.new_hjzf_banner-HJ04 .swiper-button-prev{
    left: 0!important;
}
.new_hjzf_banner-HJ04 .swiper-button-next{
    right: 0!important;
}
.new_hjzf_banner-HJ04 .prevImgContainer,.nextImgContainer{
    width: 130px;
    height: 56px;
    position: absolute;
    top: 0;
    display: none;
}
.new_hjzf_banner-HJ04 .nextImgContainer{
    right: 56px;
}
.new_hjzf_banner-HJ04 .prevImgContainer{
    left: 56px;
}
.new_hjzf_banner-HJ04 .prevImgContainer img,.nextImgContainer img{
    width: 100%;
    height:100%;
}
.new_hjzf_banner-HJ04 .bannerContainer{
    width: 100%;
    /*height: 776px;*/
    overflow: hidden;
    position: relative;
}
.new_hjzf_banner-HJ04 .bannerList a{
    display: block;
}
.new_hjzf_banner-HJ04 .bannerList a img{
    width: 100%;
    height: 100%;
}
.hjzf_banner-HJ04_searchwrap{width: 100%;height: 48px;background: rgba(0,0,0,0.5);position: absolute;bottom: 0;left: 0;z-index: 9;display: none;}
.hjzf_banner-HJ04_searchwrap .container{width: 1200px;height: 100%;margin: auto;}
.hjzf_banner-HJ04_keywords{width: 950px;float: left;overflow: hidden;line-height: 48px;color: #ffffff;font-size: 14px;}
.hjzf_banner-HJ04_keywords a{color: #fff;font-size: 14px;line-height: 48px;}
.hjzf_banner-HJ04_search{width: 250px;float: right;}
.hjzf_banner-HJ04_search_box{width: 100%;overflow: hidden;margin-top: 6px;}
.hjzf_banner-HJ04_search_box li{list-style-type: none;float: left;}
.hjzf_banner-HJ04_search_box .search_first{width: 200px;height: 35px;}
.hjzf_banner-HJ04_search_box .search_first input{width: 190px;padding-left: 10px;border: none;height: 35px;}
.hjzf_banner-HJ04_search_box .search_second{width: 50px;height: 35px;}
.hjzf_banner-HJ04_search_box .search_second button{width: 50px;height: 35px;border: none;outline: none;text-align: center;line-height: 35px;position: relative}
.hjzf_banner-HJ04_search_box .search_second button:before{content:'\f002';display:table;color: #fff;font-size: 16px;font-family: 'FontAwesome';position: absolute;left: 16px;top: 0;}
