.new_hjzf_banner-HJ02 .HJ02-banner1-box {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 500px;
    margin: auto;
    position: relative;
    margin-bottom: 120px;
}

.new_hjzf_banner-HJ02 #HJ02-banner1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.new_hjzf_banner-HJ02 .hj02-banner1-prev{width: 50px!important;height: 50px!important;background-image: none!important;background: rgba(0,0,0,0.5);text-align: center;left:-50px!important;transition: all 0.6s;}
.new_hjzf_banner-HJ02 .hj02-banner1-next{width: 50px!important;height: 50px!important;background-image: none!important;background: rgba(0,0,0,0.5);text-align: center;right: -50px!important;transition: all 0.6s;}
.new_hjzf_banner-HJ02 .hj02-banner1-prev i,.new_hjzf_banner-HJ02 .hj02-banner1-next i{font-size: 20px;color: #fff;line-height: 50px;}

.new_hjzf_banner-HJ02 #HJ02-banner1:hover .hj02-banner1-prev{left: 0!important;transition: all 0.6s;}
.new_hjzf_banner-HJ02 #HJ02-banner1:hover .hj02-banner1-next{right: 0!important;transition: all 0.6s;}
.new_hjzf_banner-HJ02 .hj02-banner1-pagination{bottom: 24px;}
.new_hjzf_banner-HJ02 .swiper-pagination-bullet{width: 10px;height: 10px;opacity: 0.5!important;}
.new_hjzf_banner-HJ02 .HJ02-banner1-box_other {
    width: 100%;
    height: 186px;
    position: absolute;
    bottom: -93px;
    left: 0;
    z-index: 9;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul {
    display: flex;
    justify-content: space-between;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul div {
    justify-content: space-between;
    float: left;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul li {
    display: flex;
    width: 380px;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 186px;
    border: 1px solid #D6D6D6;
    transition: .6s;
    -webkit-transition: .6s;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul li p, .new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul li h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul li p img:nth-child(2){
    position: absolute;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);z-index: -1;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other h4 {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-weight: bold;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other h4 a {
    position: relative;
    display: inline-block
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul li h4 a:before {
    content: '';
    width: 0;
    height: 2px;
    display: table;
    position: absolute;;
    bottom: -2px;
    left: 50%;
    transition: .6s;
}

.new_hjzf_banner-HJ02 .HJ02-banner1-box_other ul li:hover {
    transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transition: .6s;
    -webkit-transition: .6s;
}