.page_Banner2{
    width: 100%;
    margin: 0 auto;
    min-width: 1190px;
    max-height: 670px;
    margin-top: 125px;
}
.page_Banner2_box{
    width:100% !important;
    position:relative;
    padding:0;
    height:100%;
    overflow:hidden;
}

