.HJZF2__bottom-10{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;padding-top: 35px;background: #333333;margin: auto;}
.HJZF2__bottom-10 .container{width: 1200px;height: auto;margin: auto;}
.HJZF2__bottom-10 .HJZF2__bottom-10_nav{width: 100%;margin-bottom: 30px;}
.HJZF2__bottom-10 .HJZF2__bottom-10_nav>li{float: left;margin-right: 80px;}
.HJZF2__bottom-10 .HJZF2__bottom-10_nav>li>a>h2{font-size: 18px;color: #fff;line-height: 30px;font-weight: normal;margin-bottom: 18px;}
.HJZF2__bottom-10 .HJZF2__bottom-10_nav>li>ul>li>a>h3{font-size: 14px;line-height: 30px;color: #808080;font-weight: normal;}
.bottom-10__contact{width: 320px;}
.bottom-10__contact li,.bottom-10__contact li a{font-size: 14px;line-height: 30px;color: #808080;font-weight: normal;}
.bottom-10__contact ul{padding-left: 15px;}
.bottom-10__contact ul li{position: relative;}
.bottom-10__contact ul li i{position: absolute;left: -15px;font-size: 14px;line-height: 30px;color: #808080;font-weight: normal;}



/*
.HJZF2__bottom-10__contactlist{justify-content: space-between;margin-bottom: 30px;}
.HJZF2__bottom-10__contactlist li{padding-left: 20px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;font-size: 16px;color: #fff;line-height: 24px;font-weight: normal;width: 33.3%;}
.HJZF2__bottom-10__contactlist li:first-child{margin-right: 10%}
.HJZF2__bottom-10__contactlist li:nth-child(2){width: 23.3%}
.HJZF2__bottom-10__contactlist li a{color: #fff}
.HJZF2__bottom-10__contactlist li img{position: relative;left: -20px;}
.HJZF2__bottom-10_xian{width: 100%;height: 1px;border-top: 1px solid #4c4c4c;margin-bottom: 30px;}*/
.HJZF2__bottom-10__copyright{width: 100%;border-top: 1px solid #4e4e4e;padding: 15px 0;text-align: center;}
.HJZF2__bottom-10__copyright,.HJZF2__bottom-10__copyright a{font-size: 14px;color: #808080;line-height: 25px;font-weight: normal;position: relative;}
.HJZF2__bottom-10__share{position: absolute;right: 0;align-items:center;top: 5px;}
.HJZF2__bottom-10__share li{transition: 0.6s;float:left;width: 46px;height: 46px;border: 1px solid #808080;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;line-height: 46px;text-align: center;color: #808080;font-size: 20px;margin: 0 8px;}
.HJZF2__bottom-10__share li i{font-size: 23px;line-height: 46px;}
.HJZF2__bottom-10__share li:hover{transform: translateY(-5px);-moz-transform: translateY(-5px);-webkit-transform: translateY(-5px);transition: 0.6s;}
