.new_hjzf_bottom .hj-bottom{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;}
.new_hjzf_bottom .HJ05-bottom{padding-top: 70px;padding-bottom: 15px;}
.new_hjzf_bottom .HJ05_bottom_list{width: 100%;margin: auto;margin-bottom: 30px;}
.new_hjzf_bottom .HJ05_bottom_list li.hj-bottom-item{float: left;}
.new_hjzf_bottom .hj-bottom_nav,.new_hjzf_bottom .hj-bottom_class,.new_hjzf_bottom .hj-bottom_contact,.new_hjzf_bottom .hj-bottom_share{width: 306px;margin-right: 36px}
.new_hjzf_bottom .hj-bottom_share{margin-right: 0;width: 160px;}
.new_hjzf_bottom .hj-bottom-item>p{font-size: 23px;color: #ffffff;margin-bottom: 40px;font-weight: 500;}
.new_hjzf_bottom .hj-bottom-item ul li{margin-bottom: 15px;padding-left: 15px;position: relative}
.new_hjzf_bottom .hj-bottom-item ul li:before{content: '\f0da';font-family: FontAwesome;font-size: 16px;position: absolute;left: 0;top: 2px;color: #ccc;}
.new_hjzf_bottom .hj-bottom-item ul li a h2{color: #ccc;font-size: 16px;font-weight: 400;line-height: 24px;display: inline-block;}
.new_hjzf_bottom .hj-bottom-item ul li a h3{color: #ccc;font-size: 16px;font-weight: 400;line-height: 24px;display: inline-block;}
.new_hjzf_bottom .hj-bottom_contact ul li:before{content: '';display: none;}
.new_hjzf_bottom .hj-bottom_contact ul li{padding-left: 0;color: #ccc;font-size: 16px;font-weight: 400;line-height: 24px;}
.new_hjzf_bottom .hj-bottom_contact ul li a{color: #ccc;font-size: 16px;font-weight: 400;line-height: 24px;}
.new_hjzf_bottom .hj-bottom_contact ul li i{margin-right: 6px;min-width: 16px;}
.new_hjzf_bottom .hj-copy{text-align: center}
.new_hjzf_bottom .hj-copy,.new_hjzf_bottom .hj-copy a{color: #ccc;font-size: 16px;font-weight: 400;line-height: 24px;}
.new_hjzf_bottom .hj-bottom-item ul li:hover a h2,.new_hjzf_bottom .hj-bottom-item ul li:hover a h3,.new_hjzf_bottom .hj-bottom_contact ul li:hover a{text-decoration: underline}
.new_hjzf_bottom .friendlink{ padding:15px 0 0 0;}
.new_hjzf_bottom .link span{color: #ccc; line-height:24px; font-size: 16px;}
.new_hjzf_bottom .link a{ color:#ccc;}

.hj-bottom_share_share{margin-top: 20px;}
.hj-bottom_share_share div{display: inline-block;width: 32px;height: 32px;}
