.HJ02_bottom {
    width: 100%;
    min-width: 1190px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 16px;
}
.hj02_bottom_list{width: 100%;}
.hj02_bottom_list>li{float: left;}
.hj02_bottom_nav{width: 280px;margin-right: 20px;}
.hj02_bottom_class{width: 285px;margin-right: 20px;}
.hj02_bottom_contact{width: 285px;margin-right: 100px;}
.hj02_bottom_share{width: 160px;}
.hj02_bottom_list>li>p{font-size: 24px;color: #FFFFFF;letter-spacing: 0;line-height: 35px;margin-bottom: 10px;color: #fff}
.hj02_bottom_nav nav li{padding-left: 20px;}
.hj02_bottom_nav nav li a h2{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal;display: inline-block;}
.hj02_bottom_class ul li{padding-left: 20px;}
.hj02_bottom_class ul li a h3{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal;display: inline-block;}
.hj02_bottom_contact ul li{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal;}
.hj02_bottom_contact ul li a{font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height: 34px;font-weight: normal}
.hj02_bottom_contact ul li:hover a{text-decoration: underline;font-weight: bold}
.hj02-copy{font-size: 14px;line-height: 20px;color: #9E9E9E;border-top: 1px solid #2D2D35;padding-top: 20px;margin-top: 20px;}
.hj02-copy a{color:#9E9E9E}
.hj02-copy a:hover{text-decoration: underline}