.HJZF2__bottom-9{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;padding-top: 35px;background: #333333;padding-bottom: 30px;margin: auto;}
.HJZF2__bottom-9 .container{width: 1200px;height: auto;margin: auto;}
.HJZF2__bottom-9__contactlist{justify-content: space-between;margin-bottom: 30px;}
.HJZF2__bottom-9__contactlist li{padding-left: 20px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;font-size: 16px;color: #fff;line-height: 24px;font-weight: normal;width: 33.3%;}
.HJZF2__bottom-9__contactlist li:first-child{margin-right: 10%}
.HJZF2__bottom-9__contactlist li:nth-child(2){width: 23.3%}
.HJZF2__bottom-9__contactlist li a{color: #fff}
.HJZF2__bottom-9__contactlist li img{position: relative;left: -20px;width: 25px;height: 25px;}
.HJZF2__bottom-9_xian{width: 100%;height: 1px;border-top: 1px solid #4c4c4c;margin-bottom: 30px;}
.HJZF2__bottom-9__copyright{width: 100%;padding-right: 34%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2__bottom-9__copyright,.HJZF2__bottom-9__copyright a{font-size: 14px;color: #fff;line-height: 25px;font-weight: normal;position: relative;}
.HJZF2__bottom-9__share{position: absolute;right: 0;align-items:center;top: 5px;}
.HJZF2__bottom-9__share li{transition: 0.6s;float:left;width: 46px;height: 46px;border: 1px solid #fff;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;line-height: 46px;text-align: center;color: #fff;font-size: 20px;margin: 0 8px;}
.HJZF2__bottom-9__share li i{font-size: 23px;line-height: 46px;}
.HJZF2__bottom-9__share li:hover{transform: translateY(-5px);-moz-transform: translateY(-5px);-webkit-transform: translateY(-5px);transition: 0.6s;}
