.HJZF2__bottom-8{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;padding-top: 35px;background: #333333;padding-bottom: 30px;margin: auto;}
.HJZF2__bottom-8 .container{width: 1200px;height: auto;margin: auto;}
.HJZF2__bottom-8__contactlist{justify-content: space-between;margin-bottom: 30px;}
.HJZF2__bottom-8__contactlist li{padding-left: 20px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;font-size: 16px;color: #fff;line-height: 24px;font-weight: normal;}
.HJZF2__bottom-8__contactlist li a{color: #fff}
.HJZF2__bottom-8__contactlist li img{position: relative;left: -20px;}
.HJZF2__bottom-8_xian{width: 100%;height: 1px;border-top: 1px solid #4c4c4c;margin-bottom: 30px;}
.HJZF2__bottom-8__copyright,.HJZF2__bottom-8__copyright a{font-size: 14px;color: #fff;line-height: 25px;font-weight: normal;position: relative;}
.HJZF2__bottom-8__copyright__ewm{position: absolute;right: 0;align-items:center;top: -16px;}
.HJZF2__bottom-8__friendlink .HJZF2__bottom-8__link{text-align: left; padding:5px 0;}
.HJZF2__bottom-8__friendlink .HJZF2__bottom-8__link a,.HJZF2__bottom-8__friendlink .HJZF2__bottom-8__link span{color: #888;}

