.HJ03_bottom{width: 100%;min-width: 1190px;max-width: 1920px;height: auto;padding-top: 70px;background: #2b2b2b;padding-bottom: 10px;}
.hj03-bottom-header{float: left;}
.hj03-bottom-header .hj03-bottom-title{font-size: 24px;line-height: 30px;color: #fff;}
.hj03-bottom-header .hj03-bottom-title2{color: #999;font-size: 14px;line-height: 26px;}
.hj03-bottom-contactlist{width: 916px;float: right;}
.hj03-bottom-contactlist ul li{width: 252px;padding-left: 50px;float: left;height: auto;line-height: 24px;font-size: 13px;color: #999;text-align: left}
.hj03-bottom-contactlist ul li:nth-child(3){padding-right: 0;}
.hj03-bottom-contactlist ul li:nth-child(6){padding-right: 0;}
.hj02-copy,.hj02-copy a{margin-top: 10px;font-size: 13px;color: #999;line-height: 24px;text-align: center}