.HJ03_bottom-2{width: 100%;min-width: 1190px;max-width: 1920px;height: auto;padding-top: 36px;background: #2b2b2b;padding-bottom: 10px;margin: auto;}
.HJ03_bottom-2-item{margin-right: 100px;}
.HJ03_bottom-2-item>h3{font-size: 16px;line-height: 26px;color: #fff;margin-bottom: 20px;}
.HJ03_bottom-2-item:first-child ul{width: 200px;}
.HJ03_bottom-2-item:first-child ul li{width: 50%;display: inline-block;}
.HJ03_bottom-2-item:first-child ul li a h2{font-size: 14px;line-height: 26px;color: #888;font-weight: normal}
.HJ03_bottom-2-item:nth-child(2) ul{width: 620px;}
.HJ03_bottom-2-item:nth-child(2) ul li{width: 50%;line-height: 26px;float: left;}
.HJ03_bottom-2-item:nth-child(2) ul li a h2{font-size: 14px;line-height: 26px;color: #888;font-weight: normal}
.hj02-copy,.hj02-copy a{margin-top: 10px;font-size: 13px;color: #888;line-height: 24px;text-align: center}

.HJ03_bottom-2-item img{
    width: 120px;
    height: 120px;
}
.friendlink .link{text-align: center;}
.friendlink .link a,.friendlink .link span{color: #888;}