.HJZF2__case12{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;height: 618px;position: relative;}
.HJZF2__case12 .container{width: 1200px;margin: auto;}
.HJZF2__case12__left{width: 636px;float: left;padding-top: 60px;}
.HJZF2__case12__leftTitle{font-size: 20px;color: #333333;line-height: 24px;font-weight: normal;margin-bottom: 30px;}
.case12-gallery-topWrap{height: 206px;position: relative;margin-bottom: 8px;}
.case12-gallery-top{width: 637px;margin: auto;position: absolute;top: 0;z-index: 2;left: 0;}
.case12-gallery-top .swiper-slide{padding: 40px;background: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;width: 100%;}
.case12-gallery-top__name{font-size: 16px;color: #333333;line-height: 20px;margin-bottom: 14px;}
.case12-gallery-top__desc{font-size: 14px;line-height: 20px;color: #666666;font-weight: normal;height: 76px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: keep-all;}
.case12-gallery-thumbs{width: 590px;float: left;clear: right;}
.case12-gallery-thumbs .case12-gallery-thumbsImg{width: 100%;}
.case12-gallery-thumbs .case12-gallery-thumbsImg img{width: 100%;}
.case12-gallery-thumbsName{width: 100%;padding: 10px 17px 15px;background: #fff;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.case12-gallery-thumbsName a{font-size: 18px;font-weight: bold;line-height: 20px;color: #333;display: block;margin-bottom: 30px;}
.case12-gallery-thumbsName span{display: inline-block;width: 20px;height: 20px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;background: #333333;color: #fff;font-size: 14px;line-height: 20px;text-align: center;}
.case12-gallery-thumbs .swiper-slide:hover .case12-gallery-thumbsName{background: #054897;}
.case12-gallery-thumbs .swiper-slide:hover .case12-gallery-thumbsName a{color: #fff;}
.case12-gallery-thumbs .swiper-slide:hover .case12-gallery-thumbsName span{background: #fff;color: #054897;}

.case12-gallery-thumbs .swiper-slide.swiper-slide-thumb-active .case12-gallery-thumbsName{background: #054897;}
.case12-gallery-thumbs .swiper-slide.swiper-slide-thumb-active .case12-gallery-thumbsName a{color: #fff;}
.case12-gallery-thumbs .swiper-slide.swiper-slide-thumb-active .case12-gallery-thumbsName span{background: #fff;color: #054897;}


.case12-gallery-thumbs_next{width: 30px;height: 30px;text-align: center;line-height: 30px;color: #fff;background-image: none;background: rgba(0,0,0,0.5);border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}
.case12-gallery-thumbs_prev{width: 30px;height: 30px;text-align: center;line-height: 30px;color: #fff;background-image: none;background: rgba(0,0,0,0.5);border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}


.HJZF2__case12--rightPic{width: 50%;height: 618px;position: absolute;right:0;top: 0;}
.case12-gallery-thumbsImg {position: relative;}
.case12-gallery-thumbsImg .slide{position: absolute;top: 0;left: 0;display: none;}
.case12-gallery-thumbsImg .slide:first-child{position: absolute;top: 0;left: 0;display: block;}
.case12-gallery-thumbsImg .case12-gallery-thumbsImg{width: 100%;height: 100%;overflow: hidden;}
.case12-gallery-thumbsImg .case12-gallery-thumbsImg img{width: 100%;height: 100%;}