.hjzf_case-17{width: 100%;margin: auto;padding: 70px 0 80px;height: auto;}
.hjzf_case-17_maintitle{width: 100%;text-align: center;margin: auto;font-size: 30px;line-height: 45px;color: #333333;font-weight: normal;margin-bottom: 40px;}
.hjzf_case-17_content{width: 100%;margin: auto;position: relative;}
.hjzf_case-17_item{position: relative;}
.hjzf_case-17_swiper{width: 100%;height: 370px;}
.hj05-news-pic{overflow: hidden}
.hj05-news-pic img{width: 100%;height: 100%;transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transition: 2s;-moz-transition: 2s;-webkit-transition: 2s;}
.hjzf_case-17_item.swiper-slide-active .hj05-news-pic img{width: 100%;height: 100%;transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);transition: 2s;-moz-transition: 2s;-webkit-transition: 2s;}
.hjzf_case-17_item .news_info{position: absolute;left: 0;top: 0;padding: 50px 20px;background: rgba(43,120,214,.9);width: 384px;height:100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.hjzf_case-17_item .hjzf_case-17_itemtitle a{font-size: 22px;line-height: 45px;color: #ffffff;font-weight: normal;margin-bottom: 15px;display: inline-block}
.hjzf_case-17_item .hjzf_case-17_itemdesc{font-size: 14px;line-height: 20px;color: #ffffff;font-weight: normal;margin-bottom: 50px;}
.hjzf_case-17_item .hjzf_case-17_itemmore{font-size: 14px;line-height: 20px;color: #ffffff;font-weight: normal;padding: 10px 30px;border: 1px solid #fff;}
.hjzf_case-17_item .hjzf_case-17_itemmore:hover{text-decoration: underline}
.hjzf_case-17_next,.hjzf_case-17_prev{background-image: url(../img/case17_right.png);outline: none}
.hjzf_case-17_next{right: -50px;}
.hjzf_case-17_prev{left: -50px;transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg)}
@media(max-width:1320px){
.hjzf_case-17_next{ right:0;}
.hjzf_case-17_prev{ left:0;}
}