#cases-7{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;height: auto;padding-top: 60px;padding-bottom: 60px;}
.cases-7__container{width: 1200px;margin: auto;height: auto;}
.cases-7__title{width: 100%;margin: auto;margin-bottom: 40px;}
.cases-7__title--miantitle{float: left;font-size: 30px;line-height: 36px;color: #333333;font-weight:normal;}
.cases-7__title--subtitle{float:left;font-size: 14px;line-height: 20px;color: #666666;font-weight:normal;position: relative;top: 18px;left: 18px;}
.cases-7__title--more{padding: 10px 14px;float: right;text-align: center;font-size: 14px;line-height: 20px;color: #fff;background: #00468c}
.cases-7__title--more a{color: #fff;}
.cases-7__content{width: 100%;margin: auto}
.cases-7__content ul li.cases-7__content__item{width: 305px;height: 210px;margin-right: 20px;margin-bottom: 20px;float: left;position: relative;overflow: hidden;}
.cases-7__content ul li.cases-7__content__item:nth-child(2n+1){margin-right: 0;}
.cases-7__content ul li.cases-7__content__item:first-child{width: 541px;height: 443px;margin-right: 20px;}
.cases-7__content ul li.cases-7__content__item img{transform:translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);-moz-transition: 0.6s;-webkit-transition: 0.6s;transition: 0.6s;width: 100%}
.cases-7__content__item--first__text{position: absolute;bottom: 13px;left: 0;padding: 0 28px;}
.cases-7__content__item--name{font-size: 20px;line-height: 24px;color: #fff;font-weight: normal;}
.cases-7__content__item--desc{font-size: 14px;line-height: 24px;color: #fff;font-weight: normal;margin-top: 10px;}
.cases-7__content__item--name--small{position: absolute;bottom: 10px;left: 0;padding: 0 24px;font-size: 16px;}
.cases-7__content ul li.cases-7__content__item:hover img{transform:translate3d(0,0,0) scale(1.1);-moz-transform: translate3d(0,0,0) scale(1.1);-webkit-transform: translate3d(0,0,0) scale(1.1);-moz-transition: 0.6s;-webkit-transition: 0.6s;transition: 0.6s;}