.HJZF2__case14{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;height: 675px;position: relative;}
.HJZF2__case14 .container{width: 1200px;margin: auto;position: relative;}
.HJZF2__case14TopBg{width: 100%;height: 170px;padding-top: 40px;}
.HJZF2__case14TopTitle{font-size: 30px;line-height: 36px;color: #fff;font-weight: normal;position: relative;margin-bottom: 40px;}
.HJZF2__case14TopTitle:before{content: '';display: table;width: 33px;height: 2px;background: #fff;position: absolute;top: 50px;left: 0;}
.HJZF2__case14TopsubTitle{font-size: 14px;line-height: 24px;color: #fff;font-weight: normal;}
.HJZF2__case14Down{width: 100%;margin: auto;height: auto;position: relative;}
.HJZF2__case14Down .HJZF2__case14DownLeft{width: 595px;height: 397px;overflow: hidden;float: left;}
.HJZF2__case14Down .HJZF2__case14DownLeft img{width: 595px;height: 397px;}
.HJZF2__case14DownRight{width: 604px;height: 458px;position: absolute;right: 0;top: -62px;background: #fff;padding: 0 40px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-top: 55px;}
.HJZF2__case14--wiper .swiper-slide{padding-top: 10px;padding-bottom: 30px;width: 100%;border-bottom: 1px solid #e5e5e5;}
.HJZF2__case14--wiper .swiper-slide:nth-child(2n){border-bottom: none;}
.HJZF2__case14--rightName{font-size: 16px;color: #333333;line-height: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 20px;}
.HJZF2__case14--rightName img{width: 25px;height: 25px;margin-right: 10px;}
.HJZF2__case14--rightDesc{font-size: 14px;line-height: 24px;color: #666666;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: keep-all;margin-bottom: 20px;}
.HJZF2__case14--next,.HJZF2__case14--prev{top: 100%;margin-top: 0;width: 50%;height: 50px;text-align: center;outline: none;line-height: 50px;background: #156353;color: #fff;}
.HJZF2__case14--prev{left: 0;}
.HJZF2__case14--next{right: 0;}
.HJZF2__case14--pagination{bottom: 38px;}
.HJZF2__case14--pagination .swiper-pagination-bullet{margin: 0 5px;}
.HJZF2__case14--pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #156353}