#cases-11{width: 100%;min-width: 1200px;max-width: 1920px;height: 572px;margin: auto;padding-top: 60px;position: relative}
#cases-11 .container{width: 1200px;height: auto;margin: auto;}
.cases-11__title{width: 100%;text-align: center;font-size: 24px;color: #333333;line-height: 36px;margin-bottom: 20px;}
.cases-11__content{width: 100%;margin: auto;}
.cases-11__left{width: 278px;height:412px;float: left;}
.cases-11__left .cases-11__leftName{font-size: 18px;color: #333333;line-height: 24px;font-weight: bold;margin-bottom: 30px;}
.cases-11__left .cases-11__leftText{font-size: 16px;color: #333333;line-height: 24px;font-weight: normal;margin-bottom: 20px;height: 296px;}

.cases-11__left .cases-11__leftMore{display: block;float: right;width:180px;height: 40px;padding-left:10px;line-height: 40px;font-size: 16px;color: #054897;border-bottom: 1px solid #054897;margin-right: 100px;position: relative;}
.cases-11__left .cases-11__leftMore i{float: right;line-height: 40px;position: relative;transition: 0.6s;}
.cases-11__left .cases-11__leftMore:hover i{transform: translateX(-90px);}
.cases-11__left .cases-11__leftMore .border{position: absolute;background: none;transition: all .5s ease-in-out;}
.cases-11__left .cases-11__leftMore .border:nth-of-type(1){
    top:-1px;
    left:0;
    width:0;
    height:0;
    border-top:1px solid transparent;
}

.cases-11__left .cases-11__leftMore .border:nth-of-type(2){
    top:0;
    right:0;
    width:10px;
    height:0;
    border-right:1px solid transparent;
}

.cases-11__left .cases-11__leftMore .border:nth-of-type(3){
    bottom:-1px;
    right:0;
    width:0;
    height:0;
    border-bottom:1px solid transparent;
}

.cases-11__left .cases-11__leftMore .border:nth-of-type(4){
    bottom:0;
    left:0;
    width:0;
    height:0;
    border-left:1px solid transparent;
}
.cases-11__left .cases-11__leftMore:hover .border:nth-of-type(1){
    width:190px;
}
.cases-11__left .cases-11__leftMore:hover .border:nth-of-type(2){
    height:40px;
}
.cases-11__left .cases-11__leftMore:hover .border:nth-of-type(3){
    width:190px;
}
.cases-11__left .cases-11__leftMore:hover .border:nth-of-type(4){
    height:40px;
}
.cases-11__right{width: 910px;height: 412px;float: right;position: relative}
.cases-11__right .case-11__swiper{width: 100%;height: 100%;}
.cases-11__right .case-11__swiper .swiper-slide{position: relative;}
.cases-11__right .case-11__swiper .swiper-slide .case-11__itemImg{width: 710px;height: 356px;position: absolute;right: 0;top: 0;overflow: hidden;}
.cases-11__right .case-11__swiper .swiper-slide .case-11__itemImg img{width: 100%;height: 100%;}
.cases-11__right .case-11__swiper .swiper-slide .case-11__itemWrap{width: 315px;height: 355px;padding: 50px 40px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;background: #054897;position: absolute;left: 0;bottom: 0;}
.case-11__itemName a{display:block;font-size: 18px;color: #fff;line-height: 24px;font-weight: bold;margin-bottom: 20px;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.case-11__itemDesc{font-size: 16px;color: #fff;line-height: 24px;font-weight: normal;margin-bottom: 20px;height: 160px;}
.cases-11__leftMore.white{display: block;float:none;width:180px;height: 40px;padding-left:10px;line-height: 40px;font-size: 16px;color: #fff;border-bottom: 1px solid #fff;position: relative;}
.cases-11__leftMore.white i{float: right;line-height: 40px;position: relative;transition: 0.6s;}
.cases-11__leftMore.white:hover i{transform: translateX(-90px);}
.cases-11__leftMore.white .border{position: absolute;background: none;transition: all .5s ease-in-out;}
.cases-11__leftMore.white .border:nth-of-type(1){
    top:-1px;
    left:0;
    width:0;
    height:0;
    border-top:1px solid #fff;
}

.cases-11__leftMore.white .border:nth-of-type(2){
    top:0;
    right:0;
    width:10px;
    height:0;
    border-right:1px solid #fff;
}

.cases-11__leftMore.white .border:nth-of-type(3){
    bottom:-1px;
    right:0;
    width:0;
    height:0;
    border-bottom:1px solid #fff;
}

.cases-11__leftMore.white .border:nth-of-type(4){
    bottom:0;
    left:0;
    width:0;
    height:0;
    border-left:1px solid #fff;
}
.cases-11__leftMore.white:hover .border:nth-of-type(1){
    width:190px;
}
.cases-11__leftMore.white:hover .border:nth-of-type(2){
    height:40px;
}
.cases-11__leftMore.white:hover .border:nth-of-type(3){
    width:190px;
}
.cases-11__leftMore.white:hover .border:nth-of-type(4){
    height:40px;
}
.case-11__swiper .swiper-button-prev, .case-11__swiper .swiper-button-next{background: none;top: 98%;}
.case-11__swiper .swiper-button-next{right: 240px;}
.case-11__swiper .swiper-button-prev{left: 550px;}
.case-11__swiper .swiper-pagination-fraction{width: 120px;left: 543px;}
.case-11__swiper-next2{width: 144px;height: 45px;background: #054897!important;text-align: center;line-height: 45px;color: #fff;position: absolute;top: 162px;right: -70px;z-index: 2;}











