.new_hjzf_cases-2HJ01 .hj01_cases2{
    width: 100%;min-width: 1190px;max-width: 1920px;height: 640px;padding-top: 56px;padding-bottom: 64px;background: #f7f7f7;
}
.new_hjzf_cases-2HJ01 .index_product_title {
    width: 100%;
    margin: auto;
    margin-bottom: 35px;
}

.new_hjzf_cases-2HJ01 .index_product_title_left {
    width: 60%;
    float: left;
    box-sizing: border-box;
}

.new_hjzf_cases-2HJ01 #index_product_title_left1 h3 {    
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
    font-size: 35px;
}

.new_hjzf_cases-2HJ01 .index_product_title_right {
    width: 40%;
    float: right;
    box-sizing: border-box;
}

.new_hjzf_cases-2HJ01 .index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;    
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
    float: right;
}
.new_hjzf_cases-2HJ01 .hj01_case2_content{width: 1190px;height: 558px;margin: auto;margin-top: 30px;}
.new_hjzf_cases-2HJ01 .hj01_case2_content>ul{float: left;height: 558px;}
.new_hjzf_cases-2HJ01 .hj01_case2_content>ul li{position: relative;overflow: hidden;margin-bottom: 9px;}
.new_hjzf_cases-2HJ01 .hj01_case2_content>ul li img{transition: .6s;width: 100%}
.new_hjzf_cases-2HJ01 .hj01_case2_content>ul li:hover img{transform: scale(1.1);transition: .6s;}
.new_hjzf_cases-2HJ01 .hj01_case2_content>ul li .hj01_case2_name{width: 100%;position: absolute;bottom: 0;text-align: center;font-size: 18px;color: #fff;line-height: 20px;font-weight: normal;padding: 10px 0;background: rgba(0,0,0,0.45)}