.new_hjzf_cases-HJ01 .hj01_cases {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: auto;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
}
.new_hjzf_cases-HJ01 .index_product_title {
    width: 100%;
    margin: auto;
    margin-bottom: 35px;
}

.new_hjzf_cases-HJ01 .index_product_title_left {
    width: 60%;
    float: left;
    box-sizing: border-box;
}

.new_hjzf_cases-HJ01 #index_product_title_left2 h3 {    
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
    font-size: 35px;
}

.new_hjzf_cases-HJ01 .index_product_title_right {
    width: 40%;
    float: right;
    box-sizing: border-box;
}

.new_hjzf_cases-HJ01 .index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;    
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
    float: right;
}

.new_hjzf_cases-HJ01 #index_caselist {
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: 40px;
    position: relative;
}

.new_hjzf_cases-HJ01 .index_caseitem {
    width: 346px;
    height: auto;
    float: left;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.new_hjzf_cases-HJ01 .index_caseitem_box {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    border: 6px solid #fff;
    position: relative;
    overflow: hidden;
}

.new_hjzf_cases-HJ01 .index_proitem_box {
    width: 350px;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.new_hjzf_cases-HJ01 .index_proitem_name h6 {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new_hjzf_cases-HJ01 .index_caseitem_img {
    width: 100%;
    height: auto;
    min-height: 250px;
    overflow: hidden;
}

.new_hjzf_cases-HJ01 .index_caseitem_img img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.new_hjzf_cases-HJ01 .index_caseitem_img a {
    display: block;
    position: relative;
}

.new_hjzf_cases-HJ01 .index_caseitem_img a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    transition: .3s;
    visibility: hidden;
    z-index: 9;
    background: rgba(0,0,0,0.45);
}

.new_hjzf_cases-HJ01 .index_caseitem_img a:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "\f0c1";
    transition: .3s;
    font-family: "FontAwesome";
    font-weight: 500;
    z-index: 99;
    font-size: 26px;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.new_hjzf_cases-HJ01 .index_caseitem:hover .index_caseitem_img a:before {
    opacity: 0.8;
    visibility: visible;
}

.new_hjzf_cases-HJ01 .index_caseitem:hover .index_caseitem_img a:after {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(-50%);
}

.new_hjzf_cases-HJ01 .index_caseitem:hover .index_caseitem_img img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.new_hjzf_cases-HJ01 .index_caseitem_down {
    left: 0;
    right: 0;
    opacity: 1;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 23px;
    position: inherit;
    background-color: #f3f7f9;
    bottom: 0;
    height: auto;
    z-index: 999;
}

.new_hjzf_cases-HJ01 .index_caseitem_down_content {
    background-color: #fff;
    margin: 10px 10px;
    padding: 13px 0 12px;
    margin-top: -60px;
}

.new_hjzf_cases-HJ01 .index_case_title h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 34px;
}

.new_hjzf_cases-HJ01 .index_case_title2 {    
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 14px;
    margin-top: -6px;
}

.new_hjzf_cases-HJ01 .new_hjzf_cases-HJ01-swiper-next,.new_hjzf_cases-HJ01 .new_hjzf_cases-HJ01-swiper-prev {
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    outline: none;
    text-align: center;
    line-height: 40px;
}

.new_hjzf_cases-HJ01 .new_hjzf_cases-HJ01-swiper-prev:before {
    content: '\f104';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_cases-HJ01 .new_hjzf_cases-HJ01-swiper-next:before {
    content: '\f105';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_cases-HJ01 .new_hjzf_cases-HJ01-swiper-next {
    right: -50px;
}

.new_hjzf_cases-HJ01 .new_hjzf_cases-HJ01-swiper-prev {
    left: -50px;
}

