#cases-8 {
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
    margin: auto;
    height: auto;
    padding-top: 40px;
    padding-bottom: 70px;
    overflow: hidden;
}

.cases-8__container {
    width: 1200px;
    margin: auto;
    height: auto;
}

.cases-8__title {
    text-align: center;
    margin-bottom: 50px;
}

.cases-8__title--miantitle {
    font-size: 42px;
    color: #26a3e4;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
}

.cases-8__title--subtitle {
    font-size: 24px;
    color: #666666;
    line-height: 30px;
    font-weight: normal;
}

.cases-8__box {
    width: 100%;
    height: auto;
    margin: auto;
}

.cases-8_content {
    float: right;
    width: 710px;
    height: auto;
}

.cases-8_page {
    float: left;
    width: 400px;
    height: 400px;
    position: relative;
}
.cases-8_page:before {
    content: '';display: table;width: 412px;height: 410px;background: #dcdcdc;position: absolute;top: -10px;left: 0;
}

.cases-8_page ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative
}

.cases-8_page ul li {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.cases-8_page ul li.active{
    display: block;
}

.cases-8_page ul li img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.cases-8_content_tab {
    width: 100%;
}

.cases-8_content_tab li.index_caseitem {
    width: 33.333%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cases-8_content_tab li.index_caseitem .index_case_title {
    position: relative;
    width: 140px;
    height: 43px;
    line-height: 43px;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
    background: #666666;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.cases-8_content_tab li.index_caseitem .index_case_title a h4{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cases-8_content_tab li.index_caseitem .index_case_title span{
    width: 30px;height: 30px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;border: 2px solid #fff;position: absolute;;top: -21px;left: 5px;background: #f7c532;color: #fff;font-size: 14px;line-height: 30px;text-align: center;
}

.cases-8_content_tab li.index_caseitem .index_case_title2 {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-bottom: 40px;
    font-size: 14px;line-height: 24px;color: #333333;font-weight: normal;
}






