.HJZF2__evalute-4{width: 100%;min-width: 1200px;max-width: 1920px;height:464px;padding-top: 80px;padding-bottom: 80px;margin: auto;}
.HJZF2__evalute-4 .container{width: 1200px;margin: auto;height: auto;}
.HJZF2__evalute-4 hgroup{width: 100%;text-align: center;}
.HJZF2__evalute-4__title{font-size: 32px;font-weight: normal;line-height: 40px;margin-bottom: 20px;}
.HJZF2__evalute-4__subtitle{font-size: 16px;font-weight: normal;line-height: 24px;margin-bottom: 40px;}
.HJZF2__evalute-4__content{width: 100%;margin: auto;position: relative;}
.HJZF2__evalute-4__swiper{width: 100%;height: auto;}
.HJZF2__evalute-4__swiper .swiper-slide{height: 300px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: relative;background: #272a2a;}
.HJZF2__evalute-4__item{width: 100%;height: 100%;padding: 40px;border: 1px solid #ffe472;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2__evalute-4__item .HJZF2__evalute-4__itemLogo{width: 60px;height: 60px;overflow: hidden;margin-bottom: 20px;}
.HJZF2__evalute-4__item .HJZF2__evalute-4__itemLogo img{width: 100%;height: 100%;transition: 0.6s;-moz-transition: .6s;-webkit-transition: .6s;}
.HJZF2__evalute-4__item .HJZF2__evalute-4__itemDesc{font-size: 16px;color: #f5f5f5;line-height: 22px;font-weight: normal;height: 86px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;
    -webkit-box-orient: vertical;word-break: break-all;margin-bottom: 40px;}
.HJZF2__evalute-4__itemName{font-size: 16px;line-height: 20px;font-weight: normal;color: #ffe472;}
.HJZF2__evalute-4__itemHover{position: absolute;top: -310px;left: 0;width: 100%;height: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__evalute-4__swiper .swiper-slide:hover .HJZF2__evalute-4__item{border: 1px solid transparent;}
.HJZF2__evalute-4__itemHover a{width: 187px;height: 48px;line-height: 48px;font-size: 16px;text-align: center;font-weight: normal;display: inline-block;position: absolute;bottom: 80px;left: 50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);background: #272a2a;color: #fff;}
.HJZF2__evalute-4__swiper .swiper-slide:hover .HJZF2__evalute-4__itemHover{top: 0;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__evalute-4__pagination{width: 100%;text-align: center;margin-top: 40px;}
.HJZF2__evalute-4__pagination .swiper-pagination-bullet{width: 15px;height: 15px;border: 1px solid #bcbcbc;border-radius: 0;margin: 0 15px;background: #272a2a;opacity: 1;outline: none;}
.HJZF2__evalute-4__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #ffe472;}





