.HJZF2_evaluate{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;padding-top: 70px;padding-bottom: 70px;margin: auto;}
.HJZF2_evaluate .container{width: 1200px;height:auto;margin: auto}
.HJZF2_evaluate__title{text-align: center;font-size: 36px;line-height: 40px;color: #fff;font-weight: bold;margin-bottom: 40px;}
.HJZF2_evaluate__swiper{padding-bottom: 90px;}
.HJZF2_evaluate__swiper .swiper-slide{padding-top:60px;}
.HJZF2_evaluate__item{width: 290px;height: 174px;background: #fff;border-radius: 0 12px 12px 0;-webkit-border-radius: 0 12px 12px 0;-moz-border-radius: 0 12px 12px 0;position: relative;padding-left: 20px;padding-right: 14px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2_evaluate__itemImg{position: absolute;top: -34px;left: 20px;}
.HJZF2_evaluate__itemName{padding-top: 20px;padding-left: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 14px;color: #333333;font-weight: bold}
.HJZF2_evaluate__itemDesc{margin-top: 20px;font-size: 14px;color: #333333;line-height: 24px;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 4;-webkit-box-orient: vertical;word-break: break-all;display: -webkit-box;}
.HJZF2_evaluate__swiper .swiper-pagination-bullet{background: #fff;opacity: 1;border-radius: 0;}
.HJZF2_evaluate__swiper .swiper-slide .HJZF2_evaluate__item:hover .HJZF2_evaluate__itemImg{
    animation: bounce 1s;
    -moz-animation: bounce 1s;	/* Firefox */
    -webkit-animation: bounce 1s;	/* Safari 和 Chrome */
    -o-animation: bounce 1s;
}

