.HJZF2_evaluate--3{width: 100%;min-width: 1200px;max-width: 1920px;height: 402px;padding-top: 60px;margin: auto;}
.HJZF2_evaluate--3 .container{width: 1200px;height:auto;margin: auto}
.HJZF2_evaluate--3Right{width: 420px;height: 360px;margin-right: 180px;}
.HJZF2_evaluate--3Right__title{width: 100%;height: 70px;padding: 0 16px;line-height: 70px;font-size: 20px;color: #fff;font-weight: normal;background: #6ab434;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
#index_inquiry{width: 100%;padding: 10px 16px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;height:290px;background: rgba(106,180,52,0.5);}
.inquiry_box{width: 388px;height:30px;margin: auto;margin-bottom: 10px;border-bottom: 1px solid rgba(255,255,255,0.6);position: relative;}
.inquiry_box.inquiry_boxTextarea{height: 60px;margin-bottom: 18px;}
.inquiry_boxHalf{width: 180px;}
.inquiry_box input,.inquiry_box textarea{background: transparent;outline: none;border: none;height: 30px;width: 100%;color: #fff;}
.inquiry_box input::-webkit-input-placeholder,.inquiry_box textarea::-webkit-input-placeholder{
    color: #fff;
}
.inquiry_box input::-moz-placeholder,.inquiry_box textarea::-moz-placeholder{
    color: #fff;
}
.inquiry_box textarea{height: 50px;margin-top: 10px;}

.inquiry_boxCode{border-bottom: none;margin-bottom: 20px;}
.inquiry_boxCode input{width: 230px;border-bottom: 1px solid rgba(255,255,255,0.6)}

.inquiry_box #inquiry_box6{width: 100%;height: 40px;line-height: 40px;background: #fff;}
.inquiry_box #inquiry_box6 input{color: #333;font-size: 14px;cursor: pointer;}
#index_inquiry .yz_alert{font-size: 12px;top: 34px;right: 0;}
#index_inquiry .yz_alert#message_alert{top:62px;}










