@font-face {
font-family: pangmenzhengdaoregular;
src: url('../fonts/pangmenzhengdaoregular.eot');
src: url('../fonts/pangmenzhengdaoregular.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/pangmenzhengdaoregular.woff2') format('woff2'),
	 url('../fonts/pangmenzhengdaoregular.woff') format('woff'),
	 url('../fonts/pangmenzhengdaoregular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
	font-family: gtwalsheimproregular;
	src: url('../fonts/gtwalsheimproregular.eot');
	src: url('../fonts/gtwalsheimproregular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gtwalsheimproregular.woff2') format('woff2'),
	url('../fonts/gtwalsheimproregular.woff') format('woff'),
	url('../fonts/gtwalsheimproregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: dinregular;
	src: url('../fonts/dinregular.eot');
	src: url('../fonts/dinregular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dinregular.woff2') format('woff2'),
	url('../fonts/dinregular.woff') format('woff'),
	url('../fonts/dinregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: nunito-regular;
	src: url('../fonts/nunito-regular.eot');
	src: url('../fonts/nunito-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nunito-regular.woff2') format('woff2'),
	url('../fonts/nunito-regular.woff') format('woff'),
	url('../fonts/nunito-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: din-bold;
	src: url('../fonts/din-bold.eot');
	src: url('../fonts/din-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/din-bold.woff2') format('woff2'),
	url('../fonts/din-bold.woff') format('woff'),
	url('../fonts/din-bold.ttf') format('truetype');

}
@font-face {
	font-family: DINPro-Medium;
	src: url('../fonts/DINPro-Medium.eot');
	src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DINPro-Medium.woff2') format('woff2'),
	url('../fonts/DINPro-Medium.woff') format('woff'),
	url('../fonts/DINPro-Medium.ttf') format('truetype');

}
@font-face {
	font-family: Poppins;
	src: url('../fonts/Poppins.eot');
	src: url('../fonts/Poppins.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins.woff2') format('woff2'),
	url('../fonts/Poppins.woff') format('woff'),
	url('../fonts/Poppins.ttf') format('truetype');

}@font-face {
	font-family: Merriweather;
	src: url('../fonts/Merriweather-Regular.eot');
	src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Regular.woff2') format('woff2'),
	url('../fonts/Merriweather-Regular.woff') format('woff'),
	url('../fonts/Merriweather-Regular.ttf') format('truetype');

}@font-face {
	font-family: poppins-bold;
	src: url('../fonts/poppins-bold.eot');
	src: url('../fonts/poppins-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/poppins-bold.woff2') format('woff2'),
	url('../fonts/poppins-bold.woff') format('woff'),
	url('../fonts/poppins-bold.ttf') format('truetype');

}@font-face {
    font-family: ralewaythin;
    src: url('../fonts/raleway-webfont.eot');
    src: url('../fonts/raleway-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-webfont.woff2') format('woff2'),
         url('../fonts/raleway-webfont.woff') format('woff'),
		 url('../fonts/raleway-webfont.ttf') format('truetype');

}@font-face {
    font-family: SourceHanSerifCN-Regular;
    src: url('../fonts/SourceHanSerifCN-Regular.eot');
    src: url('../fonts/SourceHanSerifCN-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceHanSerifCN-Regular.woff2') format('woff2'),
         url('../fonts/SourceHanSerifCN-Regular.woff') format('woff'),
		 url('../fonts/SourceHanSerifCN-Regular.ttf') format('truetype');

}

@font-face {
	font-family: 'rajdhaniregular';
	src: url('../fonts/rajdhani-regular.eot');
	src: url('../fonts/rajdhani-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/rajdhani-regular.woff2') format('woff2'),
	url('../fonts/rajdhani-regular.woff') format('woff');
	url('../fonts/rajdhani-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'rajdhanibold';
	src: url('../fonts/rajdhani-bold.eot');
	src: url('../fonts/rajdhani-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/rajdhani-bold.woff2') format('woff2'),
	url('../fonts/rajdhani-bold.woff') format('woff');
	url('../fonts/rajdhani-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}