.new_hjzf_head-HJ03 .hj03_header{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;position: relative;top: 0;z-index: 99;background: #fff;transition: all .36s ease;height: 150px;}
.new_hjzf_head-HJ03 #header .header_wapper{width: 100%;height: 88px;margin: auto;border-bottom: 1px solid rgba(170,170,170,.2);}
.new_hjzf_head-HJ03 #header .header_wapper .container{height: 100%}
.new_hjzf_head-HJ03 .header_navwapper{width: 100%;height: 62px;margin: auto;}
.new_hjzf_head-HJ03 .page_Logo {width: auto;height: 100%;float: left;-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;position: relative;}
.new_hjzf_head-HJ03 .page_Logo a{width: auto;height: 100%;}
.new_hjzf_head-HJ03 .page_Logo img {position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}

.new_hjzf_head-HJ03 .head_mail{margin-left: 2.4%;text-align: right;position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.new_hjzf_head-HJ03 .head_mail i{margin-right: 12px;position: relative;top: -3px;}
.new_hjzf_head-HJ03 .head_mail .telNum a{padding-left: 18px;line-height: 20px;color: #555;border-left: 1px solid rgba(170,170,170,.2);text-align: right;font-size: 20px;}
.new_hjzf_head-HJ03 .head_mail p{font-size: 13px;line-height: 13px;color: #b1b1b1;text-align: right;margin-top: 2px;}
.new_hjzf_head-HJ03 .head_seach{margin-right: 20px;position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.new_hjzf_head-HJ03 .hj03-language{position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);margin-left:10px;z-index: 99;}
.new_hjzf_head-HJ03 .hj03-language img{margin-right: 10px;}
.new_hjzf_head-HJ03 .hj03-language ul{position: absolute;top: 24px;left: 0;background: #fff;display: none;padding: 5px 5px;box-shadow: 0 3px 4px #333;width: 106px;z-index: 99;}
.new_hjzf_head-HJ03 .hj03-language:hover ul{display: block;}
.new_hjzf_head-HJ03 .hj03-language ul li{padding-bottom: 5px;}
.new_hjzf_head-HJ03 .hj-nav{width: 100%;height: 100%;display: -webkit-box;display: -moz-box; display: -webkit-flex;display: -moz-flex; display: -ms-flexbox;display: flex;justify-content: space-between;}
.new_hjzf_head-HJ03 .hj-nav>li{position: relative;display: block;float: left;}
.new_hjzf_head-HJ03 .hj-nav>li>a{padding: 0 36px;display: block;border-bottom: none;transition: all .16s cubic-bezier(.46,.03,.52,.96);}
.new_hjzf_head-HJ03 .hj-nav>li>a>h2{font-size: 16px;color: #fff;font-weight: normal;line-height: 62px;}
.new_hjzf_head-HJ03 .hj-nav>li:not(.menu_on):hover a{background: 0 0;box-shadow: 0 -2px 6px rgba(0,0,0,.12);border-top:2px solid #fff;transition: all .16s cubic-bezier(.46,.03,.52,.96)}
.new_hjzf_head-HJ03 .hj-nav>li:hover .hj-dropdown-menu{opacity: 1;visibility: visible;transition: all .36s ease;}
.new_hjzf_head-HJ03 .hj-nav>li.menu_on{background: #fff;height: 61px;}
.new_hjzf_head-HJ03 .hj-dropdown-menu>li{cursor: pointer;width: 100%;border-bottom: 1px solid rgba(170,170,170,.2);text-align: center;transition: all .16s cubic-bezier(.46,.03,.52,.96)}
.new_hjzf_head-HJ03 .hj-dropdown-menu>li>a>h3{font-size: 14px;text-align: left;color: #6e6e6e;font-weight: normal;padding: 0 10px;}
.new_hjzf_head-HJ03 .hj-dropdown-menu>li:hover{color: #fff;background-color: #f6f6f6}
.new_hjzf_head-HJ03 .hj-dropdown-menu{transition: all .36s ease;position: absolute;left: 0;z-index: 199;opacity: 0;visibility: hidden;width: 300px;height: auto; border-width: 2px 0 0; border-style: solid;border-color: #00468c;overflow: hidden;background: #fff;
    box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);top: calc(100% - 3px);}

.new_hjzf_head-HJ03 h3{line-height: 45px;font-weight: 600;font-style: normal;color: #999999;font-size: 35px;}
.new_hjzf_head-HJ03 .hj-navbar{width: 100%;margin: auto;height: auto;}

.new_hjzf_head-HJ03 .hj03-links{position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);margin-left:10px;z-index: 99;}
.new_hjzf_head-HJ03 .hj03-links ul{position: absolute;top: 30px;left: 0;background: #fff;display: none;padding: 5px 5px;box-shadow: 0 3px 4px #333;width: 146px;z-index: 99;}
.new_hjzf_head-HJ03 .hj03-links:hover ul{display: block;}
.new_hjzf_head-HJ03 .hj03-links ul li{padding: 5px 0;}
.new_hjzf_head-HJ03 .hj03-links span{background: #f57a10; padding: 11px; color: #ffff;}