.HJZF2__head1__top{ width:100%; min-width:1200px;max-width:1920px;height:46px; line-height:46px;}
.HJZF2__head1__topleft{ text-align:left; line-height:46px;}
.HJZF2__head1__topleft span{font-size:14px; color:#ffffff; line-height:46px;}
.HJZF2__head1__topright{font-size:14px; color:#ffffff; line-height:46px;}
.HJZF2__head1__topright .head_mail{ margin-left:58px;}
.HJZF2__head1__topright .head_mail .fa,.HJZF2__head1__topright .head_phone .fa{ margin-right:12px; font-size: 18px;}
.HJZF2__head1__topright .headerSearchContainer{ margin-left:32px; position:relative;}
.HJZF2__head1__topright .headerSearchContainer:before{content:''; width:1px; height:18px; position:absolute; top:15px; z-index:1; background:rgba(255,255,255,0.2);}
.HJZF2__head1__topleft a,.HJZF2__head1__topright a{color:#ffffff;}
.HJZF2__head1__topright .searchIcon{cursor: pointer; margin-left: 22px}
.HJZF2__head1__topright .headerSearchContainer{position: relative;}
.HJZF2__head1__topright .headerSearchContent{width:250px;height:0;position: absolute;top:47px;right: 0;overflow: hidden;background: #fff; -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s; z-index:9;}
.HJZF2__head1__topright .headerInput{height: 40px;width:206px;border-width:0px;padding-left: 12px;color:#999999;background:#fff;outline: none;float: left}
.HJZF2__head1__topright #search-submit{border: none;background: #fff;float: right;height: 40px;line-height: 40px;}
.HJZF2__head1__topright #search-submit .searchIcon{margin-left: 0;}
.HJZF2__head1__topright .headerSearchList{line-height: 40px;    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

.HJZF2__head1__menu{width: 100%;min-width:1200px;max-width:1920px; position: relative; background: #fff;margin: auto;}
.HJZF2__head1__menu .page_Logo{align-items: center; height:100px;}
.HJZF2__head1__menu .page_Logo img{align-items: center;}
.new_hjzf_head-1 .rt{float: right;}
.new_hjzf_head-1 .navContainer{height: 100px;line-height: 100px;position: relative}
.new_hjzf_head-1 .navList{float: left;position: relative;}
.new_hjzf_head-1 .navList>a{display: block;padding: 0 26px;height:100px;border-bottom: 1px solid transparent;}
.new_hjzf_head-1 .navList a h2{font-size: 16px;font-weight: normal;color: #333;display: inline-block;}
.new_hjzf_head-1 .navDownIcon{padding-left: 0;}

.HJZF2__head1__menu .navDown{
    width: 570px;
    height: 0;
    position: absolute;
    top: 101px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;
    background: #fff;
    overflow: hidden;
    z-index: 20;
}
.HJZF2__head1__menu .navList:hover .navDown{
    width: 542px;
    height: auto;
    padding: 14px;
}
.new_hjzf_head-1 .navDownList{text-align: left;line-height: 50px; border-top: 1px dashed #bebebe;}
.new_hjzf_head-1 .navContent li.navDownList:first-child{ border-top:none;}
.new_hjzf_head-1 .navDownList a,.navDownList a h3{
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.new_hjzf_head-1 .navDownList a:hover,.navDownList a:hover h3{
    background-size: 200%;
    transition: 1s cubic-bezier(0,0,0.2,1);
    background-position-x: -100%;
}
.HJZF2__head1__navDownright{ width:332px; line-height:24px;}
.HJZF2__head1__navDownright span{ font-size:14px; color:#666666; line-height:24px; display: inline-block;}
.new_hjzf_head-1_language{position: absolute;top: 2px;right: 30px;line-height: 20px;}
.new_hjzf_head-1_language .new_hjzf_head-1_languageTouch{font-size: 14px;font-weight: normal;color: #333;cursor: pointer;}
.new_hjzf_head-1_language .new_hjzf_head-1_languageTouch i{margin-left: 6px;font-weight: bold;}
.new_hjzf_head-1_language nav{width: 80px;position: absolute;top: 20px;left: -25px;padding: 10px 20px;background: #e3e3e3;display: none;}
.new_hjzf_head-1_language nav a{display: block;margin-bottom: 6px;}
.new_hjzf_head-1_language nav a img{width: 25px;height: 16px;margin-right: 6px;}
.new_hjzf_head-1_language:hover nav{display: block;}

