.new_hjzf_head-9{width: 100%;min-width: 1190px;max-width: 1920px;height: 90px;position: absolute;top: 0;left: 0;right: 0;z-index: 999;border-bottom: 1px solid rgba(255,255,255,0.2);}
.head-9__content{display: flex;align-items: center;justify-content:space-between;height: 90px;}
.head-9__navbar{min-width: 830px;}
.head-9__navbar ul.head-9__nav__ul{float: left;}
.head-9__navbar ul.head-9__nav__ul>li{float: left;padding: 34px 32px;}
.head-9__navbar ul.head-9__nav__ul>li>a>h2{font-size: 16px;color: #fff;font-weight: normal;position: relative}
.head-9__navbar__phone{float: right;padding-left: 60px;font-size: 14px;color: #fff;line-height: 30px;position: relative;margin-top: 30px;border-left: 1px solid #fff;}
.head-9__navbar__phone:before{content: '';display: block;width: 27px;height: 27px;overflow: hidden;background: url(../img/side-sprites.png) no-repeat -440px;position: absolute;left: 25px;}
.head-9__navbar__mail{float: right;padding-left: 60px;font-size: 14px;color: #fff;line-height: 30px;position: relative;margin-top: 28px;border-left: 1px solid #fff;}
.head-9__navbar__mail a{color: #fff;}
.head-9__navbar__mail:before{content: '\f003';display: block;width: 25px;height: 25px;overflow: hidden;font-family: 'FontAwesome';position: absolute;left: 25px;font-size: 16px;}
.head-9__navbar ul.head-9__nav__ul>li >a{position: relative;}

.head-9__navbar ul.head-9__nav__ul>li>ul.head-9__nav__dropdown-menu{position: absolute;top: 120px;left: 0;width: 100%;background: #fff;visibility: hidden;opacity: 0;padding:20px 20px;transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;z-index: 9;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.head-9__navbar ul.head-9__nav__ul>li>a>h2:after{content: '';display: table;width: 0;height: 0;opacity:0;visibility:hidden;border-width: 10px; border-style: solid;border-color: rgba(255,255,255,0) rgba(255,255,255,0) #fff transparent;position: absolute;top: 35px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.head-9__navbar ul.head-9__nav__ul>li:hover >a>h2:after{opacity: 1;visibility: visible;transition: 0.6s;}
.head-9__navbar ul.head-9__nav__ul>li>ul.head-9__nav__dropdown-menu .container{justify-content: center;}
.head-9__navbar ul.head-9__nav__ul>li>ul.head-9__nav__dropdown-menu .container>li{padding: 8px 15px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.head-9__navbar ul.head-9__nav__ul>li>ul.head-9__nav__dropdown-menu .container>li h3{font-size: 14px;color: #333;font-weight: normal;}
.head-9__navbar ul.head-9__nav__ul>li>ul.head-9__nav__dropdown-menu .container >li:hover h3{text-decoration:underline}
.head-9__navbar ul.head-9__nav__ul>li:hover >ul.head-9__nav__dropdown-menu{top: 90px;left: 0;visibility: visible;opacity: 1;transition: all 0.3s ease-out 0s;width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;}
#head-9 .head-9__language{float: right;margin-top: 34px;}
#head-9 .hj03-language{position: relative;margin-left:10px;z-index: 99;margin-right: 10px;}
#head-9 .hj03-language a span{color: #fff;}
#head-9 .hj03-language img{margin-right: 10px;}
#head-9 .hj03-language ul{position: absolute;top: 24px;left: 0;background: #fff;display: none;padding: 5px 5px;box-shadow: 0 3px 4px #333;width: 106px;z-index: 99;}
#head-9 .hj03-language:hover ul{display: block;}
#head-9 .hj03-language ul li{padding-bottom: 5px;}
#head-9 .hj03-language ul li a span{color: #333;}