.new_hjzf_head-HJ04 .headerContainer{width: 100%;min-width:1200px;max-width:1920px;height:88px; line-height: 88px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);position: relative;top:0;left:0;right:0;z-index: 9;background: #fff;margin: auto;}
.new_hjzf_head-HJ04 .rt{float: right;}
.new_hjzf_head-HJ04 .navContainer{height: 88px;line-height: 88px;position: relative}
.new_hjzf_head-HJ04 .navList{float: left;position: relative;}
.new_hjzf_head-HJ04 .navList>a{display: block;padding: 0 26px;height:68px;border-bottom: 1px solid transparent;}
.new_hjzf_head-HJ04 .navList a h2{font-size: 14px;font-weight: normal;color: #333;display: inline-block;}
.new_hjzf_head-HJ04 .navDownIcon{padding-left: 8px;}
.new_hjzf_head-HJ04 .searchIcon{cursor: pointer; margin-left: 30px}
.new_hjzf_head-HJ04 .headerSearchContainer{position: relative;}
.new_hjzf_head-HJ04 .headerSearchContent{width:250px;height:0;position: absolute;top:70px;right: 0;overflow: hidden;background: #fff;
    -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s;}
.new_hjzf_head-HJ04 .headerInput{height: 40px;width:206px;border-width:0px;padding-left: 12px;color:#999999;background:#fff;outline: none;float: left}
.new_hjzf_head-HJ04 #search-submit{border: none;background: #fff;float: right;height: 40px;line-height: 40px;}
.new_hjzf_head-HJ04 #search-submit .searchIcon{margin-left: 0;}
.new_hjzf_head-HJ04 .headerSearchList{line-height: 40px;    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
.new_hjzf_head-HJ04 .navDown{
    width: auto;
    height: 0;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;
    background: #fff;
    overflow: hidden;
    z-index: 20;
}
.new_hjzf_head-HJ04 .navList:hover .navDown{
    width: 150px;
    height: auto;
    padding: 40px 60px;
    border-top: 1px solid #f2f2f2;
}

.new_hjzf_head-HJ04 .navDownList{text-align: center;line-height: 46px;}
.new_hjzf_head-HJ04 .navDownList a,.navDownList a h3{
    font-size: 13px;
    font-weight: normal;
    color: #666;
}
.new_hjzf_head-HJ04 .navDownList a:hover,.navDownList a:hover h3{
    background-size: 200%;
    transition: 1s cubic-bezier(0,0,0.2,1);
    background-position-x: -100%;
}
.new_hjzf_head-HJ04_language{position: absolute;top: 2px;right: 30px;line-height: 20px;}
.new_hjzf_head-HJ04_language .new_hjzf_head-HJ04_languageTouch,.new_hjzf_head-HJ04_language ul li p{font-size: 14px;font-weight: normal;color: #333;cursor: pointer;}
.new_hjzf_head-HJ04_language .new_hjzf_head-HJ04_languageTouch i,.new_hjzf_head-HJ04_language ul li p i{margin-left: 6px;font-weight: bold;}
.new_hjzf_head-HJ04_language nav{min-width: 100px;position: absolute;top: 20px;left: -25px;padding: 10px;background: #e3e3e3;display: none;}
.new_hjzf_head-HJ04_language nav a{display: block;margin-bottom: 6px;}
.new_hjzf_head-HJ04_language nav a img{width: 25px;height: 16px;margin-right: 6px;}
.new_hjzf_head-HJ04_language:hover nav{display: block;}
.new_hjzf_head-HJ04_language #HJ04-lang__menu{min-width: 100px;position: absolute;top: 20px;left: -25px; background: #e3e3e3;display: none; padding:5px 5px 5px 20px;}
.new_hjzf_head-HJ04_language #HJ04-lang__menu a{ display:block; margin-bottom:5px; line-height: 24px;position: relative;}
.new_hjzf_head-HJ04_language #HJ04-lang__menu a img{ margin-right:5px;}
.new_hjzf_head-HJ04_language .head-HJ04__language>ul>li ul li span{font-size: 16px;color: #333333;font-weight: normal;line-height: 20px;}
.new_hjzf_head-HJ04_language .head-HJ04__language:hover >ul>li ul{display: block}
