.new_hjzf_honor-HJ01 .index_honor-hj {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: auto;
    background: #eaeaea;
    padding-top: 50px;
    padding-bottom: 50px;
}

.new_hjzf_honor-HJ01 .honr_title-hj01 {
    width: 1190px;
    text-align: center;
    margin: 0 auto;
}

.new_hjzf_honor-HJ01 .honr_title-hj01 h3 {
    
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    display: inline-block;
}

.new_hjzf_honor-HJ01 .honr_title-hj012 {
    width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.new_hjzf_honor-HJ01 .honr_title-hj012 h6 {
    
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

#index_honlist_wai{width: 1200px;overflow: hidden;margin-top: 35px;}
#new_hjzf_honor_hj01{float: left;width: 900%;height: auto;}
#new_hjzf_honor_hj01 ul{float: left;}
#new_hjzf_honor-HJ01 .index_honlist_wai {
    margin-top: 35px;position: relative;
}
#new_hjzf_honor_hj01 ul li{float: left;width: 278px;height: 365px;text-align: center;margin-right: 30px;}
#new_hjzf_honor_hj01 ul li img{width: 100%;}