.new_hjzf_honor .hj01_index_honor {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: auto;
    background: #eaeaea;
    padding-top: 50px;
    padding-bottom: 50px;
}

.new_hjzf_honor .honr_title {
    width: 1190px;
    text-align: center;
    margin: 0 auto;
}

.new_hjzf_honor .honr_title h3 {
    
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    display: inline-block;
}

.new_hjzf_honor .honr_title2 {
    width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.new_hjzf_honor .honr_title2 h6 {
    
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

.new_hjzf_honor .index_honlist_wai {
    margin-top: 35px;position: relative;
}
.new_hjzf_honor .new_hjzf_honor_swiper .swiper-slide{text-align: center;}
.new_hjzf_honor .new_hjzf_honor_swiper .swiper-slide img{width: 100%}

.new_hjzf_honor .new_hjzf_honor_swiper-next, .new_hjzf_honor .new_hjzf_honor_swiper-prev {
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    outline: none;
    text-align: center;
    line-height: 40px;
}

.new_hjzf_honor .new_hjzf_honor_swiper-prev:before {
    content: '\f104';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_honor .new_hjzf_honor_swiper-next:before {
    content: '\f105';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_honor .new_hjzf_honor_swiper-next {
    right: -50px;
}

.new_hjzf_honor .new_hjzf_honor_swiper-prev {
    left: -50px;
}