#header {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    transition: background-color .4s linear;
    top: 0px;
}

.top1 {
    width: 1140px;
    margin: 0 auto;
    height: 45px;
}

.top2 {
    line-height: 45px;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-family: 微软雅黑;
}

.top_mail {
    line-height: 45px;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-family: 微软雅黑;
    padding-left: 15px;
}

.top_mail a {
    color: #ffffff;
    font-size: 14px;
}

.top4 {
    float: right;
    line-height: 45px;
}

.top4 ul li {
    list-style: none;
    display: inline-block;
}

.top4 ul li a {
    padding: 0 8px;
    line-height: normal;
    font-size: 16px;
    color: #fff;
}

.head_menu {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    z-index: 56;
    background-color: #fff
}

.head_menu > div {
    height: 100%;
    position: relative
}

.page_Logo {
    width: auto;
    height: 100%;
    float: left;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: relative;
}
.page_Logo a{width: auto;height: 100%;display: block;}

.page_Logo img {
    position: absolute;
    width: auto;
    height: 40px;
    top: 50%;
    margin-top: -23px;
}

.nav-right {
    float: right;
    height: 100%;
    display: table;
}

.head_menu .index_nav2 {
    float: right;
    height: 100%;
    padding: 0 10px;
    padding-right: 0;
    vertical-align: middle;
    display: table-cell;
}

#main-menu {
    float: right;
    height: 100%;
    padding: 0 10px;
    padding-right: 0;
    vertical-align: middle;
    display: table-cell;
}

#main-menu > ul {
    height: 100%;
    list-style: none;
    display: table;
    margin-bottom: 0;
}

#main-menu > ul > li {
    position: relative;
    height: 100%;
    float: left;
}

#main-menu > ul > li > a {
    display: block;
    height: 100%;
}

#main-menu > ul > li > a > h2 {
    font-family: 微软雅黑;
    text-transform: none;
    line-height: 80px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 30px;
    -webkit-transition: color .4s ease-in-out, opacity .4s ease-in-out !important;
    -moz-transition: color .4s ease-in-out, opacity .4s ease-in-out !important;
    transition: color .4s ease-in-out, opacity .4s ease-in-out !important;
}

.sf-sub-indicator {
    display: none;
}

.main-menu > ul > li > ul:not(.sub-menu) {
    width: 220px;
    padding: 7px 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .05);
    border-top: 3px solid #07a7e3;
    z-index: 999;
    display: none;
}

.main-menu > ul > li > ul.sub-menu {
    width: 1140px;
    padding: 7px 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .05);
    border-top: 3px solid #07a7e3;
    z-index: 999;
    left: 0;
    display: none;
}

.container .main-menu .mega-menu > .sub-menu {
    left: .9375rem;
    right: .9375rem;
    overflow: hidden;
}

.main-menu > ul > li > ul > li a {
    font-family: 微软雅黑;
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 !important;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 500;
}

.main-menu > ul > li > ul.sub-menu > li {
    padding: 15px 20px !important;
    position: relative;
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}

.main-menu > ul > li > ul.sub-menu > li > ul {
    display: block !important;
    visibility: visible !important;
    box-shadow: none !important;
    position: relative;
}

.main-menu > ul > li > ul.sub-menu > li > a > h3 {
    font-family: 微软雅黑;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #4e6475;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 500;
}

.main-menu > ul > li > ul.sub-menu > li > ul > li > a > h3 {
    font-family: 微软雅黑;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #4e6475;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
}

.nav-tools {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding-left: 0;
    float: right;
}

.nav-tools li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    padding-left: 6px;
    list-style: none;
    position: relative
}

.nav-tools li:first-child {
    padding-left: 0;
}

.nav-tools > li:not(:last-child) {
    padding-right: 6px;
}

.nav-tools li a {
    height: 80px;
    display: table-cell;
    vertical-align: middle
}

.nav-tools .tools-btn-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    color: #ff0000;
}

.nav-tools i {
    padding-top: 6px;
    font-weight: 700;
    display: inline-block;
}

.ti-search:before {
    content: "\e610";
}

i.header-search-icon {
    opacity: 1;
}

.tools-btn-icon i.ti-close {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}

.ins-header-search-main {
}

.ins-header-search {
    background: rgb(240, 246, 249);
    z-index: 999;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: top, opacity, visibility;
    transition-property: top, opacity, visibility;
    position: absolute;
    width: 310px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    top: calc(100% + 30px);
    overflow: hidden;
    right: 0;
    box-sizing: border-box;
}

.ins-search-wrap {
    width: 270px;
    height: 44px;
}

.ins-header-search form {
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #fff;
}

.ins-header-search form button {
    background: 0 0;
    color: #848484;
    width: 40px;
    height: 44px;
    border: none;
    font-size: 22px;
    right: 17px;
    line-height: 49px;
    outline: none;
}
/*index banner2 start*/
.page_Banner2{
    width: 100%;
    margin: 0 auto;
    min-width: 1190px;
    max-height: 670px;
    margin-top: 125px;
}
.page_Banner2_box{
    width:100% !important;
    position:relative;
    padding:0;
    height:100%;
    overflow:hidden;
}

.fullwidthbanner-container .fullwidthbanner	{
    width:100% ;
    height:535px ;
    position:relative;
}

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {
    background: url(../img/btn_on.png) no-repeat;
}

/** BULLETS **/
.tp-bullets {
    z-index: 1001;
    position: absolute;
    bottom: 40px !important;
    top: 90%!important;
}

.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background:url(../img/btn_off.png) no-repeat;
    width: 17px;
    height: 16px;
    float: left;
    margin-right:16px;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
}


.tp-leftarrow.large {
    z-index: 100;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 69px;
    margin-left: 9%;
    margin-top: 2px;
    top: 240px!important;
}

.tp-rightarrow.large {
    z-index: 100;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 69px;
    margin-left:-9%;
    margin-top:2px;
    top: 240px!important;
}



.tp-bullets.tp-thumbs {
    z-index: 100;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px;
    margin-top: -50px;
}

.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}

.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute;
}

.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*filter: alpha(opacity=50);	*/
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.tp-thumbs img {
    width: 100%;
}

.tp-bannertimer {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 200;
    z-index: 5000;
}

.tp-bannertimer.tp-bottom {
    bottom: 0px !important;
    height: 5px;
}
.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tp-simpleresponsive a {
    text-decoration: none;
}

.tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tp-simpleresponsive >ul >li {
    list-stye: none;
    position: absolute;
    visibility: hidden;
}

.caption.slidelink a div,
.tp-caption.slidelink a div {
    width: 10000px;
    height: 10000px;
}

.tp-loader {
    background: url(../img/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/*index banner2 end*/
/*.page_Banner {
    width: 100%;
    margin: 0 auto;
    min-width: 1002px;
    height: 670px;
    margin-top: 45px;
}

.main_image {
    width: 100%;
    height: 670px;
    overflow: hidden;
    margin: 0 auto;
    position: relative
}

.main_image:hover #btn_prev {
    opacity: 1;
}

.main_image:hover #btn_next {
    opacity: 1;
}

.main_image ul {
    width: 9999px;
    height: 670px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 670px;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 670px
}

.main_image li a {
    display: block;
    width: 100%;
    height: 670px
}*/

#rev_slider_1_1_wrapper {
    margin-top: 45px;
}

.HJ01_banner_down {
    width: 100%;
    height: 383px;
    background: transparent;
    position: absolute;
    bottom: -200px;
    z-index: 199;
}

.HJ01_banner_downlist {
    width: 100%;
    margin: auto;
}

.HJ01_banner_downlist li {
    padding: 50px 50px 30px 50px;
    width: 280px;
    height: 303px;
    float: left;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    text-align: center;
    display: none;
}

.HJ01_banner_downlist li .ban_dowmitem_img {
    width: 100%;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.ban_dowmitem_title {
    font-size: 20px;
    line-height: 30px;
    font-family: 微软雅黑;
}

.ban_dowmitem_text {
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.ban_dowmitem_more {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.ban_dowmitem_more a {
    color: #fff;
    font-family: 微软雅黑;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.ban_dowmitem_more a:after {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    position: absolute;
    background: #fff;
    bottom: -6px;
    right: 0;
    width: 0;
    height: 2px;
}

.ban_dowmitem_more a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.HJ01_banner_downlist li:hover .ban_dowmitem_img {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

#ban_dowmitem9 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#ban_dowmitem13 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .4s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .4s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .4s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#ban_dowmitem17 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .6s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .6s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .6s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .6s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.page_probg {
    width: 100%;
    margin: auto;
    min-width: 1190px;
    height: 620px;
    padding-top: 80px;
}

.index_product_title {
    width: 100%;
    margin: auto;
}
#index_product_title_left1 h3 {
    font-size: 30px;
}
.index_product_title_left {
    width: 60%;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.index_product_title_left > div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.index_product_title_right {
    width: 40%;
    float: right;
    padding-right: 15px;
    box-sizing: border-box;
}

.index_product_title_right > div {
    text-align: right;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    font-family: 微软雅黑;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
}

.index_product_more:hover {
    outline: 0;
}

.index_prolist_wai {
    width: 100%;
}

#index_prolist {
    width: 100%;
    margin: auto;
    height: 456px;
    margin-top: 50px;
}

.index_proitem {
    width: 350px;
    height: 456px;
    float: left;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.index_proitem_box {
    width: 350px;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.index_proitem_img {
    width: 350px;
    height: 234px;
    overflow: hidden;
    margin: auto;
}

.index_proitem_img img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.index_proitem_img a {
    position: relative;
}

.index_proitem_img a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    transition: .3s;
    visibility: hidden;
    z-index: 9;
}

.index_proitem_img a:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "\f0c1";
    transition: .3s;
    font-family: "FontAwesome";
    font-weight: 500;
    z-index: 99;
    font-size: 26px;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.index_proitem:hover .index_proitem_img a:before {
    opacity: 0.8;
    visibility: visible;
}

.index_proitem:hover .index_proitem_img a:after {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(-50%);
}

.index_proitem_second {
    padding: 30px 20px 35px;
}

.index_proitem_desc {
    margin-bottom: 0;
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 14px;
}

.index_proitem_more {
    display: inline-block;
    font-size: 13px;
    font-family: 微软雅黑;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.index_proitem:hover .index_proitem_img img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.index_proitem_more:after {
    content: '';
    display: table;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

#aboutus {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 430px;
    background-size: cover;
    padding-top: 70px;
}

.ab_cont {
    width: 1190px;
    margin: auto;
}

.ab_title {
    width: 1140px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .3s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .3s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.ab_title h3 {
    font-family: 微软雅黑;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px
}


#ab_text {
    width: 900px;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-family: 微软雅黑;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.shuzi_box {
    width: 100%;
    margin: auto;
    text-align: center;
}

.shuzi_box li {
    float: left;
    width: 25%;
}

.abus_shuzibox {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    border-right-width: 2px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-right-color: rgba(255, 255, 255, 0.1) !important;
    border-right-style: solid !important;
}

.shuzi_box li:last-child .abus_shuzibox {
    border-right-width: 0px !important;
}

.count_shuzi {
    font-size: 70px;
    line-height: 75px;
    font-family: 微软雅黑;
}

.count_shuzi_desc {
    font-size: 18px;
    line-height: 23px;
    font-family: 微软雅黑;
}
/*hj01-index-honor*/
.hj01_index_honor{width: 100%;min-width: 1190px;max-width: 1920px;height: 505px;background: #eaeaea;padding-top: 50px;}
.honr_title{
    width: 1140px;
    text-align: center;
    margin: 0 auto;
}
.honr_title h3{
    font-family: 微软雅黑;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 35px
}
.honr_title2{
    width: 1140px;
    text-align: center;
    margin: 0 auto;
}
.honr_title2 h6{
    font-family: 微软雅黑;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.index_honlist_wai{margin-top: 35px;}
.index_honitem{width: 237px;height: 312px;}
.index_honitem img{margin: auto;}
/*hj01-index-honor*/

#hj01_advantage {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 660px;
    padding-top: 90px;
    padding-bottom: 40px;
    box-sizing: border-box;
    background-size: cover;
}

.hj01_adv_left {
    width: 557px;
    height: 471px;
    float: left;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
#ab_picbox{width: 557px;height: 471px;position: relative}
.page_indexpic{float: left;	overflow: hidden;width: 557px;height: 471px;}
.page_indexpic ul {width: 1671px;height: auto;}
.page_indexpic ul li {list-style: none;float: left;background: #fff;text-align: center;width: 557px;height: 471px;}
#tip{position: absolute; height: 10px; width: auto; z-index: 2; bottom: 14px; right: 10px;}
#tip ul li{cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 10px;}
.hj01_adv_left img {
    width: 100%;
    height: 100%;
}


.hj01_adv_right {
    width: 527px;
    float: right;
    height: 471px;
}

.hj01_adv_right_title {
    width: 100%;
    color:#333;
    font-family: 微软雅黑;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.advantage_text {
    margin-bottom: 25px;
}

.advantage_text p {
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 14px;
}

.hj01_adv_right_title2 {
    margin-bottom: 20px;
}

.hj01_adv_right_title2 h5 {
    font-family: 微软雅黑;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #333;
    font-size: 18px;
}

.hj01_advlist {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.hj01_advlist li {
    width: 213px;
    float: left;
    padding-left: 35px !important;
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 16px;
}

.advantage_more a {
    width: 145px;
    height: 47px;
    border-style: solid;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    transition: none;
    line-height: 47px;
    border: none;
    font-size: 13px;
    color: #fff;
    font-family: 微软雅黑;
    font-weight: 600;
    text-transform: uppercase;
}

.hj01-evaluate {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 810px;
    margin: auto;
    padding: 140px 172px;
    box-sizing: border-box;
}

.hj01-evaluate_content {
    width: 100%;
    height: 526px;
}

.hj01-evaluate_right {
    width: 50%;
    height: 100%;
    float: right;
    background: #fff;
}

.hj01-evaluate_right_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.hj01-evaluate_right_title {
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    height: 80px;
}

.section-heading-title {
    position: relative;
    margin-bottom: 10px;
    color: #333;
}

.section-heading-title:after {
    content: "";
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #d0d0d0;
    height: 1px;
    width: 80px;
    display: inline-block;
    position: absolute;
    bottom: -24px;
    left: 0;
}

.evaluate_list {
    padding-left: 20px;
    overflow: hidden;
}

.evaluate_list .slick-arrow {
    opacity: 0;
    visibility: hidden;
}

.insignia-testimonial-image img {
    width: 68px;
    height: 68px;
}

.insignia-testimonial-text {
    font-family: 微软雅黑;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #6d8190;
}

@media screen and (max-width: 1440px) {
    .insignia-testimonial-text {
        font-family: 微软雅黑;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 28px;
        color: #6d8190;
    }
}

.insignia-testimonial-meta_name {
    font-family: 微软雅黑;
    font-size: 16px;
}

.insignia-testimonial-meta_job {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 微软雅黑;
    font-weight: 400;
}
.hj01-advantage2{
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 810px;
    margin: auto;
    padding:140px 0;
    box-sizing: border-box;}
.hj01-adv2_content{width: 1140px;margin: auto;height: 594px;position: relative;}
.hj01-adv2_right{width: 60%;height: 100%;float: right;background: #fff;}
.hj01-adv2_right_title {
    margin-bottom: 20px;
    position: relative;
    height: 80px;
}
.adv2-image{width: 100%;height: 237px;}
.adv2-image img{width: 100%;height: 100%;}


.hj01_cases {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 700px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

#index_caselist {
    width: 100%;
    margin: auto;
    height: 456px;
    margin-top: 40px;
}

.index_caseitem {
    width: 346px;
    height: 472px;
    float: left;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.index_caseitem_box {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    border: 6px solid #fff;
    position: relative;
    overflow: hidden;
}

.index_proitem_box {
    width: 350px;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
.index_proitem_name h6{height: 60px;overflow: hidden;text-overflow: ellipsis;color: #333;}

.index_caseitem_img {
    width: 100%;
    height: 335px;
    overflow: hidden;
}

.index_caseitem_img img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.index_caseitem_img a {
    display: block;
    position: relative;
}

.index_caseitem_img a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    transition: .3s;
    visibility: hidden;
    z-index: 9;
}

.index_caseitem_img a:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "\f0c1";
    transition: .3s;
    font-family: "FontAwesome";
    font-weight: 500;
    z-index: 99;
    font-size: 26px;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.index_caseitem:hover .index_caseitem_img a:before {
    opacity: 0.8;
    visibility: visible;
}

.index_caseitem:hover .index_caseitem_img a:after {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(-50%);
}

.index_caseitem:hover .index_caseitem_img img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.index_caseitem_down {
    left: 0;
    right: 0;
    opacity: 1;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 23px;
    position: inherit;
    background-color: #f3f7f9;
    bottom: 0;
    height: 40px;
    z-index: 999;
}

.index_caseitem_down_content {
    background-color: #fff;
    margin: 10px 10px;
    padding: 13px 0 12px;
    margin-top: -60px;
}

.index_case_title h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 34px;
}

.index_case_title2 {
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 14px;
    width: 80%;
    margin: auto;
    margin-top: -6px;
    max-height: 42px;

}

.index_case_share {
    border-top: 1px solid #edeff1;
    margin: 0 15px;
    margin-top: 14px;
    padding-top: 0;
}

.index_case_share a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0 6px;
    display: inline-block;
}

.slick-prev {
    left: -50px !important;
}

.slick-next {
    right: -50px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}

#hj01_news {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    margin: 0 auto;
    height: 640px;
    padding-top: 80px;
}

#index_newslist {
    width: 100%;
    margin: auto;
    height: 446px;
    margin-top: 40px;
}

#index_newslist .slick-track {
    padding-top: 15px;
}

.index_newsitem {
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    height: 446px;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}

.index_newsitem_box {
    padding: 18px;
    background: #fff;
}

.index_newsitem_img {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.index_newsitem_img img {
    width: 100%;
    height: 100%;
}

.index_newsitem_down {
    padding: 30px 15px 0;
    margin: auto;
    text-align: left;
}

.index_newsdate span {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6d8190;
}

.index_newsitem_title a {
    font-family: 微软雅黑;
    font-size: 18px;
    line-height: 30px;
}

.index_newsitem:hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}
#index_newslist .slick-dots{bottom:-60px;}


.hj01_index_inquiry {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    height: 721px;
    padding-bottom: 70px;
    padding-top: 80px;
}

.hj01_index_inquiry_left {
    width: 434px;
    float: left;
    height: 706px;
}

.index_inquiry_left_title {
    width: 434px;
    height: 147px;
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;
}

.index_inquiry_left_title h4, .index_inquiry_left_title h6 {
    color: #fff;
}

.index_inquiry_left_main {
    width: 434px;
    height: 559px;
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;
    background: #fff;
}

#index_inquiry {
    width: 100%;
    margin: auto;
}

.inquiry_box {
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#inquiry_box1 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    animation-delay: .2s;
}

#inquiry_box2 {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    animation-delay: .3s;
}

#inquiry_box3 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s;
}

#inquiry_box4 {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    animation-delay: .5s;
}

#inquiry_box5 {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

#inquiry_box6 {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    animation-delay: .8s;
}

.inquiry_box input {
    width: 348px;
    height: 24px;
    line-height: 24px;
    padding: 13px;
    border: 1px solid #d5e1e4;
    border-radius: 3px;
}

.inquiry_box input#code_char {
    width: 348px;
    height: 24px;
    line-height: 24px;
    padding: 3px 13px;
    border: 1px solid #d5e1e4;
    border-radius: 3px;
}
#getcode_char1{
    font-size: 14px;color: #666;
}
.inquiry_box textarea {
    width: 348px;
    height: 122px;
    line-height: 24px;
    padding: 13px;
    border: 1px solid #d5e1e4;
    border-radius: 3px;
}

.inquiry_box input#index_submit {
    width: 374px;
    line-height: 14px;
    height: 50px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 微软雅黑;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.inquiry_box input#index_submit:hover {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, .15);
    color: #fff;
}

.hj01_index_inquiry_right {
    width: 627px;
    height: 706px;
    float: right;
}

.hj01_index_inquiry_right_pic {
    width: 100%;
    height: 256px;
    overflow: hidden
}

.hj01_index_inquiry_right_pic img {
    width: 100%;
    height: 100%;
}

.hj01_index_inquiry_right_text p {
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

#wrapper {
    margin-bottom: 462px;
    position: relative;
    z-index: 10;
    background: #fff;
    overflow-x: hidden;
}

.qu_cont {
    width: 1190px;
    height: auto;
    margin: 0 auto;
}

#qbox1, #qbox2, #qbox3 {
    margin-top: 28px;
}

#qbox1 {
    float: right;
    width: 554px;
    min-height: 355px;
    display: none
}

#qbox3 {
    float: right;
    width: 554px;
    min-height: 335px;
    display: none
}

.qpic2, .qpic4 {
    width: 272px;
    height: 89px;
    float: right;
}

.qpic1, .qpic3 {
    width: 272px;
    height: 89px;
    float: left;
}

.qitem:hover .qpic1, .qitem:hover .qpic2, .qitem:hover .qpic3, .qitem:hover .qpic4 {
    filter: drop-shadow(0px 0px 4px #acabab);
}

.qitem:hover .qtext2, .qitem:hover .qtext {
    text-decoration: underline;
    color: white;
}

.qtext {
    width: 278px;
    height: 89px;
    float: left;
    text-align: left;
    margin-left: 4px;
}

.qtext2 {
    width: 278px;
    height: 89px;
    float: left;
    text-align: right;
    margin-right: 4px;
}

.qtitle {
    font-size: 18px;
    color: #ffffff;
    font-family: 微软雅黑;
    font-weight: bold;
}

.qt {
    font-size: 15px;
    color: #fff;
    font-family: 微软雅黑;
    font-weight: normal;
    line-height: 18px;
    opacity: 0.7;
}

#customers {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    background: url(../img/cus_btn.png) repeat-x 0 21px;
}

.customer_cont {
    width: 1190px;
    margin: auto;
    height: auto;
    margin-top: 66px;
}

.cus-title {
    width: 1190px;
    text-align: center;
    font-size: 26px;
    color: #333333;
    font-weight: normal;
    font-family: 微软雅黑;
}

#cus_btn {
    width: 1190px;
    margin: auto;
    height: 30px;
}

.Cooperation_cont {
    margin-top: 22px;
}

.blk_12 {
    OVERFLOW: hidden;
    min-width: 1190px;
    margin: auto;
    ZOOM: 1;
    position: relative;
}

.blk_12 .pcont {
    OVERFLOW: hidden;
    WIDTH: 1190px;
    margin: auto;
    position: relative;
}

.blk_12 .ScrCont {
    WIDTH: 32766px;
    ZOOM: 1
}

.blk_12 #List1_2 {
    FLOAT: left;
}

.blk_12 #List2_2 {
    FLOAT: left;
}

.LeftBotton2 a {
    width: 24px;
    display: block;
}

.RightBotton2 a {
    width: 24px;
    display: block;
    cursor: pointer;
}

.blk_12 img {
    width: 230px;
    height: 100px;
    display: block;
    float: left;
    margin-right: 85px;
    border: 1px solid #c9c9c9;
}

.commu_cont3 {
    MARGIN: 9px 7px 7px;
    LINE-HEIGHT: 150%
}

.commu_cont3 UL {
    WIDTH: 132px
}

.HJ01_other2 {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 298px;
    padding-top: 80px;
}

.hj01_bottom_contact li {
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#hj01_contact_item2 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s;
}

#hj01_contact_item3 {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

#hj01_contact_item4 {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    animation-delay: .8s;
}

.hj01_contact_item-title {
    color: #fff;
    font-size: 20px;
}

.hj01_contact_item_content p {
    color: #fff;
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    font-size: 15px;
    min-height: 75px;
}

.hj01_contact_item_content p a {
    color: #fff;
}

.hj01_contact_item_btn {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.hj01_contact_item_btn a {
    color: #fff;
    font-family: 微软雅黑;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative
}

.hj01_contact_item_btn a:after {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    position: absolute;
    background: #fff;
    bottom: -7px;
    right: 0;
    width: 0;
    height: 2px;
}

.hj01_contact_item_btn a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.HJ01_bottom {
    width: 100%;
    min-height: 402px;
    min-width: 1190px;
    max-width: 1920px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 60px;
}

.upper-footer {
    padding-bottom: 60px;
}

.HJ01_bottom_down_item {
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.HJ01_bottom_down_item_content {
    width: 100%;
}

.HJ01_bottom_down_item_content p {
    color: #6d8190;
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.HJ01_bottom_down_item_content a {
    color: #6d8190;
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.HJ01_bottom_down_item_content ul > li {
    position: relative;
    padding-bottom: 12px;
}



.HJ01_bottom_down_item_content ul > li a h3 {
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    padding-left: 18px;
    font-size: 15px;
    display: inline-block;
}
.HJ01_bottom_down_item_content ul > li a h3:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 80%;
    color: #6d8190
}
.HJ01_bottom_down_item_content ul > li a h2 {
    font-family: 微软雅黑;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
    padding-left: 18px;
    display: inline-block;
}
.HJ01_bottom_down_item_content ul > li a h2:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 80%;
    color: #6d8190
}
.HJ01_bottom_share {
    margin-top: 40px;
}

.HJ01_bottom_share a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 12px;
    display: inline-block;
    text-align: center;
}

.bottom_copyright > div {
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 15px;
    color: #fff;
    font-family: 微软雅黑;
    font-weight: 400;
}

.bottom_copyright > div a {
    font-size: 15px;
    color: #fff;
    font-family: 微软雅黑;
    font-weight: 400;
}

.foot_nav {
    width: 240px;
    height: auto;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 116px;
}

.foot_title {
    font-size: 22px;
    color: #ffffff;
    font-family: 微软雅黑;
    font-weight: bold;
    text-align: left;
    margin-top: 42px;
    margin-bottom: 16px;
}

.foot_nav li {
    float: left;
}

.foot_nav #menu1 {
    margin-right: 40px;
}

.foot_nav #menu3 {
    margin-right: 28px;
}

.foot_nav #menu5 {
    margin-right: 40px;
}

.foot_nav li a h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 31px;
    padding: 0 10px;
}

.foot_nav div:last-child {
    display: none;
}

.foot_hot {
    width: 229px;
    float: left;
    height: auto;
    margin-right: 116px;
}

.foot_proclass {
    width: 229px;
    height: auto;
}

.foot_proclass li {
    float: left;
}

.ft_cla_name {
    width: 100%;
    float: left;
}

.ft_cla_name a h3 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 31px;
}

.ft_ewm {
    width: 111px;
    float: left;
    margin-right: 116px;
}

.ft_cont {
    float: left;
    width: 262px;
}

.ft_cont ul li {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 微软雅黑;
    padding-left: 28px;
    line-height: 23px;
}

.fc-left {
    font-size: 14px;
    color: #ffffff;
    width: 812px;
    height: 143px;
    float: left;
}

.lef_1, .lef_2 {
    float: left;
}

.lef_1 {
    width: 419px;
}

.lef_2 {
    width: 382px;
}

.lef_1 li, .lef_2 li {
    padding-left: 22px;
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
}

.foot-cont {
    width: 1190px;
    height: 143px;
    margin: 0 auto;
}

.fc_title {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.fc_add {
    list-style: none;
    height: 74px;
    width: 886px;
}

.fc_add li {
    float: left;
    margin-right: 20px;
    line-height: 30px;
    padding-left: 28px;
}

.fc-right {
    width: 378px;
    height: 143px;
    float: right;
}

.fr_2 {
    float: right;
    width: 264px;
    margin-right: 12px;
}

.foot1 {
    width: 792px;
    height: 75px;
    margin-top: 25px;
    float: left;
}

.foot2 {
    width: 97px;
    height: 117px;
    float: left;
    text-align: center;
    margin-top: -17px;
}

.foot3 {
    width: 110px;
    height: 77px;
    float: right;
    text-align: center;
}

.search_list {
    position: absolute;
    background: url(../img/topewmbg.png);
    top: 22px;
    width: 250px;
    height: 59px;
    font-size: 15px;
    text-align: center;
    z-index: 55
}

#qbox1, #qbox3, .ab_pic, .news_text {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}