.HJZF2__news-12 {
    width: 100%;
    margin: auto;
    height: auto;
    padding: 60px 0;
}

.HJZF2__news-12maintitle {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 50px;
}

.HJZF2__news-12-left {
    float: left;
    width: 400px;
    height: 487px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.HJZF2__news-12-leftbox {
    padding: 30px;
}

.HJZF2__news-12-leftbox .title {
    font-size: 36px;
    color: #ffffff;
    line-height: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}

.HJZF2__news-12-leftbox .title span {
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    font-weight: normal;
}

.HJZF2__news-12-leftbox .line {
    width: 54px;
    height: 5px;
    background: #fff;
    display: inline-block;
    margin-bottom: 15px;
}

.HJZF2__news-12-leftbox .desc {
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 60px;
}

.HJZF2__news-12-leftbox .more {
    padding: 10px 30px;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.HJZF2__news-12-leftbox .more:hover {
    text-decoration: underline;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.HJZF2__news-12-right {
    float: right;
    width: 790px;
}

.HJZF2__news-12-right .HJZF2__news-12list .HJZF2__news-12__item {
    background: #f8f8f8;margin-bottom: 8px;height: 240px;margin-left: 10px;
}

.HJZF2__news-12-right .HJZF2__news-12list .HJZF2__news-12__item .HJZF2__news-12__itempic {
    width: 300px;
}
.HJZF2__news-12-right .HJZF2__news-12list .HJZF2__news-12__item .HJZF2__news-12__itempic a{
    position: relative;
    display: block;
    width: 100%;
    height:240px;
    overflow: hidden;
    float: left;
}
.HJZF2__news-12-right .HJZF2__news-12list .HJZF2__news-12__item .HJZF2__news-12__itempic img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}
.HJZF2__news-12__itemkk{width: 470px;padding: 30px;float: right;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2__news-12__itemName a{font-size: 18px;color: #333333;line-height: 20px;font-weight: normal;padding-bottom: 10px;}
.HJZF2__news-12__itemtime {font-size: 14px;color: #666666;line-height: 20px;font-weight: normal;padding-bottom:20px;}
.HJZF2__news-12__itemjj a{font-size: 14px;color: #666666;line-height: 20px;font-weight: normal;padding-bottom: 30px;}
.HJZF2__news-12__itemmore a{font-size: 14px;color: #237dd8;line-height: 20px;font-weight: normal;}
.HJZF2__news-12-right .HJZF2__news-12list .HJZF2__news-12__item:nth-child(even) .HJZF2__news-12__itempic{
    float: right;
}
.HJZF2__news-12-right .HJZF2__news-12list .HJZF2__news-12__item:hover .HJZF2__news-12__itempic img{transform: scale(1.02) translate3d(-50%, -50%, 0);-moz-transform: scale(1.02) translate3d(-50%, -50%, 0);-webkit-transform: scale(1.02) translate3d(-50%, -50%, 0);transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;}