.HJZF2__news-11{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;margin: auto;padding-top: 50px;padding-bottom: 40px;}
.HJZF2__news-11 .container{width: 1200px;}
.HJZF2__news-11--Content{width: 100%;overflow: hidden;}
.HJZF2__news-11__title{width: 100%;overflow: hidden; margin-bottom: 30px;}
.HJZF2__news-11left{width: 600px;float: left; font-size: 30px;color: #121619;line-height: 48px;font-weight: normal;}
.HJZF2__news-11right{width:600px;float: right;}
.HJZF2__news-11__more{ width:142px; float:right; text-align:center; height:46px; border:1px solid #cccccc; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; font-size:16px; color:#121619; line-height:46px;}

.HJZF2__news-11main{width: 100%; position:relative; overflow:hidden; padding-bottom:50px;}
.swiper-container.HJZF2__news-11list{width: 100%; position:relative; overflow:hidden;}
.HJZF2__news-11__itemlist{ width:384px; float:left; height:365px; overflow:hidden; transition:all .6s; position:relative;}
.HJZF2__news-11__itempic{width:384px; height:180px; overflow:hidden; top:-180px; position:absolute; z-index:9;}
.HJZF2__news-11__itempic img{width:384px; height:180px;}
.HJZF2__news-11__itemkk{ transition:all .6s; height:185px;}
.HJZF2__news-11__itemName{ width:100%; text-align:left; height:25px; overflow:hidden;}
.HJZF2__news-11__itemName a{font-size: 16px; color:#121619; line-height:25px;}
.HJZF2__news-11__itemtime{width:50px; float:left; margin-top:15px; text-align:left; font-size:16px; color:#999999; line-height:52px; border-top:1px solid #999999;}
.HJZF2__news-11__itemjj{width:100%; height:72px; overflow:hidden; text-align:left; margin-top:5px;}
.HJZF2__news-11__itemjj a{ font-size:14px; color:#999999; line-height:24px;}
.HJZF2__news-11__itempic2{width:384px; height:180px; margin-top:15px; overflow:hidden; position:absolute; bottom:0; z-index:9;}
.HJZF2__news-11__itempic2 img{width:384px; height:180px;}
.HJZF2__news-11__itemlist:hover .HJZF2__news-11__itemkk{ -webkit-transform:translateY(180px); -moz-transform:translateY(180px); transform:translateY(180px); margin-top:15px;}
.HJZF2__news-11__itemlist:hover .HJZF2__news-11__itempic{ top:0; transition:all .6s;}
.HJZF2__news-11__itemlist:hover .HJZF2__news-11__itempic2{bottom:-180px; transition:all .6s;}

.HJZF2__news-11__pagination{
  position: absolute;
  text-align:center;
  bottom:0;
  width: 100%;
  z-index:9;
}
