.new_hjzf_news-HJ04 .indexNewsContainer{padding-top: 80px;padding-bottom: 100px;}
.new_hjzf_news-HJ04 .indexNewsDetail{margin-top: 15px;border-top: 1px solid #f2f2f2;}
.new_hjzf_news-HJ04-swiper{
	margin-top:40px;
	padding-bottom:40px;
}
.hjzf_news-HJ04__pagination{
	text-align:center;
	position:absolute;
	bottom:0 !important;
}
.new_hjzf_news-HJ04 .indexNewsList{width: 33.33%;float: left;padding-right: 20px;padding-top: 40px;
    -webkit-transition: all .36s;-moz-transition: all .36s;-o-transition: all .36s;transition: all .36s;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;
}
.new_hjzf_news-HJ04 .indexNewsList1{
	-webkit-transition: all .36s;-moz-transition: all .36s;-o-transition: all .36s;transition: all .36s;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;
}
.new_hjzf_news-HJ04 .indexNewsDate{
    float: inherit;
    font-size: 24px;
    color: #888;
    
}
.new_hjzf_news-HJ04 .indexNewsTitle{
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.new_hjzf_news-HJ04 .indexNewsText{
    width: 88%;
    height: 52px;
    font-size: 13px;
    line-height: 26px;
    color: #999;
    margin-top: 13px;
}
.new_hjzf_news-HJ04 .indexNewsDetail>li:hover{
    transform: translate(0,15px);
}
.new_hjzf_news-HJ04 .indexNewsList1:hover{
    transform: translate(0,15px);
}
.new_hjzf_news-HJ04 .serviceMore{
    color: #0153ba;
    
    margin-top: 20px;
}
