.HJZF2__news-7{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;margin: auto;padding-top: 50px;padding-bottom: 40px;}
.HJZF2__news-7 .container{width: 1200px;}
.HJZF2__news-7__left{width: 660px;float: left;height: auto;}
.HJZF2__news-7__right{width: 450px;float: right;height: auto;position: relative}
.HJZF2__news-7__right:before{content: '';display: table;width: 2px;height: 524px;border-right: 1px dashed #ccc;position: absolute;left: -20px;top: 0}
.HJZF2__news-7--title{width: 100%;margin-bottom: 36px;padding-bottom: 16px;border-bottom: 1px solid #cccccc;position: relative}
.HJZF2__news-7--title:before{content: '';display: table;width: 120px;height: 2px;background: #3d74cf;position: absolute;bottom: 0;left: 0;}
.HJZF2__news-7--title span{color: #121619;font-size: 16px;font-weight: normal;}
.HJZF2__news-7--title a{float: right;color: #121619;font-size: 16px;font-weight: normal;}

.HJZF2__news-7__itemLeft{padding: 15px 0;border-top: 1px dashed #cccccc;}
.HJZF2__news-7__itemLeft a{font-size: 16px;color: #333333;font-weight: normal;}
.HJZF2__news-7__itemLeft span{float: right;font-size: 16px;color: #666666;font-weight: normal;}
.HJZF2__news-7__itemLeft__first{width: 100%;margin-bottom: 20px;border-top: none;padding: 0;}
.HJZF2__news-7__itemLeft__first .HJZF2__news-7__itemLeft__img{width: 320px;height: 180px;overflow: hidden;float: left}
.HJZF2__news-7__itemLeft__first .HJZF2__news-7__itemLeft__img img{width: 100%;height: 100%;}
.HJZF2__news-7__itemLeft__imgRight{width: 320px;float: right;padding-top: 16px;}
.HJZF2__news-7__itemLeft__name{width: 100%;font-size: 16px;color: #333333;line-height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 18px;}
.HJZF2__news-7__itemLeft__name a{font-size: 16px;color: #333333;line-height: 20px;}
.HJZF2__news-7__itemLeft__desc{font-size: 14px;color: #666666;line-height: 24px;margin-bottom: 20px;}
.HJZF2__news-7__itemLeft__more{min-width: 100px;height: 36px;border: 1px solid #cccccc;line-height: 36px;text-align: center;font-size: 14px;color: #666;font-weight: normal;display: inline-block;padding: 0 10px;}
.HJZF2__news-7__itemRight{border-bottom: 1px dashed #cccccc;margin-bottom: 16px;}
.HJZF2__news-7__itemRight:last-child{border-bottom: none;}
.HJZF2__news-7__itemRight__name{margin-bottom: 20px;}
.HJZF2__news-7__itemRight__name span,.HJZF2__news-7__itemRight__desc span{width: 26px;height: 26px;line-height: 26px;text-align: center;background: #333;font-size: 16px;color: #fff;margin-right: 20px;display: inline-block}
.HJZF2__news-7__itemRight__name a{font-size: 16px;color: #333333;line-height: 26px;font-weight: normal;display: block;width: 400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: right}
.HJZF2__news-7__itemRight__desc a{float: right;display:block;width: 400px;height: 60px;margin-bottom: 30px;overflow: hidden;font-size:16px;line-height:20px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;
    word-break: break-word;}