.new_hjzf_news-HJ01 #hj01_news {
    width: 100%;
    max-width: 1920px;
    min-width: 1190px;
    margin: 0 auto;
    height: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}


.new_hjzf_news-HJ01 .index_product_title {
    width: 100%;
    margin: auto;
    margin-bottom: 35px;
}

.new_hjzf_news-HJ01 .index_product_title_left {
    width: 60%;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.new_hjzf_news-HJ01 #index_product_title_left3 h3 {
    position: relative;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
    font-size: 35px;
    z-index: 2;
}
.new_hjzf_news-HJ01 #index_product_title_left3 h3:before{
    content: '';display: none;width: 350px;height: 30px;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;position: absolute;top: 20px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);background: #dae3ec;z-index: -2;
}
.new_hjzf_news-HJ01 .index_product_title_right {
    width: 40%;
    float: right;
    padding-right: 15px;
    box-sizing: border-box;
}

.new_hjzf_news-HJ01 .index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
    float: right;
}

.new_hjzf_news-HJ01 #index_newslist {
    width: 100%;
    margin: auto;
    height: 446px;
    margin-top: 40px;
}
.new_hjzf_news-HJ01 .index_newslist_wai_box{
    position: relative;width: 100%;
}


/*.index_newsitem {
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    height: 446px;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}*/

.new_hjzf_news-HJ01 .index_newsitem_box {
    padding: 18px;
    background: #fff;
}

.new_hjzf_news-HJ01 .index_newsitem_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.new_hjzf_news-HJ01 .index_newsitem_img img {
    width: 100%;
    height: 100%;
}

.new_hjzf_news-HJ01 .index_newsitem_down {
    padding: 30px 10px 0;
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}
.new_hjzf_news-HJ01 .index_newsdate{
    margin-bottom: 5px;
}
.new_hjzf_news-HJ01 .index_newsdate span {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333333;
}

.new_hjzf_news-HJ01 .index_newsitem_title a {
    
    font-size: 18px;
    line-height: 30px;
}
.new_hjzf_news-HJ01-swiper{margin-top: -15px;}
.new_hjzf_news-HJ01 .index_newsitem_box{
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}
.new_hjzf_news-HJ01 .index_newsitem_box:hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
}

.new_hjzf_news-HJ01 .new_hjzf_news-HJ01-swiper-next,.new_hjzf_news-HJ01 .new_hjzf_news-HJ01-swiper-prev {
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    outline: none;
    text-align: center;
    line-height: 40px;
}
.new_hjzf_news-HJ01 .swiper-slide{
    padding-top: 15px;
}
.new_hjzf_news-HJ01 .new_hjzf_news-HJ01-swiper-prev:before {
    content: '\f104';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_news-HJ01 .new_hjzf_news-HJ01-swiper-next:before {
    content: '\f105';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_news-HJ01 .new_hjzf_news-HJ01-swiper-next {
    right: -50px;
}

.new_hjzf_news-HJ01 .new_hjzf_news-HJ01-swiper-prev {
    left: -50px;
}
