.HJZF2__news-9{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;margin: auto;padding-top: 50px;padding-bottom: 40px;}
.HJZF2__news-9 .container{width: 1200px;}
.HJZF2__news-9--Content{width: 100%;overflow: hidden;}
.HJZF2__news-9__title{font-size: 32px;color: #333333;line-height: 40px;font-weight: normal;margin-bottom: 36px;}
.HJZF2__news-9left{width: 558px;float: left;}
.HJZF2__news-9right{width:580px;float: right;}
.HJZF2__news-9left__swiper{padding-bottom: 40px;}
.HJZF2__news-9left__swiper .swiper-slide{width: 100%;height: 167px;border: 1px solid #a7a7a7;margin-bottom: 10px;padding: 25px 15px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.HJZF2__news-9__item{width: 100%;justify-content: space-between;}
.HJZF2__news-9left__swiper .swiper-slide .HJZF2__news-9__img{width: 60px;height: 60px;overflow: hidden;}
.HJZF2__news-9left__swiper .swiper-slide .HJZF2__news-9__img img{width: 100%;height: 100%;}
.HJZF2__news-9left__swiper .swiper-slide .HJZF2__news-9__wrap{width: 440px;}
.HJZF2__news-8__name a{font-size: 16px;color: #333333;font-weight: normal;line-height: 22px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-bottom: 12px;display: block;}
.HJZF2__news-8__desc{font-size: 14px;color: #666666;font-weight: normal;line-height: 30px;text-overflow: ellipsis;overflow: hidden;white-space: normal;height: 80px;overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;}
.HJZF2__news-9left__pagination{bottom: 10px;}
.HJZF2__news-9left__swiper.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{width:14px;height:14px;transform: scale(0.5);-moz-transform:scale(0.5);-webkit-transform:scale(0.5);opacity: 1;background: #a7a7a7;margin: 0 20px;}
.HJZF2__news-9left__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #a7a7a7;position: relative;}
.HJZF2__news-9left__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active:before{content: '';display: table;width: 40px;height: 40px;border:1px solid #a7a7a7;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;position: absolute;top: -15px;left: -15px;}
.HJZF2__news-9left__swiper .HJZF2__news-9left__pagination:before{content: '';display: table;width: 100%;height: 1px;border-top: 1px solid #a7a7a7;left: 0;top: 7px;position: absolute;}

.HJZF2__news-9rightDesc{width: 100%;font-size: 14px;line-height: 28px;color: #666666;font-weight: normal;height: 106px;margin-bottom: 14px;text-overflow: ellipsis;overflow: hidden;white-space: normal;overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;}
.HJZF2__news-9right__swiper{width: 420px;margin: auto;}
 .swiper-button-next.HJZF2__news-9right-next, .HJZF2__news-9right-prev.swiper-button-prev{
    background-image: none;background: #d00819;color: #fff;width: 30px;height: 30px;text-align: center;line-height: 30px;font-size: 20px;opacity: 1;outline: none;
}