.HJZF2__news-10{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;margin: auto;padding-top: 50px;padding-bottom: 40px;}
.HJZF2__news-10 .container{width: 1200px;}
.HJZF2__news-10--Content{width: 100%;overflow: hidden;}
.HJZF2__news-10__title{font-size: 32px;color: #333333;line-height: 40px;font-weight: normal;margin-bottom: 36px;position: relative;}
.HJZF2__news-10__title:before{content: '';display: table;width: 40px;height: 2px;background: #f65a1c;position: absolute;top: 40px;left: 0;}
.HJZF2__news-10left{width: 558px;float: left;}
.HJZF2__news-10right{width:580px;float: right;}

.HJZF2__news-10--leftContent ul li{width: 100%;margin-bottom: 8px;}
.HJZF2__news-10__itemName{width: 100%;height: 48px;line-height: 48px;font-size: 16px;color: #333333;font-weight: normal;background:#fff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 0 40px 0 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2__news-10--leftContent ul li .HJZF2__news-10__itemContent{width: 100%;margin-top: 8px;justify-content: space-between;}
.HJZF2__news-7__itemLeft__img{width: 198px;height: 126px;overflow: hidden;}
.HJZF2__news-7__itemLeft__img img{width: 100%;height: 100%;}
.HJZF2__news-10--leftContent ul li .HJZF2__news-10_wrap{display: none;}
.HJZF2__news-7__itemLeft__desc p{width: 300px;padding-right: 40px;height: 96px;overflow: hidden;}
.HJZF2__news-7__itemLeft__desc p a{font-size: 16px;color: #666666;line-height: 22px;font-weight: normal;}
.HJZF2__news-7__itemLeft__desc div a{font-size: 16px;color: #666666;line-height: 22px;font-weight: normal;margin-left: 4px;top: 2px;position: relative;}
.HJZF2__news-10--leftContent ul li.active .HJZF2__news-10__itemName{background: #f65a1c;color: #fff;}
.HJZF2__news-10--leftContent ul li.active .HJZF2__news-10_wrap{display: flex;}
.HJZF2__news-10--leftContent ul li:hover .HJZF2__news-10__itemName{background: #f65a1c;color: #fff;cursor: pointer;}



.HJZF2__news-10rightDesc{width: 100%;height: auto;line-height: 22px;font-size: 16px;color: #333333;white-space: normal;word-break: keep-all;margin-bottom: 30px;}
.HJZF2__news-10__rightTitle{font-size: 16px;line-height: 22px;color: #f65a1c;font-weight: normal;padding-left: 30px;position: relative;margin-bottom: 20px;}
.HJZF2__news-10__rightTitle:before{content: '';display: table;width: 20px;height: 2px;background: #f65a1c;position: absolute;top: 10px;left: 0;}
.HJZF2__news-10right__swiper .swiper-slide{width: 142px;height: 100px;}
.HJZF2__news-10right__swiper .swiper-slide img{width: 100%;height: 100%;}
.HJZF2__news-10right-next.swiper-button-next, .HJZF2__news-10right-prev.swiper-button-prev{background-image: none;line-height: 44px;font-size: 20px;outline: none;}