.new_hjzf_other-14 .choose{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;margin-bottom: 5px;}
.container {width: 1200px;}
.ibox-customized {padding: 140px 0px 90px;color: #fff;text-align: center;}
.iboxT {
    margin-bottom: 40px;
}
.iboxT .zh {
    font-size: 26px;
    line-height: 1.4;
}
.ibox-customized .pageC {
    font-size: 20px;
    margin-bottom: 60px;
}
.dly_1 {
    transition-delay: 100ms;
    -webkit-transition-delay: 100ms;
}
.pageC {
    overflow: hidden;
    font-size: 14px;
    line-height: 2;
}
.btn-more {
    margin: 0px auto;
    width: 360px;
    height: 65px;
    line-height: 65px;
    font-size: 20px;
    text-align: center;
    display: block;
    background-color: #0d3aa3;
    position: relative;
    overflow: hidden;
}
.btn-more .txt {
    color: #fff;
}
.btn-more .txt b {
    font-size: 26px;
}
.transYT50 {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    opacity: 1;
    visibility: visible;
    transition: transform 600ms,opacity .5s cubic-bezier(0.445, 0.145, 0.355, 1);
    -webkit-transition: transform 600ms,opacity .5s cubic-bezier(0.445, 0.145, 0.355, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
}
.action.transYT50, .action.transYT502, .action.transYT20 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
