.HJ01_other2{
width: 100%;
min-width: 1190px;
max-width: 1920px;
height: 298px;
padding-top: 80px;
margin: auto;
}

.hj01_bottom_contact li {
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

#hj01_contact_item2 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s;
}

#hj01_contact_item3 {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

#hj01_contact_item4 {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    animation-delay: .8s;
}

.hj01_contact_item-title {
    color: #fff;
    font-size: 22px;
    
    line-height: 30px;
    margin-bottom: 15px;
}

.hj01_contact_item_content p {
    color: #ced5e4;
    
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    font-size: 15px;
    min-height: 75px;
}

.hj01_contact_item_content p a {
    color: #fff;
}

.hj01_contact_item_btn {
    margin-top: 15px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.hj01_contact_item_btn a {
    line-height: 28px;
    color: #fff;
    
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative
}

.hj01_contact_item_btn a:after {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    position: absolute;
    background: #fff;
    bottom: -8px;
    right: 0;
    width: 0;
    height: 2px;
}

.hj01_contact_item_btn a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}