.other-3{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;background-image: linear-gradient(-160deg, #d1d9da, #ebf1f4); }
.other-3 .container{height:100%;display: flex;justify-content: space-between;align-items: center;position: relative;}
.other-3 .container:before{content: '';display: table;width: 1px;height: 497px;background: #cccccc;position: absolute;left: 50%;right: 0;top: 55%;transform: translateY(-50%);}
.other-3__title{font-size: 36px;line-height: 78px;color: #333;text-transform: uppercase;font-weight: bold;}
.other-3__desc{font-size: 18px;line-height: 24px;color: #333333;text-transform: uppercase;margin-bottom: 40px;}
.other-3__pic{width: 420px;height: 400px;overflow: hidden;display: block;}
.other-3__pic img{width: 100%;height: 100%;}