.HJZF2_other--12{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;padding-top: 80px;padding-bottom: 80px;}
.HJZF2_other--12 .container{width: 1200px;margin: auto;height: auto;}
.HJZF2_other--12__title{width: 100%;text-align: center;font-size: 30px;line-height: 40px;color: #333333;font-weight: bold;margin-bottom: 20px;text-transform: uppercase;}
.HJZF2_other--12__subtitle{width: 100%;text-align: center;font-size: 14px;line-height: 28px;color: #999999;font-weight: normal;margin-bottom: 40px;}
.HJZF2_other--12__content{width: 100%;justify-content: space-around;}
.HJZF2_other--12Left{width: 510px;padding-top: 60px;}
.HJZF2_other--12right{width: 586px;height: 416px;position: relative;top: 62px;}
.HJZF2_other--12Left__name{font-size: 20px;line-height: 28px;color: #333333;margin-bottom: 20px;}
.HJZF2_other--12Left__desc{font-size: 16px;line-height: 28px;color: #666666;margin-bottom: 30px;}
.HJZF2_other--12__more{width: 170px;height: 48px;display: block;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #333333;color: #fff;font-size: 16px;line-height: 48px;text-align: center;}










