.new_hjzf_other-2HJ04 .indexOtherContainer{
    padding-top: 150px;
    padding-bottom: 100px;
}
.new_hjzf_other-2HJ04 .otherLeftIndexContainer{
    width: 397px;
    height: 397px;
}
.new_hjzf_other-2HJ04 .otherLeftIndexContainer>img{
    width: 100%;
}
.new_hjzf_other-2HJ04 .otherRightContainer{width: 793px;}
.new_hjzf_other-2HJ04 .otherIcon{width: 198px;height: 198px;position: relative;}
.new_hjzf_other-2HJ04 .otherIcon>img{width: 198px;height: 199px;}
.new_hjzf_other-2HJ04 .otherIcon01,.otherIcon03,.otherIcon05{margin-left: 198px;}
.new_hjzf_other-2HJ04 .otherIconText{
    width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 35px;
}
.new_hjzf_other-2HJ04 .otherIcon03 .otherIconText03{
    color: #333;
}
.new_hjzf_other-2HJ04 .otherIconTextLast{
    width: 100%;
    text-indent: 30px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top:40px;
}
.new_hjzf_other-2HJ04 .otherIconTextTips{
    width: 100%;
    text-indent: 30px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 60px;
    opacity: 0.5;
}