.HJZF2__partner--6{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;margin: auto;padding: 80px 0;}
.HJZF2__partner--6 .container{width: 1200px;margin: auto;}
.HJZF2__partner--6__title{text-align: center;font-size: 30px;color: #333333;line-height: 36px;font-weight: bold;margin-bottom: 20px;position: relative}
.HJZF2__partner--6__subtitle{text-align: center;font-size: 16px;color: #333333;line-height: 36px;font-weight: normal;margin-bottom: 40px;position: relative}
.HJZF2__partner--6__swiper .swiper-slide{padding-bottom: 30px;}
.HJZF2__partner--6__swiper .swiper-slide img{width: 100%;}
/*.HJZF2__partner--6__swiper.swiper-container-3d .swiper-slide-shadow-right,.HJZF2__partner--6__swiper.swiper-container-3d .swiper-slide-shadow-left{display: none!important;}*/
