.HJZF2__partner--5{width: 100%;min-width: 1200px;max-width: 1920px;height: auto;margin: auto;padding: 80px 0;}
.HJZF2__partner--5 .container{width: 1220px;margin: auto;}
.HJZF2__partner--5__title{text-align: center;font-size: 30px;color: #333333;line-height: 36px;font-weight: normal;margin-bottom: 40px;position: relative}
.HJZF2__partner--5__title:before{content: '';display: table;width: 50px;height: 2px;background: #bb2721;position: absolute;bottom: -20px;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);}
.HJZF2__partner--5__subtitle{text-align: center;font-size: 14px;color: #999999;line-height: 24px;font-weight: normal;margin-bottom: 30px;}
.HJZF2__partner--5__swiper{padding-bottom: 35px;}
.HJZF2__partner--5__swiper .swiper-slide ul{width: 1200px;height: 240px;flex-wrap:wrap;justify-content: space-between;padding-top: 20px;padding-bottom: 20px;padding-right: 10px; padding-left: 10px;}
.HJZF2__partner--5__swiper .swiper-slide ul li{width: 220px;height: 110px;overflow: hidden;position: relative;box-shadow: 0px 4px 15px rgba(0,0,0,0);}
.HJZF2__partner--5__swiper .swiper-slide ul li div{transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__partner--5__swiper .swiper-slide ul li img{transition: 0.6s;position: absolute;}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--1 img{left: 0;top: 0}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--2 img{left: -220px;top: 0}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--3 img{left: -440px;top: 0}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--4 img{left: -660px;top: 0}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--5 img{left: -880px;top: 0}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--21 img{left: 0;top: -110px;}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--22 img{left: -220px;top: -110px;}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--23 img{left: -440px;top: -110px;}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--24 img{left: -660px;top: -110px;}
.HJZF2__partner--5__swiper .swiper-slide ul li.HJZF2__partnerItem--25 img{left: -880px;top: -110px;}
.HJZF2__partner--5__swiper .swiper-pagination-bullet{width: 10px;height: 10px;}
.HJZF2__partner--5__swiper .swiper-slide ul li:hover{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

    }
.HJZF2__partner--5__swiper .swiper-slide ul li:hover div{
    transform: scale(1.1) translateY(-7px);-moz-transform: scale(1.1) translateY(-7px);-webkit-transform: scale(1.1) translateY(-7px);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;
}