.new_hjzf_partner-HJ02 .hj02-customer{width: 1000px;margin: auto;height: auto;overflow: hidden}
.new_hjzf_partner-HJ02 .hj02-customer-wai{width: 100%;position: relative}
.new_hjzf_partner-HJ02 .hj02-customer-next,.new_hjzf_partner-HJ02 .hj02-customer-prev{top: 52%;}