.HJZF2__partner--8{padding: 35px 0;margin: auto;width: 100%;min-width: 1200px;max-width: 1920px;height: auto;background: #eaeaea}
.HJZF2__partner--8__mainTitle{line-height: 45px;font-weight: normal;font-style: normal;font-size: 35px;text-align: center;margin-bottom: 20px;}
#HJZF2__partner--8__wai{width: 1200px;overflow: hidden;position: relative;}
#HJZF2__partner--8__box{float: left;width: 900%;height: auto;}
#HJZF2__partner--8__box ul{float: left;}

#HJZF2__partner--8__box ul li{float: left;width: 1200px;height:175px;text-align: center;}
#HJZF2__partner--8__box ul li img{width: 100%;}