.new_hjzf_products-HJ01 .page_probg {
    width: 100%;
    margin: auto;
    min-width: 1190px;
    height: 620px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.new_hjzf_products-HJ01 .index_product_title {
    width: 100%;
    margin: auto;
    margin-bottom: 35px;
}

.new_hjzf_products-HJ01 .index_product_title_left {
    width: 60%;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.new_hjzf_products-HJ01 #index_product_title_left1 h3 {
    
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
    font-size: 35px;
}

.new_hjzf_products-HJ01 .index_product_title_right {
    width: 40%;
    float: right;
    padding-right: 15px;
    box-sizing: border-box;
}

.new_hjzf_products-HJ01 .index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
    float: right;
}

.new_hjzf_products-HJ01 .index_product_content {
    width: 100%;
    position: relative;
}

.new_hjzf_products-HJ01 #index_prolist {
    width: 100%;
    margin: auto;
    height: auto;
}

.new_hjzf_products-HJ01 .index_proitem {
    width: 350px;
    height: auto;
    float: left;
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.new_hjzf_products-HJ01 .index_proitem_box {
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.new_hjzf_products-HJ01 .index_proitem_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.new_hjzf_products-HJ01 .index_proitem_img a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    display: block;
    transition: .3s;
    visibility: hidden;
    z-index: 9;
}

.new_hjzf_products-HJ01 .index_proitem_img a:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "\f0c1";
    transition: .3s;
    font-family: "FontAwesome";
    font-weight: 500;
    z-index: 99;
    font-size: 26px;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.new_hjzf_products-HJ01 .index_proitem_img img {
    width: 100%
}

.new_hjzf_products-HJ01 .index_proitem_second {
    padding: 30px 20px 35px;
}

.new_hjzf_products-HJ01 .index_proitem_name h6 {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    line-height: 30px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
    font-size: 18px;
}

.new_hjzf_products-HJ01 .index_proitem_desc {
    margin-bottom: 0;
    
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #6d8190;
    font-size: 15px;
}

.new_hjzf_products-HJ01 .index_proitem_more {
    display: inline-block;
    font-size: 13px;
    
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.new_hjzf_products-HJ01 .index_proitem_more:after {
    content: '';
    display: table;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.new_hjzf_products-HJ01 .new_hjzf_products-HJ01-next, .new_hjzf_products-HJ01 .new_hjzf_products-HJ01-prev {
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    outline: none;
    text-align: center;
    line-height: 40px;
}

.new_hjzf_products-HJ01 .new_hjzf_products-HJ01-prev:before {
    content: '\f104';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_products-HJ01 .new_hjzf_products-HJ01-next:before {
    content: '\f105';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}

.new_hjzf_products-HJ01 .new_hjzf_products-HJ01-next {
    right: -50px;
}

.new_hjzf_products-HJ01 .new_hjzf_products-HJ01-prev {
    left: -50px;
}

.new_hjzf_products-HJ01 .index_proitem_more_parent {
    margin-top: 15px;
    line-height: 28px;
}

.new_hjzf_products-HJ01 .index_proitem:hover .index_proitem_img a:before {
    opacity: 0.5;
    visibility: visible;
}

.new_hjzf_products-HJ01 .index_proitem_more {
    display: inline-block;
    font-size: 13px;
    
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.new_hjzf_products-HJ01 .index_proitem:hover .index_proitem_img a:after {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(-50%);
}

.new_hjzf_products-HJ01 .index_proitem:hover .index_proitem_more:after {
    content: '';
    display: table;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}