#products-13{width: 100%;min-width: 1200px;max-width: 1920px;margin: auto;height: auto;padding-top: 64px;padding-bottom: 60px;}
.products-13__container{width: 1200px;height:auto;margin: auto;}
.products-13__title{width: 100%;margin: auto;text-align: center;}
.products-13__title--miantitle{font-size: 30px;line-height: 36px;color: #333;font-weight: normal;}
.products-13__title--subtitle{font-size: 14px;line-height: 20px;color: #9e9e9e;font-weight: normal;}
.products-13__classList{width: 100%;margin: auto;overflow: auto;margin-top: 20px;margin-bottom: 32px;}
.products-13__classList ul li.products-13__classItem{float: left;min-width: 226px;height: 84px;padding: 0 12px 0 12px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin-right: 17px;}
.products-13__classList ul li.products-13__classItem:hover{background: #f3f4f5;}
.products-13__classList ul li.products-13__classItem.proClass_on{background: #f3f4f5;}
.products-13__classList ul li.products-13__classItem:last-child{margin-right: 0;}
.products-13__classList ul li.products-13__classItem a{width: 100%;height: 100%;align-items: center;justify-content:space-between;}
.products-13__classList ul li.products-13__classItem a span{font-size: 16px;line-height: 20px;color: #333333;font-weight: normal;width: 126px;overflow: hidden;text-overflow: ellipsis;display: inline-block;white-space: nowrap;}
.products-13__classList ul li.products-13__classItem .fa-chevron-circle-right{font-size: 20px;color: transparent;}
.products-13__swiperbox{width: 100%;margin: auto;}
.products-13__swiper .swiper-wrapper{margin-bottom: 50px;}
.products-13__swiper .swiper-slide{border: 1px solid #f3f3f3;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.products-13__swiper .swiper-slide img{width: 100%;height: auto;}
.index_proitem_name{width: 100%;padding-bottom: 16px;padding-top: 16px;}
.index_proitem_name h6{font-size: 14px;color: #333333;line-height: 20px;font-weight: normal;text-align: center;padding: 0 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.products-13__pagination.swiper-pagination-bullets .swiper-pagination-bullet{width: 10px;height: 10px;border: 1px solid #d5d5d5;background: transparent;opacity: 1;}
.products-13__pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{width: 10px;height: 10px;border: 1px solid #d5d5d5;background: #00468c}
.products-13_swiperbox_wrap{width: 1200px;height: 300px;overflow: hidden;position: relative;}
.products-13_swiperbox_wrap .products-13_swiperbox_content{width: 6000px;height: auto;position: absolute;left: 0;top: 0;}
.products-13_swiperbox_wrap .products-13__swiperbox{width: 1200px;height: auto;float: left;}
