.new_hjzf_products-17 .page_probg {
    width: 100%;
    margin: auto;
    min-width: 1190px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.new_hjzf_products-17 .index_product_title {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.new_hjzf_products-17 .index_product_title_left {
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.new_hjzf_products-17 #index_product_title_left1 h3 {
    color: #333;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}



.new_hjzf_products-17 .index_product_title_left > div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.new_hjzf_products-17 .index_product_title_right {
    width: 70%;
    float: right;
    box-sizing: border-box;
}

.new_hjzf_products-17 .index_product_title_right > div, .new_hjzf_products-17 .hj02_advantage_right_box, .new_hjzf_products-17 .hj02_index_videoBox_left, .new_hjzf_products-17 .hj02_index_videoBox_right, .new_hjzf_products-17 .news_item, .new_hjzf_products-17 .news_item_right_box, .new_hjzf_products-17 .page_Logo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.new_hjzf_products-17 .hj02_proclasslist {
    float: right;
}

.new_hjzf_products-17 .hj02_proclasslist li {
    padding: 6px 15px;
    float: left;
}

.new_hjzf_products-17 .hj02_proclasslist li a {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-weight: normal;
}

.new_hjzf_products-17 .hj02_pro_more {
    font-size: 16px;
    color: #666;
    line-height: 24px;
    float: right;
    padding: 3px 15px;
    line-height: 30px;
}

.new_hjzf_products-17 .index_product_more {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out;
}

.new_hjzf_products-17 .index_product_more:hover {
    outline: 0;
}

.new_hjzf_products-17 .index_prolist_wai {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.new_hjzf_products-17 .index_prolist_waibox {
    position: absolute;
    left: 0;
    top: 0;
}

.new_hjzf_products-17 .index_prolist_wai_cont {
    width: 1190px;
    float: left;
    overflow: hidden;
}

.new_hjzf_products-17 .index_proitem {
    width: 100%;
    height: auto;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.10);
}

.new_hjzf_products-17 .index_proitem_box {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.new_hjzf_products-17 .index_proitem_box:after {
    content: '';
    display: table;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .6s;
}

.new_hjzf_products-17 .index_proitem_name h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.new_hjzf_products-17 .index_proitem_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}



.new_hjzf_products-17 .index_proitem_img a {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}
.new_hjzf_products-17 .index_proitem_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);
}
.new_hjzf_products-17 .index_proitem_img a:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transition: .3s;
    background: url(../img/product_more.png) no-repeat center 50% rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9;
    right: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.new_hjzf_products-17 .index_proitem:hover .index_proitem_img a:after {
    opacity: 1;
    visibility: visible;
}

.new_hjzf_products-17 .index_proitem_second {
    padding: 20px;
}

.new_hjzf_products-17 .index_proitem_desc {
    margin-bottom: 0;
    
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #999;
    font-size: 15px;
    min-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.new_hjzf_products-17 .index_pro_slickbox {
    z-index: 88;padding-top: 10px;
}
.new_hjzf_products-17 .index_pro_slickbox .swiper-wrapper{margin-bottom: 60px;}
.new_hjzf_products-17 .index_pro_slickbox .hj02-pro-prev {
    left: -50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    top: 37%;
    transition: .6s;
}

.new_hjzf_products-17 .index_pro_slickbox .hj02-pro-next {
    right: -40px;
    z-index: 99;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    top: 37%;
    transition: .6s;
}

.new_hjzf_products-17 .index_pro_slickbox .hj02-pro-prev:before {
    content: '';
    display: table;;
    width: 40px;
    height: 40px;
    background: url(../img/jiantou.png) no-repeat -106px -86px;
}

.new_hjzf_products-17 .index_pro_slickbox .hj02-pro-next:before {
    content: '';
    display: table;;
    width: 40px;
    height: 40px;
    background: url(../img/jiantou.png) no-repeat -152px -86px;
}

.new_hjzf_products-17 .hj02-pro-pagination {
    bottom: 10px !important;
}

.new_hjzf_products-17 .hj02-pro-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #e3e3e3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: none;
    padding: 0;
    border: 2px solid #e3e3e3;
    opacity: 1 !important;
}

.new_hjzf_products-17 .hj02-pro-pagination .swiper-pagination-bullet-active {
    border: 2px solid #333;
    width: 6px;
    height: 6px;
    background: #e3e3e3;
}

.new_hjzf_products-17 .index_proitem:hover .index_proitem_img img {
    transform: translate3d(-50%,-50%,0) scale(1.1);
    -moz-transform: translate3d(-50%,-50%,0) scale(1.1);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.new_hjzf_products-17 .index_proitem:hover .index_proitem_box:after {
    content: '';
    display: table;
    width: 100%;
    transition: .6s;
}
.new_hjzf_products-17 .index_pro_slickbox:hover .hj02-pro-prev{
  display: block;left: 1px;transition: .6s;opacity:1;
}
.new_hjzf_products-17 .index_pro_slickbox:hover  .hj02-pro-next{
   display: block;right: 1px;transition: .6s;opacity:1;
}
.new_hjzf_products-17 .index_pro_slickbox.line_two .hj02-pro-prev{top:98%;left: calc(50% - 150px);}
.new_hjzf_products-17 .index_pro_slickbox.line_two .hj02-pro-next{top:98%;right: calc(50% - 150px);}