.new_hjzf_products-8 .hj-product{width: 100%;margin: auto;min-width: 1190px;}
.new_hjzf_products-8 .HJ05-advan-title{text-align: center;margin-bottom: 35px;}
.new_hjzf_products-8 .HJ05-advan-title .ttwrap {display: inline-block;position: relative;text-transform: uppercase;font-size: 30px;color: #ffffff;font-weight: 600;padding: 9.5px 45px;z-index: 2;}
.new_hjzf_products-8 .HJ05-advan-title:before {content: " ";position: relative;display: table;margin: auto;width: 600px;top: 22px;border-bottom: 1px solid #cccccc;}
.new_hjzf_products-8 .HJ05-advan-title:after {content: " ";position: relative;bottom: 22px;display: table;margin: auto;width: 800px;border-bottom: 1px solid #cccccc;z-index: 0;}
.new_hjzf_products-8 .HJ05-advan-title .ttwrap:before {content: " ";width: 20px;left: -20px;height: 100%;top: 0;position: absolute;}
.new_hjzf_products-8 .HJ05-advan-title .ttwrap:after {content: " ";width: 20px;right: -20px; height: 100%;top: 0;position: absolute;}
.new_hjzf_products-8 .HJ05-advan-title_2{font-size: 16px;line-height: 24px;color: #666666;font-weight: normal;text-align: center;margin-bottom: 50px;}
.new_hjzf_products-8 .index_product_categroy{width: 100%;text-align: center;margin-bottom: 50px;}
.new_hjzf_products-8 .index_product_categroy li{display: inline-block;margin: 0 16px;}
.new_hjzf_products-8 .index_product_categroy li a h3{color: #666666;font-size: 16px;line-height: 24px;font-weight: normal}
.new_hjzf_products-8 .hj05-product2 .indexhotpro-slide{float: left;width: 270px;height: auto;box-shadow: 0.5px 0.866px 5px 0px rgba( 179, 179, 179 ,0.3);margin-bottom: 30px;transition: all 0.3s;background: #fff;padding-bottom: 25px;}
.new_hjzf_products-8 .hj05-product2 .indexhotpro-slide img{width: 100%;height: auto;}
.new_hjzf_products-8 .hj05-product2 .indexhotpro-slide .in_proname_a{margin: 0 25px;height: 69px; border-top: 1px solid #f1f1f1;padding-top: 20px;text-align: center;margin-bottom: 20px;}
.new_hjzf_products-8 .hj05-product2 .indexhotpro-slide .in_proname_a a{color: #001327;font-size: 18px;font-weight: 500;}
.new_hjzf_products-8 .hj05-index-more a{width: 128px;height: 40px;text-align: center;line-height: 40px;display: block;margin: auto;color: #fff;font-size: 14px;font-weight: bold;background:#666666;}
.new_hjzf_products-8 .index-more2 a{width: 168px;height: 40px;text-align: center;line-height: 40px;display: block;margin: auto;color: #fff;font-size: 14px;font-weight: bold;}
.new_hjzf_products-8 .index-more2 a{
    background:#666666;
}
