.new_hjzf_products-HJ04 .hj01_cases{
    padding-top: 80px;
    padding-bottom: 100px;
}
.new_hjzf_products-HJ04 .indexCase{
    background: #fff;
}
.new_hjzf_products-HJ04 .serviceRight>li{
    float:left;
    cursor: pointer;
}

.new_hjzf_products-HJ04 .serviceRight>li>a{
    display: inline-block;
    margin: 0 5px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px;
}
.new_hjzf_products-HJ04 .serviceRight>li>a>h3{
    font-size: 13px;
    font-weight: normal;
    color: #828282;
}

.new_hjzf_products-HJ04 .serviceTopTitle{
    font-size: 20px;
    line-height: 30px;
    color: #555;
}

.new_hjzf_products-HJ04 .serviceTopTips{
    font-size: 14px;
    color: #bbb;
    line-height: 26px;
}

.new_hjzf_products-HJ04 .mainServiceContainer{border:1px solid #f2f2f2;border-right: 0;margin-top: 34px;display:box;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;flex-wrap: wrap;-webkit-flex-wrap: wrap }
.new_hjzf_products-HJ04 .mainServiceList{width: 33.33%;padding: 0 35px;border-right:1px solid #f2f2f2;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.new_hjzf_products-HJ04 .serviceImg{margin: 35px 0 35px 0;overflow: hidden;}
.new_hjzf_products-HJ04 .serviceImg>img{width: 100%;transition:all .5s linear;height: auto;}
.new_hjzf_products-HJ04 .serviceTextContainer{
    width: auto;
    padding: 0 20px;
    margin-bottom: 60px;
}
.new_hjzf_products-HJ04 .serviceTitle{color: #333;font-size: 16px;}
.new_hjzf_products-HJ04 .serviceText{color: #868585;line-height: 26px;font-size: 13px;margin-top: 15px;}
.new_hjzf_products-HJ04 .serviceMore{margin-top: 20px;}
.new_hjzf_products-HJ04 .mainProList:hover img{transform: scale(1.1);}
/*case*/
.new_hjzf_products-HJ04 .hj01_cases{
    padding-top: 80px;
    padding-bottom: 100px;
}
.new_hjzf_products-HJ04 .indexCase{
    background: #fff;
}

/*产品*/
.new_hjzf_products-HJ04 .mainProList{
    width: calc(33.33% - 2px);
    padding: 0 35px;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;
	padding-bottom:15px;
}
.new_hjzf_products-HJ04 .indexProText{
    color: #333;
    font-size: 16px;
    line-height: 30px;
}