#products-19{width: 100%;min-width: 1200px;max-width: 1920px;height:auto;margin: auto;padding-bottom: 70px;background: #f6f6f6}
#products-19 .container{width: 1200px;height:auto;margin: auto;}
.products-19-top{width: 100%;margin: auto;padding-top: 76px;padding-bottom: 160px;}
.products-19-top .container{display: flex;display:-webkit-flex;justify-content: flex-end;}
.products-19-top_content{width: 470px;}
.products-19-top_content h3{font-size: 36px;line-height: 50px;color: #fff;font-weight: bold;margin-bottom: 25px;}
.products-19-top_content div{font-size: 14px;line-height: 24px;color: #fff;font-weight: normal;margin-bottom: 42px;}
.products-19-top_content a{display:inline-block;padding:10px 35px;border:1px solid #fff;font-size: 14px;line-height: 24px;color: #fff;font-weight: normal;margin-bottom: 42px;}
.products-19-top_content a:hover{text-decoration: underline}
.products-19__content{width: 100%;margin: auto;position: relative;padding-top: 120px;}
.products-19__content ul.products-19__categroy{position: absolute;top: -60px;display: flex;display: -webkit-flex;justify-content: space-around;width: 100%}
.products-19__content ul.products-19__categroy li{flex-grow:1;background:#fff;border: 1px solid #e3e3e3;padding: 10px 0;}
.products-19__content ul.products-19__categroy li .cateimg{width: 100px;height: 80px;margin: auto;overflow: hidden;position: relative}
.products-19__content ul.products-19__categroy li .cateimg img{width: 100%;height: auto;position: absolute;left: 50%;top:50%;transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.products-19__content ul.products-19__categroy li:hover .cateimg img{transform: scale(1.1) translate3d(-50%,-50%,0);-moz-transform: scale(1.1) translate3d(-50%,-50%,0);-webkit-transform: scale(1.1) translate3d(-50%,-50%,0);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.products-19__content ul.products-19__categroy li .catename{width: 100%;height: auto;text-align: center;}
.products-19__content ul.products-19__categroy li .catename a{font-size: 16px;line-height: 24px;color: #333333;}
.products-19__content--down {
    width: 1200px;
    height: 448px;
    overflow: hidden;
    position: relative;
    margin-top: 25px;
}
.products-19__content--down__wrap{width: 6000px;overflow: hidden;height: 448px;position: absolute;left: 0;top: 0;}
.products-19__content--down__wrap li{width: 1200px;justify-content: space-between;float: left;text-align: center}

.products-19__content--down__wrap li .products-19__item{margin-left: 20px;float: left;width:calc(33.33% - 20px);box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.products-19__content--down__wrap li .products-19__item:first-child{margin-left: 0;}
.products-19__content--down__wrap li .products-19__item .products-19__proName{padding: 40px 20px 20px 20px;margin: auto;background: #fff;}
.products-19__content--down__wrap li .products-19__item .products-19__proName h3{font-weight: normal;font-size: 24px;}
.products-19__content--down__wrap li .products-19__item .products-19__proImg img{width: 100%}
.products-19__proMore{display: inline-block;padding-top: 20px;}
