.new_hjzf_service-HJ03 #service{width: 100%;min-width: 1190px;max-width: 1920px;height: 820px;margin: auto;}
.new_hjzf_service-HJ03 #hj03-service .service-content{padding-top: 240px;width: 1180px;margin: 0 auto;margin-bottom: 160px;}
.new_hjzf_service-HJ03 .shj03-service-left{width: 376px;height: 440px;padding-top: 80px;padding-bottom: 60px;padding-left:15px;padding-right:15px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;text-align: center;position: relative}
.new_hjzf_service-HJ03 .shj03-service-title{font-size: 26px;color: #fff;line-height: 30px;font-weight: bold;}
.new_hjzf_service-HJ03 .shj03-service-subtitle{color: #A5A5A5;font-size: 12px;line-height: 22px;font-weight: normal;}
.new_hjzf_service-HJ03 .hj03-service-more{background: url(../img/jiantou.png)no-repeat -80px -260px;width: 160px;height: 38px;line-height: 38px;color: transparent;transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;border-radius: 0;
    font-size: 0;border: 1px solid rgba(204, 204, 204, 0.35);display: block;position: absolute;left: 98px;bottom: 80px;}
.new_hjzf_service-HJ03 .hj03-service-more:hover{border:1px solid rgba(204, 204, 204, 1)}
.new_hjzf_service-HJ03 .shj03-service-right ul li{float: left;width: 268px;height: 440px;background: #fff;}
.new_hjzf_service-HJ03 .hj03-service-item-text{width: 100%;height: 220px;text-align: center;}
.new_hjzf_service-HJ03 .hj03-service-item-text .box{position: relative;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transition: 0.6s;-moz-transition: 0.6s;transition: .6s;}
.new_hjzf_service-HJ03 .hj03-service-item-text .box p:first-child{text-align: center;font-size: 18px;white-space: nowrap;text-overflow: ellipsis;height: 32px;line-height: 32px;color: #333}
.new_hjzf_service-HJ03 .hj03-service-item-text .box p:nth-child(2){text-align: center;transition: all 0.6s ease 0s;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;height: 24px;line-height: 24px;color: #666;}
.new_hjzf_service-HJ03 .hj03-service-item-text .box a {
    display: block;
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-indent: 0;
    font-size: 14px;
    border-radius: 0;
    position: absolute;
    top: 80px;
    opacity: 0;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    left: 74px;
}
.new_hjzf_service-HJ03 .hj03-service-item-text .box a i{font-size: 14px;text-indent: -10px;color: rgba(255, 255, 255, .0);transition: all ease-out .3s;opacity: 0;color: #fff;}
.new_hjzf_service-HJ03 .hj03-service-item-text .box a:hover i{
    text-indent: 20px;opacity: 1;
}
.new_hjzf_service-HJ03 .hj03-service-item-img{width: 100%;height: 220px;overflow: hidden}
.new_hjzf_service-HJ03 .hj03-service-item-img img{width: 100%;height: 220px;-webkit-transition: .6s;-moz-transition: .6s;transition: .6s;}
.new_hjzf_service-HJ03 .shj03-service-right ul li:hover .hj03-service-item-text .box {
    -webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: .6s;-moz-transition: .6s;transition: .6s;
}
.new_hjzf_service-HJ03 .shj03-service-right ul li:hover .hj03-service-item-text .box a{
    -webkit-transform: translateY(-10px);-moz-transform: translateY(-10px);transform: translateY(-10px);-webkit-transition: .6s;-moz-transition: .6s;transition: .6s;opacity: 1;
}
.new_hjzf_service-HJ03 .shj03-service-right ul li:hover .hj03-service-item-text .box p{color: #fff;}
.new_hjzf_service-HJ03 .shj03-service-right ul li:hover .hj03-service-item-img img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);-webkit-transition: .6s;-moz-transition: .6s;transition: .6s;}