.hjzf_z_aboutus27_bg {
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
}

.hjzf_z_aboutus27--left {    
    width: 50%;
    padding-top: 70px;
}
.hjzf_z_aboutus27_leftbox {
    padding-left: 27%;
}
.hjzf_z_aboutus27_leftbox {
    padding-right: 0.5%;
}

.hjzf_z_aboutus27_title {
    color: #ffffff;
    
    font-weight: normal;
    padding-bottom: 40px;
    position: relative
}

.hjzf_z_aboutus27_text {
    color: #ffffff;
    font-weight: normal;   
}


.hjzf_z_aboutus27--right {
    width: 50%;      
    width: 50%;
    overflow: hidden;
}
.hjzf_z_aboutus27--right img{
    display: none;
}
.aboutus_right_box {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.aboutus_right_box video {
    height: 101%;
    object-fit: fill;
}

.aboutus_right_box img {
    max-width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .hjzf_z_aboutus27_leftbox {
        padding-right: 0;padding-left:0
    }

    .hjzf_z_aboutus27_title {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .hjzf_z_aboutus27_leftbox{
        padding-left: 15px;
    }
}

@media (max-width: 576px) {
    .aboutus_right_box {
        width: 100%
    }
    .hjzf_z_aboutus27--left{
        padding: 0 15px;
    }
    .hjzf_z_aboutus27--right,.hjzf_z_aboutus27--left{
        width: 100%;
    }
    .aboutus_right_box img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    
}
.hjzf_z_aboutus27_leftbox{
    padding-right: 4%;
}
.hjzf_z_aboutus27_leftbox a {
    border-radius: 40px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-bottom: 40px;
}
.hjzf_z_aboutus27--right img{display: block;width: 100%;}

