.HJZF3_aboutus__hj02{width: 100%;margin: auto;}
.uvc-tilt-left-seperator{position: absolute;left: 0;}
.HJZF3_aboutus__hj02 .uvc-tilt-left-seperator.top_seperator{
    top: -1px;
    bottom: auto;
     -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}
.down_seperator{
    bottom: 0;
}

.HJZF3_aboutus__hj02__inner{
    padding-top: 170px;padding-bottom: 170px;
}
.HJZF3_aboutus__hj02__innerWrapper{
    border-top-width: 9px !important;
    border-right-width: 9px !important;
    border-bottom-width: 9px !important;
    border-left-width: 9px !important;
    padding-top: 60px !important;
    padding-right: 25px !important;
    padding-bottom: 10px !important;
    padding-left: 25px !important;
    border-left-color: rgba(255,255,255,0.3) !important;
    border-left-style: double !important;
    border-right-color: rgba(255,255,255,0.3) !important;
    border-right-style: double !important;
    border-top-color: rgba(255,255,255,0.3) !important;
    border-top-style: double !important;
    border-bottom-color: rgba(255,255,255,0.3) !important;
    border-bottom-style: double !important;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.HJZF3_aboutus__hj02--Maintitle{
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 45px;    
    position: relative;
}
.HJZF3_aboutus__hj02--Maintitle:before{
    content: '';display: table;width: 200px;height: 3px;background: #e13d3a;position: absolute;bottom: -15px;left: 0;
}
.HJZF3_aboutus__hj02--left{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 50px ;

}
.HJZF3_aboutus__hj02_content_subtitle{
    font-weight: normal;
    color: #ffffff;     
}
.HJZF3_aboutus__hj02_content_text{
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
}
.HJZF3_aboutus__hj02_item{
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content:flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 60px;
}
.HJZF3_aboutus__hj02_itemImg{
    padding-right: 15px;
}
.HJZF3_aboutus__hj02_itemContent_shuzi{
    font-weight: bold;
    color: #ffffff;
    display: inline;
    position: relative;
}
.HJZF3_aboutus__hj02_itemContent_name{    
    color: #fff;
}
.HJZF3_aboutus__hj02_itemContent_shuzi:after{content: attr(data-danwei);color: #fff;line-height: 40px;font-size: 30px;font-weight: bold;position: relative;top: -3px;left: 6px;}
@media (max-width:1024px){
    .HJZF3_aboutus__hj02__inner{padding: 40px 0;}
    .HJZF3_aboutus__hj02 .uvc-tilt-left-seperator.top_seperator,.down_seperator{display: none;}
    .HJZF3_aboutus__hj02_item{margin-bottom: 40px;}
    .HJZF3_aboutus__hj02_itemContent_shuzi:after{font-size: 14px;line-height: 36px;}
}