.abouts_32_right{
	cursor: pointer;
}
.abouts_32_left_list{
	margin: 40px 0;
	display: flex;
}
.abouts_32_left_list li{
	margin-right: 3vw;
	text-align: center;
}
.abouts_32_left_list li img{
	margin-bottom: 5px;
}
.abouts_32_left a.index_btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	align-self: flex-start;
	transition: all .5s;
}
.abouts_32_left a.index_btn .par{
	position: relative;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.abouts_32_left .index_text{
	color: #babcc6;
	display: inline-block;
	border-bottom: 1px solid #babcc6;
	padding-bottom: 5px;
	margin-bottom: 30px;
	padding-right: 20px;
	position: relative;
}
.abouts_32_left .index_text:before{
	position: absolute;
	display: block;
	content:'';
	width: 50px;
	height: 3px;
	left: 0;
	bottom: -2px;
	background-color: #fca001;
}
@media(max-width: 1200px) {
	.abouts_32_left_list{
		margin: 20px 0;
	}
	.abouts_32_right{
		margin-top: 20px;
	}
}