.hjzf_z_aboutus_hj04_container{
    padding-bottom: 150px;
    padding-top: 60px;
}
.hjzf_z_aboutus_hj04_img{
    overflow: hidden;
}
.hjzf_z_aboutus_hj04_img img{
    transition: all .5s ease-in;
}
.hjzf_z_aboutus_hj04:hover .hjzf_z_aboutus_hj04_img img{
    transform: scale(1.1);
}

/* title */
.hjzf_z_aboutus_hj04_content_title{
    padding-top: 45px;
    position: relative;
    margin-bottom: 20px;
}
.hjzf_z_aboutus_hj04_content_title:before{
    position: absolute;
    display: block;
    content: '';
    width: 150px;
    height: 45px;
    left: 0;
    top: 0;
}
/* text */
.hjzf_z_aboutus_hj04_content_text {   
    margin-bottom: 30px;   
    min-height: 200px;
    margin-bottom: 40px;
}

/* more */
.hjzf_z_aboutus_hj04_more{
    width: 155px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    color: #fff;    
    display: block;
    z-index: 9;
    background-color: #b2b2b2;
}
.hjzf_z_aboutus_hj04_more:before{
    transition: all .5s ease-out;
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    z-index: -1;
}

@media (min-width: 769px) {

/* navigation */
.hjzf_z_aboutus_hj04_button{
    position: absolute;
    bottom: 30px;
    right: 0;
    border-radius: 40px;
    color: #fff;
    width: 180px;
    height: 60px;
    font-size: 26px;
    padding: 0 25px;
    overflow: hidden;
    z-index: 10;
}
.hjzf_z_aboutus_hj04_button div{
    margin-top: 10px;
    width: 30px;
    text-align: center;
}
.hjzf_z_aboutus_hj04_button_next{
    float: right;
}
.hjzf_z_aboutus_hj04_button_prev{
    float: left;
}

.hjzf_z_aboutus_hj04_text{
    position: absolute;
    width: 150px;
    text-align: center;
    font-size: 120px;
    color: #ededed;
    left: 45%;
    bottom: 10px;
    transform: translate(-50%, 0);
    z-index: 0;
    line-height: 1;
}
/* pagination */
.hjzf_z_aboutus_hj04_pagination{
    position: absolute;
    bottom: 55px !important;
    left: 15px !important;
    right: 180px !important;
    width: auto !important;
    z-index: 5;
}
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
}
.hjzf_z_aboutus_hj04_pagination > .swiper-pagination-bullet:after{
    content: '';
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet-active ,.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet{
    opacity: 1;
    background-color: transparent;
}
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet{
    top: -15px !important;
}
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet:before { content: ""; width: 0; height: 0; border-radius: 100%; border: 1px solid #333; position: absolute; left: 50%; top: 50%; transition: all .36s ease ; }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet:hover:before { width: 30px; height: 30px; left: -50%; top: -50%;transform: translate(50%, 50%); }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before { width: 30px; height: 30px; left: -50%; top: -50%;transform: translate(50%, 50%); }
.hjzf_z_aboutus_hj04_pagination:before { content: ""; width: 100%; height: 1px; background-color: rgba(0, 0, 0, .8); position: absolute; left: 15px; top: 50% }
.hjzf_z_aboutus_hj04_pagination:after { content: ""; width: 6px; height: 6px; background-color: #000; position: absolute; left: 11px; border-radius: 100%; top: -3px }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet { position: absolute; top: -8px; left: -5px }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { left: 50%; margin-left: -8px }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active+.swiper-pagination-bullet+.swiper-pagination-bullet~.swiper-pagination-bullet { display: none }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active+.swiper-pagination-bullet+.swiper-pagination-bullet { display: block; left: 92% }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet { transition: .36s }
.hjzf_z_aboutus_hj04_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active+.swiper-pagination-bullet { display: block; left: 84%;  }


}
@media (max-width: 768px) {
    .hjzf_z_aboutus_hj04_container{
        padding: 20px 0;
    }
    .hjzf_z_aboutus_hj04_content{
        margin-top: 20px;
    }
    .hjzf_z_aboutus_hj04_content_title{
        padding-top: 30px;
    }
    .hjzf_z_aboutus_hj04_content_title:before{
        width: 100px;
        height: 30px;
    }
    .hjzf_z_aboutus_hj04_content_title h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .hjzf_z_aboutus_hj04_content_text{
        margin-bottom: 10px;
    }
    .hjzf_z_aboutus_hj04_more{
        margin-bottom: 15px;
    }
    /* mobile navgition */
    .hjzf_z_aboutus_hj04_pagination{
        text-align: center;
    }
    .hjzf_z_aboutus_hj04_pagination > .swiper-pagination-bullet-active{
        background-color: #000;
    }
}
