.hjzf2__aboutus-10{width: 100%;margin: auto;height: 100%;}
.aboutus-10_text{margin-bottom: 50px;}
.aboutus-10_titlebox .index_sub_title{color: #fff}
.aboutus-10_text{color: #99abc1}
.aboutus-10-itemimg img{max-width: 100%}
.aboutus-10_page{position: absolute;top: 28%;left: 0;width: 100%}
.aboutus-10_next,.aboutus-10_prev{background-image: none;width: 50px;height: 50px;background-color: transparent;color: #fff;cursor: pointer;line-height: 48px;border: 1px solid rgba(0,255,254,.2);border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%}
.aboutus-10_prev div{
    text-align: center;
    margin-left: -10px;
    -webkit-animation: leftAni 1.5s infinite;
    animation: leftAni 1.5s infinite;
}
.aboutus-10_next div{
    text-align: center;
    margin-left: -10px;
    -webkit-animation: leftAni2 1.5s infinite;
    animation: leftAni2 1.5s infinite;
}
.aboutus-10_next i,.aboutus-10_prev i{font-size: 16px;font-style: normal;}
@keyframes leftAni {
    0%,100% {
        margin-left: -10px
    }

    50% {
        margin-left: 10px
    }
}

@-webkit-keyframes leftAni {
    0%,100% {
        margin-left: -10px
    }

    50% {
        margin-left: 5
    }
}
@keyframes leftAni2 {
    0%,100% {
        margin-left: 10px
    }

    50% {
        margin-left: -10px
    }
}

@-webkit-keyframes leftAni2 {
    0%,100% {
        margin-left: 10px
    }

    50% {
        margin-left: -10px
    }
}