.hjzf_aboutus_21_hx {
    width: 140px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hjzf_aboutus_21_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.hjzf_aboutus_21_img {
    display: flex;
}

.hjzf_aboutus_21_img li {
    margin-right: 20px;
    flex: 0 0 32%;
}

.hjzf_aboutus_21_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.hjzf_aboutus_21_right_img{
    display: flex;
    align-items: flex-end;
}
.hjzf_aboutus_21_right_img img{
    margin-bottom: 0;
}
@media(max-width: 768px) {
    .hjzf_aboutus_21_left {
        margin-bottom: 20px;
    }

    .hjzf_aboutus_21_img{
        justify-content: space-between;
    }
    .hjzf_aboutus_21_img li {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .hjzf_aboutus_21_left .index_text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-break: break-all;
        padding-bottom: 0 !important;
        margin-bottom: 20px;
    }
}