.hjzf2_z__aboutus-hj03 {
    width: 100%;
    height: auto;
    margin: auto;    
}

.hjzf2_z__aboutus-hj03-top {
    margin-bottom: 60px
}

.hjzf2_z__aboutus-hj03-topitem .first_name {   
    font-weight: normal;
    font-style: normal;
    color: #2f2f2f;
    margin-bottom: 20px;
}

.hjzf2_z__aboutus-hj03-topitem .first_desc {
    font-weight: normal;
    color: #797979;
    font-style: normal;
    margin-bottom: 20px;
    word-wrap:break-word;
    word-break: break-word;
}

.hjzf2_z__aboutus-hj03-topitem .second_name {
    margin-top: 20px;
    margin-bottom: 15px;    
    font-weight: normal;
    font-style: normal;
    color: #2f2f2f;
}

.hjzf2_z__aboutus-hj03-topitem .second_desc {    
    font-weight: normal;
    color: #797979;
    font-style: normal;
    margin-bottom: 20px;
    word-break: keep-all;
}

.hjzf2_z__aboutus-hj03-topitem .second_img img {
    width: 100%;
    height: auto;
}

.hjzf2_z__aboutus-hj03-topitem .button_wrap a {
    font-weight: normal;
    font-style: normal;
}

.hjzf2_z__aboutus-hj03-downItem {
    position: relative;
    overflow: hidden;
    width: 25%;
    text-align: left;
    float: left;
}

.hjzf2_z__aboutus-hj03-downItem a {
    display: block;
    padding: 45px 50px 25px 40px;
}

.hjzf2_z__aboutus-hj03-down {   
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.down_img {
    margin-bottom: 20px;
}

.down_img img {
    width: 64px;
    height: 64px;
}

.down_name {   
    font-weight: normal;
    font-style: normal;
    color: #f8f8f8;
    margin-bottom: 10px;
}

.down_desc {
    color: #ffffff;    
    padding-bottom: 20px;
    
}

@media (max-width: 1199px) {
    .hjzf2_z__aboutus-hj03-topitem {
        margin-bottom: 40px;
    }
}

@media (max-width: 1199px)and (min-width: 992px) {
    .hjzf2_z__aboutus-hj03-downItem {
        width: 50%
    }
}

@media (max-width: 991px) {
    .hjzf2_z__aboutus-hj03-downItem {
        width: 100%
    }

    .hjzf2_z__aboutus-hj03 {
        padding-top: 40px;
    }

    
    .hjzf2_z__aboutus-hj03-top{
        margin-bottom: 0;
    }
}

@media (max-width: 575px) {
    .hjzf2_z__aboutus-hj03 {
        padding-top: 40px;
    }
}