.HJZF2_Z__aboutus{width: 100%;height: auto;margin: auto;overflow: hidden;background: rgb(245, 245, 245)}

.HJZF2_Z__aboutus__title--main{width: 100%;text-align: center;font-weight: bold;margin-bottom: 80px;text-transform: uppercase;position: relative}
.HJZF2_Z__aboutus__title--main:before{content: '';display: block;width: 200px;height: 5px;position: absolute;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);bottom: -20px;background: #ffb536;}
.HJZF2_Z__aboutus_content{width: 100%;height: auto;margin: auto;}
.HJZF2_Z__aboutus__columm--inner{box-sizing: border-box;padding-left: 10px;padding-right: 10px;width: 100%;}
.HJZF2_Z__aboutus_wrapper{width: 100%;height: auto;margin: auto;overflow: hidden;}
.HJZF2_Z__aboutus--left__img{padding: 0 0 30px 0;}
.HJZF2_Z__aboutus--left__img img{width: 100%;height: auto;}
.HJZF2_Z__aboutus--left__title{font-weight: bold;margin-bottom: 20px; }
.HJZF2_Z__aboutus--left__desc{color: #999;margin-bottom: 20px;}
.HJZF2_Z__aboutus--left__button a{text-transform: uppercase;-webkit-border-radius: 0;border-radius: 0;padding: 6px 12px 6px 12px;display: inline-block;text-align: center;font-size: 15px;line-height: 20px;font-weight: normal;color: #fff;background: #ffb536;}

.HJZF2_Z__aboutus--center__item{width: 100%;padding-bottom: 13px;}
.HJZF2_Z__aboutus--center__item__icon{display: table-cell;vertical-align: top;}
.HJZF2_Z__aboutus--center__item__icon img{margin-right: 15px;}
.HJZF2_Z__aboutus--center__item__block{display: table-cell;vertical-align: middle;}
.HJZF2_Z__aboutus--center__item__header{font-weight: bold;color: #333;}
.HJZF2_Z__aboutus--center__item__description{margin-top: 10px;font-weight: normal;color: #999;}

.HJZF2_Z__aboutus_wrap>div:first-child .HJZF2_Z__aboutus__columm--inner{padding-left: 0;}
.HJZF2_Z__aboutus_wrap>div:last-child .HJZF2_Z__aboutus__columm--inner{padding-right: 0;}


.HJZF2_Z__aboutus--right__swiper{width: 100%;margin: auto;}
.HJZF2_Z__aboutus--right__swiper .swiper-slide{padding-top: 30px ;padding-right: 30px;padding-bottom: 30px ;padding-left: 30px;background-color: #ffffff;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.HJZF2_Z__aboutus--right__swiper__img{margin-bottom: 20px;text-align: center;}
.HJZF2_Z__aboutus--right__swiper__img img{border-radius: 500px;will-change:auto;}
.HJZF2_Z__aboutus--right__swiper__title{margin-bottom: 30px;}
.HJZF2_Z__aboutus--right__swiper__title--mainTitle{font-weight: bold;color: #333;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.HJZF2_Z__aboutus--right__swiper__title--subtitle{font-weight: bold;color: #333;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.HJZF2_Z__aboutus--right__swiper__desc{font-weight: normal;color: #666;text-align: center;}
.HJZF2_Z__aboutus--right__swiper__link{margin: auto;text-align: center;}
.HJZF2_Z__aboutus--right__swiper__linkPhone{font-weight: bold;margin-bottom: 10px;text-align: center;}
.HJZF2_Z__aboutus--right__swiper__linkMail a{text-align: center;font-weight: bold;color: #ffb536;}
.HJZF2_Z__aboutus--right__swiper__linkMail a:hover{text-decoration: underline;}
.HJZF2_Z__aboutus--next,.HJZF2_Z__aboutus--prev{background-image: none;width: 22px;height: 80px;background:#ffb536;text-align: center;line-height: 80px;outline: none;margin-top: -40px;}
.HJZF2_Z__aboutus--next i,.HJZF2_Z__aboutus--prev i{font-size: 20px;font-weight: bold;color: #fff;}
.HJZF2_Z__aboutus--prev{left: 0;}
.HJZF2_Z__aboutus--next{right: 0;}
@media (max-width: 1024px){
    .col-md-12 .HJZF2_Z__aboutus__columm--inner{
       padding-right: 0;
    }
    .HJZF2_Z__aboutus--left__button{margin-bottom: 40px;}
}
@media (max-width: 768px){
    .col-sm-12 .HJZF2_Z__aboutus__columm--inner{
        padding-left: 0;padding-right: 0;
    }
    .HJZF2_Z__aboutus__title--main{margin-bottom: 60px;}
    .HJZF2_Z__aboutus--center__item{
        padding-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .HJZF2_Z__aboutus__columm--inner {
        padding-left: 0;
        padding-right: 0;
    }
    
}