.hjzf2_z_aboutus_24_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.hjzf2_z_aboutus_24_wrapper li{
    flex: 0 0 25%;
    width: 25%;
}
.hjzf2_z_aboutus_24_wrapper li a{
    display: block;
}
.hjzf2_z_aboutus_24_wrapper li img{
    margin-bottom: 20px;
}
.hjzf2_z_aboutus_24_wrapper li p{
    color: #333;
}
.hjzf2_z_aboutus_24_con_img img{
    margin-bottom: 5px;
}

@media(max-width: 768px) {
    .hjzf2_z_aboutus_24_wrapper li{
        flex: 0 0 50%;
        width: 50%;
        margin-bottom: 20px;
    }
    .hjzf2_z_aboutus_24{
        line-height: 1.8;
    }
}