.aboutus_31 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.aboutus_31 .left {
	padding: 40px 40px 40px 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	border-radius: 20px;
	box-shadow: 0 5px 10px 5px rgba(0,0,0,.3);
}
.aboutus_31>div.left {
	flex: 0 0 55%;
	width: 55%;
}
.aboutus_31>div.right{
	flex: 0 0 45%;
	width: 45%;
}
.aboutus_31 .left a img {
	float: left;
	margin-right: 10px;
	max-width: 30px;
	transition: all .4s;
}
.aboutus_31 .left a:hover img{
	margin-right: 10px;
}
.aboutus_31 .left .index_text {
	margin-bottom: 5vw;
	color: #FBFCFD;
}
.aboutus_31 .left a {
	color: #fff;
	line-height: 30px;
}
.aboutus_31 .left a:hover img{
	margin-right: 10px;
}
@media(min-width: 1440px) {
	.aboutus_31 .left{
		padding-top: 5vw;
		padding-bottom: 5vw;
	}
}
@media(max-width: 1200px) {
	.aboutus_31 .left {
		padding: 25px;
	}
}
@media(max-width: 767px) {
	.aboutus_31>div {
		flex: 0 0 100%;
		width: 100%;
	}
	.aboutus_31 .left {
		padding: 15px;
		width: 100%;
		flex: 0 0 100%;
	}
	.aboutus_31 .right{
		width: 100%;
		flex: 0 0 100%;
	}
}