
.hjzf_z_aboutus28{
    overflow: hidden;
}
.hjzf_z_aboutus28_title_l .index_title{
    font-weight: bold;
    line-height: 1.5;
    color: #000;
    font-size: 3vw;
}
.hjzf_z_aboutus28_bottom{
    position: relative;
    margin-top: 5vw;
    max-height: 280px;
    overflow: hidden;
}
.hjzf_z_aboutus28_subt{
    font-weight: bold;
    line-height: 2;
}
.hjzf_z_aboutus28_bottom .index_sub_title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(0,0,0,.1);
    font-weight: bold;
    color: #fff;
    font-size: 2.5vw;
}
.hjzf_z_aboutus28_bottom_hd li{
    width:380px;
    float: left;
}
.hjzf_z_aboutus28_bottom_hd li img{
    width: 100%;
}

@media(max-width: 1365px) {
    .hjzf_z_aboutus28_title img{
        width: 80%;
    }
    .hjzf_z_aboutus28_bottom_hd li{
        width:280px;
    }
}
@media(min-width: 1366px) {
    .hjzf_z_aboutus28_title img{
        max-width: 100%;
    }
}

@media(max-width: 1200px) {
    .hjzf_z_aboutus28_bottom_hd li{
        width:240px;
    }
}
@media(max-width: 767px) {
    .hjzf_z_aboutus28_bottom_hd li{
        width:155px;
    }
    .hjzf_z_aboutus28_subt{
        font-weight: normal;
        font-size: 14px;
    }
}
@media(max-width: 540px){
    .hjzf_z_aboutus28_bottom_hd li{
        width:110px;
    }
}