.new_hjzf_aboutus-18 .aboutUsLeft{
    padding: 70px 80px;
    background: #EFF1F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.new_hjzf_aboutus-18 .aboutUsTips{
    font-size: 13px;
    color: #666;    
}
.new_hjzf_aboutus-18 .aboutUsContent{
    font-size: 13px;
    line-height: 26px;
    color: #999;
    margin-top: 40px;
}
.new_hjzf_aboutus-18 .aboutUsMore{
    display: block;    
    font-size: 15px;
    color: #555;
    margin-top: 25px;
}
/*.aboutUsMore::before{*/
/*content: "";*/
/*width: 40px;*/
/*height: 1px;*/
/*background: #555;*/
/*position: absolute;*/
/*top: 0;*/
/*}*/
.new_hjzf_aboutus-18 .aboutUsRight{
    margin-top: 70px;
}

@media(max-width: 1365px) {
    .new_hjzf_aboutus-18 .aboutUsLeft{
        padding: 20px 30px;
    }
    .new_hjzf_aboutus-18 .aboutUsContent{
        margin-top: 10px !important;
    }
    .new_hjzf_aboutus-18 .aboutUsMore{
        margin-top: 10px !important;
    }
}