.HJZF2_Z__aboutus-7{width: 100%;height: auto;margin: auto;overflow: hidden;background: rgb(255, 255, 255)}

.HJZF2_Z__aboutus-7__title--main{width: 100%;text-align: center;font-weight: bold; position: relative}
.HJZF2_Z__aboutus-7__title--main:after{content: '';display: block;width: 150px;height: 3px;position: absolute; bottom:0; z-index:9; left:50%; margin-left:-75px;}
.HJZF2_Z__aboutus-7_content{width: 100%;height: auto;margin: auto; margin-top:30px;}
.HJZF2_Z__aboutus-7__columm--inner{box-sizing: border-box; width: 100%;}
.HJZF2_Z__aboutus-7_wrapper{width: 100%;height: auto;margin: auto;overflow: hidden;}
.HJZF2_Z__aboutus-7--left__title{font-weight: bold;}
.HJZF2_Z__aboutus-7--left__desc{font-weight: normal;color:#7A7A79;padding-right: 40px;}
.HJZF2_Z__aboutus-7--left__tb{ width:100%;}
.HJZF2_Z__aboutus-7--left__icon{ display:flex; margin-bottom:5px; margin-left:-15px;}
.HJZF2_Z__aboutus-7--left__icon ul li{font-weight:bold; color: #333;margin-bottom: 10px;}
.HJZF2_Z__aboutus-7--left__icon ul li a{display: flex;display: -webkit-flex;display:-ms-flexbox;align-items: center;}
.HJZF2_Z__aboutus-7--left__icon ul li img{ vertical-align:top; margin-right:10px;}

.HJZF2_Z__aboutus-7--center__item{ padding:5px !important;}
.HJZF2_Z__aboutus-7--center__item__icon img{width:100%; max-width: 100%; height: auto; transition-duration: 0.2s;}
.HJZF2_Z__aboutus-7--center__item__icon img:hover {opacity:.8}

.HJZF2_Z__aboutus-7_wrap>div:first-child .HJZF2_Z__aboutus__columm--inner{padding-left: 0;}
.HJZF2_Z__aboutus-7_wrap>div:last-child .HJZF2_Z__aboutus__columm--inner{padding-right: 0;}



@media (max-width: 1024px){
.HJZF2_Z__aboutus-7_wrap>div .HJZF2_Z__aboutus-7__columm--inner{ margin-top:30px;}
.HJZF2_Z__aboutus-7_wrap>div:first-child .HJZF2_Z__aboutus-7__columm--inner{ margin-top:0;}
}
@media (max-width: 768px){

    .HJZF2_Z__aboutus-7--left__desc{padding-right: 0;}
}
@media (max-width: 575px) {    

}
@media (max-width: 480px) {

}