.hjzf_z_aboutus_hj04{width: 100%;margin: auto;}
.hjzf_z_aboutus_hj04--left{width: 44%;float: left;}
.left_box{padding-right: 50px;}
.hjzf_z_aboutus_hj04_title{color: #333333;font-weight: normal;position: relative}
.hjzf_z_aboutus_hj04_title:after{content: '';display: table;width: 100px;height: 2px;background: #333;position: relative;bottom: -10px;}
.hjzf_z_aboutus_hj04_text{color: #666666;font-weight: normal;margin-bottom: 30px;}
.hjzf_z_aboutus_hj04_ul{width: 100%;margin-bottom: 60px;}
.hjzf_z_aboutus_hj04_ul li{width: 50%;padding-left: 50px;position: relative;margin-bottom: 40px;line-height: 36px;float: left;}
.hjzf_z_aboutus_hj04_ul li p img{display: block;width: 36px;height: auto;position: absolute;left: 0;top: 0;}
.hjzf_z_aboutus_hj04_ul li a{font-weight: normal;color: #858585;}
.hjzf_z_aboutus_hj04--leftMore a{display: inline-block;width: 50%;padding:6px 0;color: #333;font-weight: normal;border: 1px solid #eeeeee;position: relative;text-align: center;z-index: 9;}
.hjzf_z_aboutus_hj04--leftMore a:before{content: ''; display: block;width: 0;height: 100%;background: #fcb739;position: absolute;left: 0;top: 0;z-index: -1; transition: all .6s ease;}
.hjzf_z_aboutus_hj04--leftMore a:hover:before{width: 100%;}
.hjzf_z_aboutus_hj04--leftMore a:hover{color: #fff;}
.hjzf_z_aboutus_hj04--right{width: 56%;float: left;overflow-x: hidden;position: relative;padding-bottom: 40px;}
.hjzf_z_aboutus_hj04--right .swiper-slide{margin-right: 20px;}
.aboutusRight_box{width: 120%;}
.aboutushj04_slide img{max-width: 100%}
#video__layer{width: 0;height: 0;background: rgba(0,0,0,0.9);position: fixed;top: 50%;left: 50%;z-index: 999;overflow: hidden;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;transform-origin:50% 50%;-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;}
#video__layer video{width: 60%;height: 60%;position: relative;left: 50%;top:50%;transform: translateX(-50%) translateY(-50%);object-fit:fill;}
.vidoe_close{padding: 20px;color: #fff;font-size: 20px;line-height: 24px;position: absolute;top: 20px;right: 20px;}
.aboutushj04_pagination{width: 100%;bottom: 9px}
.aboutushj04_pagination .swiper-pagination-bullet{width: 12px;height: 12px;border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;background: #969696;margin: 0 5px;cursor: pointer;outline: none}
@media ( max-width: 991px) {
    .hjzf_z_aboutus_hj04--left,.hjzf_z_aboutus_hj04--right{width: 100%}
    .hjzf_z_aboutus_hj04--left{padding: 0 15px;margin-bottom: 20px; }
}
@media ( max-width: 576px) {    
    .hjzf_z_aboutus_hj04_ul li{width: 100%;margin-bottom: 20px;}
    .hjzf_z_aboutus_hj04_ul li a{line-height: 24px}
    .aboutusRight_box{width: 100%}
    .hjzf_z_aboutus_hj04--right .swiper-slide{max-width:178px;margin-right: 20px;}
	.hjzf_z_aboutus_hj04_ul{
		margin-bottom: 10px;
	}
	.hjzf_z_aboutus_hj04_ul li{
		margin-bottom: 10px;
	}
}
@media(max-width: 1440px) {
	.hjzf_z_aboutus_hj04_ul{
		margin-bottom: 20px;
	}
	.hjzf_z_aboutus_hj04_ul li{
		margin-bottom: 15px;
	}
}
