.hjzf_z__aboutus-9{width: 100%;height: auto;margin: auto;}
.aboutus-9__color{color: #fff}
.aboutus-9__itemlist{width: 100%;margin: auto;justify-content: center;align-items: flex-start;}
.aboutus-9__itemlist li{margin: 0 50px;flex-grow: 1;}
.aboutus-9_icon{width: auto;height: auto;overflow: hidden;margin:auto;margin-bottom: 10px;}
.aboutus-9_count_shuzi{font-weight: bold;position: relative}
.aboutus-9_count_shuzi:after{content: attr(data-danwei);font-size: inherit;line-height: inherit;font-weight: inherit;padding-left: 6px;}
.count_shuzi_desc{font-weight: normal;}
.aboutus-9__itemlist li:hover div{animation:tada 2s infinite;-webkit-animation:tada 2s infinite;}
.hjzf_z__aboutus-9__down{padding: 40px 0;}
.hjzf_z__aboutus-9__downtext{font-weight: normal;color: #fff;}
.hjzf_z__aboutus-9__more{padding: 10px 30px;background: #fff;display: inline-block;border-radius: 24px;-moz-border-radius: 24px;-webkit-border-radius: 24px;border: 1px solid transparent}

@media (max-width: 992px) and (min-width: 768px){
    .aboutus-9__itemlist{flex-wrap: wrap;}
    .aboutus-9__itemlist li{margin-bottom: 0.6rem;width: calc(50% - 100px)}  
    .hjzf_z__aboutus-9__downtext{margin-bottom: 30px;}
}
@media (max-width: 767px){
    .aboutus-9__itemlist{flex-wrap: wrap;}
    .aboutus-9__itemlist li{margin-bottom: 0.6rem;width: 100%}   
    .hjzf_z__aboutus-9__downtext{margin-bottom: 30px;} 
}