.new_hjzf_aboutus3 .hj-aboutus {width: 100%;height: auto;margin: auto}
.new_hjzf_aboutus3 .HJ05-aboutus-box{height: auto}
.new_hjzf_aboutus3 .HJ05-aboutus-box-left{width: 100%;height: 100%;position: relative}
.new_hjzf_aboutus3 .HJ05-aboutus-box-right{width: 100%;height: auto}
.new_hjzf_aboutus3 .hj05-abus-title1{font-weight: 600;letter-spacing: 0;}
.new_hjzf_aboutus3 .hj05-abus-title2{font-weight: 700;letter-spacing: 0px;color: #333}
.new_hjzf_aboutus3 .hj05_abus_left_content{font-weight: normal;color: #626262;}
.new_hjzf_aboutus3 .hj05_abus_left_content div{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 8;overflow: hidden;text-overflow: ellipsis;}
.new_hjzf_aboutus3 .index_abus_more{width: 160px;height: 50px;line-height: 50px;text-align: center;font-size: 16px;color: #fff;display: block}
.new_hjzf_aboutus3 .index_abus_more i{padding-left: 10px;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s}
.new_hjzf_aboutus3 .index_abus_more:hover i{padding-left: 15px;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;transform: translateZ(0);-moz-transform: translateZ(0);-webkit-transform: translateZ(0)}
.new_hjzf_aboutus3 .hj05_abus_right_content{width: 100%;height: 100%;overflow: hidden}
.new_hjzf_aboutus3_pic li img{width: 100%}
.new_hjzf_aboutus3 .swiper-container-horizontal>.swiper-pagination-bullets{left: -20px;text-align: right}
.new_hjzf_aboutus3 .new_hjzf_aboutus3_pagination .swiper-pagination-bullet{width: 10px;height: 10px;border: 1px solid #fff;opacity: 1}

@media (max-width: 991px){
    .aboutus3-left{margin-bottom: 30px}
}