.hjzf_z_aboutus8_bg{
	animation:aboutus_left 2s linear;
	-moz-animation:aboutus_left 2s linear;
	-webkit-animation:aboutus_left 2s linear;
	-o-animation:aboutus_left 2s linear;
}
.vc_column_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.hjzf_z_aboutus8--left{height:100%;}
.hjzf_z_aboutus8_leftbox{padding-right: 55px;}
.hjzf_z_aboutus8_title{color: #ffffff;padding-top:0.7rem;font-weight: normal;padding-bottom: 40px;position: relative}
.hjzf_z_aboutus8_text{color: #ffffff;font-weight: normal;margin-bottom: 30px;}
@keyframes aboutus_left
{
from { width:0;}
to { width:100%;}
}

@-moz-keyframes aboutus_left /* Firefox */
{
from { width:0;}
to { width:100%;}
}

@-webkit-keyframes aboutus_left /* Safari 和 Chrome */
{
from { width:0;}
to { width:100%;}
}

@-o-keyframes aboutus_left /* Opera */
{
from { width:0;}
to { width:100%;}
}

.hjzf_z_aboutus8--right{ padding:0; background:#000000;}
.aboutus_right_box{width: 120%;overflow: hidden}
.aboutus_right_box video{height: 101%;object-fit: fill;}
.aboutus_right_box img{max-width: 100%}

@media ( max-width: 991px) {
	.hjzf_z_aboutus8_leftbox{ padding-right:0;}
	.hjzf_z_aboutus8_title{padding-top:30px;padding-bottom: 20px;}	
}
@media ( max-width: 576px) {
    .aboutus_right_box{width: 100%}
}
.hjzf_z_aboutus8_leftbox a{
    border-radius: 40px;
    border: 1px solid #fff;
    color: #fff;
}

@media(min-width: 1200px) {
    .hjzf_z_aboutus8_leftbox{
        padding-left: 265px;
    }
}