.HJZF_z__aboutus-HJ01{width: 100%;margin: auto;height: auto;}
.aboutus-HJ01-mainTitle{font-weight: bold}
.aboutus-HJ01-textContentWrap{margin-bottom: 60px}
.aboutus-HJ01-textContent_title{color: #333;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.aboutus-HJ01-textContent_Text{overflow: hidden;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;word-break: keep-all}
.aboutus-HJ01__item{text-align: center;background: #fff}
.aboutus-HJ01__itemImg{text-align: inherit;margin-top: 25px;margin-bottom: 20px}
.aboutus-HJ01__itemCont{text-align: inherit;color: #333;font-weight: normal;margin-bottom: 20px;height:48px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: keep-all}
.swiper-slide-thumb-active{background: rgb(229, 229, 229)}
.aboutus-HJ01__itemImg img:last-child,.aboutus-HJ01__itemImg img:nth-child(2){display: none}
.swiper-slide-thumb-active .aboutus-HJ01__itemImg img:last-child,.swiper-slide-thumb-active .aboutus-HJ01__itemImg img:nth-child(2){display: inline-block}
.swiper-slide-thumb-active .aboutus-HJ01__itemImg img:first-child,.swiper-slide-thumb-active .aboutus-HJ01__itemImg img:nth-child(1){display: none}
.aboutus-HJ01-page{display: none;-webkit-transform: translate3d(-50%,10px,0);transform: translate3d(-50%,10px,0);left: 50%;}
.aboutus-HJ01-page .swiper-pagination-bullet{margin: 0 4px;opacity: 0.5}
.aboutus-HJ01-page .swiper-pagination-bullet-active{margin: 0 4px;opacity: 1}
.aboutus-HJ01__changeItem .swiper-slide{max-width: 360px;cursor: pointer;}
@media (max-width:1199px) {
    .aboutus-HJ01__itemCont{padding: 0 20px;}
	.aboutus-HJ01-button{
		position: absolute;
		right: 0;
		top: 0;
		height: 44px;
		width: 120px;
	}
	.aboutus-HJ01-button div{
		background-size: 60%;
	}
}
@media (max-width:991px) {
    .HJZF_z__aboutus-HJ01{
        background-position-x: left!important;
    }
    .aboutus-HJ01-page{display: block}
}
@media (max-width:576px){
    .head__bar__branding-logo{width: 100%}
}