.hjzf_advantage_38_about em{
    display: block;
    width: 60px;
    height: 2px;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hjzf_advantage_38_about{
    color: #fff;
}
@media(min-width: 1200px) {
    .hjzf_advantage_38_about{
        margin-top: 100px;
    }
}