.hjzf2_z_advantage-hj01 {
    margin: auto;
    width: 100%;
    height: auto;    
    background: rgb(117, 179, 37)
}

.hjzf2_z_advantage-hj01__title {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 70px;
}

.hjzf2_z_advantage-hj01__item {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wrap_wapperBox{

}


.hjzf2_z_advantage-hj01__topIcon {
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
    font-size: 32px;
}

.hjzf2_z_advantage-hj01__itemName {
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.hjzf2_z_advantage-hj01__itemDesc {
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 27px;
    font-size: 16px;
}
.hjzf2_z_advantage-hj01__picBox{
    border-radius: 800px;overflow: hidden;
}
.hjzf2_z_advantage-hj01__picBox img{
    width: 100%;
}
.hjzf2_z_advantage-hj01__content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.hjzf2_z_advantage-hj01__content .wrap_wapper{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 25px;
    margin-bottom: 20px !important;
    border-left-width: 3px !important;
    padding-left: 40px !important;
    border-left-color: rgba(255,255,255,0.3) !important;
    border-left-style: dashed !important;
}
@media(max-width:768px){
    .hjzf2_z_advantage-hj01__title{margin-bottom: 40px;}
    .hjzf2_z_advantage-hj01__itemName{
        font-size: 20px;
    }
    .hjzf2_z_advantage-hj01__content .wrap_wapper{
        padding-left: 25px !important;
    }
}