.hjzf_z__advantage-8{width: 100%;height: auto;margin: auto;overflow: hidden;}
.advantage-8__title{color: #333333;padding-bottom: 60px;position: relative;}
.advantage-8__title:after{content: '';display: inline-block;width: 150px;height: 3px;background: #185d97;position: absolute;bottom: 30px;left: 50%;transform: translate3d(-50%,0,0);-moz-transform: translate3d(-50%,0,0);-webkit-transform: translate3d(-50%,0,0);}
.advantage-8__title span{ display:block; text-align:center; color:#333333;}
.advantage-8__ke{padding: 30px 20px;}
.advantage-8__item{background:white;box-shadow: 0px 18px 25px -11px #ccc;padding: 40px 30px;margin: auto;transition: all 0.6s ease;-moz-transition: all 0.6s ease;-webkit-transition: all 0.6s ease;}
.advantage-8imgbox{width: 99px;height: 99px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;text-align: center;overflow: hidden;display: inline-block;margin-bottom: 12px;}
.advantage-8imgbox img{width: 100%;}
.advantage-8__name{color: #333333;font-weight: normal;margin-bottom: 10px;}
.advantage-8__desc{color: #666666;font-weight: normal;}
.advantage-8__item:hover {box-shadow: 0 0 4px #d6d6d6,0 4px 4px #e3e3e3;transform: translate3d(0,-6px,0);-moz-transform: translate3d(0,-6px,0);-webkit-transform: translate3d(0,-6px,0);transition: all 0.2s ease;-moz-transition: all 0.2s ease;-webkit-transition: all 0.2s ease;}
.advantage-8_pagination{width: 100%;bottom: -20px;}
.advantage-8_pagination .swiper-pagination-bullet{margin: 0 6px;}
.advantage-8__btn{
	text-align:center;
	margin-top:20px;
}
.advantage-8__btn a{
	padding: 8px 30px;
	margin:auto;
	color:#fff;
}
.advantage-8__btn a:hover{
	color:#fff;
	text-decoration:underline;
}

@media (max-width:767px){
    .advantage-8__title{padding-bottom: 40px;}
    .advantage-8__title:after{bottom:20px;}
    .advantage-6__box>div.advantage-6__item{ padding: 40px 20px 20px;}
}

@media(min-width: 1366px) {
	.advantage-8__swiper .swiper-slide{
		max-width: 480px;
	}
}