.hjzf_advantage_30_con{
    color: #fff;
}
.hjzf_advantage_30_con .index_title{
    margin-bottom: 2vw;
}
.hjzf_advantage_30_con .index_text{
    margin-bottom: 5vw;
}
.hjzf_advantage_30_con a{
    overflow: hidden;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    display: block;
    width: 220px;
    text-align: center;
}
.hjzf_advantage_30_con a:before{
    border-radius: 40px;
}
@media(max-width: 768px) {
    .hjzf_advantage_30_con .index_title{
        margin-bottom: 15px;
    }
    .hjzf_advantage_30_con .index_text{
        margin-bottom: 30px;
    }
    .hjzf_advantage_30_con a{
        width: 150px;
    }
}