.new_hjzf_advantage-22 .HJ01CN_other2 {
    width: 100%;
    margin: auto;
}

.new_hjzf_advantage-22 .HJ01CN_other2-title {
    line-height: 75px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}

.new_hjzf_advantage-22 .HJ01CN_other2_list {
    margin-top: 80px;
}
.hj01cn_other_item{
    display: flex;
}
.new_hjzf_advantage-22 .hj01cn_other_item_pic {
    float: left;
}

.new_hjzf_advantage-22 .hj01cn_other_item_text {
    float: right;
    position: relative;
    padding-top: 50px;
    padding-left: 95px;
    padding-right: 30px;
    
}

.new_hjzf_advantage-22 .hj01cn_other_item_text .row-little{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.new_hjzf_advantage-22 .hj01cn_other_item_text h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    position: relative;
}

.new_hjzf_advantage-22 .hj01cn_other_item_text h5 {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    color: #dcdcdc;
    margin-bottom: 10px;
}

.new_hjzf_advantage-22 .hj01cn_other_item_text p {
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    color: #4e4e4e;
    padding-left: 13px;
    position: relative;
    margin-bottom: 15px;
}

.new_hjzf_advantage-22 .hj01cn_other_item_text a {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    position: relative;
    align-self: flex-start;
}

.new_hjzf_advantage-22 .hj01cn_other_item_text img {
    position: absolute;
    left: -75px;
    top: -15px;
}

.new_hjzf_advantage-22 .HJ01CN_other2_list li:nth-child(even) .hj01cn_other_item_pic {
    float: right;
    order: 2;
}

.new_hjzf_advantage-22 .HJ01CN_other2_list li:nth-child(even) .hj01cn_other_item_text {
    float: left;
    order: 1;
}
.new_hjzf_advantage-22 .hj01cn_other_item_text a:before{
    content: '';display: table;width: 100%;;height: 2px;position: absolute;;left: 0;bottom: -6px;background: #dfdfdf;
}
.img-full{
    width: 100%;
}

@media(max-width: 768px) {
    .hj01cn_other_item_pic{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
    }
    .hj01cn_other_item{
        margin-bottom: 15px;
        flex-direction: column;
    }
    .new_hjzf_advantage-22 .HJ01CN_other2_list li:nth-child(even) .hj01cn_other_item_pic{
        order: 1;
    }
    .new_hjzf_advantage-22 .HJ01CN_other2_list{
        margin-top: 40px;
    }
}