
.hjzf_advantage_33_con .index_title{
    margin-bottom: 2vw;
    position: relative;
    z-index: 9;
}
.hjzf_advantage_33_con .index_title:before{
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    transform: translateY(-30px) translateX(-50%);
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    z-index: -1;
}
.hjzf_advantage_33_con .index_text{
    margin-bottom: 5vw;
    color: #888;
}
.hjzf_advantage_33_con a{
    overflow: hidden;
    color: #333;
    border: 1px solid #333;
    border-radius: 40px;
    display: block;
    width: 220px;
    text-align: center;
    transition: all .5s;
}
.hjzf_advantage_33_con a:hover{
    color: #fff;
}
.hjzf_advantage_33_con a:before{
    border-radius: 40px;
}
@media(min-width: 1200px) {
    .hjzf_advantage_33_con{
        transform: translateY(-30px);
    }
}

@media (max-width: 768px) {
    .hjzf_advantage_33_con{
        margin-bottom: 20px;
    }
    .hjzf_advantage_33_con .index_title{
        margin-bottom: 15px;
    }
    .hjzf_advantage_33_con .index_text{
        margin-bottom: 30px;
    }
    .hjzf_advantage_33_con .index_title:before{
        font-size: 28px;
        left: 0;
        transform: translateY(-20px) translateX(0);
    }
    .hjzf_advantage_33_con a{
        width: 150px;
    }
}
