.hjzf_advantage_26_wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.hjzf_advantage_26_wrapper li{
    flex: 0 0 50%;
}
.hjzf_advantage_26_wrapper li.hjzf_advantage_26_wrapper_img img{
    width: 100%;
}
.hjzf_advantage_26_wrapper_con{
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hjzf_advantage_26_wrapper_con.first,.hjzf_advantage_26_wrapper_list a{
    color: #fff;
}
.hjzf_advantage_26_wrapper_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hjzf_advantage_26_wrapper_list dl dd{
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media(max-width: 1200px) {
    .hjzf_advantage_26_wrapper li{
        flex: 0 0 100%;
    }
    .hjzf_advantage_26_wrapper_con {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}