.hjzf_advantage_29_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_advantage_29_wrapper_r{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hjzf_advantage_29_list{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_advantage_29_list li{
    flex: 0 0 50%;
    margin-bottom: 15px;
}
.hjzf_advantage_29_list li i{
    color: #333;
}
.hjzf_advantage_29_btn a{
	text-align:center;
	width:auto;
	height:16px;
	padding: 12px 25px 11px 25px;
	line-height:16px;
	text-transform: none;
    -webkit-border-radius: 25px;
    border-radius: 25px;
	color:#FFFFFF;
	font-size:14px;
}
.hjzf_advantage_29_list span em{
	font-style: normal;
	font-size: 22px;
	color: #333;
	margin-right:5px;
}