.hjzf_advantage_27_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_advantage_27_wrapper_con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}