.hjzf_advantage_36{
    min-height: 400px;
}
.inquiry_box input,.inquiry_box textarea{
    display: block;
    width: 100%;
    line-height: 45px;
    margin-bottom: 15px;
    padding-left: 10px;
    border: 0;
}
.inquiry_box_animate{
    position: relative;
}
.inquiry_box_animate img{
    position: absolute !important;
    right: 0;
    top: 0;
    height: 45px;
}
.inquiry_box input#code_char_other{
    width: 100% !important;
    margin-bottom: 0;
}
.inquiry_box input#index_submit{
    width: 150px;
    border-radius: 40px;
    color: #fff;
    padding-left: 0;
}

@media(min-width:1200px) {
    .hjzf_advantage_36 .index_title{
        font-size: 32px;
    }
}