.hjzf2_z_advantage_HJ05{
    margin: auto;
}

.hjzf2_z_advantage_HJ05_first li div{
    width: 60px;
    height: 60px;    
    display: inline-block;
    transition: transform 2s ease-in-out;
}
.hjzf2_z_advantage_HJ05_first li div:hover{
    transform: rotateZ(360deg);
}
.hjzf2_z_advantage_HJ05_first li div img{
    width: 100%;
}
.hjzf2_z_advantage_HJ05_first li h2{
    margin: 20px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 33px;
}
.hjzf2_z_advantage_HJ05_first li h2 a{
    color: #333;
}


/* mobile */
@media (max-width: 768px) {
    .hjzf2_z_advantage_HJ05{
        padding-top: 50px;
    }
    .hjzf2_z_advantage_HJ05_first li{
        margin-bottom: 24px;
    }
    .hjzf2_z_advantage_HJ05_first li:hover div{
        transform: none;
    }
    .hjzf2_z_advantage_HJ05_first li h2{
        margin: 10px 0;
    }
    .hjzf2_z_advantage_HJ05_first li p{
        font-size: 14px;
    }
}

