.hjzf2_advantage_9{width: 100%;height: auto;margin: auto;padding-bottom: 0;}
.hjzf2_advantage_9 .advantage_9_titlewrap{width: 100%;text-align: center}
.hjzf2_advantage_9 .advantage_9_itemlist{width: 100%;margin: auto;flex-wrap: wrap;margin-bottom: 60px;}
.hjzf2_advantage_9 .advantage_9_item{justify-content: flex-start;margin-bottom: 25px;}
.hjzf2_advantage_9 .advantage_9_itemimg{position: relative;margin-right: 15px;}
.hjzf2_advantage_9 .advantage_9_itemimg img.first{opacity: 1;visibility: visible;position: relative;}
.hjzf2_advantage_9 .advantage_9_itemimg img.second{opacity: 0;visibility: hidden;position: absolute;top: 0;left: 0}
.hjzf2_advantage_9 .advantage_9_itemtext{padding-right: 20px;}
.hjzf2_advantage_9 .advantage_9_itemtext .index_sub_title{color: #333; transition: all .5s;}
.hjzf2_advantage_9 .advantage_9_itemtext .index_text{color: #666}
.advantage_9_slide{position: relative;height: 278px;width: 490px;display: flex;display: -webkit-flex;align-items: flex-end;}
.advantage_9_slide.swiper-slide-prev>div{display: flex;display: -webkit-flex;justify-content: flex-end;align-items: flex-end}
.advantage_9_slide.swiper-slide-next>div{display: flex;display: -webkit-flex;justify-content: flex-start;align-items: flex-end}
.advantage_9_slide img{max-width: 80%;}
.advantage_9_slide.swiper-slide-active img{max-width: 100%;}

.hjzf2_advantage_9.advantage_9_item:hover .advantage_9_itemimg img.first{opacity: 0;visibility: hidden}
.hjzf2_advantage_9 .advantage_9_item:hover .advantage_9_itemimg img.second{opacity: 1;visibility: visible}
.advantage_9_next,.advantage_9_prev{background-image: none;text-align: center;line-height: 40px;width: 40px;height: 40px;border-radius: 50%;opacity: 0.8;}
.advantage_9_next i,.advantage_9_prev i{font-size: 30px;font-weight: normal;color: #fff;line-height: 37px;}
@media (max-width: 1440px) and (min-width: 1366px){
    .advantage_9_slide{height: 230px;}
}
@media (max-width: 1365px) and (min-width: 996px){
    .advantage_9_slide{height: 180px;}
}
@media (max-width: 992px){
    .advantage_9_slide{height: auto}
    .advantage_9_slide div{text-align: center;margin: auto}
}
    @media (max-width: 767px) {
        .hjzf2_advantage_9 .advantage_9_itemlist{margin-bottom: 0;}
    .hjzf2_advantage_9 .advantage_9_itemimg{width: 68px;text-align: center; flex: 0 0 25px;}
    .hjzf2_advantage_9 .advantage_9_itemimg img{max-width: 100%;}
    .advantage_9_itemtext{width: 100%}
    .advantage_9_slide{height: auto;}
    .advantage_9_slide img{max-width: 100%;}
}