.HJZF_Z__advantage{width: 100%;padding-top: 80px;overflow: hidden;}
.HJZF_Z__advantage__item{text-align: center;}
.HJZF_Z__advantage__item>div{padding-left: 10px;padding-right: 10px;width: 100%;padding-bottom:80px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF_Z__advantage__item:first-child>div{padding-left: 0;}
.HJZF_Z__advantage__item:last-child>div{padding-right: 0;}
.HJZF_Z__advantage__title{margin: 25px 0 0;}
.HJZF_Z__advantage__title a{font-size: inherit;line-height: inherit;color: #333;font-weight: bold;}
.HJZF_Z__advantage__desc{padding-top: 15px;}
.HJZF_Z__advantage__desc a{font-size: inherit;line-height: inherit;color: #999;}

@media (max-width: 767px) {
    .HJZF_Z__advantage{padding-top: 40px;}
    .HJZF_Z__advantage__item>div{padding-right: 0;padding-left: 0;padding-bottom: 40px;}

}

