.HJZF2_Z_advantage_55{
    position: relative;
    min-height: 400px;
}
.HJZF2_Z_advantage_55 img{
    float: right;
}

.HJZF2_Z_advantage_55_wrapper_con{
    padding: 80px;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn span{
    position: relative;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn span em{
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn span em img{
    display: block;
    width: auto;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn span em.hover,.HJZF2_Z_advantage_55_wrapper_con a.index_btn:hover span em.normal{
    opacity: 0;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn:hover span em.hover{
    opacity: 1;
}
.HJZF2_Z_advantage_55_wrapper_con a.index_btn span em.hover{
    transform: translateX(-50%);
    width: 20px;
}
.HJZF2_Z_advantage_55_wrapper_con .index_title{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width: 1200px) {
    .HJZF2_Z_advantage_55_wrapper{
        position: static;
    }
    .HJZF2_Z_advantage_55_wrapper_con{
        padding: 20px;
    }
}
@media(min-width: 1200px) {
    .HJZF2_Z_advantage_55 img{
        width: 50%;
    }
}