.HJZF3_advantage3 {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.HJZF3_advantage3__inner {
    padding-top: 80px;
    padding-bottom: 60px;
}

.HJZF3_advantage3_titleBox {
    text-align: center;
}

.HJZF3_advantage3_titleBox h1 {  
    font-weight: bold;
}

.HJZF3_advantage3_line_with_icon {
    margin-bottom: 40px;
    position: relative
}

.HJZF3_advantage3_line_with_icon i {
    color: #f3615a;
    font-size: 18px;
    display: inline-block;
}

.HJZF3_advantage3_line_with_icon:before, .HJZF3_advantage3_line_with_icon:after {
    content: '';
    display: table;
    width: 35px;
    height: 3px;
    background: #f3615a;
    position: absolute;;
    bottom: 9px;
}

.HJZF3_advantage3_line_with_icon:before {
    left: calc(50% - 80px);
}

.HJZF3_advantage3_line_with_icon:after {
    right: calc(50% - 80px);
}

.HJZF3_advantage3_content {   
    color: #85868c;
    text-align: center;
    font-weight: normal;
    margin-bottom: 35px;
}

ul.HJZF3_advantage3_list li {
    margin-bottom: 20px;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    will-change: transform;
}

ul.HJZF3_advantage3_list li .HJZF3_advantage3_item--left {
    margin-right: 15px;
}

ul.HJZF3_advantage3_list li .HJZF3_advantage3_item--left img {
    width: 66px;
    height: 66px;
}

ul.HJZF3_advantage3_list li .HJZF3_advantage3_item--right .HJZF3_advantage3_item_header h3 {   
    font-weight: bold;
}

ul.HJZF3_advantage3_list li .HJZF3_advantage3_item--right .HJZF3_advantage3_item_desc {  
    font-weight: normal;
    color: #85868c;
    margin-top: 10px;
}

.HJZF3_advantage3__container--right .HJZF3_advantage3__inner {
    padding-bottom: 150px;
    padding-top: 150px;
    margin-right: -15px;
    margin-left: -15px;
}

@media screen and (max-width: 991px) {
    .HJZF3_advantage3__inner {
        margin-left: -15px;margin-right: -15px;padding-top: 40px;padding-bottom: 40px;
    }
    .HJZF3_advantage3_line_with_icon:before, .HJZF3_advantage3_line_with_icon:after{display: none}

}
@media (max-width:768px){
    .HJZF3_advantage3_line_with_icon {margin-bottom: 24px;}
}
