.advantage_20_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.advantage_20_wrapper li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    margin-bottom: 2vw;
}

.advantage_20_wrapper li span {
    margin-top: 1vw;
    margin-bottom: 1vw;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}

.advantage_20_wrapper li i {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.advantage_20_wrapper li i img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    max-width: 100%;
}

.advantage_20_wrapper li i img.hover {
    opacity: 0;
}

.advantage_20_wrapper li:hover img {
    opacity: 0;
}

.advantage_20_wrapper li i:hover img{
    -webkit-transform:translate(-50%, -50%) rotate(360deg);
    -ms-transform:translate(-50%, -50%) rotate(360deg);
    transform:translate(-50%, -50%) rotate(360deg);
}
.advantage_20_wrapper li:hover img.hover {
    opacity: 1;
}

.advantage_20_wrapper li i,
.advantage_20_wrapper li span,
.advantage_20_wrapper li p {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}



.advantage_20_wrapper li i:hover img.hover {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    ;
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    ;
    transform: translate(-50%, -50%) rotate(360deg);
    ;
}

@media(max-width:768px) {
    .advantage_20_wrapper li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-bottom: 20px;
    }

    .advantage_20_wrapper li i {
        width: 80px;
        height: 80px;
    }

    .advantage_20_wrapper li i img {
        width: 100%;
    }
}