.hjzf_z__advantage-6{width: 100%;height: auto;margin: auto;}
.advantage-6__box{border: 1px solid #edeff0;border-left: 0;border-bottom: 0;flex-wrap: wrap;}
.advantage-6__box>div.advantage-6__item{flex: 0 0 50%;-ms-flex: 0 0 50%;max-width: 50%;border-left: 1px solid #edeff0;border-bottom: 1px solid #edeff0;padding: 60px 60px 20px;}
.advantage-6__title{color: #333333;padding-bottom: 60px;position: relative;}
.advantage-6__title:after{content: '';display: inline-block;width: 150px;height: 3px;background: #185d97;position: absolute;bottom: 40px;left: 50%;transform: translate3d(-50%,0,0);-moz-transform: translate3d(-50%,0,0);-webkit-transform: translate3d(-50%,0,0);}
.advantage-6__item h3{font-size: 28px;line-height: 30px;font-weight: normal;padding-bottom: 60px;position: relative;}
.advantage-6__item h3:before{content: '';display: inline-block;width: 150px;height: 3px;background: #edeff0;position: absolute;bottom: 30px;left: 50%;transform: translate3d(-50%,0,0);-moz-transform: translate3d(-50%,0,0);-webkit-transform: translate3d(-50%,0,0);}
.advantage-6__item p{font-weight: normal;padding-bottom: 60px;position: relative;color: #666666;}

@media (max-width: 992px) and (min-width: 768px){
    .hjzf_z__advantage-6{padding-top: 1.5rem;padding-bottom: 1.5rem;} 
    .advantage-6__item h3{font-size: 20px;line-height: 24px;}   
    .advantage-6__item p{padding-bottom: 24px;}
}
@media (max-width: 767px){
    .advantage-6__box>div.advantage-6__item{flex: 0 0 100%;-ms-flex: 0 0 100%;max-width: 100%;padding: 40px 20px 20px;}
    .advantage-6__item p{padding-bottom: 24px;}
}