.hjzf2_z_advantage_HJ04{
    min-height: 400px;   
    color: #fff;
    background-size: cover !important;
}
.hjzf2_z_advantage_HJ04_title:before{
    content:'';
    width: 80px;
    height: 4px;
    position: absolute;
    left: -100px;
    top: 25px;
    margin-bottom: 20px;
}
.hjzf2_z_advantage_HJ04_title h2{
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    font-style: italic;
}
.hjzf2_z_advantage_HJ04_text p{    
    margin-top: 20px;
    margin-bottom: 20px;
}
.hjzf2_z_advantage_HJ04_text a.more{
    display: block;
    width: 190px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;   
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all .5s;
}
.hjzf2_z_advantage_HJ04_text a.more:before{
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    content:'';
    background-color: #fff;
    z-index: -1;
    transition: all .5s;
}
.hjzf2_z_advantage_HJ04_text a.more:hover:before{
    width: 100%;
}

@media (max-width: 1366px) {
    .hjzf2_z_advantage_HJ04_title:before{
        width: 60px;
        left: -80px;
        position: static;
        display: block;
    }
}
@media (max-width: 768px) {
    .hjzf2_z_advantage_HJ04{        
        height: auto;min-height: auto;
    }
    .hjzf2_z_advantage_HJ04_title h2{
        font-size: 28px;
        line-height: 1.5;
    }
    #advantage-HJ04_1559 .hjzf2_z_advantage_HJ04_title h2{
        font-size: 22px;
    }
    .hjzf2_z_advantage_HJ04_text p{
        font-size: 16px;
    }
    .hjzf2_z_advantage_HJ04_text a.more{
        width: 150px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
    
}