.hjzf_advantage_37{
    overflow: hidden;
}
.hazfz_37_container_navigation{
    position: absolute;
    right: 0;
    top: -100px;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
}
.hazfz_37_container{
    overflow: visible;
}
.hjzf_z_37_wrapper a{
    display: block;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 30px 10px 5vw 10px;
    transition: all .5s;
}
.hjzf_z_37_wrapper .index_sub_title{
    color: #000;
    margin-bottom: 10px;
}
.hazfz_37_container_navigation .swiper-button-next:before,.hazfz_37_container_navigation .swiper-button-prev:before{
    transition: all .5s;
}
.hazfz_37_container_navigation .swiper-button-next,.hazfz_37_container_navigation .swiper-button-prev{
    position: relative;
    background: none;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    min-width: 100px;
    text-align: center;
    transition: all .5s;
    overflow: hidden;
}
.hazfz_37_container_navigation .swiper-button-next:hover,.hazfz_37_container_navigation .swiper-button-prev:hover{
    color: #fff;
}
.hjzf_z_37_wrapper:hover a{
    box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
}
@media(min-width: 1200px) {
    .hjzf_z_37_wrapper:nth-of-type(2n-1) a{
        margin-top: 3vw;
    }
    .hazfz_37_container .swiper-slide{
        max-width: px;
        margin-right: 30px;
    }
}
@media(max-width: 540px) {
    .hazfz_37_container_navigation{
        top: -140px;
    }
    .hazfz_37_container_navigation .swiper-button-next, .hazfz_37_container_navigation .swiper-button-prev{
        min-width: 80px;
    }
    .hazfz_37_container_navigation{
        min-width: 190px;
    }
}