.hjzf_advantage_39_right{
    color: #fff;
}
.hjzf_advantage_39_right .index_text{
    margin-bottom: 15px;
}
.hjzf_advantage_39_right img{
    margin: 40px 0;
}
.hjzf_advantage_39_right .index_title{
    position: relative;
}
.hjzf_advantage_39_left{
    margin-bottom: 20px;
}
@media(min-width:1200px) {
    .hjzf_advantage_39_left{
        margin-top: -160px;
    }
    .hjzf_advantage_39{
        margin-top: 80px;
    }
    .hjzf_advantage_39_right .index_title:before{
        position: absolute;
        display: block;
        content:'';
        width: 85px;
        height: 1px;
        left: 0;
        top: 30px;
        transform: translateX(-110%) translateY(-50%);
    }
}
