.hjzf_advantage_28_wrapper {
    display: flex;
    justify-content: space-between;
}

.hjzf_advantage_28_wrapper li {
    border-right: 2px solid rgba(255, 255, 255, .1);
    flex:1;
}

.hjzf_advantage_28_wrapper li div em {
    font-style: normal;
}
.hjzf_advantage_28_wrapper li div.hjzf_advantage_28_topbox{
    position: relative;
}
.hjzf_advantage_28_wrapper li div.hjzf_advantage_28_topbox div{
    font-size: 75px;
}

.hjzf_advantage_28_wrapper li .info2{
    font-size: 20px;
    line-height: 24px;
    color: #333;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
@media(min-width:1200px) {
    .hjzf_advantage_28 {
        min-height: 560px;
        padding-top: 120px;
    }

    .hjzf_advantage_28 .subtitle {
        width: 45%;
        margin: 0 auto;
    }
}

@media(max-width: 1199px) {
    .hjzf_advantage_28 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hjzf_advantage_28_wrapper li div {
        font-size: 50px;
    }
	.hjzf_advantage_28_wrapper li div.hjzf_advantage_28_topbox div{
		font-size:50px;
	}
}

@media(max-width: 768px) {
    .hjzf_advantage_58_wrapper li
    .hjzf_advantage_28_wrapper li div {
        font-size: 30px;
    }
	.hjzf_advantage_28_wrapper{
		display: block;
	}
	.hjzf_advantage_28_wrapper li{
		float:left; width:50%;
	}
}