.banner_11_wrapper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
.hjzf_banner_video {
    width: 100%;
}
.hjzf_banner_12_con {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6vw;
    color: #fff;
    text-align: center;
}

.hjzf_banner_12_con a {
    color: #fff;
    transition: all .5s;
    padding: 0 10px;
}
.hjzf_banner_12_con span{
    padding: 0 10px;
}

@media(max-width:1440px) {
    .hjzf_banner_12_con {
        bottom: 2vw;
    }
}

@media(max-width:767px) {
    .banner_pc_img_display{display: none;}
    .hjzf_banner_12_con {
        bottom: 22vw;
    }
}
  
    

@media(max-width:576px) {
    .hjzf_banner_12_con {
        bottom: 14vw;
    }
    .hjzf_banner_12_con .index_title {
        opacity: 1;
        visibility: visible;
    }
    
}
.d-none{
    display: none;
}
.mobile_video.on{
    display: none;
}
.d-none.on{
    display: block;
}