.hjzf_banner_24_bg{
    margin-top: 30px;
}
.hjzf_banner_24_wrapper{
    display: flex;
    justify-content: space-between;
}
.hjzf_banner_24_left{
    width: 30%;
    position: relative;
    z-index: 9;
    background-color: #fff;
}
.hjzf_banner_24_left > img{
    margin-top: 50px;
    max-width: 130%;
    position: relative;
    z-index: 9;
}
.hjzf_banner_24_left .hjzf_banner_24_left_tel{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.hjzf_banner_24_right_container{
    margin-bottom: 80px;
}
.hjzf_banner_24_right{
    width: 70%;
}
.swiper-button-list{
    position: relative;
    width: 40%;
    margin-left: 10%;
    bottom: 30px;
}
.swiper-button-list div{
    background: transparent;
}
.hjzf_banner_24_left_tel em{
    font-style: normal;
}
.hjzf_banner_24_left_tel span{
    font-weight: bold;
    font-size: 28px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
}
.hjzf_banner_24_right > img{
    position: absolute;
    left: 70%;
    bottom: 80px;
    transform: translate(50%, 50%);
    z-index: 9;
}

@media(max-width: 1440px) {
    .hjzf_banner_24_bg{
        background-size: 25% !important;
    }
}
@media(max-width: 1200px) {
    .hjzf_banner_24_bg{
        margin-top: 0;
    }
    .hjzf_banner_24_right > img{
        max-width: 50px;
    }
    .hjzf_banner_24_left_tel{
        display: none !important;
    }
    .hjzf_banner_24_right > img{
        bottom: 40px;
    }
    .swiper-button-list{
        bottom: 10px;
    }
    .hjzf_banner_24_right_container{
        margin-bottom: 40px;
    }
    .banner_24_wap_text{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-shadow: 0 0 3px rgba(0,0,0,.5);
    }
    .hjzf_banner_24_bg{
        background: none !important;
    }
}