.new_hjzf_banner-HJ06 .hjzf_hj06_bannerbox{width: 100%;height: auto;overflow: hidden}
.new_hjzf_banner-HJ06 #hjzf_hj06_banner{width: 100%;height: 100%;overflow: hidden}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper{width: 100%;height: 100%}
.new_hjzf_banner-HJ06 .hj-banner-item .hjzf_banner_link{width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;z-index: 94;}
.new_hjzf_banner-HJ06 .hj-banner-item>a{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hj-banner-prev{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;left: -100px;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hj-banner-next{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;right: -100px;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper .swiper-pagination-bullet{width: 12px;height: 12px;opacity: 0.6;background: #666;border: 3px solid #fff;box-shadow: 0 2px 10px #e3e3e3;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hjzf_hj06-banner-next,.new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hjzf_hj06-banner-prev{background: rgba(0,0,0, 0.5);margin-top: -35px;height: 70px;text-align: center;transition: all 0.6s ;-moz-transition: all 0.6s ;-webkit-transition: all 0.6s ;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hjzf_hj06-banner-next i,.hjzf_hj06_swiper .hjzf_hj06-banner-prev i{font-size: 24px;line-height: 70px;text-align: center;font-weight: normal;color: #fff;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper:hover .hjzf_hj06-banner-next{right: 40px;transition: all 0.6s ;-moz-transition: all 0.6s ;-webkit-transition: all 0.6s ;}
.new_hjzf_banner-HJ06 .hjzf_hj06_swiper:hover .hjzf_hj06-banner-prev{left: 40px;transition: all 0.6s ;-moz-transition: all 0.6s ;-webkit-transition: all 0.6s ;}

@media (max-width: 767px) {
    .has_wapbanner{display: none}
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper1-box{height: 600px;}
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper1-box .HJ-banner-item>a img{width: 100%}
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper1-box .hjzf_hj06_swiper .swiper-pagination-bullet {margin: 0 8px;}
    .new_hjzf_banner-HJ06 .ani-slide .b_item1,.new_hjzf_banner-HJ06 .swiper-slide .b_item2{display: none}

}
.hjzf_pagination_hj06{
	display: none;
}

/* search */
.hjzf_hj06_bannerbox{
    position: relative;
}
.hjzf_hj06_banner_search{
    position: absolute;
    width: 100%;
    z-index: 9;
}
.hjzf_hj06_banner_search_box{
    position: relative;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #fff;
}
.hjzf_hj06_banner_search_box:before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content:'';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
    opacity: .8;
}
.hjzf_hj06_banner_search_box_left{
    margin-bottom: 20px;
}
.hjzf_hj06_banner_search_box_left strong{
    font-size: 18px;
}
.hjzf_hj06_banner_search_box_left span{
    vertical-align: bottom;
}


.hjzf_hj06_banner_search{
    bottom: 20px;
}
.hjzf_hj06_banner_search_box_left span{
    word-spacing: 30px;
}
/* search button */
.hjzf_hj06_banner_search_box_right ul{
    border-bottom: 1px solid #fff;
}
.hjzf_hj06_banner_search_box_right input{
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.hjzf_hj06_banner_search_box_right .search_first{
    float: left;
    width: 80%;
}
.hjzf_hj06_banner_search_box_right .search_second{
    float: right;
    width: 20%;
}
.hjzf_hj06_banner_search_box_right input{
    opacity: .7;
}
.hjzf_hj06_banner_search_box,.hjzf_hj06_banner_search_box_right input, 
    .hjzf_hj06_banner_search_box_right .search_second #search-submit{
        color: #fff !important;
        padding-left: 10px;
    }
.hjzf_hj06_banner_search_box_right .search_second #search-submit{
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .hjzf_hj06_banner_search{
        display: none;
    }
}
@media (max-width: 768px) {
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hjzf_hj06-banner-next, .new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hjzf_hj06-banner-prev{
        height: 50px;
        margin-top: -25px;
    }
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper .hjzf_hj06-banner-next i, .hjzf_hj06_swiper .hjzf_hj06-banner-prev i  {
        line-height: 50px;
    }
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper:hover .hjzf_hj06-banner-prev{
        left: 10px;
    }
    .new_hjzf_banner-HJ06 .hjzf_hj06_swiper:hover .hjzf_hj06-banner-next{
        right: 10px;
    }    
}