.new_hjzf_banner-HJ01 .hjzf-hj01_bannerbox{width: 100%;height: auto;overflow: hidden}
.new_hjzf_banner-HJ01 #hjzf-hj01_banner{width: 100%;height: 100%;overflow: hidden}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper{width: 100%;height: 100%}
.new_hjzf_banner-HJ01 .hj-banner-item .hjzf_banner_bg{width: 100%;height: 100%}
.new_hjzf_banner-HJ01 .hj-banner-item .hjzf_banner_videoBox{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 94;}
.new_hjzf_banner-HJ01 .hj-banner-item .hjzf_banner_video{width: 100%;height: 100%;object-fit: fill;z-index: 94;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_banner_videoPlay{width: 40px;height: 40px;position: absolute;bottom: 30px;right: 40px;text-align: center;line-height: 40px;z-index: 99;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_banner_videoPlay a{position: relative;display: block;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_banner_videoPlay a:before{content: '';background: url("../img/ico_kv_pause.png") no-repeat center/cover;width: 40px;height: 40px;position: absolute;top: 0;left: 0;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_banner_videoPlay.on a:before{content: '';background: url("../img/ico_kv_play.png") no-repeat center/cover;width: 40px;height: 40px;position: absolute;top: 0;left: 0;}
.new_hjzf_banner-HJ01 .hj-banner-item .hjzf_banner_link{width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;z-index: 94;}
.new_hjzf_banner-HJ01 .hj-banner-item>a{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hj-banner-prev{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;left: -100px;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hj-banner-next{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;right: -100px;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_pagination-hj01{bottom: 40px;width: 60%;-webkit-transform: translate3d(-50%,0,0);transform: translate3d(-50%,0,0);-moz-transform: translate3d(-50%,0,0);left: 50%;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .swiper-pagination-bullet{width: 12px;height: 12px;opacity: 0.6;background: #666;border: 3px solid #fff;box-shadow: 0 2px 10px #e3e3e3;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_hj01-banner-next,.hjzf_hj01_swiper .hjzf_hj01-banner-prev{background: rgba(0,0,0, 0.5);margin-top: -35px;height: 70px;text-align: center;transition: all 0.6s ;-moz-transition: all 0.6s ;-webkit-transition: all 0.6s ;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper .hjzf_hj01-banner-next i,.hjzf_hj01_swiper .hjzf_hj01-banner-prev i{font-size: 24px;line-height: 70px;text-align: center;font-weight: normal;color: #fff;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper:hover .hjzf_hj01-banner-next{right: 40px;transition: all 0.6s ;-moz-transition: all 0.6s ;-webkit-transition: all 0.6s ;}
.new_hjzf_banner-HJ01 .hjzf_hj01_swiper:hover .hjzf_hj01-banner-prev{left: 40px;transition: all 0.6s ;-moz-transition: all 0.6s ;-webkit-transition: all 0.6s ;}
.banner-hj01-btn.normal{
    top: auto;
    bottom: 2vh;
}
.banner-hj01-btn{
    position: absolute;
    z-index: 9;
    top: 92vh;
    width: 100%;
    text-align: center;
}
.banner-hj01-btn img{
    cursor: pointer;
    animation: ani-infily 2s ease-in-out .4s infinite backwards;
}
@keyframes ani-infily{
    from{
        transform: translateY(-5px);
        opacity: 1;
    }
    to{
        transform: translateY(10px);
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .has_wapbanner{display: none}
    .new_hjzf_banner-HJ01 .hjzf_hj01_swiper1-box{height: 600px;}
    .new_hjzf_banner-HJ01 .hjzf_hj01_swiper1-box .HJ-banner-item>a img{width: 100%}
    .new_hjzf_banner-HJ01 .hjzf_hj01_swiper1-box .hjzf_hj01_swiper .swiper-pagination-bullet {margin: 0 8px;}
    .new_hjzf_banner-HJ01 .ani-slide .b_item1,.new_hjzf_banner-HJ01 .swiper-slide .b_item2{display: none}
}