.hj08_banner_pagination span{
    width: 12px;
    height: 12px;
}
.hj08_banner_top  .swiper-slide-active img{
    -webkit-animation: plus 3s linear 0s infinite alternate forwards;
            animation: plus 3s linear 0s infinite alternate forwards;
}
.hjzf_banner_hj08{

}
@media(max-width: 1200px) {
.hjzf_banner_hj08.index_wrapper{
	padding:0 !important;
}
}
@media (max-width: 767px) {
    .has_wapbanner{display: none}
}
@-webkit-keyframes plus {
    0% {
        -webkit-transform:scale(1);
                transform:scale(1)
    }
    80% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100%{
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
}
@keyframes plus {
    0% {
        -webkit-transform:scale(1);
                transform:scale(1)
    }
    80% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100%{
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
}