.container-full{
    padding-left: 40px;
    padding-right: 40px;
}
@media(max-width: 1439px) and (min-width: 1366px) {
    .container-full{
        padding-left: 20px;
        padding-right: 20px;
    } 
}
.hjzf_banner_23{
    position: relative;
}
.hjzf_banner_23_fx{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
}
.hjzf_banner_23_fx span{
    transform: translateX(-50%);
}
.hjzf_banner_23_foot{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 30px;
    color: #fff;
}
.hjzf_banner_23_foot a{
    color: #fff;
}
.hjzf_banner_23_foot_box{
    display: flex;
}
.hjzf_banner_23_foot_box a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hjzf_banner_23_foot_box a img{
    margin-right: 5px;
}
.hjzf_banner_23_foot_box a:not(:last-child){
    margin-right: 15px;
}
.banner_23_foot_ewm,.banner_23_foot_ewm span{
    display: flex;
    justify-content: flex-end;
}
.ban_ewm{
    position: relative;
}
.banner_23_foot_ewm span a{
    display: block;
    line-height: 40px;
    border-radius: 40px;
    color: #fff;
    margin-right: 20px;
    padding: 0 20px;
}
.ban_ewm .ban_ewm_con{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 120px;
    transform: translateY(-115%);
    opacity: 0;
    transition: all .5s;
}
.ban_ewm img:hover + .ban_ewm_con{
    opacity: 1;
    transform: translateY(-105%);
}
.ban_ewm_con img{
    max-width: 100%;
}

.row_flex{
    display: flex;
    align-items: flex-end;
}
video{
    display: block;
}