.new_hjzf_banner2 .HJ05-banner1-box{width: 100%;height: auto;overflow: hidden}
.new_hjzf_banner2 .HJ05-banner1-box #HJ05-banner2{width: 100%;height: 100%;overflow: hidden}
.new_hjzf_banner2 .HJ05-banner1-box .swiper-container{width: 100%;height: 100%}
.new_hjzf_banner2 .HJ05-banner1-box .HJ-banner-item>a{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.new_hjzf_banner2 .HJ05-banner1-box .banner2_swiper .hj-banner-prev{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;left: -100px;}
.new_hjzf_banner2 .HJ05-banner1-box .banner2_swiper .hj-banner-next{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;right: -100px;}
.new_hjzf_banner2 .HJ05-banner1-box .banner2_swiper .swiper-pagination{bottom: 6vw;}
.new_hjzf_banner2 .HJ05-banner1-box .banner2_swiper .swiper-pagination-bullet{width: 12px;height: 12px;opacity: 0.6;background: #fff;}
.new_hjzf_banner2 .swiper-slide .b_item1{
    transform:translateY(-200px);
    opacity:0;
    transition:all .4s;
}
.new_hjzf_banner2 .swiper-slide .b_item2{
    transform:translateX(-200px);
    opacity:0;
    transition:all .4s;
}
.new_hjzf_banner2 .ani-slide .b_item1{
    transform:translateY(0);
    opacity:1;
}
.new_hjzf_banner2 .ani-slide .b_item2{
    transform:translateX(0);
    opacity:1;
}
.new_hjzf_banner2 .banner2_swiper .hj-banner-next,.banner2_swiper .hj-banner-prev{background: rgba(113, 114, 115, 0.3);}
.new_hjzf_banner2 .banner2_swiper .hj-banner-next i,.banner2_swiper .hj-banner-prev i{font-size: 24px;line-height: 70px;text-align: center;font-weight: normal;color: #fff;}
.new_hjzf_banner2 .banner2_swiper:hover .hj-banner-next{right: 40px;}
.new_hjzf_banner2 .banner2_swiper:hover .hj-banner-prev{
    left: 40px;}

@media (max-width: 767px) {
    .has_wapbanner{display: none}
    .new_hjzf_banner2 .HJ05-banner1-box{height: auto;}
    .new_hjzf_banner2 .HJ05-banner1-box .HJ-banner-item>a img{width: 100%;}
    .new_hjzf_banner2 .HJ05-banner1-box .banner2_swiper .swiper-pagination-bullet {
        margin: 0 8px;
    }
    .new_hjzf_banner2 .HJ05-banner1-box .banner2_swiper .swiper-pagination{bottom: 10px;}
    .new_hjzf_banner2 .ani-slide .b_item1,.new_hjzf_banner2 .swiper-slide .b_item2{display: none}
}
