.hjzf_banner_11 {
    position: relative;
}

.banner_11_wrapper {
    position: absolute;
    display: block;
    z-index: 9;
    left: 0;
    right: 0;
    top: 130px;
    bottom: 0;
}

.banner_11_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    min-height: 80%;
}

.banner_11_box .left {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
}

.banner_11_box .right {
    flex: 0 0 30%;
    display: flex;
    opacity: 0.3;
    line-height: 1;
}

.advantage-8__ke {
    min-height: 360px;
}

.banner_11_box .mid {
    max-width: 40%;
}


.banner_text {
    display: none;
}

.banner_11_wrapper_pagination .text {
    margin-top: 4vw;
    min-height: 38px;
}

.banner_11_wrapper_pagination .xiexian {
    display: inline-block;
    width: 1px;
    height: 10px;
    content: '';
    background-color: rgba(0, 0, 0, .4);
    transform: rotate(125deg) translate(0px, 0px);
}

.banner_11_wrapper_pagination .total {
    color: rgba(0, 0, 0, .4);
}

.banner_11_wrapper_pagination {
    position: absolute;
    top: 3vw;
    right: 3vw;
    left: auto;
    bottom: auto;
    width: auto;
    writing-mode: vertical-rl;
    font-size: 12px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    font-weight: bold;
}


.banner_11_wrapper_pagination_next {
    position: absolute;
    z-index: 9;
    right: 2vw;
    bottom: 2vw;
}

.banner_11_wrapper_pagination_prev {
    position: absolute;
    z-index: 9;
    left: 2vw;
    bottom: 2vw;
    color: #fff;
}

.banner_11_wrapper_pagination_next,
.banner_11_wrapper_pagination_prev {
    width: 220px;
    cursor: pointer;
}

.banner_11_wrapper_pagination_next:before,
.banner_11_wrapper_pagination_prev:before {
    display: block;
    position: absolute;
    width: 80px;
    height: 60px;
    content: '';
    border: 1px solid rgba(255, 255, 255, .3);
    transition: all .35s;
}

.banner_11_wrapper_pagination_next:after,
.banner_11_wrapper_pagination_prev:after {
    position: absolute;
    display: block;
    top: 50%;
    width: 0;
    height: 0;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-style: solid;
    border-color: transparent;
    content: '';
}

.banner_11_wrapper_pagination_next:after {
    right: 40px;
    border-left-color: rgba(0, 0, 0, .8);
    transform: translate(100%, -50%);
}

.banner_11_wrapper_pagination_prev:after {
    left: 40px;
    border-right-color: #fff;
    transform: translate(-100%, -50%);
}

.banner_11_wrapper_pagination_next:before {
    right: 0;
    border: 1px solid rgba(0, 0, 0, .2);
}

.banner_11_wrapper_pagination_prev span {
    float: right;
    margin-right: 45px;
    line-height: 60px;
}

.banner_11_wrapper_pagination_next span {
    float: left;
    line-height: 60px;
    margin-left: 45px;
}

.banner_11_wrapper_pagination_prev:hover:before,
.banner_11_wrapper_pagination_next:hover:before {
    width: 100%;
}

.banner_11_wrapper_pagination_next span,
.banner_11_wrapper_pagination_prev span {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_11_wrapper_pagination_prev span:before,
.banner_11_wrapper_pagination_prev span:after {
    display: block;
    content: '';
    height: 1px;
    background-color: #fff;
    transition: all .35s ease-in-out;
}

.banner_11_wrapper_pagination_prev span:before {
    width: 85px;
    margin-right: 20px;
}

.banner_11_wrapper_pagination_prev:hover span:before {
    width: 0;
}

.banner_11_wrapper_pagination_prev span:after {
    width: 0;
    margin-left: 20px;
    margin-right: -20px;
}

.banner_11_wrapper_pagination_prev:hover span:after {
    width: 85px;
}


.banner_11_wrapper_pagination_next span:before,
.banner_11_wrapper_pagination_next span:after {
    display: block;
    content: '';
    height: 1px;
    background-color: #333;
    transition: all .35s ease-in-out;
}

.banner_11_wrapper_pagination_next span:after {
    width: 85px;
    margin-left: 20px;
}

.banner_11_wrapper_pagination_next:hover span:after {
    width: 0;
}

.banner_11_wrapper_pagination_next span:before {
    width: 0;
    margin-right: 20px;
    margin-left: -20px;
}

.banner_11_wrapper_pagination_next:hover span:before {
    width: 85px;
}

@media(min-width: 1440px) {
    .right {
        font-size: 250px;
    }
}

@media(min-width:1500px) {
    .banner_11_box {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (max-width: 1366px) {
    .nav>ul>li {
        flex: 0 0 8vw;
    }

    .banner_11_wrapper {
        top: 4vw;
    }

    .banner_11_box .mid {
        max-height: 60vh;
    }

    .banner_11_box .right {
        font-size: 12vw;
    }
}

@media(max-width: 768px) {
    .banner_11_box .left {
        display: none;
    }

    .banner_11_box .right {
        margin-right: 3vw;
    }

    .banner_11_box {
        justify-content: space-evenly;
    }
    .banner_11_wrapper_pagination_prev,.banner_11_wrapper_pagination_next{
        transform: scale(.5);
        bottom: 0;
    }
}