.hjzf_bottom_12_pro_bg{
    background-color: #333;
    color: #fff;
}
.hjzf_bottom_12_pro_wrapper{
    padding-top: 60px;
    padding-bottom: 40px;
}
.hjzf_bottom_12_pro_wrapper ul{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_bottom_12_pro_wrapper li{
    flex: 0 0 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}
.hjzf_bottom_12_pro_wrapper li span{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    color: #fff;
    font-size: 18px;
}
.hjzf_bottom_12_pro_wrapper li span a{
    color: #fff;
}
.hjzf_bottom_12_pro_wrapper li > a {
    display: flex;
    margin-bottom: 15px;
}
.hjzf_bottom_12_pro_wrapper li a{
    color: #ccc;
    transition: all .5s;
}
.hjzf_bottom_12_pro_wrapper li p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hjzf_bottom_12_pro_wrapper li i,.hjzf_bottom_12_pro_wrapper li em{
    overflow: hidden;
    font-style: normal;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    transition: all .5s;
}
.hjzf_bottom_12_pro_wrapper li em{
    color: #999;
    font-size: 13px;
}
.hjzf_bottom_12_pro_wrapper li a img{
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

/* 底部 */
.hjzf_bottom_12_bottom_bg{
    padding-top: 40px;
    padding-bottom: 15px;
}
.hjzf_bottom_12_bottom_wrapper{
    margin-bottom: 20px;
}
.hjzf_bottom_12_bottom_wrapper ul{
    display: flex;
    justify-content: space-between;
}
.hjzf_bottom_12_bottom_wrapper ul li:first-child{
    max-width: 33.33333%;
}
.hjzf_bottom_12_bottom_wrapper ul li{
    min-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
}
.hjzf_bottom_12_bottom_wrapper ul li.news{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    background: linear-gradient(to bottom, );
}
.hjzf_bottom_12_bottom_wrapper ul li.news span{
    padding-top: 20px;
}
.hjzf_bottom_12_bottom_wrapper ul li.news a{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
}
.hjzf_bottom_12_bottom_wrapper ul li.other span{
    display: block;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
}
.hjzf_bottom_12_bottom_wrapper ul li.other span:not(:nth-of-type(1)){
    margin-top: 15px;
}
.hjzf_bottom_12_bottom_wrapper ul li.other a{
    display: block;
    line-height: 2;
}
.hjzf_bottom_12_bottom_copy,.hjzf_bottom_12_bottom_share{
    padding: 0 15px;
}
.hjzf_bottom_12_bottom_share .left a{
    float: left;
    margin-right: 10px;
}
.hjzf_bottom_12_bottom_share .left a img{
    max-width: 30px;
}
.hjzf_bottom_12_bottom_share .right a{
    float: left;
    margin-left: 10px;
}
.hjzf_bottom_12_bottom_share{
    margin-top: 20px;
}
.hjzf_bottom_12_bottom_share .fl img{
    vertical-align: text-bottom;
}
@media(min-width: 1200px) {
    .hjzf_bottom_12_bottom_copy{
        text-align: right;
    }
   
}

@media(max-width: 1200px) {
    .hjzf_bottom_12_bottom_wrapper ul li.news{
        padding: 0 15px;
        background: transparent;
    }
    .hjzf_bottom_12_bottom_wrapper ul li.other span{
        margin-bottom: 15px;
    }
    .hjzf_bottom_12_bottom_wrapper ul li.other span:not(:nth-of-type(1)){
        margin-top: 15px;
    }
    .hjzf_bottom_12_bottom_wrapper ul li:first-child{
        max-width: 100% !important;
        margin-bottom: 20px;
    }
    .hjzf_bottom_12_bottom_wrapper ul li{
        max-width: 50%;
    }
}
@media(max-width: 992px) {
    .hjzf_bottom_12_bottom_wrapper ul{
        flex-wrap: wrap;
    }
    .hjzf_bottom_12_bottom_wrapper ul li{
        flex: 0 0 100%;
    }
    .hjzf_bottom_12_bottom_share .fl,.hjzf_bottom_12_bottom_share .fr{
        line-height: 30px;
        float: none !important;
    }
    .hjzf_bottom_12_bottom_share .fl:after{
        display: block;
        content:'';
        clear: both;
    }
}