.bottom_hj07_2_box{
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #313131;
}
.bottom_hj07_2_box a{
    color: #fff;
    transition: all .5s ease;
}
@media (max-width: 768px) {
    .bottom_hj07_ewm_box{
        padding-top: 0;
    }
    .bottom_hj07_2_box{
     padding-left: 15px;
     padding-right: 15px;
 }
}