.bottom_hj09{
    padding-top: 80px ;
    padding-bottom: 40px;
    background-color: #333;
    color: #fff;
    position: relative;
}
.bottom_hj09 .toTop{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.bottom_hj09 .foot_logo{
    display: block;
    margin-bottom: 20px;
}
.bottom_hj09 .foot_bottom{
    margin-top: 40px;
}
.bottom_hj09 li .first{
    display: block;
    text-align: center;
}
.bottom_hj09 li .first a{
    margin: 0 3px;
}
.bottom_hj09 .footer_flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.bottom_hj09 .footer_flex .item{
    max-width: 20%;
}
.bottom_hj09 .footer_flex h3 a{
    font-size: 18px;
    margin-bottom: 20px;
    color: currentColor;
    display: block;
}
.bottom_hj09 .bottom_text_list a,.bottom_hj09 .item p{
    display: block;
    color: currentColor;
    line-height: 2;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.bottom_hj09 .footer_flex h3 a.onlinefeed{
    border: 1px solid currentColor;
    color: currentColor;
    text-align: center;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.bottom_hj09 .foot_bottom a{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media(max-width: 992px) {
    .bottom_hj09 .foot_bottom{
        margin-top: 0;
    }
    .bottom_hj09{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}