.HJZF2_Z__bottom_hj05{
    overflow: hidden;
}
.foot_top{
    margin-top: 80px;
    margin-bottom: 50px;
}
.foot_top_left p{
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    margin-top: 20px;
    margin-bottom: 40px;
}
.foot_top_ico dd{
    float: left;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}
.foot_top_link h3{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 15px;
}
.foot_top_link a{
    color: #333;
    transition: all .3s linear;
}
.foot_top_link a:hover{
    color: #999;
}
.foot_top_link ul li{
    line-height: 2.6;
}
.foot_bottom{
    padding: 25px 0;
    border-top: 1px solid #cccccc;
    color: #666666;
    font-size: 14px;
}
.foot_bottom a{
    color: #666;
}
.HJZF2_Z__bottom_hj05__friendlink{ width:100%; font-size: 14px; line-height:30px; padding-bottom:10px;}
@media (max-width: 768px) {
    .foot_top{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .foot_bottom{ 
        padding: 10px 0;
    }
    .foot_top_left p{
        font-size: 14px;
        color: #666666;
        line-height: 1.8;
        margin-bottom: 15px;
    }
}