.hjzf2_z_bottom_27_top_bg{
	padding: 50px 0;
}
.bottom_title{
	margin-bottom: 30px;
}
.hjzf2_z_bottom_27_top_bg .bottom_title a{
	font-size: 24px;
	color: #fff;
	opacity: 1;
}
.hjzf2_z_bottom_27_top_bg .row:before,.hjzf2_z_bottom_27_top_bg .rwo:after{
	display: none;
}
.hjzf2_z_bottom_27_top_bg .row{
	display: flex;
	justify-content: space-between;
}
.hjzf2_z_bottom_27_top_bg a,.hjzf2_z_bottom_27_top_bg{
	color: #fff;
}
.hjzf2_z_bottom_27_left{
	display: flex;
	justify-content: space-between;
}
.hjzf2_z_bottom_27_bottom_bg{
	padding: 15px 0;
}
.hjzf2_z_bottom_27_logo{
	max-width: 50%;
}
.hjzf2_z_bottom_27_menu{
	margin-right: 10%;
}
.hjzf2_z_bottom_27_logo p{
	margin-top: 50px;
	margin-bottom: 50px;
}
.hjzf2_z_bottom_27_logo ul{
	display: flex;
}
.hjzf2_z_bottom_27_logo ul li{
	margin-right: 25px;
}
.hjzf2_z_bottom_27_menu li{
	line-height: 2.2;
}
.hjzf2_z_bottom_27_right{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 5%;
}
.hjzf2_z_bottom_27_email{
	flex: 0 0 100%;
	width: 100%;
}
.hjzf2_z_bottom_27_case{
	flex: 0 0 45%;
	width: 45%;
}
.hjzf2_z_bottom_27_contact{
	line-height: 2.2;
	flex: 0 0 50%;
	width: 50%;
}
.hjzf2_z_bottom_27_contact b{
	display: block;
	line-height: 1;
	font-size: 36px;
	white-space: nowrap;
	margin-bottom: 10px;
}
.bottom_form_box{
	margin-top: 40px;
}