.new_hjzf_bottom-4 .bottomfoot_nav_name{ padding:0.15rem 0px;}
.new_hjzf_bottom-4 .bottom-txt{ margin-top:0.5rem; font-size:14px; max-width:320px;}
.new_hjzf_bottom-4 .bottom-icon{ margin-top:0.3rem;}
.new_hjzf_bottom-4 .bottom-icon .bottom-icon-item{ display:inline-block; text-align:center;}
.new_hjzf_bottom-4 .bottom-icon .bottom-icon-item img{ max-width:100%; max-width:120px;}
.new_hjzf_bottom-4 .bottom-icon .bottom-icon-item span{font-size:0.14rem; line-height:25px; margin-top:10px; display: inline-block;}
.new_hjzf_bottom-4 .bottom-copyright{ margin-top:0.8rem; font-size:0.14rem; margin-bottom:0.5rem; }
.new_hjzf_bottom-4 .b-nav2{ width:50%; float:left;}
.new_hjzf_bottom-4 .bottom_news img{ width:100%;}
.new_hjzf_bottom-4 .b_new_img{ padding-top:15px; margin-left:-15px;}
.new_hjzf_bottom-4 .bottomfoot{ padding-top:0.68rem;}
.new_hjzf_bottom-4 .bottom-4_weixin_img{ display:none;}
@media (max-width:991px){
	.bottomfoot_nav{ margin-left:0;}
}
@media (max-width:768px){
.new_hjzf_bottom-4 .bottom-icon{ display:none;}
}