.hjzf2_z_bottom_20{
    padding-top: 80px;
}
.hjzf2_z_bottom_20_wrapper li a{
    display: block;
    line-height: 2;
    transition: all .5s;
	position: relative;
}
.hjzf2_z_bottom_20_wrapper li .bottom_20_ewm{
	position: absolute;
	display: block;
	right: 50%;
	bottom: 110%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
	transform: translateX(50%);
}
.hjzf2_z_bottom_20_wrapper li dd:hover .bottom_20_ewm{
	opacity: 1;
	visibility: visible;
}
.hjzf2_z_bottom_20_wrapper li .hjzf2_z_bottom_20_wrapper_title a{
    opacity: 1;
}
.hjzf2_z_bottom_20_wrapper_copyright,.hjzf2_z_bottom_20_wrapper_copyright a,.hjzf2_z_bottom_20_wrapper{
    opacity: .9;
}
.hjzf2_z_bottom_20_wrapper li:last-child p{
    max-width: 300px;
    line-height: 2;
}
.hjzf2_z_bottom_20_wrapper_title{
    margin-bottom: 20px;
}
.hjzf2_z_bottom_20_wrapper{
    display: flex;
    justify-content: space-between;
}
.hjzf2_z_bottom_20_wrapper li{
    flex: auto;
}
.hjzf2_z_bottom_20_wrapper li:last-child{
    flex: 0 0 300px;
}

.hjzf2_z_bottom_20_wrapper_copyright a{
    transition: all .5s;
}
@media(max-width: 1200px) {
    .hjzf2_z_bottom_20{
        padding-top: 30px;
    }
}

@media(max-width: 1365px) {
    .hjzf2_z_bottom_20_wrapper{
        display: none;
    }
}