.bottom_7_box{padding: 20px 30px;}
.bottom_7_nr{width:100%; text-align:right; font-size:14px; line-height:20px; margin-bottom:20px;}
.bottom_7_list{ width:100%;}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #cccccc;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
#page_top a i{
	width:100%;
	text-align:center;
	line-height:50px;
	font-size:20px;
	color:#000000;
}