.hjzf_Z_bottom_17{
    padding-top: 40px;
}
.hjzf_Z_bottom_17_top_wrapper{
    border-bottom: 1px solid #f5f5f5;
}
.hjzf_Z_bottom_17_top_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_Z_bottom_17_top_wrapper li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hjzf_Z_bottom_17_top_wrapper li{
    /* border-left: 1px solid #f5f5f5; */
    padding-bottom: 15px;
}
.hjzf_Z_bottom_17_top_wrapper li:nth-last-of-type(1){
    /* border-right: 1px solid #f5f5f5; */
}
.hjzf_Z_bottom_17_top_wrapper li div{
    font-size: 24px;
}
.hjzf_Z_bottom_17_top_wrapper li span{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hjzf_Z_bottom_17_bottom{
    padding-top: 20px;
    padding-bottom: 20px;
}
.hjzf_Z_bottom_17_bottom a,.hjzf_Z_bottom_17_top_wrapper a{
    color: #333;
    transition: all .5s;
}
/* bottom */
.hjzf_Z_bottom_17_bottom_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hjzf_Z_bottom_17_bottom_wrapper .toTop{
    font-size: 32px;
    cursor: pointer;
}
.hjzf_Z_bottom_17_bottom_wrapper .right{
    display: flex;
    align-items: center;
    font-size: 22px;
}
.hjzf_Z_bottom_17_bottom_wrapper .right span{
    margin-left: 20px;
    position: relative;
}
.hjzf_Z_bottom_17_bottom_wrapper .right span .txt{
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    white-space: nowrap;
}
.hjzf_Z_bottom_17_bottom_wrapper .right span:hover .txt{
    opacity: 1;
    visibility: visible;
}
.hjzf_Z_bottom_17_bottom_wrapper .right .email{
    font-size: 18px;
}

@media(max-width: 1365px) {
    .hjzf_Z_bottom_17_top_wrapper li div{
        font-size: 20px;
    }
    .hjzf_Z_bottom_17_bottom_wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width: 767px){
    .hjzf_Z_bottom_17_top_wrapper li div{
        font-size: 18px;
    }
    .hjzf_Z_bottom_17{
        padding-top: 20px;
    }
    .bottom_17_img{
        display: inline-block !important;
        margin-right: 10px;
    }
}