.hjzf2_z_bottom_28{
	padding-top: 80px;
}
.hjzf2_z_bottom_28_wrapper{
	display: flex;
	justify-content: space-between;
}
.hjzf2_z_bottom_28_wrapper .bottom_28_first{
	flex: 0 0 25%;
	width: 25%;
}
.bottom_28_list{
	flex: 0 0 16%;
	width: 16%;
}
.bottom_28_list span a{
	display: block;
	font-size: 30px;
	margin-bottom: 30px;
	color: #fff;
}
.bottom_28_list a,.bottom_28_list{
	font-size: 16px;
	line-height: 1.8;
	color: #ccc;
}
.bottom_28_first_logo{
	height: 54px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.copy_right{
	padding-top: 15px;
	padding-bottom: 15px;
}
.copy_right,.copy_right a{
	color: #fff;
}
.bottom_28_share ul{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.bottom_28_share ul li{
	margin: 0 5px;
}
@media(max-width: 1200px) {
	.hjzf2_z_bottom_28_wrapper{
		display: none;
	}
}