.hjzf_bottom-hj03 {
    width: 100%;
    height: 100vh;
    margin: auto;
}

.bottom-hj03_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
}

.bottom-hj03_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.bottom-hj03_foot{
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #101926;
}
.bottom-hj03_foot > div{
    margin-top: 55px;
    margin-bottom: 60px;
}
.bottom-hj03_footnav{
    margin: 50px auto 0;
    position: relative;
    width: 100%;
    text-align: center;
}
.bottom-hj03_footnav li{
    display: inline-block;
    margin: 0 20px;
    line-height: 40px;
    position: relative;
}
.bottom-hj03_footnav li a{
    text-decoration: none;
}
.bottom-hj03_footnav li a h2{
    color: #fff;
    font-size: 14px;
}
.bottom-hj03_footnav li a:hover,.footer-info a:hover{
    text-decoration: underline;
}
.hr-full{
    width: 100%;
    border-top: 1px solid #ffffff;
    margin: 30px 0;
}
.footer-info{
    text-align: left;
    font-size: 14px;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-info-left{
    width: 70%;
}
.footer-info-left i{margin-right: 10px;}
.footer-info-left span{margin-left: 10px;}
.footer-info-left span:first-child{margin-left: 0;}
.footer-info-right{
    width: 30%;
}
.footer-info-right img,.footer-info-right > div{
    display: inline-block;
    float: left;
}
.footer-info-right > div{
    width: 70px;
    margin-left: 10px;
    padding-top: 30px;
}

@media(max-width: 1440px) {
    .hr-full{
        margin: 15px 0;
    }
}
@media (max-width: 1365px)and (min-width: 992px){
    .footer-info-left{
        width: 60%;
    }
    .footer-info-right{
        width: 40%;
    }
}
@media (max-width: 991px) {
    .footer-info{flex-wrap: wrap}
    .footer-info-left{margin-bottom: 20px;}
    .footer-info-left,.footer-info-right{width: 100%;text-align: center}
    .footer-info-right img,.footer-info-right div{float: inherit}
    
}
.footer_info_right_footer{
    display: flex;
}
.footer_info_right_footer span{
    text-align: center;
}
.footer_info_right_footer span:not(:last-child){
    margin-right: 15px;
}
.bottom_hj03_1767{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.footer-info-right > div{
    width: auto;
    margin-left: 0;
    padding-top: 0;
    margin-top: 10px;
}
.footer-info-right > .bottom_hj03_1767{
    margin-left: 10px;
}


.hjzf2_Z_bottom_hj03_jia{
    padding-top: 80px;
    padding-bottom: 0;
    height: 100%;
}
.hjzf2_Z_bottom_hj03_jia_title .index_title{
    display: inline-block;
    position: relative;
}
.hjzf2_Z_bottom_hj03_jia_title .index_title:after,.hjzf2_Z_bottom_hj03_jia_title .index_title:before{
    position: absolute;
    display: block;
    content:'';
    width: 30px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
}
.hjzf2_Z_bottom_hj03_jia_title .index_title:after{
    right: -50px;
}

.hjzf2_Z_bottom_hj03_jia_title .index_title:before{
    left: -50px;
}
.hjzf2_Z_bottom_hj03_jia_slide a{
    position: relative;
    display: block;
    width: 100%;
}
.hjzf2_Z_bottom_hj03_jia_slide a .hjzf2_Z_bottom_hj03_jia_wrapper_con{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}
.hjzf2_Z_bottom_hj03_jia_wrapper_con:before{
    display: block;
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: -1;
    transition: all .5s;
}
.hjzf2_Z_bottom_hj03_jia_wrapper_con:hover:before{
    width: 0;
}

@media(max-width: 1200px) {
    .hjzf2_Z_bottom_hj03_jia{
        padding-top: 40px;
    }
}