.hjzf_Z_bottom-15{
    padding-top: 40px;
}
@media(max-width: 1200px) {
    .hjzf_Z_bottom-15{
        padding-top: 20px;
    }
}
.flogo{
    margin-bottom: 40px;
}
.hjzf_Z_bottom-15_foot_bottom{
    border-top: 1px solid #cdcdcd;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.foot_list li:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.foot_list li a,.foot_list li{
    display: block;
    color: #333;
    line-height: 2;
}
.hjzf_Z_bottom-15_foot_bottom a{
    color: #333;
}
.hjzf_Z_bottom-15_foot_bottom{
    display: flex;
    justify-content: space-between;
}
.foot_img img{
    margin-bottom: 15px;
}
.foot_txt{
    line-height: 2;
    display: flex;
}
.foot_txt span a{
    color: #333;
}
.foot_txt span{
    min-width: 45px;
}
.flogo img{
    margin:0;
}
@media(max-width: 768px) {
    .hjzf_Z_bottom-15_foot_bottom{
        display: block;
    }
}