.HJZF2_Z__bottom_26__friendlink,.HJZF2_Z__bottom_26__friendlink a,.hjzf2_z_bottom_26,.hjzf2_z_bottom_26 a{
	color: #fff;
}
.HJZF2_Z__bottom_2__link{
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.hjzf2_z_bottom_26{
	padding-top: 40px;
	padding-bottom: 20px;
}

.hjzf2_z_bottom_26_left{
	line-height: 2;
	max-width: 80%;
}
.hjzf2_z_bottom_26_add img{
	max-width: 25px;
}
.bottom_26_bottom{
	margin-top: 40px;
	padding-top: 10px;
	border-top: 1px solid rgba(255,255,255,.2);
}

@media(min-width: 1200px) {
	.hjzf2_z_bottom_26_info{
		max-width: 50%;
	}
}
@media(max-width: 767px) {
	.hjzf2_z_bottom_26_right{
		margin-top: 10px;
	}
}