.hjzf_Z_bottom_16_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.hjzf_Z_bottom_16_top_bg{
    padding-top: 15px;
}

.hjzf_Z_bottom_16_top li {
    flex: 0 0 16.6666%;
    width: 16.66666%;
}
.hjzf_Z_bottom_16_top li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: bold;
    transition: all .5s;
}
.hjzf_Z_bottom_16_top li img{
    margin-bottom: 15px;
    max-width: 100%;
}

.hjzf_Z_bottom_16_bottom_bg_bottom{
    display: flex;
    justify-content: space-between;
}

/* bottom */
.hjzf_Z_bottom_16_bottom_bg_top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3% 0;
}
.hjzf_Z_bottom_16_bottom_logo{
    flex: 0 0 30%;
    width: 30%;
}
.hjzf_Z_bottom_16_bottom_fnav{
    flex: 0 0 40%;
    width: 40%;
    border-left: 1px dotted rgba(255,255,255,.6);
    border-right: 1px dotted rgba(255,255,255,.6);
}
.hjzf_Z_bottom_16_bottom_fnav ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}
.hjzf_Z_bottom_16_bottom_fnav ul li{
    flex:0 0 25%;
    width: 25%;
    text-align: center;
}
.hjzf_Z_bottom_16_bottom_top_r{
    flex: 0 0 30%;
    width: 30%;
    padding-left: 6%;
    color: rgba(255,255,255,.8);
}
.hjzf_Z_bottom_16_bottom_top_r em{
    font-style: normal;
}
.hjzf_Z_bottom_16_bottom_bg_bottom{
    border-top: 1px solid rgba(255,255,255,.6);
    padding-top: 10px;
    padding-bottom: 10px;
}
.hjzf_Z_bottom_16_bottom_bg_bottom a,.hjzf_Z_bottom_16_bottom_bg_bottom{
    color: rgba(255,255,255,.5);
}
.hjzf_Z_bottom_16_bottom_fnav li a,.hjzf_Z_bottom_16_bottom_bg_bottom a{
    transition: all .5s;
}
@media(max-width: 1200px) {
    .hjzf_Z_bottom_16_top {
        flex: 0 0 33.33333%;
        width: 33.333333%;
    }

}
@media (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }
}

@media(max-width: 1200px) {
    .hjzf_Z_bottom_16_bottom_logo,.hjzf_Z_bottom_16_bottom_fnav{
        display: none;
    }
    .hjzf_Z_bottom_16_bottom_top_r{
        flex: 0 0 100%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .hjzf_Z_bottom_16_bottom_bg_bottom{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hjzf_Z_bottom_16_top{
        flex: 0 0 100%;
        width: 100%;
    }
    .hjzf_Z_bottom_16_top li{
        flex: 0 0 33.333333%;
        width: 33.333333%;
        margin-bottom: 15px;
    }
}
