.hjzf2_Z_case30_pagination span{
    width: 12px;
    height: 12px;
}
.hjzf2_Z_case30_pagination{
    margin-top: 30px;
    margin-bottom: 30px;
}
.hjzf2_Z_case30_info{
    display: block;
    position: relative;
    overflow: hidden;
}
.hjzf2_Z_case30_info .HJZF2_Z__case30__content{
    position: absolute;
    left: 0;
    top: 0; 
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all .5s;
    padding: 40px;
}
.hjzf2_Z_case30_info:hover .HJZF2_Z__case30__content{
    transform: translateX(0);
}
.HJZF2_Z__case30__content .HJZF2_Z__cases30__casetitle{
    margin-bottom: 40px;
}