.cases_20_wrapper{
    background-color: #fff;
    height: auto !important;
}
.cases_20_info {
    padding: 20px;
    color: #333;
}
.cases_20_img{
    overflow: hidden;
}
.cases_20_img img{
    transition: all .5s;
}
.cases_20_info span{
    display: block;
    width: 15%;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .5s;
}
.cases_20_wrapper:hover .cases_20_info span{
    width: 100%;
}
.cases_20_wrapper:hover .cases_20_img img{
    transform: scale(1.1);
}
.cases_20_container .swiper-wrapper{
    display: flex;
}

.cases_20_pagination span{
    width: 12px;
    height: 12px;
}
.cases_20_prev,.cases_20_next{
    background-color: rgba(0,0,0,.3);
    background-size: 80%;
}
.cases_20_next{
    right: 0;
}
.cases_20_prev{
    left: 0;
}