.hjzf2_Z_case24{
    width: 100%;margin: auto;overflow: hidden;
}
.hjzf2_Z_case24_content{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.hjzf2_Z_case24_item.first-item{
    width: 27%;
    
}
.hjzf2_Z_case24_item.first-item .hjzf2_Z_case24_img img,.hjzf2_Z_case24_img img {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
.hjzf2_Z_case24_content .right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
}
.item1,.item2{
    margin-bottom: 18px;
}
.hjzf2_Z_case24_item.item1,.hjzf2_Z_case24_item.item4{
    width: 40%;
}
.hjzf2_Z_case24_item.item2,.hjzf2_Z_case24_item.item3{
    width: 58.7%;
}
.hjzf2_Z_case24_item{
    position: relative;  overflow: hidden;
}
.hjzf2_Z_case24_namebox{
    position: absolute;
    bottom: -50px;
    left: 0;
    padding: 10px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    transition: .6s;-webkit-transition: 0.6s;
}
.hjzf2_Z_case24_name{
    color: #fff;position: relative;
}
.hjzf2_Z_case24_item:hover .hjzf2_Z_case24_namebox{
    bottom: 0;
    transition: .6s;-webkit-transition: 0.6s;
}
.hjzf2_Z_case24_img:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
@media(max-width:768px){
    .item1, .item2{
        margin-bottom: 6px;
    }
    .hjzf2_Z_case24_content{
        flex-wrap: wrap;
    }
    .hjzf2_Z_case24_item.first-item{
        display: none;
    }
    .hjzf2_Z_case24_item.first-item,.hjzf2_Z_case24_content .right{
        width: 100%;
    }
    .hjzf2_Z_case24_item.item1, .hjzf2_Z_case24_item.item4,.hjzf2_Z_case24_item.item2,.hjzf2_Z_case24_item.item3{
        width: 49%;
        margin-bottom: 10px;
    }
    .hjzf2_Z_case24_item.first-item .hjzf2_Z_case24_img,.hjzf2_Z_case24_img img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .hjzf2_Z_case24_namebox{
        bottom: 0px;
    }
}