.HJZF2_Z__cases-2_v_1{background-color: rgba(255,255,255,.04);}
.HJZF2_Z__cases-2_v_1 .HJZF2_Z__cases-2_v_1__title{  position:relative;margin-bottom:60px;}
.HJZF2_Z__cases-2_v_1 .HJZF2_Z__cases-2_v_1__title .ttwrap{text-align: center; color: #333;font-weight:bold;}
.HJZF2_Z__cases-2_v_1 .HJZF2_Z__cases-2_v_1__title:after{content:''; display: block; width: 150px; height: 3px; position: absolute; bottom: 0; z-index: 9; left: 50%; margin-left: -75px;}

.HJZF2_Z__cases-2_v_1__content{ width:100%; position:relative;}
.HJZF2_Z__cases-2_v_1__grid.dt-css-grid{display: flex;-webkit-transition: all .33s;transition: all .33s;flex-wrap: wrap;justify-content: space-between;}
.HJZF2_Z__cases-2_v_1__thumbnail img{ width:100%;}
.HJZF2_Z__cases-2_v_1__item{ position:relative;width: calc(25% - 15px);margin-bottom: 15px;}
.HJZF2_Z__cases-2_v_1__wrap{padding: 0px 0px 0px 0px; border-radius: 0px; position: relative; width: 100%;
 -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex: 0 0 auto;}
.HJZF2_Z__cases-2_v_1__thumbnail{ position:relative; display:block;}
.HJZF2_Z__cases-2_v_1__hover.post-entry-content {
    opacity: 0;
    visibility: hidden;
    padding: 10px 10px 10px 10px;
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    background: 0 0!important;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
	align-items: center;
}
.HJZF2_Z__cases-2_v_1__item:hover .HJZF2_Z__cases-2_v_1__hover.post-entry-content{ opacity:1; visibility:initial;}

.project-links-container a:before {
    position: absolute;
    background: 0 0;
    border-style: solid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    -webkit-backface-visibility: hidden;
}
.HJZF2_Z__cases-2_v_1__casetitle{margin-bottom: 5px;}
.HJZF2_Z__cases-2_v_1__casetitle a{font-weight: 700; color: #fff;}
.HJZF2_Z__cases-2_v_1__categories a{color: #b2aeae;}

.HJZF2_Z__cases-2_v_1__icom{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
	opacity: 1;
}
.HJZF2_Z__cases-2_v_1__hover .project-links-container a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100px;
    margin-bottom: 15px;
    margin-top: 0;
	position: relative;
}
.HJZF2_Z__cases-2_v_1__icom a:before{
	border-width: 3px;
	border-color: #fff;
	opacity: 1;
	position: absolute;
    background: 0 0;
    border-style: solid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    -webkit-backface-visibility: hidden;
}
.icomoon-the7-font-the7-plus-03{
	color: #fff;
	position: relative;
    z-index: 2;
    -webkit-transition: color .25s;
    transition: color .25s;
}
.project-links-container a>span {
    font-size: 16px;
    line-height: 50px;
	color:#FFFFFF;
	text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
}
.HJZF2_Z__cases-2_v_1__icom a:after{
	background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
	border-width: 3px;
	border-color: #fff;
}
.portfolio-shortcode .post-thumbnail {
    position: relative;
    display: block;
}
.HJZF2_Z__cases-2_v_1__thumbnail a:after{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    -webkit-transition: opacity .35s linear;
    transition: opacity .35s linear;
}
.HJZF2_Z__cases-2_v_1__item:hover .HJZF2_Z__cases-2_v_1__thumbnail a:after {
    background: rgba(0,0,0,0.6);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-linear-gradient();
    background: linear-gradient();
	opacity:1;
}

.HJZF2_Z__cases-2_v_1__button{ margin-top:50px; text-align:center;}
.HJZF2_Z__cases-2_v_1__button a{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    fill: #fff;
    color: #fff;
    background-color: #61ce70;
    border-radius: 0 0 0 0;
    padding: 18px 24px 16px 24px;
	display: inline-block;
}
.HJZF2_Z__cases-2_v_1__button span{margin-left: 10px; float:right;}
@media screen and (max-width: 991px) {
    .HJZF2_Z__cases-2_v_1__item {
        width: calc(50% - 15px);
    }
}
@media screen and (max-width: 575px) {
    .HJZF2_Z__cases-2_v_1__item {
        width: 100%;
    }
}

.HJZF2_Z__cases-2_v_1_row{
	display: flex;
	justify-content: space-between;
}
.HJZF2_Z__cases-2_v_1_row:before,.HJZF2_Z__cases-2_v_1_row:after{
	display: none;
}
.HJZF2_Z__cases_2v1_wrapper_con p{
	line-height: 3;
	text-align: center;
	color: #333;
}
.HJZF2_Z__cases_wrapper_2_v1{
	position: relative;
}
.HJZF2_Z__cases_wrapper_2_v1_prev,.HJZF2_Z__cases_wrapper_2_v1_next{
	width: 35px;
height: 35px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.HJZF2_Z__cases_wrapper_2_v1_prev i,.HJZF2_Z__cases_wrapper_2_v1_next i{
	font-size: 22px;
}
.HJZF2_Z__cases_wrapper_2_v1_prev{left: -45px;}
.HJZF2_Z__cases_wrapper_2_v1_next{right: -45px;}
.HJZF2_Z__cases_wrapper_2_v1_prev:hover,.HJZF2_Z__cases_wrapper_2_v1_next:hover{
	opacity: 0.8;
}
.cases_2_v_1_right{
	margin-top: 50px;
}
.cases_2_v_1_right a{
	padding: 10px 40px;
	color: #333;
}
@media(max-width: 767px) {
	.HJZF2_Z__cases_wrapper_2_v1_prev{
		left: 0;
	}
	.HJZF2_Z__cases_wrapper_2_v1_next{
		right: 0;
	}
}
.HJZF2_Z__cases_2v1_wrapper_con_img{
	overflow: hidden;
}
.HJZF2_Z__cases_2v1_wrapper_con_img img{
	transition: all .5s;
}
.HJZF2_Z__cases_2v1_wrapper_con:hover .HJZF2_Z__cases_2v1_wrapper_con_img img{
	transform: scale(1.05);
}