.HJZF2_Z__cases-2hj01 .HJZF2_Z__cases-2hj01__title{ width:100%; text-align: left; position:relative;margin-bottom:30px;}
.HJZF2_Z__cases-2hj01 .HJZF2_Z__cases-2hj01__title .ttwrap{text-align: center; color: #333;}

.HJZF2_Z__cases-2hj01__content{ width:100%; position:relative;}
.HJZF2_Z__cases-2hj01__item{ position:relative; margin-bottom:30px;}
.HJZF2_Z__cases-2hj01__wrap{position: relative; float:left; display:block;}
.HJZF2_Z__cases-2hj01__wrap img{width:100%;}
.HJZF2_Z__cases-2hj01__thumbnail{ position:relative;}
.HJZF2_Z__cases-2hj01__hover.post-entry-content {
    width: calc(100% - 238px);
	float:left;
	padding:15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 100%;
    overflow: hidden;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
	align-items: center;
}
h3.HJZF2_Z__cases-2hj01__casetitle{
	font-weight:normal;
	color:#333333;
}
@media (max-width:575px) {
.HJZF2_Z__cases-2hj01__wrap{
	width: 100%;
	float:none;
    max-width: 238px;
    margin: auto;
    padding-top: 15px;
}
.HJZF2_Z__cases-2hj01__hover.post-entry-content{
	width:100%;
}
}