.hjzf2_z__evalute {
    width: 100%;
    height: auto;    
    margin: auto;
    background: #f8f8f8;
}

.hjzf2_z__evalute__title_wrap {
    margin: auto;
    text-align: center
}

.hjzf2_z__evalute_maintitle {    
    color: #333;
    font-weight: normal;
    font-style: normal;
}

.hjzf2_z__evalute_futitle {    
    color: #797979;
    font-weight: normal;
    font-style: normal;   
}

.hjzf2_z__evalute_item {
    margin-bottom: 20px;
}

.hjzf2_z__evalute_itemdesc {
    margin: 0 0 18px;
    padding: 40px 40px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #dfdfdf;
}

.hjzf2_z__evalute_itemdesc:before, .hjzf2_z__evalute_itemdesc:after {
    left: 87px;
    bottom: -20px;
    content: '';
    position: absolute;
    right: auto;
    top: auto;
    border-top-width: 20px;
    border-top-style: solid;
    border-right-width: 20px;
    border-right-style: solid;
    border-right-color: transparent !important;
    border-color: #dfdfdf;
}

.hjzf2_z__evalute_itemdesc:after {
    left: 88px;
    bottom: -17px;
    border-color: #ffffff;
}

.hjzf2_z__evalute_itemdesc p {    
    font-weight: normal;
    font-style: normal;
    color: #797979;
}

.hjzf2_z__evalute_itemimg {
    margin: 0 25px 0 5px;
    float: left;
}

.hjzf2_z__evalute_itemimg img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.hjzf2_z__evalute_iteminfo {
    padding: 5px 0 0;
    position: relative;
    overflow: hidden;
}

.hjzf2_z__evalute_itemname {    
    color: #2f2f2f;   
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.hjzf2_z__evalute_itemjob {    
    color: #797979;    
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.cmsmasters_quote_content_line {
    display: block;
    width: 36px;
    height: 5px;
    position: absolute;
    left: 53px;
    right: auto;
    top: -1px;
    bottom: auto;
    background: #df504b;
}

.hjzf2_z__evalute_item:nth-child(2) .cmsmasters_quote_content_line {
    background: #165da3;
}

.hjzf2_z__evalute_item:nth-child(3) .cmsmasters_quote_content_line {
    background: #44afae;
}
