.hader_hj23_top {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.hader_hj23_top a {
    color: #fff;
}

/* mid */
.hader_hj23_mid {
    background-color: #333;
    color: #fff;
}

.header_hj23_email,
.header_hj23_email a {
    color: #fff;
}

.header_hj23_nav li.nav_li h2 {
    padding: 0 1.5vw;
    font-size: 12px;
    color: #fff;
    position: relative;
}

.header_hj23_nav li.nav_li h2:after {
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #fff;
    content: '';
    opacity: .6;
}

.header_hj23_nav li.nav_li:last-child h2:after {
    display: none;
}

.hader_hj23_mid {
    padding: 10px 0;
}

.lang_qh a {
    color: #fff;
}

.lang_qh img {
    margin-left: 10px;
    margin-right: 5px;
}

.hader_hj23_mid .header_hj23_nav .menu {
    align-items: center;
}
.head__soc-ico,.head_langauge,.head__links{
    float: right;
}
.head_langauge,.head__links{margin-left: 15px;position: relative;cursor: pointer;z-index: 99999;}
.head_langauge i{color: #fff;margin-right: 5px;}
.head_langauge #lang_ul{position: absolute;top: 20px;left: 0;display: none;background: #fff;padding: 5px 10px;box-shadow: 0 0 2px rgba(0,0,0,0.2);width: auto;min-width:80px;z-index: 2}
.head_langauge #lang_ul li{padding-left: 20px;position: relative;margin-bottom: 5px;}
.head_langauge:hover #lang_ul{display: block;}
/* bottom */
.haader_hj23_bottom {
    position: relative;
}
.haader_hj23_bottom_nav {
    margin-left: 20px;
}
.haader_hj23_bottom_nav .nav{
    height: 100%;
	margin: 0 25px;
}
.haader_hj23_bottom_nav li h3 {
    color: #333;
    font-size: 16px;
}
.haader_hj23_bottom_nav li i{
    font-size: 22px;
    margin-left: 10px;
}
.head_hj23_search{
    position: relative;
    margin-left: 20px;
}
.head_hj23_search span{
    cursor: pointer;
}
.head_hj23_search_form{
    position: absolute;
    z-index: 9;
    right: 0;
    display: none;
}
.head_hj23_search_form form{
    display: flex;
}
.head_hj23_search_form form input{
    padding-left: 10px;
    width: 250px;
}
.head_hj23_search_form form button{
    border: none;
    padding: 5px 10px;
}
.haader_hj23_bottom_drap_bg{
    background-color: #f7f7f7;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    top: 100px;
    padding: 15px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.haader_hj23_bottom > .container,.haader_hj23_bottom > .container > .row,.haader_hj23_bottom > .container > .row >.col-xs-12{
    position: static;
}
.haader_hj23_bottom_drap_wrapper li{
    padding: 0 15px;
}
.haader_hj23_bottom_drap_wrapper li:not(:last-child){
    border-right: 1px dashed #ececec;
}
.haader_hj23_bottom_drap_wrapper li .haader_hj23_bottom_drap_wrapper_title h3{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}
.haader_hj23_bottom_drap_wrapper li span h3{
    font-size: 14px;
    line-height: 1.8;
    color: #555;
    transition: all .5s;
}
.haader_hj23_bottom_nav li h3{
    transition: all .5s;
}
.haader_hj23_bottom_nav .nav:hover .haader_hj23_bottom_drap_bg{
    opacity: 1;
    visibility: visible;
}

.header_hj23_bottom_nav_drop{
    position: absolute;
    left: -40px;
    top: 100px;
    min-width: 500px;
    background-color: #f7f7f7;
    padding: 15px 40px;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}
.haader_hj23_bottom_nav .nav .header_hj23_bottom_nav_drop li{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header_hj23_bottom_nav_drop li span{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}
.header_hj23_bottom_nav_drop li span:after{
    position: absolute;
    display: block;
    content:'';
    width: 1px;
    height: 100%;
    border-left: 1px dashed #ccc;
    left: 48.5%;
    top: 0;
}
.header_hj23_bottom_nav_drop li span a{
    flex: 0 0 48%;
    margin-bottom: 10px;
}

.header_hj23_bottom_nav_drop li h3{
	line-height: 2;
}

.haader_hj23_bottom_nav .nav li{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.haader_hj23_bottom_nav .nav li:hover .header_hj23_bottom_nav_drop{
    opacity: 1;
    visibility: visible;
}
.haader_hj23_bottom_drap_wrapper_title{
    margin-bottom: 20px;
}
#head-HJ23_75 .haader_hj23_bottom_nav li .header_hj23_bottom_nav_drop span h3{
    font-weight: normal !important;
}
.haader_hj23_bottom_nav .nav > li:last-child .header_hj23_bottom_nav_drop{
    right: 0;
    left: auto;
}
