.hjzf_head1_header{ position:relative;}
.header_wapper_empty{
    height:168px;
}
.hjzf_head1_header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all .5s ease;
}
.hjzf_head1_header.on{
    top: -68px;
}
.head1_tell{
    margin-right: 50px;
    font-size: 24px;
    color: #fff;
}
.hjzf_head1_header .left_menu_icon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
	width:68px;
	height:68px;
	justify-content: center;
    display: flex;
    align-items: center;
}
.new_hjzf_head1 .mobile_search_btn{ margin:0px 10px; width:25px;}

.new_hjzf_head1 .mobile_search_btn img {
    width: 100%
}

.new_hjzf_head1 .hj03_header {
    width: 100%;
    margin: auto;
    position: relative;
    top: 0;
    z-index: 99;
    background: #fff;
    transition: all .36s ease;
}

.new_hjzf_head1 #header .header_wapper {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
}

.new_hjzf_head1 #header .header_wapper .header_wapper_top {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 100%;
    height: 68px;
}

.new_hjzf_head1 #header .header_wapper .header_wapper_top .header_wapper_top--right {
    align-items: center;
    justify-content: flex-end;
	width:100%;
	margin-right: 97px;
}

.new_hjzf_head1 .page_Logo {
    width: auto;
    height: 100%;
    float: left;
	margin-left: 100px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: relative;
}

.new_hjzf_head1 .page_Logo a {
    width: auto;
    height: 100%;
}

.new_hjzf_head1 .page_Logo img {
}


.new_hjzf_head1 .head_seach {
    margin-right: 50px;
    position: relative;
	border: 1px solid #ccc;
    position: relative;
    border-radius: 2px;
	width:350px;
	height:40px;
	background:#fff;
}
.new_hjzf_head1 #search-submit{
    width: 40px;height: 40px;line-height: 40px; background:none; text-align: center; border: none;
}
.new_hjzf_head1 #search-submit i{ color:#333; font-size:20px;}
.new_hjzf_head1 .hj03-language {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10px;
    z-index: 99;
}

.new_hjzf_head1 .hj03-language img {
    margin-right: 10px;
}

.new_hjzf_head1 .hj03-language ul {
    position: absolute;
    top: 24px;
    left: 0;
    background: #fff;
    display: none;
    padding: 5px 5px;
    box-shadow: 0 3px 4px #333;
    width: 106px;
    z-index: 99;
}

.new_hjzf_head1 .hj03-language:hover ul {
    display: block;
}

.new_hjzf_head1 .hj03-language ul li {
    padding-bottom: 5px;
}

.new_hjzf_head1 .hj-nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.new_hjzf_head1 .hj-nav > li {
    position: relative;
    display: block;
    float: left;
	width: 95px;
    height: 68px;
    float: left;
    text-align: center;
    margin-left: 2px;
    background: #484848;
}

.new_hjzf_head1 .hj-nav > li > a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 0;
    font-size: 16px;
}
.new_hjzf_head1 .hj-nav > li > a > img{
	padding-top: 10px;
    clear: both;
    display: block;
    margin: auto;
}

.new_hjzf_head1 .hj-nav > li > a > h2 {
    font-size: 14px;
    font-weight: normal;
	padding: 5px 0 0;
}

.new_hjzf_head1 .hj-nav > li:hover .hj-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: all .36s ease;
}

.new_hjzf_head1 .hj-dropdown-menu > li {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    text-align: center;
    transition: all .16s cubic-bezier(.46, .03, .52, .96)
}

.new_hjzf_head1 .hj-dropdown-menu > li > a > h3 {
    font-size: 14px;
    text-align: left;
    color: #6e6e6e;
    font-weight: normal;
    padding: 0 10px;
}

.new_hjzf_head1 .hj-dropdown-menu > li:hover {
    color: #fff;
    background-color: #f6f6f6
}

.new_hjzf_head1 .hj-dropdown-menu {
    transition: all .36s ease;
    position: absolute;
    left: 0;
    z-index: 199;
    opacity: 0;
    visibility: hidden;
    width: 300px;
    height: auto;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #00468c;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
    top: calc(100% - 3px);
}

.new_hjzf_head1 h3 {
    line-height: 45px;
    font-weight: 600;
    font-style: normal;
    color: #999999;
    font-size: 35px;
}

.new_hjzf_head1 .hj-navbar {
    width: 100%;
    margin: auto;
    height: auto;
}

.head_language {
    position: absolute;
    top: 0;
    right: 0;
    width: 95px;
    height: 68px;
    text-align: center;
    margin-left: 2px;
    background: #484848;
    z-index: 10;
}

.head_language i {
	font-size:24px;
	padding-top:10px;
	display: block;
    margin: auto;
	height: 36px;
    display: block;
}

.head_language span{
	font-size: 14px;
    font-weight: normal;
    padding: 5px 0 0;
}

.head_language #lang_ul {
    position: absolute;
    top: 68px;
    left: 0;
    display: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    width: 95px;
    z-index: 2;
}

.head_language #lang_ul li.count_hide {
    display: none;
}
#lang_ul li:before{ display:none !important;}
.head_language #lang_ul li {
    position: relative;
	text-align:center;
	padding: 5px 10px;
	margin-top:2px;
	background: #484848;
}
.head_language #lang_ul li a{
	font-size:14px;
}
.head_language:hover #lang_ul {
    display: block;
}

/*mobile*/
.mobile-navigation {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.mobile-navigation .dt-mobile-menu-icon {

    width: 68px;
    height: 68px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: -ms-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}

.mobile-navigation .dt-mobile-menu-icon span {
    display: inline-block;
    width: 30px;
    height: 2px;
    position: relative;
    background: #333;
}

.mobile-navigation .dt-mobile-menu-icon span:before, .mobile-navigation .dt-mobile-menu-icon span:after {
    position: absolute;
    left: 0;
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #333;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.mobile-navigation .dt-mobile-menu-icon span:before {
    top: 10px;
}

.mobile-navigation .dt-mobile-menu-icon span:after {
    top: -10px;
}

.HJZF3_flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

/*mobile serach*/
.mobile_searchbutton {
    float: right;
    width: 30px;
}

.mobile_searchbutton img {
    width: 100%
}

.mobile_search_content {
    width: 100%;
    margin: auto;
    height: 0;
    overflow: hidden;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
}

.mobile_search_content.active {
    height: 60px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
}

.mobile_search {
    padding: 10px 15px;
    margin: auto;
    background: #6c6c6c
}

.mobile_search .mobile_search_box form {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between
}

.mobile_search_input {
    width: calc(100% - 35px);
}

.mobile_search_input input {
    width: 100%;
    padding-left: 10px;
    border: none;
    background: #808080;
    height: 40px;
    color: #fff;
}

.mobile_search_close {
    width: 25px;
    height: 25px;
}

.mobile_search_close img {
    width: 100%;
}

/*mobile serach*/

.mobile-sticky-header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(17, 17, 17, .5);
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: 9601;
}

.mobile-sticky-header-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 9601;
}

.mobile-menu-Sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    z-index: 9602;
    box-sizing: border-box;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #484848;
    width: 300px;
    left: -300px;
	overflow-y: auto;

}

.mobile-sticky-header-overlay.active .mobile-menu-Sidebar {
    left: 0;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.mobile-header-scrollbar-wrap {
    position: relative;
    width: 100%;
    padding: 0 20px;
	/* min-height:400px; */
}

.mobile-menutop {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.mobile-menutop .mobile-menutop-box {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mobile-menu-Sidebar-close {
	position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    background: red;
    display: none;
    cursor: pointer;
    text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu-Sidebar-close:hover span{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .3s;
}
.mobile-menu-Sidebar-close span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
}

.mobile-menu-Sidebar-close span:before, .mobile-menu-Sidebar-close span:after {
    display: inline-block;
    height: 2px;
    background: #333;
    position: absolute;
    content: '';
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -15px;
    width: 30px;
    -webkit-transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
}

.mobile-menu-Sidebar-close span:before {
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.mobile-menu-Sidebar-close span:after {
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.mobile_languagebutton {
    width: calc(100% - 80px);
    position: relative;
    margin-bottom: 10;
}

.mobile_languagebutton img {
    width: 25px;
    height: 25px;
}

.mobile_languagebutton span {
    font-size: 14px;
    color: #666666;
    position: relative;
}

.mobile_languagebutton span:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    right: -15px;
    top: 6px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.mobile_languagebutton.active span:after {
    border-color: transparent transparent #666 transparent;
    top: 1px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.mobile_languagebutton span {
    margin-left: 5px;
}

.mobile_languagelist {
    margin-left: -15px;
    margin-right: -15px;
}

.mobile_languagelist ul {
    width: 100%;
    background: #f5f5f5;
    padding: 0px 23px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 0;
    overflow-y: auto;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.mobile_languagelist.active {
    padding-bottom: 10px;
    background: #f5f5f5;
}

.mobile_languagelist.active ul {
    height: 200px;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.mobile_languagelist ul li {
    padding: 5px 24px;
    position: relative;
}

.mobile_languagelist #lang_ul_mobile li a {
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
/*mobile navlist*/
.mobile-header-scrollbar-wrap > ul {
    width: 100%;
}

.mobile-header-scrollbar-wrap > ul > li {
    border-top: solid 1px rgba(31, 54, 92, .08);
    position: relative;
}

.mobile-header-scrollbar-wrap > ul > li i{
	font-size:20px; color:#FFFFFF;
	margin-right:10px;
	width:24px; height:24px;
	text-align:center;
}
.mobile-header-scrollbar-wrap > ul > li:first-child {
    border-top: none;
}

.mobile-header-scrollbar-wrap > ul > li > a {
    padding: 16.5px 30px 16.5px 0;
    display: flex;
    justify-items: flex-start;
}

.mobile-header-scrollbar-wrap > ul > li > a > h2 {
    font-size: 17px;
    line-height: 21px;
    color: #333;
    font-weight:normal;
}

.next-level-button {
    position: absolute;
    right: 0;
    top: 16px;
    width: 25px;
    text-align: center;
    opacity: 0.3;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.next-level-button img {
    width: 25px;
    height: 25px;
}

.next-level-button.active {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.hj_navbar_nav_dropdown-menu {
    width: 100%;
    padding: 10px 30px 10px 20px;
    box-sizing: border-box
}

.hj_navbar_nav_dropdown-menu > li {
    padding: 7px 0;
}

.hj_navbar_nav_dropdown-menu > li > a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hj_navbar_nav_dropdown-menu > li > a > img {
    display: none
}

.hj_navbar_nav_dropdown-menu > li > a > h3 {
    font-size: 15px;
    line-height: 18px;
    color: #999;
    font-weight: normal;
}

.mobile-header-scrollbar-wrap > ul > li > ul {
    display: none;
}

.mobile-header-scrollbar-wrap > ul > li > ul.active {
    display: block;

}

.header-HJ02_langauge {
    margin-left: 15px;
    position: relative;
    cursor: pointer
}

.header-HJ02_langauge i {
    color: #333;
    margin-right: 5px;
}

.header-HJ02_langauge div {
    position: absolute;
    top: 7px;
    left: -30px;
    padding-top: 20px;
}

.header-HJ02_langauge #lang_ul {
    position: relative;
    display: none;
    background: #fff;
    padding: 5px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    width: 120%;
    z-index: 2
}

.header-HJ02_langauge #lang_ul li {
    padding-left: 20px;
    position: relative;
    padding-bottom: 5px;
}

.header-HJ02_langauge #lang_ul li:hover {
    text-decoration: underline
}

.header-HJ02_langauge:hover #lang_ul {
    display: block;
}



.product_nav {
	overflow: hidden;
	width: 100%;
	border-top: 2px solid #0e0e0e;
}
.product_nav li a {
    width: 100%;
    height: 100%;
    padding: 10px 5px 15px;
    display: block;
    border-right: 2px solid #0e0e0e;
}
.product_nav li span h3{
	display: block;
    font-size: 14px;
	line-height:24px;
    position: relative;
    top: 0;
    transition: all .3s;
	font-weight:normal;
}
.product_nav li:hover span h3{
    top: -3px;
    color: #cb1a1c;
    transition: all .3s;
}
.product_nav li a img {
    width: 80px;
}
.left_product_nav {
    width: 100%;
    overflow-y: auto;
}
.left_product_nav ul {
    padding: 30px 0;
    background: #222222;
}
.left_product_nav li {
    line-height: 40px;
    padding: 15px 20px;
    border-top: 2px solid #0e0e0e;
}
.left_product_nav li:nth-of-type(1) {
    border-top: 0;
}
.left_product_nav li img,.left_product_nav li h3{ display:inline-block;}
.left_product_nav li img{
	height: 40px;
    margin-right: 10px;
    vertical-align: top;
}
.left_product_nav li h3{
	color: #ffffff;
    font-size: 16px;
    transition: all .3s;
	font-weight:normal;
}

@media (max-width: 1199px) {
	.product_nav,.head_seach,.head1_tell{
        display: none;
    }
}

@media (max-width: 991px) {
    .header_wapper_empty{
        height: 69px;
    }
	.hjzf_head1_header{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9599;
	}
    .new_hjzf_head1 #header .header_wapper .header_wapper_top {
        justify-content: center
    }
	.new_hjzf_head1 .page_Logo{ margin-left:0;}

    .header_wapper_mobile {
        justify-content: space-between;
        align-items: center
    }

    .new_hjzf_head1 .page_Logo img {
        width: 80%
    }
    .HJZF2__header-HJ02_widgets.mobile {
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .new_hjzf_head1 .page_Logo a {
        text-align: center
    }

    .new_hjzf_head1 .page_Logo img {
        width: 80%
    }

    .header_wapper_mobile {
        justify-content: space-between;
        align-items: center
    }

    .header_wapper_mobile_phone i {
        font-size: 22px;
        color: #333;
        line-height: 40px;
    }
    .left_product_nav li{
        padding: 5px 10px;
    }
}

