
.hjzf2_news_16{
    overflow: hidden;
}
.hjzf2_news_16_swiper{
    overflow: visible !important;
}
.hjzf2_news_16_next,.hjzf2_news_16_prev{
    position: absolute;
    width: 30px;
    height: 50px;
    top: 40%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.hjzf2_news_16_next{
    left: -29px;
}
.hjzf2_news_16_prev{
    right: -29px;
}
.hjzf2_news_16_next.swiper-button-disabled,.hjzf2_news_16_prev.swiper-button-disabled{
    opacity: 0;
}
.hjzf2_news_16_next:after,.hjzf2_news_16_next:before,
.hjzf2_news_16_prev:after,.hjzf2_news_16_prev:before{
    position: absolute;
    content:'';
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: #333;
}
.hjzf2_news_16_prev:after{
    -webkit-transform: rotate(45deg) translateY(-15px);
        -ms-transform: rotate(45deg) translateY(-15px);
            transform: rotate(45deg) translateY(-15px);
}
.hjzf2_news_16_prev:before{
    -webkit-transform: rotate(-45deg) translateY(15px);
        -ms-transform: rotate(-45deg) translateY(15px);
            transform: rotate(-45deg) translateY(15px);
}
.hjzf2_news_16_next:after{
    -webkit-transform: rotate(45deg) translateY(15px);
        -ms-transform: rotate(45deg) translateY(15px);
            transform: rotate(45deg) translateY(15px);
}
.hjzf2_news_16_next:before{
    -webkit-transform: rotate(-45deg) translateY(-15px);
        -ms-transform: rotate(-45deg) translateY(-15px);
            transform: rotate(-45deg) translateY(-15px);
}
.hjzf2_news_16_prev:before,.hjzf2_news_16_prev:after{
    right: 10px;
    top: 17px;
}
.hjzf2_news_16_next:before,.hjzf2_news_16_next:after{
    top: 17px;
    right: -10px;
}
.news_wrapper{
    position: relative;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.news_wrapper_out{
    position: relative;
    display: block;
    padding-bottom: 130px;
}
.news_wrapper_out i{
    font-style: normal;
    font-size: 35px;
    color: #fff;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10vh;
    text-align: center;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
}
.news_wrapper_out i:after,.news_wrapper_out i:before{
    position: absolute;
    display: block;
    content:'';
    width: 0;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.news_wrapper_out i:before{
    left: 0;
    top: -35px;
}
.news_wrapper_out i:after{
    right: 0;
    bottom: -35px;
}
.news_wrapper_out:hover i:after,.news_wrapper_out:hover i:before{
    width: 100%;
}
.news_wrapper_out:hover i{
    opacity: 1;
}
.news_wrapper_out i span{
    display: block;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
.news_wrapper_out:hover i span{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
.news_wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.news_wrapper span{
    display: block;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 60px;
    overflow: hidden;
}
.news_wrapper span em{
    font-style: normal;
    font-size: 14px;
    margin-right: 10px;
    color: #777;
}
.news_wrapper p{
    text-decoration: underline;
    color: #444;
    height: 60px;
}
.news_wrapper_out:hover .news_wrapper{
    padding: 20px 15px;
    padding-top: 10px;
    background: rgba(0,0,0,.6);
    color: #fff;
}
.news_wrapper_out:hover .news_wrapper span em{
    display: none;
}
.news_wrapper_out:hover .news_wrapper p{
    text-decoration: none;
    color: rgba(255,255,255,.8);
}


.hjzf_news_16_title a{
    float: right;
    color: #555;
    margin-top: 20px;
}
.hjzf_news_16_title .index_sub_title{
    color: #777;
    margin-left: 10px;
}
.hjzf2_products_hj09_swiper .swiper-slide{
    width: 366px;
}
@media(min-width: 768px) {
    .hjzf2_news_16_swiper .swiper-slide{
        width: 359px;
    }
}
@media(max-width: 768px) {
    .hjzf_news_16_title a{
        margin-top: 10px;
    }
}
@media (max-width: 1200px) {
    .news_wrapper_out:hover .news_wrapper{
        padding: 0;
    }
    .news_wrapper_out:hover .news_wrapper p{
        text-decoration: none;
        color: inherit;
    }
    .hjzf2_news_16_next{
        left: 0;
    }
    .hjzf2_news_16_prev{
        right: 0;
    }
    .hjzf2_news_16_swiper{
        overflow: hidden !important;
    }
    .news_wrapper_out:hover .news_wrapper{
        padding: 0;
        background: transparent;
        color: inherit;
    }
    .news_wrapper_out i{
        display: none !important;
    }
    .news_wrapper_out:hover .news_wrapper span em{
        display: block;
    }
    .news_wrapper_out:hover .news_wrapper p{
        text-decoration: underline;
        color: currentColor;
    }
}