.hjzf2_news-31 {
    width: 100%;
    margin: auto;
}
.hjzf2_news-31_left .hjzf2_news-31-left{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
	width: 100%;
}
.hjzf2_news-31-lefttop {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.hjzf2_news-31-lefttop li {
    width: 50%;
	flex: 0 0 calc(50% - 1px);
    height: auto;
    float: left;
    padding: 40px 0 40px;
    text-align: center;
    background-color: #fff;

}

.hjzf2_news-31-lefttop li:first-child {
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.hjzf2_news-31-lefttop li:nth-child(2) {

    border-bottom: 1px solid #f2f2f2;
}

.hjzf2_news-31-lefttop li:nth-child(3) {

    border-right: 1px solid #f2f2f2;
}

.hjzf2_news-31_img {
    width: 40%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.hjzf2_news-31_img img{width: 100%;}
.hjzf2_news-31_stitle {
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.hjzf2_news-31-leftdown {
    width: 100%;
    position: relative;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    background: #282b39;
}

.hjzf2_news-31-leftdown::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #282b39;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%，0);
}

.hjzf2_news-31-leftdown li {
    /* padding: 90px 16px; */
    padding-left: 16px;
    padding-right: 16px;
    display: none;
    
    text-align: center;
}

.hjzf2_news-31-leftdown li:first-child {
    display: block;
}

.hjzf2_news-31-leftdown li .hjzf2_news-31_btitle {
    color: #fff;
    margin-bottom: 40px;
    position: relative;
    text-align: inherit;
}

.hjzf2_news-31-leftdown li .hjzf2_news-31_btitle::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background-color: #00aeef;
    width: 50px;
    height: 2px;
}

.hjzf2_news-31-leftdown li .hjzf2_news-31_content {
    color: #e5e5e5;
}

.hjzf2_news-31-righttop {
    margin-bottom: 36px;
}

.hjzf2_news-31-rightdown {
    display: flex;
    justify-content: space-between;
}

.hjzf2_news-31-rightdown_left,
.hjzf2_news-31-rightdown_right {
    width: 48%;
}

.hjzf2_news-31-rightdown_title {
    border-bottom: 1px solid #282b39;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hjzf2_news-31-rightdown_title span {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
}

.hjzf2_news-31-rightdown_title > a {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
	margin-top: 10px;
}

.hjzf2_news-31-rightdown_title > a::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 1px;
    border-top: 1px solid #00aeef;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.hjzf2_news-31-rightdown_title > a::after {
    content: '';
    display: inline-block;
    width: 1;
    height: 20px;
    border-left: 1px solid #00aeef;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.hjzf2_news-31-rightdown_title > a:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.news-31__downitem {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
    align-items: center;
}
.hjzf2_news-31-rightdown_left .news-31__downitem:last-child,.hjzf2_news-31-rightdown_right .news-31__downitem:last-child{margin-bottom: 0!important;}
.news-31__Info {
    width: calc(100% - 100px);
    overflow: hidden;
}
.news-31__Info a{
	transition: all .5s;
}
.news-31__Info:hover a {
	color: #333;
}

.news-31__date span {
    font-size: 16px;
}

.hjzf2_news-31-lefttop_swiper .swiper-slide img {
    width: 100%;
}

.hjzf2_news-31-lefttop_swiper .swiper-pagination {
    text-align: right;
    padding-right: 20px;
}
.hjzf2_news-31_btitle a{
	color: #fff;
}


@media(max-width:1599px) {
    .hjzf2_news-31-lefttop li{
        padding: 20px 0;
    }
    /* .hjzf2_news-31-leftdown li{
        padding: 84px 16px;
    } */
}
@media(max-width:1365px) {
    .hjzf2_news-31-lefttop li{
        padding: 20px 0;
    }
    /* .hjzf2_news-31-leftdown li{
        padding: 84px 16px;
    } */
}
@media (max-width: 1365px) and (min-width:768px){
    /* .hjzf2_news-31-leftdown li {
        padding: 42px 16px;
    } */
}

@media(max-width:768px) {
    .hjzf2_news-31>.container>.row{
        flex-direction: column;        
    }
    .hjzf2_news-31-leftdown li{
        padding: 30px 16px;
    }
    .hjzf2_news-31-rightdown {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .hjzf2_news-31-rightdown_left,
    .hjzf2_news-31-rightdown_right {
        width: 100%;
    }

    .hjzf2_news-31-rightdown_title span {
        font-size: 24px;
    }

	.hjzf2_news-31-rightdown_left{
		margin-bottom: 30px;
	}
}