.HJZF2_Z__news_29_wrapper{
    display: flex;
    justify-content: space-between;
    color: #fff;
    max-height: 35px;
    overflow: hidden;
}
.HJZF2_Z__news_29_wrapper span{
    flex: 0 0 10%;
}
.HJZF2_Z__news_29{
    padding: 5px 0;
}
.HJZF2_Z__news_29_wrapper_box{
    flex: 0 0 90%;
    display: flex;
    align-items: center;
}
.HJZF2_Z__news_29_wrapper_box i{
    margin-right: 15px;
}
.HJZF2_Z__news_29_wrapper_box a{
    color: #fff;
}
@media(max-width: 1200px) {
    .HJZF2_Z__news_29{
        display: none;
    }
}