.HJZF2__news-8{width: 100%;height: auto;margin: auto;padding-top: 50px;padding-bottom: 40px;overflow: hidden;}
.HJZF2__news-8--title{font-size: 32px;color: #333333;line-height: 40px;font-weight: bold;text-align: center;padding-bottom: 30px;position: relative;}
.HJZF2__news-8--title:before{content: '';display: table;width: 50px;height: 2px;background: #999;position: absolute;left: 50%;top: 50px;transform: translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform: translateX(-50%); }
.HJZF2__news-8--subtitle{font-size: 16px;color: #999;line-height: 22px;font-weight: normal;text-align: center;padding-bottom: 30px;position: relative;width: 890px;margin: auto;}

.HJZF2__news-8--Content{width: 100%;overflow: hidden;}



#container { width: 100%; height: 350px;overflow: hidden; position: relative;}
#list { width: 100%; height: position: absolute; z-index: 1;    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
#list ul{display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
#list ul li { float: left;width: 25%;position: relative;overflow: hidden;}
#list ul li:before{content: '';display: table;width: 0;height: 4px;background: #e64344;position: absolute;top: 0;left: 50%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__news-8__img{width: 100%;height: 100%;overflow: hidden;}
.HJZF2__news-8__img img{width: 100%;height: 100%;}
.HJZF2__news-8__wrap{width: 100%;background: rgba(0,0,0,0.5);position: absolute;bottom: -150px;left: 0;overflow: hidden;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__news-8__wrap .HJZF2__news-8__wraText{width: 83%;float: left;padding: 10px 0 20px 15px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2__news-8__wrap .HJZF2__news-8__name{width: 100%;overflow: hidden;}
.HJZF2__news-8__wrap .HJZF2__news-8__name a{font-size: 18px;color: #ffffff;line-height: 24px;font-weight: normal;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}
.HJZF2__news-8__date{font-size: 14px;line-height: 20px;color: #fff;font-weight: normal;}
.HJZF2__news-8__more{width: 17%;height:76px;background: #e64344;float: right;display: block;position: relative;text-align: center}
.HJZF2__news-8__more:before{content: '';display: table;width: 30px;height: 2px;background: #fff;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);}
.HJZF2__news-8__more:after{content: '';display: table;width: 30px;height: 2px;background: #fff;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%) rotate(90deg);-moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);}
#list ul li:hover .HJZF2__news-8__wrap{bottom: 0;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
#list ul li:hover:before{left: 0;width: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
#list ul li.on .HJZF2__news-8__wrap{bottom: 0;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
#list ul li.on:before{left: 0;width: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
#buttons { width: 100% z-index: 2;display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;justify-content:center;position: relative}
#buttons:before{content: '';display: table;width: 100%;height: 2px;border-top: 1px solid #ccc;position: absolute;top: 38px;z-index: -1;}
#buttons div { cursor: pointer; float: left;  width: 70px; height: 80px;text-align: center;margin: 0 30px;}
#buttons div a{display: block;width: 100%;text-align: center;opacity: 0;visibility: hidden;margin-bottom: 8px;}
#buttons div span{display: inline-block;width: 7px;height: 7px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;text-align: center;line-height: 30px;background: #999999;overflow: hidden;position: relative;
    top: 5px;}
#buttons .on a{opacity: 1;visibility: visible;}
#buttons .on span{background: #e64344;width: 30px;height: 30px;color: #fff;    position: relative;
    top: -4px;}
.arrow { cursor: pointer;  line-height: 30px; text-align: center; font-size: 16px; font-weight: normal; width: 30px; height: 30px;border-radius: 50%;border: 1px solid #cccccc;  position: absolute; z-index: 2; top: 23px;background:#fff;color: #cccccc;}
.arrow:hover { background-color: #e64344;color: #fff;}
#container:hover .arrow { display: block;}
#prev { left: 20px;}
#next { right: 20px;}
.HJZF2__news-8__navPagetion{width: 100%;height:100%;position: relative;margin-top: 30px;}

.HJZF2__newsgallery-top{margin-bottom: 30px;}
.HJZF2__newsgallery-top .swiper-slide{width: 20%;position: relative;}
.HJZF2__newsgallery-top .swiper-slide{width: 20%;position: relative;}
.HJZF2__newsgallery-top .swiper-slide:before{content: '';display: table;width: 0;height: 4px;background: transparent;position: absolute;top: 0;left: 50%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__newsgallery-top .swiper-slide:hover .HJZF2__news-8__wrap{bottom: 0;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__newsgallery-top .swiper-slide:hover:before{left: 0;width: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__newsgallery-top .swiper-slide.swiper-slide-active .HJZF2__news-8__wrap{bottom: 0;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__newsgallery-top .swiper-slide.swiper-slide-active:before{left: 0;width: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2__newsgallery-thumbs{position: relative;transform: translateX(-32px);-moz-transform: translateX(-32px);-webkit-transform: translateX(-32px);}

.HJZF2__newsgallery-thumbs .swiper-slide{cursor: pointer;width: 70px; height: 80px;text-align: center;}
.HJZF2__newsgallery-thumbs .swiper-slide a{display: block;width: 100%;text-align: center;opacity: 0;visibility: hidden;margin-bottom: 8px;line-height: 20px;}
.HJZF2__newsgallery-thumbs .swiper-slide span{display: inline-block;width: 7px;height: 7px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;text-align: center;line-height: 30px;background: #999999;overflow: hidden;position: relative;
    top: 0;}


.HJZF2__newsgallery-container{position: relative;}
.HJZF2__newsgallery-container:before{content: '';display: table;width: 200%;height: 2px;border-top: 1px solid #ccc;position: absolute;top: 38px;z-index: -1;left: -50%; }
.HJZF2__newsgallery-thumbs .swiper-slide.swiper-slide-active a{opacity: 1;visibility: visible;}
.HJZF2__newsgallery-thumbs .swiper-slide.swiper-slide-active span{background: #e64344;width: 30px;height: 30px;color: #fff;position: relative;top: -4px;}
.gallery-thumbs-next.swiper-button-next, .gallery-thumbs-prev.swiper-button-prev{cursor: pointer;outline:none;line-height: 30px; text-align: center; font-size: 16px; font-weight: normal; width: 30px; height: 30px;border-radius: 50%;border: 1px solid #cccccc;  position: absolute; z-index: 2; top: 45px;background:#fff;color: #cccccc;background-image: none;}
.gallery-thumbs-next.swiper-button-next{right: 96px;}
.gallery-thumbs-prev.swiper-button-prev{left: 20px;}
.gallery-thumbs-more{display:inline-block;width: auto;height: 30px;line-height:30px;border: 1px solid #cccccc;padding: 0 32px;background:#fff;border-radius: 20px;-moz-border-radius: 20px;-webkit-border-radius: 20px;position: absolute;right: -66px;top: 22px;}
@media(max-width: 1199px){
    .gallery-thumbs-more{
        display: none;
    }
    .gallery-thumbs-next.swiper-button-next{
        right: 20px;
    }
    .HJZF2__newsgallery-thumbs{
        width: 100%;
    }
}
@media(min-width: 1200px) {
    .HJZF2__newsgallery-thumbs{
        width: 1000px;
    }
}
@media(min-width: 1201px) {
    .HJZF2__newsgallery-top .swiper-slide{
        width: 381px;
    }
}
@media(max-width: 1200px) and (min-width:769px) {
    .HJZF2__newsgallery-top .swiper-slide{
        width: 257px;
    }
}