.new_hjzf_news11{width: 100%;height: auto;margin: auto;}
.new_hjzf_news-11__left,.new_hjzf_news-11__right{position: relative}
.new_hjzf_news-11__left{padding-right: 25px}
.new_hjzf_news-11--title{width: 100%;padding-bottom: 16px; position: relative;color:#2e394b; font-weight:normal;}
.new_hjzf_news-11--title:after{ content:''; position:absolute; bottom:1px; width:100%; height:1px; background:#b5b5b5; left:0; z-index:0;}
.new_hjzf_news-11--title .swiper-slide{ width:auto !important;}
.new_hjzf_news-11--title h3.new_hjzf_news11--bt{ display:inline; color:#2e394b;font-weight:normal; padding:0 5px; margin-right:0.55rem; cursor:pointer;}
.new_hjzf_news-11--title .swiper-slide-active:before{content: '';display: table;width:1rem; height:3px;background: #3d74cf;position: absolute;bottom: -16px;left: 0; z-index:1;}
.new_hjzf_news-11--title2:before{content: '';display: table;width:1rem; height:3px;background: #3d74cf;position: absolute;bottom: 0;left: 0; z-index:1;}
.new_hjzf_news11--more{position: absolute; right: 0; z-index:5;}
.new_hjzf_news11--more a{color: #121619; font-size: 16px; line-height:30px; font-weight: normal;}
.new_hjzf_news-11--title span{color: #121619;font-size: 16px;font-weight: normal;}
.new_hjzf_news-11--title a{float: right;color: #121619;font-size: 16px;font-weight: normal; line-height:30px;}

.new_hjzf_news-11--leftContent{ padding-top:60px;}
.new_hjzf_news-11--RightContent{ margin-top:60px;}
.new_hjzf_news-11__itemLeft__first{padding:0;margin-bottom: 20px;padding-left: 0.2rem;}
.new_hjzf_news-11__itemLeft__first:first-child{padding-left:0;padding-right:0.2rem;}
.hjzf_news11--next,.hjzf_news11--prev{background-image: none;width: 10px;height: 30px;background:none;text-align: center;line-height: 30px;outline: none;margin-top:-42px; position:absolute; top:0; opacity:1 !important; z-index:9;}
.hjzf_news11--next i,.hjzf_news11--prev i{font-size: 30px;font-weight:normal;color: #b5b5b5;}
.hjzf_news11--prev{right: 68px; left:auto;}
.hjzf_news11--next{right: 28px;}


.new_hjzf_news-11__itemLeft>div{display: flex;display: -webkit-flex;justify-content:space-between;}
.new_hjzf_news-11__itemLeft.new_hjzf_news-11__itemLeft__first>div{display: block}
.new_hjzf_news-11__itemLeft a{font-size: 16px;color: #333333;font-weight: normal;display:inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;word-break: keep-all;}
.new_hjzf_news-11__itemLeft span{float: right;font-size: 16px;color: #666666;font-weight: normal;}

.new_hjzf_news-11__itemLeft__first .new_hjzf_news-11__itemLeft__img{width: 100%;height:auto;overflow: hidden;}
.new_hjzf_news-11__itemLeft__first .new_hjzf_news-11__itemLeft__img a{position: relative;width: 100%;display: block;padding-bottom: 75%;overflow: hidden;height: 0;}
.new_hjzf_news-11__itemLeft__first .new_hjzf_news-11__itemLeft__img img{width: 100%;height: auto;position: absolute;top: 50%;left: 50%;transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);;-webkit-transform: translate3d(-50%,-50%,0);}
.new_hjzf_news-11__itemLeft__imgRight{margin-top: 18px; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.new_hjzf_news-11__itemLeft__name{width: 100%;font-size: 16px;color: #333333;line-height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 10px;}
.new_hjzf_news-11__itemLeft__name a{color: #333333;}
.new_hjzf_news-11__itemLeft__desc a{color: #666666;}

.new_hjzf_news-11__itemLeft {
    padding: 15px 0;
    border-top: 1px dashed #cccccc;
}

.new_hjzf_news-11__itemRight{border-top: 1px dashed #cccccc; padding-top:16px;}
.hjzf_news11_faq--container .swiper-slide:first-child .new_hjzf_news-11__itemRight{border-top: none; padding-top:0;}
.new_hjzf_news-11__itemRight__name{margin-bottom: 20px;display: flex;display:-webkit-flex;align-items: flex-start}
.new_hjzf_news-11__itemRight__name span,.new_hjzf_news-11__itemRight__desc span{width: 26px;height: 26px;line-height: 26px;text-align: center; font-size: 16px;color: #fff;margin-right: 20px;display: inline-block}
.new_hjzf_news-11__itemRight__name span img,.new_hjzf_news-11__itemRight__desc span img{ width:100%;}
.new_hjzf_news-11__itemRight__name a{color: #333333;width:96%;font-weight: normal;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.new_hjzf_news-11__itemRight__desc{display: flex;display:-webkit-flex;align-items: flex-start}
.new_hjzf_news-11__itemRight__desc a{float: right;display:block;width:96%;height: auto;margin-bottom: 20px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; word-break: break-word;}

.hjzf_news11_faq--container{ width:100%; height:auto;}
.hjzf_news11_faq--container .swiper-slide{ height:auto !important;}

@media (max-width: 991px) {
    .new_hjzf_news-11__left,.new_hjzf_news-11__right{margin-bottom: 30px;}
    .new_hjzf_news-11__right{padding-left: 15px;}
    .new_hjzf_news-11__left{padding-right: 15px}
    .new_hjzf_news-11__itemLeft__first{margin-bottom: 0}
	.new_hjzf_news-11--title a{ font-size:14px;}
}
@media (max-width:768px){
	.new_hjzf_news-11--leftContent{ padding-top:30px;}
	.new_hjzf_news-11--RightContent{ margin-top:30px;}
	.new_hjzf_news-11--gundong{ margin-top:16px;}
	.hjzf_news11--next, .hjzf_news11--prev{ margin-top:-30px;}
}

@media (max-width: 576px) {
    .new_hjzf_news-11__left,.new_hjzf_news-11__right{margin-bottom: 30px;}
    .new_hjzf_news-11__itemLeft__first{margin-bottom: 0}
    .new_hjzf_news-11__right:before{display: none}
    .new_hjzf_news-11__itemLeft a.new_hjzf_news-11__itemLeft__more,.new_hjzf_news-11__itemLeft span{display: none}
    .new_hjzf_news-11__itemRight__desc a{height: auto;}
}