.new_hjzf_news-13{
    width: 100%;
    margin: auto;
    height: auto;   
    background: #fff;
}
.new_hjzf_news_13_title{	
	color: #333;
	font-weight: normal;	
	font-weight:bold;
}
.new_hjzf_news_13_newsimg{
	margin-bottom: 20px;
	overflow:hidden;
}
.new_hjzf_news_13_newsimg a{
	display: block;	
}
.new_hjzf_news_13_newsimg img{
	transition: all .5s ease-in;	
	-moz-transition: all .5s ease-in;	
	-webkit-transition: all .5s ease-in;	 
}
.new_hjzf_news_13_newsimg:hover img{
	transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.new_hjzf_news_13_newscon{
	margin-bottom: 20px;justify-content: space-between;
}
.new_hjzf_news_13_newscon .new_hjzf_news_13_newscon_data{
	width: 55px;
	height: 100%;
	float: left;
}
.new_hjzf_news_13_newscon .new_hjzf_news_13_newscon_data_y_m{
	color: #666;
	display:block;
}

.new_hjzf_news_13_newscon .new_hjzf_news_13_newscon_data_day{
	font-size: 20px;
	color: #095bbe;
	font-weight: bold;
}
.new_hjzf_news_13_newscon .new_hjzf_news_13_newscon_inner{
	height: 100%;
	width: calc(100% - 65px);
	border-left: 1px solid #c0c0c0;
	padding-left: 10px;
	padding-bottom: 15px;
}
.new_hjzf_news_13_newscon_inner h3{
	margin-bottom: 15px;	
}
.new_hjzf_news_13_newscon_inner a{
	color: #333;		
}
.new_hjzf_news_13_newscon_inner p{
	color: #666666;	
	margin-bottom: 20px;
}
.new_hjzf_news_13_newscon_inner a.details{
	color:#095bbe;
	text-decoration:underline;
}
.new_hjzf_news_13_newscon_data_mobile{display: none;}
.new_hjzf_news_13_swiper{
	padding-bottom: 30px;
}
.new_hjzf_news_13_swiper .new_hjzf_news_13_pagination span{
	width: 12px;
	height: 12px;
}
@media (max-width:1024px){
	.new_hjzf_news_13_newscon{flex-wrap: wrap;}
	.new_hjzf_news_13_newscon .new_hjzf_news_13_newscon_inner{width: 100%;border-left: none;padding-left: 0;}
	.new_hjzf_news_13_newscon_data_mobile{display: block;}
	.new_hjzf_news_13_newscon_data{display: none;}
}
.new_hjzf_news_13_swiper .swiper-slide{
	margin-right: 20px;
}
@media(min-width: 1440px) {
	.new_hjzf_news_13_swiper .swiper-slide{
		width: 466px;
	}
}
@media(min-width: 1365px) and (max-width: 1440px) {
	.new_hjzf_news_13_swiper .swiper-slide{
		width: 386.667px;
	}
}



.news_13_new_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.news_13_new_title .index_title{
    text-align: right;
    padding-right: 1.5vw;
    position: relative;
}
.news_13_new_title .index_title:before{
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    content:'';
    background-color: #999;
}
.news_13_new_title .index_sub_title{
    padding-left: 1.5vw;
    letter-spacing: 3px;
}
.news_13_new_title span{
    flex: 0 0 50%;
}