.new_hjzf_news-HJ03 #hj03_news {width: 100%;margin: 0 auto;height: auto;}
.new_hjzf_news-HJ03 .news_item{border: 1px solid rgba(170,170,170,.2);background-color: #fff;box-sizing: border-box;transition: all .32s ease;padding: 20px 10px;margin-bottom: 38px;}
.new_hjzf_news-HJ03 .hjnews_pic{height:auto;float: left;overflow: hidden;}
.new_hjzf_news-HJ03 .hjnews_pic a{width: 100%;display: block;position: relative;padding-bottom: 75%;height: 0;}
.new_hjzf_news-HJ03 .hjnews_pic img{width: 100%;height: 100%;-webkit-transition: all .36s ease;-moz-transition: all .36s ease;transition: all .36s ease;position: absolute;top: 0;left: 0;}
.new_hjzf_news-HJ03 .hjnews_content{padding: 20px 20px 0 30px;float: left;height: 138px;}
.new_hjzf_news-HJ03 .news_item-title a{text-overflow: ellipsis;white-space: nowrap;display: block;transition: all .36s ease;color: #333;}
.new_hjzf_news-HJ03 .news_item-desc-wai{transition: all .36s ease;height: 72px;overflow: hidden;text-overflow: ellipsis;color: #999;margin-top: 10px;}
.new_hjzf_news-HJ03 .hjnews_content span{position: relative;line-height: 26px;color: #999;font-size: 14px;padding-top: 10px;display: inline-block;}
.new_hjzf_news-HJ03 .news_item_date{float: left;position: relative;padding-top: 20px;}
.new_hjzf_news-HJ03 .news_item_date span{font-size: 28px;line-height: 26px;color: #868585;}
.new_hjzf_news-HJ03 .news_item_date .more-button{bottom: -50px;}
.new_hjzf_news-HJ03 .news_item:hover .hjnews_pic img{transform: scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transition: all .36s ease;-moz-transition: all .36s ease;transition: all .36s ease;}
.new_hjzf_news-HJ03 .news_item:hover .news_item_date .more-button{color: #fff;}
.new_hjzf_news-HJ03 .more-button{width:120px;height: 40px;overflow:hidden;color: transparent;border: none;position: absolute;box-sizing: border-box;text-indent: -40px;text-align: center;display: block;bottom: 10px;line-height: 40px;font-size: 14px;text-transform: uppercase; transition: all .36s ease;}
.new_hjzf_news-HJ03 .margin-30px-bottom {
    margin-bottom: 30px
}

.new_hjzf_news-HJ03 .news_item:hover .news_item_date .more-button:after{
    content: "";
    width: 31px;
    height: 10px;
    background: url(../img/more_iconon.png) no-repeat center;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(104px,-50%,0);
    transform: translate3d(104px,-50%,0);
    transition: all .36s ease;
}
.new_hjzf_news-HJ03 .news_item:nth-child(even) .hjnews_pic, .new_hjzf_news-HJ03 .news_item:nth-child(even) .hjnews_content,.new_hjzf_news-HJ03 .news_item:nth-child(even) .news_item_date{float: right}
.new_hjzf_news-HJ03 .news_item:hover{box-shadow: 0 14px 50px -8px rgba(0,0,0,.12);border: 1px solid transparent;}
.new_hjzf_news-HJ03 .news_item:first-child{animation-delay: 0.1s;}
.new_hjzf_news-HJ03 .news_item:nth-child(2){animation-delay: 0.2s;}
.new_hjzf_news-HJ03 .news_item:nth-child(3){animation-delay: 0.3s;}

.new_hjzf_news-HJ03 #index_product_title_left1 p{color: #333;display: inline-block;margin-right: 10px;}

.new_hjzf_news-HJ03 #index_product_title_left1 span{font-size: 14px;color: #bbb;line-height: 26px;display: inline-block;}

.new_hjzf_news-HJ03 .hj02_proclasslist_new{float: right;}
.new_hjzf_news-HJ03 .hj02_proclasslist_new li{float: left;display: inline-block;text-align: center;padding: 0 20px;transition: 0.9s ;-moz-transition: .9s;-webkit-transition: .9s;}
.new_hjzf_news-HJ03 .hj02_proclasslist_new li a{color: #666;font-weight: normal;}
.new_hjzf_news-HJ03 .more-button:after{
    content: "";width: 31px;height: 10px;background: url(../img/more_icon.png) no-repeat center;position: absolute;top: 50%;left: 0;-webkit-transform: translate3d(0,-50%,0);transform: translate3d(0,-50%,0);transition: all .36s ease;}
.new_hjzf_news-HJ03 .more-button:hover:after{
    content: "";width: 31px;height: 10px;background: url(../img/more_iconon.png) no-repeat center;position: absolute;top: 50%;left: 0;-webkit-transform: translate3d(104px,-50%,0);transform: translate3d(104px,-50%,0);transition: all .36s ease;}

@media (max-width: 991px) and (min-width:768px){
    .new_hjzf_news-HJ03 .more-button{width: 80px;}
	.new_hjzf_news-HJ03 .hjnews_pic{ margin-top:20px;}
}
@media(max-width: 767px){
    .new_hjzf_news-HJ03 .hjnews_content{height: auto}
    .new_hjzf_news-HJ03 .margin-30px-bottom{width: 100%;text-align: center}
    .new_hjzf_news-HJ03 .news_item-title a{white-space: pre-wrap}
	.new_hjzf_news-HJ03 .news_item-desc-wai{ height: 66px;}
}