.HJZF2__news-10{width: 100%;height: auto;margin: auto;}
.HJZF2__news-10--Content{width: 100%;overflow: hidden;}
.HJZF2__news-10__title{color: #333333;font-weight: normal;margin-bottom: 36px;position: relative;}
.HJZF2__news-10__title:before{content: '';display: table;width: 40px;height: 2px;background: #f65a1c;position: absolute;top: 50px;left: 0;}
.HJZF2__news-10left{width: 100%;float: left;}
.HJZF2__news-10right{width:100%;float: right;}
.HJZF2__news-10--leftContent ul li{width: 100%;margin-bottom: 8px;}
.HJZF2__news-10__itemName{width: 100%;height: 48px;line-height: 48px;color: #333333;font-weight: normal;background:#f1f1f1;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 0 40px 0 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2__news-10--leftContent ul li .HJZF2__news-10__itemContent{width: 100%;margin-top: 8px;justify-content: space-between;}
.HJZF2__news-7__itemLeft__img{width: 30%;height: auto;overflow: hidden;}
.HJZF2__news-7__itemLeft__img div{width: 100%;padding-bottom: 75%;height: 0;position: relative;}
.HJZF2__news-7__itemLeft__img img{width: 100%;height: 100%;position: absolute;top: 0;left: 0}
.HJZF2__news-7__itemLeft__desc{width: 70%;padding-left: 15px;}
.HJZF2__news-10--leftContent ul li .HJZF2__news-10_wrap{height: auto;overflow: hidden;display: none}
.HJZF2__news-7__itemLeft__desc p{width: 100%;padding-right: 40px;overflow: hidden;margin-bottom: 20px;}
.HJZF2__news-7__itemLeft__desc p a{color: #666666;font-weight: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: break-all;}
.HJZF2__news-7__itemLeft__desc div a{color: #666666;font-weight: normal;margin-left: 4px;top: 2px;position: relative;}
.HJZF2__news-10--leftContent ul li.active .HJZF2__news-10__itemName{background: #f65a1c;color: #fff;}
.HJZF2__news-10--leftContent ul li.active .HJZF2__news-10_wrap{height: auto;}
.HJZF2__news-10--leftContent ul li:hover .HJZF2__news-10__itemName{background: #f65a1c;color: #fff;cursor: pointer;}
.HJZF2__news-10rightDesc{width: 100%;height: auto;color: #333333;white-space: normal;margin-bottom: 30px;}
.HJZF2__news-10__rightTitle{color: #f65a1c;font-weight: normal;padding-left: 30px;position: relative;margin-bottom: 20px;}
.HJZF2__news-10__rightTitle:before{content: '';display: table;width: 20px;height: 2px;background: #f65a1c;position: absolute;top: 10px;left: 0;}
.HJZF2__news-10right__swiper .swiper-slide{transition: 300ms;transform: scale(0.8);width: 235px;}
.HJZF2__news-10right__swiper .swiper-slide.swiper-slide-active{transition: 300ms;transform: scale(1);}
.HJZF2__news-10right__swiper .swiper-slide img{width: 100%;height: 100%;}
.HJZF2__news-10right-next.swiper-button-next, .HJZF2__news-10right-prev.swiper-button-prev{background-image: none;line-height: 44px;font-size: 20px;outline: none;}
.HJZF2__news-10right-next.swiper-button-next{text-align: right;}