.HJZF2_Z__news{width: 100%;height: auto;margin: auto;}
.HJZF2_Z__news__title{width: 100%;text-align: center;font-weight: bold;margin-bottom: 80px;text-transform: uppercase;position: relative;}
.HJZF2_Z__news__title:before{content: '';display: block;width: 200px;height: 5px;position: absolute;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);bottom: -20px;background: #ffb536;}
.HJZF2_Z__news--left{margin-left: -15px;}
.HJZF2_Z__news--left__newsItem{padding: 0 15px 5px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.HJZF2_Z__news--left__nwesImg{width: 100%;height: auto;overflow: hidden;position: relative}
.HJZF2_Z__news--left__nwesImg img{width:100%;max-width: 100%;height: auto;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2_Z__news--left__date{background: #fff;position: absolute;display: flex;align-items: center;top: 10px;right: 10px;z-index: 30;box-sizing: border-box;text-decoration: none;}
.HJZF2_Z__news--left__date span{color: #333;padding: 0px 10px 0px 5px;font-size: 12px;line-height: 22px;font-weight: 700;position: relative}
.HJZF2_Z__news--left__date span:before{content: '';display: table;width: 4px;height: 4px;background: #ffb536;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;position: absolute;right: 0;top: 9px;}
.HJZF2_Z__news--left__date span:last-child:before{display: none}
.HJZF2_Z--left__newsInfo{padding: 25px 0 30px;}
.HJZF2_Z--left__newsTitle{margin-bottom: 20px;}
.HJZF2_Z--left__newsTitle a{font-weight: bold;color: #333}
.HJZF2_Z--left--newsDesc{margin-bottom: 15px;color: #666;}
.HJZF2_Z--left--newsMore,.HJZF2_Z--left--newsMore i{font-size: 14px;line-height: 20px;color: #333;font-weight: bold}
.HJZF2_Z__news--left__newsItem:hover .HJZF2_Z__news--left__nwesImg img{transform: scale(1.1);-moz-transform: scale(1.1);-moz-transform: scale(1.1);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}

.HJZF2_Z__news--right{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2_Z__news--right__newsItem{background: #f5f5f5 !important;padding: 30px 30px;}
.HJZF2_Z__news--right__nwesImg{width: 100%;height: auto;overflow: hidden;position: relative;text-align: center}
.HJZF2_Z__news--right__nwesImgWrap{display: inline-block;position: relative;}
.HJZF2_Z__news--right__nwesImgWrap img{max-width: 100%;}
.HJZF2_Z--right__newsInfo{padding: 25px 0 0;text-align: center}
.HJZF2_Z--right--newsMore{display: inline-block;margin: auto;font-weight: bold;padding: 8px 18px 8px 16px;color: #fff;background: #ffb536}


.HJZF2_Z__news-next,.HJZF2_Z__news-prev{background-image: none;width: 22px;height: 80px;background:#ffb536;text-align: center;line-height: 80px;outline: none;margin-top: -40px;}
.HJZF2_Z__news-next i,.HJZF2_Z__news-prev i{font-size: 20px;font-weight: bold;color: #fff;}
.HJZF2_Z__news-prev{left: 0;}
.HJZF2_Z__news-next{right: 0;}
@media (max-width: 991px) and (min-width: 768px){
    .HJZF2_Z__news--left{
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 767px){
    .HJZF2_Z__news--left{
        margin-left: 0;
    }


}
@media (max-width: 575px) {
    .HJZF2_Z__news__title{margin-bottom: 60px;}
    .HJZF2_Z__news{width: 100%;height: auto;margin: auto;padding: 70px 0 0 0;}
    .HJZF2_Z__news--left{
        margin-left: 0;
    }

    .HJZF2_Z__news--left__newsItem {
        padding: 0 0 5px;
    }
    
}