.HJZF2_Z__news_30_right_con a,.HJZF2_Z__news_30_mid_text a,.HJZF2_Z__news_30_left .mb-30{
    transition: all .5s;
}
.guanwang_title{
    display: flex;
    align-items: center;
}
.guanwang_title span{
    width: 25px;
    height: 1px;
    background-color: #888;
    margin: 0 5px;
}
.guanwang_title h2{
    font-size: 2.5vw;
    font-weight: bold;
    margin-right: 10px;
}
.guanwang_title em{
    font-style: normal;
    display: block;
    align-self: flex-end;
    width: 5px;
    height: 20px;
    margin: 0 10px;
    margin-bottom: 5px;
}
.guanwang_title h4{
    font-size: 2vw;
    align-self: flex-end;
    font-weight: bold;
    color: #b1b1b1;
    font-family: impact;
}
.HJZF2_Z__news_30_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.HJZF2_Z__news_30_title_more{
    display: flex;
    justify-content: space-between;
}
.HJZF2_Z__news_30_title_more .more{
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-transform: uppercase;
}
.HJZF2_Z__news_30_title_more .more:before,.HJZF2_Z__news_30_title_more .more:after{
    position: absolute;
    display: block;
    content:'';
}
.HJZF2_Z__news_30_title_more .more:before{
    left: -8px;
    top: -15px;
    width: 1px;
    height: 30px;
}
.HJZF2_Z__news_30_title_more .more:after{
    top: -8px;
    left: -15px;
    height: 1px;
    width: 30px;
}
.HJZF2_Z__news_30_title_more ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 20px;
}
.HJZF2_Z__news_30_title_more ul li a{
    display: block;
    transition: all .5s;
    padding: 5px 15px;
    margin: 0 10px;
    border: 2px solid #ccc;
}
.HJZF2_Z__news_30_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.HJZF2_Z__news_30_wrapper:before,.HJZF2_Z__news_30_wrapper:after{
    display: none;
}
.HJZF2_Z__news_30_mid,.HJZF2_Z__news_30_left,.HJZF2_Z__news_30_right{
    height: 100%;
}
.HJZF2_Z__news_30_left,.HJZF2_Z__news_30_mid li,.HJZF2_Z__news_30_right{
    background-color: #f7f7f7;
    padding: 15px;
}
.HJZF2_Z__news_30_mid li{
    height: 48%;
}
.HJZF2_Z__news_30_mid_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news_30_date{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.news_30_date b{
    font-size: 50px;
    color: #9a9a9a;
    line-height: 1;
}
.news_30_date em{
    font-size: 16px;
    font-style: normal;
    color: #9a9a9a;
}
.HJZF2_Z__news_30_mid_date{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}
.news_30_jt{
    width: 20px;
    height: 1px;
    background-color: #777;
    position: relative;
}
.news_30_jt:before,.news_30_jt:after{
    position: absolute;
    display: block;
    content:'';
    width: 9px;
    height: 1px;
    background-color: #777;
    right: -4px;
    top: -1px;
}
.news_30_jt:before{
    transform: rotate(45deg) translate(-50%, 50%);
}
.news_30_jt:after{
    transform: rotate(-45deg) translate(-50%, 50%);
}
.HJZF2_Z__news_30_mid_text p{
    color: #999;
    line-height: 1.5;
    margin-top: 10px;
}
.HJZF2_Z__news_30_right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
.HJZF2_Z__news_30_right_con h3{
    font-size: 20px;
}
.HJZF2_Z__news_30_right_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HJZF2_Z__news_30_right_con:not(:last-child){
    border-bottom: 1px solid #e6e6e6;
}
.HJZF2_Z__news_30_right_con .news_30_date{
    margin-right: 20px;
}

@media(max-width: 1200px) {
    .HJZF2_Z__news_30_right_con h3{
        font-size: 16px;
    }
    .news_30_date b{
        font-size: 35px;
    }
}

@media(max-width: 1365px) and (min-width: 992px) {
    .HJZF2_Z__news_30_mid_text p{
        height: 45px;
        overflow: hidden;
    }
}
@media(max-width: 1365px) {
    .guanwang_title h2{
        font-size: 3vw;
    }
    .guanwang_title h4{
        font-size: 2.5vw;
    }
    .guanwang_title em{
        height: 22px;
    }
}

@media(max-width: 768px) {
    .guanwang_title h2{
        font-size: 5vw;
    }
    .guanwang_title h4{
        font-size: 3vw;
    }
    .guanwang_title em{
        height: 15px;
        width: 3px;
    }
    .HJZF2_Z__news_30_title_more{
        width: 100%;
    }
    .HJZF2_Z__news_30_right_con{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .HJZF2_Z__news_30_title_more{
        display: none;
    }
    .HJZF2_Z__news_30_mid_text p{
        padding-bottom: 10px;
    }
}