.HJZF2_Z__news_26_list_left_img,.HJZF2_Z__news_26_right_list li .HJZF2_Z__news_26_right_con{
    display: none;
}
.HJZF2_Z__news_26_list_left_img.on,.HJZF2_Z__news_26_right_list li.on .HJZF2_Z__news_26_right_con,
.HJZF2_Z__news_26_right_list li:first-child .HJZF2_Z__news_26_right_con,
.HJZF2_Z__news_26_list_left .HJZF2_Z__news_26_list_left_img:first-child{
    display: flex;
}
.HJZF2_Z__news_26_right_name{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
}
.HJZF2_Z__news_26_right_name h5{
    font-weight: bold;
}
.HJZF2_Z__news_26_right_con{
    margin-bottom: 15px;
    align-items: center;
}
.HJZF2_Z__news_26_right_con img{
    margin-right: 25px;
    max-width: 180px;
}
.HJZF2_Z__news_26_right_con p{
    margin-bottom: 15px;
    color: #898989;
}
.HJZF2_Z__news_26_right_con .more{
    max-width: 100%;
    min-height: 34px;
    padding: 5px 12px;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    background: rgba(255, 255, 255, 0.01);
    transition: all .5s;
}
.HJZF2_Z__news_26_list_left{
    padding-right: 30px;
}
.HJZF2_Z__news_26_list_left_img{
    position: relative;
    padding-right: 40px;
}
.HJZF2_Z__news_26_list_left_img img{
    border-top-left-radius: 50px;
}
.HJZF2_Z__news_26_list_left_img:after,.HJZF2_Z__news_26_list_left_img:before{
    position: absolute;
    display: block;
    content:'';
    background-color: #d72520;
    right: 0;
    bottom: -40px;
    border-bottom-right-radius: 50px;
}
.HJZF2_Z__news_26_list_left_img:before{
    width: 40px;
    height: 160px;
}
.HJZF2_Z__news_26_list_left_img:after{
    height: 40px;
    width: 160px;
}
.HJZF2_Z__news_26_list_left_img{
    align-items: flex-start;
}