.hjzf2_news_33_wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.hjzf2_news_33_wrapper li{
	flex: 0 0 48%;
	width: 48%;
	border: 2px solid #eeeef0;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.hjzf2_news_33_wrapper li h3{
	margin:20px;
}
.hjzf2_news_33_wrapper li h3 a{
	color: #333;
}
.hjzf2_news_33_wrapper li p{
	margin: 0 20px;
	margin-bottom: 10px;
}
.hjzf2_news_33_wrapper li span{
	display: block;
	background-color: #eeeef0;
	padding: 5px 20px;
	transition: all .5s;
}
.hjzf2_news_33_wrapper li span em,.hjzf2_news_33_wrapper li span i{
	font-style: normal;
	display: block;
}
.hjzf2_news_33_wrapper li span em{
	font-size: 22px;
}
.hjzf2_news_33_wrapper li span i{
	font-size: 16px;
}
.hjzf2_news_33 .index_title{
	position: relative;
}

@media(max-width: 767px) {
	.hjzf2_news_33_wrapper li{
		flex: 0 0 100%;
	}
}