.hjzf_news_37_title .index_sub_title{
	position: relative;
	padding: 0 20px;
	display: inline-block;
	padding-bottom: 8px;
	color: #babcc6;
}
.hjzf_news_37_title .index_sub_title:after{
	position: absolute;
	bottom: 0;
	left: 50%;
	content:'';
	transform: translateX(-50%);
	width: 200px;
	height: 1px; 
	background-color: #babcc6;
}
.hjzf_news_37_title .index_sub_title:before{
	position: absolute;
	display: block;
	content:'';
	width: 60px;
	height: 3px;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
}
.news_37_title ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.news_37_title ul li{
	margin: 0 15px;
}
.news_37_title ul li h3{
	color: #333;
	font-size: 22px;
}
.news_37_list ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.news_37_list ul li{
	flex: 0 0 32%;
	width: 32%;
}
.news_37_list ul li img{
	width: 100%;
}
.news_37_list_box{
	margin: 10px;
	margin-top: 20px;
}
.news_37_list_box span{
	position: relative;
	color: #9b9b9b;
	display: inline-block;
	margin-bottom: 30px;
}
.news_37_list_box span:before{
	position: absolute;
	display: block;
	content:'';
	width: 45px;
	height: 2px;
	background-color: #9b9b9b;
	left: 0;
	bottom: -10px;
}
.news_37_list_box span em{
	position: absolute;
	top: 0;
	right: -82%;
	padding:3px 10px;
	border: 2px solid #9b9b9b;
	font-style: normal;
	margin-top: -6px;
	font-size: 16px;
}
.news_37_list_box p{
	color: #333;
}
.news_37_bottom{
	margin-top: 40px;
}
.news_37_bottom a.index_btn{
	display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    align-self: flex-start;
	transition: all .4s;
}
.news_37_bottom a.index_btn .par{
	position: relative;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 767px){
	.news_37_list ul li{
		flex: 0 0 100%;
		width: 100%;
	}
}