.HJZF2_Z__news-8 {
    width: 100%;
    margin: auto;
    height: auto;
}
.HJZF2_Z__news-8__container {
    margin: auto;
}
.HJZF2_Z__news-8__left .HJZF2_Z__news-8__img {
    position: relative;
	text-align:center;
}
.HJZF2_Z__news-8__left .HJZF2_Z__news-8__img img {
    max-width: 100%;
    height: auto;
}
.HJZF2_Z__news-8__right{
	width:100%;
	padding-top: 80px;
    padding-bottom: 95px;
}
.HJZF2_Z__news-8__mainTitle {
    color: #333;
    font-weight: 700;
    position: relative;
    text-align: left;
	margin-bottom:25px;
}
#HJZF2_Z__news-8__tablist{
	width:100%;
}
#HJZF2_Z__news-8__tablist .HJZF2_Z__news-8__name{
	background-color: #f4f4f4;
	margin-top: 10px;
}
#HJZF2_Z__news-8__tablist:first-child .HJZF2_Z__news-8__name{
	margin-top:0;
}
#HJZF2_Z__news-8__tablist .HJZF2_Z__news-8__name a{
	position:relative;
	padding: 9px 0 9px 18px;
	display: block;
}
#HJZF2_Z__news-8__tablist .HJZF2_Z__news-8__name a span{	
    font-weight: bold;
	color:#252525;
	margin-right: 30px;
    height: 24px;
    overflow: hidden;
    display: block;
}
.inactive_icon {
    font-weight: bold;    
    transition: 0.2s;
    position: absolute;
    right: 13px;
	color: #252525;
	top:50%;
	margin-top:-8px;
	width:16px;
	height:16px;
	text-align: center;	
}
#HJZF2_Z__news-8__tablist.active .inactive_icon {
    transform: rotate(180deg);
    transition: 0.2s;
}
.HJZF2_Z__news-8__list{ 
	padding: 17px 0 13px;
	margin:10px 0;
}
.active .HJZF2_Z__news-8__list{ 
	display:block;
}
.inactive .HJZF2_Z__news-8__list{ 
	display:none;
}
.HJZF2_Z__news-8__img{
	margin-left:-15px;
}
.HJZF2_Z__news-8__list .HJZF2_Z__news-8__img img{
	width:100%;
	height:auto;
}
.HJZF2_Z__news-8__list .HJZF2_Z__news-8__content{
	margin-right:-15px;
}
.HJZF2_Z__news-8__list .HJZF2_Z__news-8__desc{
	margin-bottom:20px;	
	color:#898989;
}
.HJZF2_Z__news-8__list .HJZF2_Z__news-8__more {
    max-width: 100%;
	min-height: 34px;
    padding: 5px 12px;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    background: rgba(255, 255, 255, 0.01);
}
.HJZF2_Z__news-8__list .HJZF2_Z__news-8__more:hover{
	color:#FFFFFF;
}
@media screen and (max-width: 991px) {
	.HJZF2_Z__news-8__left{display: none;}	
}
@media screen and (max-width: 576px) {
	.HJZF2_Z__news-8__right{padding-top: 0;padding-bottom: 0;}	
	.HJZF2_Z__news-8__img,.HJZF2_Z__news-8__list .HJZF2_Z__news-8__content{margin-left: -15px;margin-right: -15px;}
}