.HJZF2__news_HJ05{
    height: auto;
 }
 .HJZF2__news_HJ05_right_gallery_after{
     position: relative;
 }
 .HJZF2__news_HJ05_right_gallery_after:after{
     position: absolute;
     bottom: 50%;
     display: block;
     content:'';
     height: 2px;
     background-color: #EC5A26;
     -webkit-transform: translate(0, -50%);
         -ms-transform: translate(0, -50%);
             transform: translate(0, -50%);
     z-index: 9;
 }
 @media (max-width: 1440px) {
     .HJZF2__news_HJ05_right_gallery_after:after{
         right: 0px;
         width: calc((100% - 1230px ) / 2);
     }
 }
 .HJZF2__news_HJ05_gallery-top{
     border-radius: 10px;
     margin-top: -200px;
     -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.1);
             box-shadow: 5px 5px 10px 5px rgba(0,0,0,.1);
     overflow: hidden;
 }
 .HJZF2__news_HJ05_gallery_slide{
     border-radius: 5px;
     overflow: hidden;
     border: 8px solid #fff;
     position: relative;
 }
 .HJZF2__news_HJ05_gallery_slide .HJZF2__news_HJ05_gallery_text{
     position: absolute;
     left: 0;
     bottom: 0px;
     width: 100%;
     padding: 0 15px;
     padding-bottom: 15px;
     color: #fff;
     background: -webkit-gradient(linear,left top, left bottom,from(transparent),color-stop(80%, rgba(0,0,0,.7)) ,  to(rgba(0,0,0,.9)));
     background: -o-linear-gradient(top,transparent  0%,rgba(0,0,0,.7) 80% ,  rgba(0,0,0,.9) 100%);
     background: linear-gradient(to bottom,transparent  0%,rgba(0,0,0,.7) 80% ,  rgba(0,0,0,.9) 100%);
     border-radius: 10px;
 }
 .HJZF2__news_HJ05_gallery_text h3{
     color: #fff;
     margin-bottom: 10px;
 }
 .HJZF2__news_HJ05_gallery_text p{
     color: #ccc;
     margin: 10px 0;
     height: 0;
     overflow: hidden;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
 }
 .HJZF2__news_HJ05_gallery_slide{
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
     border-radius: 10px;
     overflow: hidden;
 }
 .HJZF2__news_HJ05_gallery_slide_newimg{
     border-radius: 10px;
     overflow: hidden;
 }
 .HJZF2__news_HJ05_gallery_slide:hover .HJZF2__news_HJ05_gallery_text p{
     height: 44px;
 }
 .HJZF2__news_HJ05_gallery_text em{
     font-style: normal;
     position: relative;
     padding-left: 50px;
     margin-top: 10px;
 }
 .HJZF2__news_HJ05_gallery_text em:before{
     position: absolute;
     content:'';
     width: 40px;
     height: 40px;
     left: 0;
     top: 50%;
     -webkit-transform: translate(0, -50%);
         -ms-transform: translate(0, -50%);
             transform: translate(0, -50%);
 }
 .HJZF2__news_HJ05_gallery_text:before{
     position: absolute;
     width: 40px;
     height: 40px;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);
 }
 
 
 /* right */
 .HJZF2__news_HJ05_right_text h2{
     font-style: oblique;
     position: relative;
 }
 .HJZF2__news_HJ05_right_text h2:before{
     position: absolute;
     width: 60px;
     height: 2px;
     left: -70px;
     content:'';
     z-index: 8;
 }
 .HJZF2__news_HJ05_right_text p{
     margin: 30px 0;
     word-break: break-word;
 }
 .HJZF2__news_HJ05_right_text a.more{
     border-radius: 50px;
     display: block;
     width: 200px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     border: 1px solid #333;
     color: #333;
     -webkit-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
     position: relative;
     overflow: hidden;
     position: relative;
     z-index: 9;
     margin-bottom: 30px;
     font-size: 18px;
     letter-spacing: 2px;
 }
 .HJZF2__news_HJ05_right_text a.more:before{
     position: absolute;
     content:'';
     width: 0%;
     height: 100%;
     left: 0;
     -webkit-transition: all .5s ease-out;
     -o-transition: all .5s ease-out;
     transition: all .5s ease-out;
     z-index: -1;
 }
 .HJZF2__news_HJ05_right_text a.more:hover{
     color: #fff;
 }
 
 /* thumbs */
 .HJZF2__news_HJ05_right_thumbs_slide{
     cursor: pointer;
     float: left;
     width: 168.75px;
     overflow: hidden;
     border-radius: 50%;
     position: relative;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
     border: 5px solid transparent;
 }
 .HJZF2__news_HJ05_right_thumbs_slide:before{
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     content:'';
     background-color: rgba(255,255,255,.7);
     z-index: 2;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
 }
 .HJZF2__news_HJ05_right_thumbs_slide span{
     position: absolute;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);
     width: 90%;
     height: 90%;
 }
 .HJZF2__news_HJ05_right_thumbs_slide span img{
     position: absolute;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);
     width: 160%;
     -webkit-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
     border-radius: 50%;
 }
 .HJZF2__news_HJ05_right_thumbs_slide.swiper-slide-active:before{
     opacity: 0;
 }
 
 
 /* mobile */
 @media (max-width:768px) {
     .HJZF2__news_HJ05{
         padding: 20px 0;
     }
     .HJZF2__news_HJ05_gallery-top{
         margin-top:0px;
         margin-bottom: 20px;
         -webkit-box-shadow: none;
                 box-shadow: none; 
     }
     .HJZF2__news_HJ05_gallery_swiper_pagination{
         text-align: center;
         margin: 20px 0;
     }
     .HJZF2__news_HJ05_right_text a.more{
         width: 150px;
         height: 35px;
         line-height: 35px;
         font-size: 14px;
     }
     .HJZF2__news_HJ05_right_text h2:before{
         display: none !important;
     }
 }
 .HJZF2__news_HJ05_right_thumbs_slide{
     width: 168.75px;
     height: 168.75px;
 }
