.news36row{border-bottom: 1px solid #26b8f1;padding: 30px;font-size: 20px;font-weight: bold;color: #333;}
.new36_more{ width:26px; height:26px}
.new36_more img{ width:26px; float:right;}
.news36row span{ color:#333;}

