.HJZF_Z_other--2{width: 100%;margin: auto;}
.other--2__item{padding-right: 15px;padding-left: 15px;padding-bottom: 50px;}
.other--2__item>div{position: relative;overflow: hidden}
.other--2__item img{width: 100%;max-width: 100%;opacity: 0.7;
    width: -webkit-calc(100% + 20px)!important;
    width: calc(100% + 20px)!important;
    max-width: -webkit-calc(100% + 20px)!important;
    max-width: calc(100% + 20px)!important;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;}
.other--2__item a{position: absolute;top: 0;left: 0;padding: 15px;width: 100%;display: block;word-wrap: break-word;}
.other--2__item a p{font-weight: bold;color: #fff;padding: 5px 0 10px;overflow: hidden;position: relative}
.other--2__item a p:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.other--2__item:hover img{
    opacity: 0.3;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.other--2__item:hover a p:after{
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.other--2__item a div{    
    font-weight: bold;
    color: #fff;
    padding: 15px 0;
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.other--2__item:hover a div{
    opacity: 1;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
