.hjzf2_other-20{width: 100%;height: auto;padding: 40px 0;}
.hjzf2_other-20_title{font-weight: normal;}
.hjzf2_other-20_more{display: inline-block;padding:12px 45px;border: 1px solid #fff;border-radius: 30px;-moz-border-radius: 30px;-webkit-border-radius: 30px;position: relative;overflow: hidden}
.hjzf2_other-20_more:before{content: '';display: block;width: 0;height: 100%;position: absolute;left:0;top: 0;transition: 0.6s ease-out;}
.hjzf2_other-20_more span{font-size: 16px;font-weight: normal;line-height: 28px;z-index: 2;position: relative}
.hjzf2_other-20_more:hover:before{width: 100%;transition: 0.6s ease-out;}

@media (max-width: 991px) {
    .hjzf2_other-20{text-align: center}
    .hjzf2_other-20_more{
        float: none!important;
    }
    .hjzf2_other-20 .index_sub_title{
        margin-bottom: 20px;
    }
}