.HJZF_Z_other--1{width: 100%;margin: auto;height: auto}
.HJZF_Z_other--1 .HJZF_Z_other--wrap{text-align: center;}
.HJZF_Z_other__one{text-align: center;font-weight: bold;margin:auto;word-break: keep-all;word-wrap: break-word;}
.HJZF_Z_other__two{text-align: center;font-weight: bold;word-break: keep-all;word-wrap: break-word;margin:auto;}
.HJZF_Z_other__more{font-weight: bold;display: inline-block;margin:auto;}
.HJZF_Z_other__more a{color: #fff;padding: 10px 24px 10px 24px;display: inline-block;}

@media (max-width: 576px) {
    .HJZF_Z_other__one{font-size: 20px;line-height: 26px;font-weight: bold;margin-bottom: 10px;}
    .HJZF_Z_other__two{font-size: 40px;line-height: 46px;}
    .HJZF_Z_other__more{font-size: 20px;}
}