.HJZF_Z_other--13{width: 100%;margin: auto;}
.hjzf2_other13_mainTitle{ width:100%; text-align:center;color:#333333;font-weight:bold;}
.hjzf2_other13_mainjs{width:100%; text-align:center;color:#666666;}
.hjzf2_other13_container{ margin-top:60px; display: flex;}

.other--13__list{padding-bottom: 50px; position:relative;}
.other--13__list:before{ content:''; width:100%; height:1px; background:#d6d6d6; top: 132px; right: 50%; z-index:1; position:absolute;}
.other--13__list:after{ content:'\f0da'; font-family: 'FontAwesome'; color:#4d4d4d; font-size:30px; position:absolute; left:0; z-index:1; top: 110px;}
div.other--13__list:first-child:before,div.other--13__list:first-child:after{ display:none;}
.other--13__list .other--13__item{width:260px; margin:auto; height:260px; position: relative;}
.other--13__itempic{ width:260px; height:260px; margin:auto; overflow:hidden; border-radius:50% 50%; -webkit-transition: .3s;  transition: .3s; z-index:2; position: relative; transform:translateY(16px);
-ms-transform:translateY(16px); -moz-transform:translateY(16px); -webkit-transform:translateY(16px); -o-transform:translateY(16px);}
.other--13__itempic img{ width:240px; height:240px; border-radius:50% 50%; transition:all .6s; z-index:1; position: absolute; left:50%; top:50%;transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%);}
.other--13__item:hover .other--13__itempic img{transform:translate(-50%,-50%) scale(1.1) ; -webkit-transform:translate(-50%,-50%) scale(1.1); -moz-transform:translate(-50%,-50%) scale(1.1) ;}
.other--13__itemmask{ content:''; width:100%; height:100%; position:absolute; top:0; left:0; z-index:2;}
.other--13__itemname{ text-align:center; margin-top:20px;}
.other--13__itemname p{color: #333333; overflow: hidden;}

.hjzf2_other13_logo{ width:100%;}
.hjzf2_other13_swiper,.hjzf2_other13_swiper2{ margin:-10px;}
.hjzf2_other13_slide{ padding:10px;}
.hjzf2_other13_slide img{ width:100%; box-shadow:0 0 10px rgba(25,25,25,0.1);}

.hjzf2_other13_btn{text-align:center; margin-top:40px;}
.hjzf2_other13_more{ background:#FFFFFF; padding:12px 40px 11px 40px; margin:auto; text-align:center; font-size:16px;}
@media (max-width: 1440px){
    .other--13__list .other--13__item{ width:240px; height:240px;}
    .other--13__itempic{ width:240px; height:240px; transform: translateY(16px); -ms-transform: translateY(16px);    -moz-transform: translateY(16px); -webkit-transform: translateY(16px); -o-transform: translateY(16px);}
    .other--13__itempic img{ width:240px; height:240px;}
    .other--13__list:before{ top:120px;}
    .other--13__list:after{ top:100px;}
}
@media (max-width: 1199px){
.other--13__list .other--13__item{ width:200px; height:200px;}
.other--13__itempic{ width:168px; height:168px; transform: translateY(16px); -ms-transform: translateY(16px);    -moz-transform: translateY(16px); -webkit-transform: translateY(16px); -o-transform: translateY(16px);}
.other--13__itempic img{ width:168px; height:168px;}
.other--13__list:before{ top:100px;}
.other--13__list:after{ top:80px;}
.other--13__itemname{ margin-top:35px;}

}
@media (max-width: 991px){
.hjzf2_other13_container{ margin-top:30px;}
.other--13__itemname{ margin-top:20px;}
.other--13__itemname p{ font-size:16px; line-height:26px;}
.other--13__list{ padding-bottom:30px;}
div.other--13__list:nth-child(2n+1):before,div.other--13__list:nth-child(2n+1):after{ display:none;}
.hjzf2_other13_container{
    flex-wrap: wrap;
}
}
@media (max-width: 768px){
}
@media (max-width: 576px){
.other--13__list .other--13__item{ width:170px; height:170px;}
.other--13__itempic{
	width:150px;
	height:150px;
	transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.other--13__itempic img{width:150px; height:150px;}
.other--13__list:before{ top:85px;}
.other--13__list:after{ font-size:20px; top: 72px;}
}


/* 李梅新加css */
@media(min-width: 1200px) {
    .flex-reserver{
        flex-direction: row-reverse;
    }
}

.hjzf2_other13_containera{margin-top: 60px;display: flex;flex-wrap: wrap;margin-bottom: 80px;}

.hjzf2_other13_containera .other--13__lista{
    position: relative;
}
.hjzf2_other13_containera .other--13__lista:before,.hjzf2_other13_containera .other--13__lista:after{
    position: absolute;
    display: block;
    content:'';
    top: 45%;
    transform: translateY(-50%);
}
.hjzf2_other13_containera .other--13__lista:after{
    content: "\f0d9";
    font-family: 'FontAwesome'; 
    color:#fff; 
    font-size: 30px;
    right: 0;
}
.hjzf2_other13_containera .other--13__lista:before{
    background-color: #fff;
    width:100%;
    height: 1px;
    left: 50%;
}
.hjzf2_other13_containera .other--13__lista:first-child:before{
    height: 100%;
    width: 1px;
    top: -60%;
    transform: translateY(0);
}
.hjzf2_other13_containera .other--13__lista:first-child:after{
    content: "\f0d7";
    transform: translateY(0) translateX(50%);
    right: 50%;
    top: -30px;
}

@media(max-width: 1200px) {
    .hjzf2_other13_containera{
        margin-bottom: 40px;
    }
}

@media(max-width: 992px) {
    .hjzf2_other13_containera .other--13__lista:first-child:before,.hjzf2_other13_containera .other--13__lista:first-child:after{
        display: none;
    }
    .hjzf2_other13_containera div.other--13__lista:nth-child(2n+1):before,
    .hjzf2_other13_containera div.other--13__lista:nth-child(2n+1):after{ display:none;}
    .other--13__lista{
        padding-bottom: 30px;
    }
}
@media(max-width: 767px) {
    .hjzf2_other13_containera{
        flex-direction: row;
    }
    .hjzf2_other13_containera{
        margin-top: 30px;
    }
    .other--13__lista{
        padding-bottom: 15px;
    }
}