@media(min-width: 1200px) {
    .hjzf2_other_57_wrapper {
        height: 100vh;
    }
}
@media(max-width: 1199px) {
    .hjzf2_other_57_wrapper {
        height: 60vh;
    }
}
.hjzf2_other_57 {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.hjzf2_other_57_wrapper{
    display: flex;
    flex-direction: column;
}
.anihd{
    animation: anihd 1s ease-in-out infinite alternate;
}
@keyframes anihd{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(15px, 0);
    }
}

@media(max-width: 768px) {
    .hjzf2_other_57_wrapper {
        flex-direction: column;
    }

}