.HJZF2_Z_other_84 {
    display: flex;
    flex-wrap: wrap;
}
.HJZF2_Z_other_84>div {
    flex: 0 0 50%;
    width: 50%;
}
.HJZF2_Z_other_84_left{
    cursor: pointer;
}
.HJZF2_Z_other_84_right ,.HJZF2_Z_other_84_right_list li a{
    color: #333333;
}
.HJZF2_Z_other_84_right_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HJZF2_Z_other_84_right_list li{
    flex: 0 0 30%;
    text-align: center;
}
.HJZF2_Z_other_84_right_list li p{
    font-weight: bold;
}
.HJZF2_Z_other_84_right_list li img{
    margin-bottom: 10px;
}
.HJZF2_Z_other_84_right_con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .HJZF2_Z_other_84_right_con {
        max-width: 360px;
    }
}
@media (min-width: 992px) {
    .HJZF2_Z_other_84_right_con {
        max-width: 468px;
    }
}
@media (min-width: 1260px) {
    .HJZF2_Z_other_84_right_con {
        max-width: 600px;
    }
}
@media (min-width: 1680px) {
    .HJZF2_Z_other_84_right_con {
        max-width: 720px;
    }
}
@media(min-width: 1201px) {
    .HJZF2_Z_other_84_right_con{
        padding-left: 40px;
        height: 100%;
    }
}
@media(max-width: 1200px) {
    .HJZF2_Z_other_84 {
        flex-direction: column;
    }
    .HJZF2_Z_other_84>div {
        flex: 0 0 100%;
        width: 100%;
    }
    .HJZF2_Z_other_84_right_con{
        padding: 20px 15px;
    }
}