.hjzf2_other_70_container{
	width:100%;
}
.hjzf2_other_70_slide{
	width:50%;
	float:left;
	position:relative;
}

.hjzf2_other_70_slide_img{
	width:100%;
	height:auto;
}
.hjzf2_other_70_slide_text{
	position:absolute;
	bottom:15%;
	left:10%;
	width:80%;
	z-index:90;
}
.hjzf2_other_70_slide_text p{
	padding-right:200px;
	color: #fff;
}
.hjzf2_other_70_slide_box{
	color:#FFFFFF;
	padding:10px 25px;
	position: absolute;
    right: 0;
    bottom: 10px;
	z-index:91;
}
.hjzf2_other_70_slide_box i{ margin-left:15px;}
@media (max-width: 767px) {
.hjzf2_other_70_slide{
	width:100%;
	float:none;
}
.hjzf2_other_70_slide_text{
	width:calc(100% - 30px);
	left:15px;
}
.hjzf2_other_70_slide_text p{ padding-right:0;}
.hjzf2_other_70_slide_box{
	position:relative;
	bottom:auto;
	display:inline-block;
    margin-top: 10px;
}
}