.HJZF2_Z_other_95_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.HJZF2_Z_other_95_wrapper li {
    flex: 0 0 30%;
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HJZF2_Z_other_95_wrapper li .index_sub_title{
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 10px;
}
.HJZF2_Z_other_95_wrapper li .index_sub_title a{
    color: #333;
}
.HJZF2_Z_other_95_wrapper li p{
    margin-bottom: 50px;
}
.HJZF2_Z_other_95_wrapper li a.index_btn{
    background-color: #545454;
    color: #fff;
    transition: all .5s;
}
.HJZF2_Z_other_95_wrapper li img{
	max-width: 100%;
}
@media(max-width: 1200px) {
    .HJZF2_Z_other_95_wrapper li {
        flex: 0 0 48%;
        width: 48%;
    }
    .HJZF2_Z_other_95_wrapper li{
        margin-bottom: 20px;
    }
    .HJZF2_Z_other_95_wrapper li p{
        margin-bottom: 20px;
    }
}