.HJZF2_Z_other_103{
    width: 100%;
    margin: auto;
}
.other_103_imgwrapper img{
    max-width: 100%;
}
.other_103_listwrapper{
    width: 90%;
}
.other_103_listwrapper li{
    width: 50%;    
    word-break: keep-all;
    float: left;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.other_103_listwrapper li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    background: #333;
}
.other_103_listwrapper li a{
    font-size: 14px;color: #333;line-height: 24px; text-decoration:underline;
}
.left_show_row .other_103_listwrapper li a{
    color: #fff;
}
.left_show_row .other_103_listwrapper li::before{
    background-color: #fff;
}
.left_show_row{
    color:#fff;
}
.other_103_maintitle{ color: #333;}
.right_show_row a:hover,.left_show_row a:hover{ text-decoration:underline;}
.left_show_row .other_103_maintitle{ color: #fff;}