.HJZF2_Z_other_105_wrapper {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.HJZF2_Z_other_105_box4 .other_105_down{
    display: none;
}
.other_105_down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fullwidth-header-bounce 2.2s ease-out infinite;
    color: rgba(255,255,255,.8);
    cursor: pointer;
    transform: translateX(-50%)
}
.other_105_down i{
    font-size: 30px;
}
.HJZF2_Z_other_105_con{
    color: #fff;
    line-height: 2.5;
}
.HJZF2_Z_other_105_box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
@keyframes fullwidth-header-bounce {
    0% {
        transform: translateY(0%) translateX(-50%)
    }
    12.5% {
        transform: translateY(20%) translateX(-50%)
    }
    25% {
        transform: translateY(0%) translateX(-50%)
    }
    37.5% {
        transform: translateY(20%) translateX(-50%)
    }
    50% {
        transform: translateY(0%) translateX(-50%)
    }
}
@media(min-width: 1200px) {
    .HJZF2_Z_other_105_box{
        height: calc(100vh - 97px);
        position: relative;
    }
}
.HJZF2_Z_other_105_title{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.HJZF2_Z_other_105_img{
    margin-bottom: 10px;
}
.HJZF2_Z_other_105_img img{
    max-width: 100%;
}
.HJZF2_Z_other_105_box1 .HJZF2_Z_other_105_con{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.HJZF2_Z_other_105_box1 .HJZF2_Z_other_105_con p{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 10px;
}
.HJZF2_Z_other_105_box1 .HJZF2_Z_other_105_con p:last-child{
    border-bottom: 0;
}
.HJZF2_Z_other_105_more,.HJZF2_Z_other_105_morea{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    transition: all .5s;
}
.HJZF2_Z_other_105_more a,.HJZF2_Z_other_105_morea a{
    margin: 0 20px;
    padding: 8px 20px;
    border-radius: 6px;
    border: 2px solid;
    transition: all .5s;
}
.HJZF2_Z_other_105_more a{
    background-image: linear-gradient(180deg,#ffffff 0%,#e2e2e2 100%);
    background-color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HJZF2_Z_other_105_more i,.HJZF2_Z_other_105_morea i{
    opacity: 0;
    transition: all .5s;
    overflow: hidden;
    width: 0;
}
.HJZF2_Z_other_105_more a:hover i,.HJZF2_Z_other_105_morea a:hover i{
    opacity: 1;
    width: auto;
    margin-left: 10px;
}
.HJZF2_Z_other_105_more a:hover{
    border-color: #fff;
}
.HJZF2_Z_other_105_morea a{
    color: #fff;
    border-color: #fff;
}
.HJZF2_Z_other_105_box2 .index_title{
    position: relative;
    margin-bottom: 20px;
}
.HJZF2_Z_other_105_box .index_title{
    text-shadow:  0 0 10px rgb(0,0,0,.5);
    position: relative;
}
.HJZF2_Z_other_105_box2 .index_title:after{
    position: absolute;
    display: block;
    content:'';
    left: 0;
    bottom: 0;
    width: 120px;
    height: 2px;
    background-color: #fff;
}
.HJZF2_Z_other_105_box3 .HJZF2_Z_other_105_con{
    line-height: 1.8;
    margin-top: 30px;
    margin-bottom: 20px;
}
.HJZF2_Z_other_105_box4 .HJZF2_Z_other_105_con {
    padding: 10vh 0;
}
.HJZF2_Z_other_105_box4 .HJZF2_Z_other_105_sub{
    font-style: italic;
    color: #fff;
}
.HJZF2_Z_other_105_box4 .HJZF2_Z_other_105_title:after{
    position: absolute;
    display: block;
    content:'';
    width: 80px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
@media(max-width: 1365px) {
    .HJZF2_Z_other_105_img{
        max-width: 60%;
    }
    .other_105_down{
        bottom: 20px;
    }
    .HJZF2_Z_other_105_box{
        padding-bottom: 70px;
    }
}

@media(max-width: 767px) {
    .HJZF2_Z_other_105_img{
        max-width: 65%;
    }
    
    .HJZF2_Z_other_105_con{
        line-height: 1.5;
    }
    .other_105_down{
        bottom: 10px;
    }
}