.HJZF2_Z_other_96{
    width: 100%;
    margin: auto;
}
.other_96_imgwrapper img{
    max-width: 100%;
}
.other_96_listwrapper{
    width: 90%;
}
.other_96_listwrapper li{
    width: 50%;    
    word-break: keep-all;
    float: left;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.other_96_listwrapper li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    background: #333;
}
.other_96_listwrapper li a{
    font-size: 14px;color: #333;line-height: 24px;
}
.left_show_row{
    color:#fff;
}