.HJZF2_Z_other_2hj01 {
    width: 100%;
    height: auto;
    margin: auto;
}

.HJZF2_Z_other_2hj01_body {
    position: relative;
    border-top-width: 9px !important;
    border-right-width: 9px !important;
    border-bottom-width: 9px !important;
    border-left-width: 9px !important;
    padding-top: 60px !important;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    border-left-color: rgba(255, 255, 255, 0.3) !important;
    border-left-style: double !important;
    border-right-color: rgba(255, 255, 255, 0.3) !important;
    border-right-style: double !important;
    border-top-color: rgba(255, 255, 255, 0.3) !important;
    border-top-style: double !important;
    border-bottom-color: rgba(255, 255, 255, 0.3) !important;
    border-bottom-style: double !important;
    margin: 0 15px;
}

.HJZF2_Z_other_2hj01_left {
    padding-bottom: 50px;
}

.HJZF2_Z_other_2hj01_title {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 46px;
}

.HJZF2_Z_other_2hj01_title span {
    font-weight: bold;
    color: #ffffff;
}

.HJZF2_Z_other_2hj01_line span {
    margin-bottom: 35px;
    height: 3px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    width: 220px;
    float: left;
}

.HJZF2_Z_other_2hj01_ms1 {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
}

.HJZF2_Z_other_2hj01_ms1 span {
    font-weight: normal;
    color: #ffffff;
}

.HJZF2_Z_other_2hj01_ms2 {
    width: 100%;
    text-align: left;
}

.HJZF2_Z_other_2hj01_ms2 span {
    font-weight: normal;
    color: #ffffff;
}

.HJZF2_Z_other_2hj01_infobox {
    width: 100%;
    text-align: center;
}

.HJZF2_Z_other_2hj01_middle {
    width: 100%;
}

.HJZF2_Z_other_2hj01_infobox {
    width: 100%;
}

.HJZF2_Z_other_2hj01_iconcomponent {
    width: 100%;
    margin-bottom: 35px;
    padding-bottom: 10px;
}

.HJZF2_Z_other_2hj01_infoicon {
    color: #ffffff;
    border-color: #333333;
    border-width: 1px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 500px;
    font-size: 24px;
    display: inline-block;
}

.HJZF2_Z_other_2hj01_infobt {
    margin: 20px 0 10px;
}

.HJZF2_Z_other_2hj01_infobt span {
    color: #ffffff;
    font-weight: bold;
}

.HJZF2_Z_other_2hj01_infoadd {
    width: 100%;
    text-align: center;
    height: 48px;
    overflow: hidden;
}

.HJZF2_Z_other_2hj01_infoadd span {
    color: #ffffff;
}