.hjzf2_other_49{
	height: 100vh;
}
.hjzf2_other_49,.hjzf2_other_49 a{
	color: #fff;
}
.hjzf2_other_49_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.hjzf2_other_49 .index_title{
	margin-top: 2vw;
}

.hjzf2_other_49_wrapper li{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 45%;
	        flex: 0 0 45%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	vertical-align: text-bottom;
}
.hjzf2_other_49_wrapper li a{
	width: 50%;
	background-color: #333;
	-webkit-transition: all .45s;
	-o-transition: all .45s;
	transition: all .45s;
	margin: 0 auto;
}
.hjzf2_other_49_wrapper li a i{
	font-size: 22px;
	margin-left: 1vw;
	vertical-align: text-bottom;
	-webkit-transition: margin-left .45s;
	-o-transition: margin-left .45s;
	transition: margin-left .45s;
}
.hjzf2_other_49_wrapper li a:hover i{
	margin-left: 2vw;
}


@media (min-width:1440px) {
	.hjzf2_other_49_wrapper li{
		min-height: 40vh;
	}
	.hjzf2_other_49_wrapper li p{
		width: 70%;
		margin: 0 auto;	
		min-height: 180px;	
	}
	
}
@media (max-width:1439px) and (min-width:1366px){
	.hjzf2_other_49_wrapper li p{	
		min-height: 154px;
	}
}
@media(max-width: 1200px) {
	.hjzf2_other_49{
		height: auto !important;
	}
	.hjzf2_other_49_wrapper{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.hjzf2_other_49_wrapper li{
		margin-bottom: 3vw;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}

@media(max-width:768px) {
	.hjzf2_other_49_wrapper li{
		min-height: 25vh;;
		margin-bottom: 40px;
	}
}