.HJZF3_Z_other-1hj02 {
    width: 100%;
    height: auto;
    margin: auto;
}

.other-1hj02-top_title {
    width: 100%;
    padding: 40px 0;
    margin: auto;
    background: rgb(248, 248, 249);
}

.other-1hj02-top_titlew_rap {
    width: 100%;
    margin: auto;
    text-align: center
}

.other-1hj02-topmain {
    font-weight: 500
}

.other-1hj02-topdesc {
    font-weight: normal;
    color: #adb0b6;
    margin-bottom: 5px;
}

.other-1hj02-contact {
    background-color: #ffffff;
}

.other-1hj02-contact_item {
    text-align: center;
}


.other-1hj02-contact_itemicon i {
    font-size: 40px;
    color: #cb1023;
    line-height: 40px;
    font-weight: normal;
}

.other-1hj02-contact_jianchen {
    color: #adb0b6;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 24px;
}

.other-1hj02-contact_content,
.other-1hj02-contact_content a {
    padding: 0 20px;
    color: #333;
    font-weight: bold;
    word-wrap: break-word;
    word-break: keep-all;
}

.other-1hj02-down {
    padding-bottom: 70px;
}

.other-1hj02-down_titlewrap {
    width: 100%;
    margin: auto;
    text-align: center;
}

.other-1hj02-down_title {
    color: #333;
}

.other-1hj02-down_desc {
    word-spacing: normal;
    word-wrap: break-word;
    word-break: keep-all;
    color: #787d85;
}

.other-1hj02-inquiry_wrap #index_inquiry {
    width: 100%;
    margin: auto;
}

.other-1hj02-inquiry_wrap .inquiry_box {
    margin-bottom: 10px;
}

.other-1hj02-inquiry_wrap #index_inquiry input[type='text'] {
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    height: 38px;
    color: #787d85;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 5px 15px 5px 15px;
    border-color: rgba(173, 176, 182, .3);
    background-color: #fcfcfc;
    border-radius: 0;
}

.other-1hj02-inquiry_wrap #index_inquiry textarea {
    width: 100%;
    height: 168px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 26px;
    color: #787d85;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 5px 15px 5px 15px;
    border: 1px solid #e0e1e1;
    background-color: #fcfcfc;
    border-radius: 0;
}

.other-1hj02-inquiry_wrap #index_inquiry input#index_submit {
    display: inline-block;
    border-radius: 100px;
    padding: 12px 24px 12px 24px;
    min-height: 38px;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-size: 16px;
}

@media (max-width:991px) {
    .other-1hj02-contact_item {
        margin-bottom: 15px;
    }

    .other-1hj02-topmain {
        font-size: 40px;
        line-height: 50px;
    }

    .other-1hj02-topdesc {
        font-size: 20px;
        line-height: 30px;
    }

    .other-1hj02-contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .other-1hj02-down {
        padding-bottom: 40px;
    }

    .other-1hj02-down_title {
        font-size: 28px;
        line-height: 30px;
        padding: 15px 0;
    }
    
}