.new_hjzf_other-15 .message_bj {
    margin-top: 100px;
}

.new_hjzf_other-15 .message_right {
    position: relative;
    top: -1rem;
}

.new_hjzf_other-15 .message_right img {
    max-width: 100%;
}

.new_hjzf_other-15__xin {
    margin-top: 0.8rem;
}

.new_hjzf_other-15 .message-title {
    color: #333333;
    font-size: 0.36rem;
}

.new_hjzf_other-15 .message-tip {
    color: #333333;
    margin-top: 40px;
    margin-bottom: 20px;
}

.new_hjzf_other-15 .message-content {
    color: #333333;
    padding-right: 100px;
}

.new_hjzf_other-15 .message-pen {
    margin-top: 1rem;
    margin-bottom: 1rem
}

@media (max-width: 768px) {
    .new_hjzf_other-15 .message_bj {
        margin-top: 20px;
    }

    .new_hjzf_other-15 .message-content {
        padding-right: 0px;
    }

    .new_hjzf_other-15 .message-pen {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}