.other_115_input .form_item:last-child{
	width: 160px;
	flex: 0 0 160px;
}
.other_115_input #bottom_20_submit{
	width: 160px;
	height: 60px;
	line-height: 60px;
	padding: 0;
	font-size: 20px;
	background-color: #333;
	color: #fff;
	border-radius: 60px;
}
.other_115_input .bottom_form_box form{
	margin-top: 0;
	margin-bottom: 0;
}
.other_115_input input{
	border: none;
	line-height: 60px;
	height: 60px;
}
.other_115_input{
	border: 1px solid #ccc;
	border-radius: 60px;
	overflow: hidden;
}
@media(min-width: 1200px) {
	.other_115_input{
		max-width: 60%;
		margin: 0 auto;
	}
}

@media(max-width: 1199px){
	.other_115_input .form_item:last-child{
		width: 120px;
		flex: 0 0 120px;
	}
	.other_115_input #bottom_20_submit{
		width: 120px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		font-size: 18px;
		background-color: #333;
		color: #fff;
		border-radius: 40px;
	}
	.other_115_input .bottom_form_box form{
		margin-top: 0;
		margin-bottom: 0;
	}
	.other_115_input input{
		border: none;
		line-height: 40px;
		height: 40px;
	}
	.other_115_input{
		border: 1px solid #ccc;
		border-radius: 40px;
		overflow: hidden;
	}
}