.hjzf_z_other-18{width: 100%;margin: auto;height: auto;padding-bottom: 80px;position: relative}
.hjzf_z_other-18__wrap{padding: 70px 60px;background: #f2b367;z-index: 2;position: relative;}
.hjzf_z_other-18__title{color: #fff;font-weight: normal;margin-bottom: 10px;}
.hjzf_z_other-18__desc{color: #ffffff;font-weight: normal;margin-bottom: 20px;overflow: hidden;width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: keep-all;}
.hjzf_z_other-18_ul li{margin-bottom: 30px;color: #ffffff;padding-left: 50px;position: relative;padding-top: 10px;padding-bottom: 10px;}
.hjzf_z_other-18_ul li a{font-size: inherit;line-height: inherit;color: #ffffff;}
.hjzf_z_other-18_ul li:hover a{text-decoration: underline;}
.hjzf_z_other-18_ul li span{position: absolute;width: 40px;height: 40px;display: block;left: 0;top: 50%;background-position: 0 0;transform: translate3d(0,-50%,0);-moz-transform: translate3d(0,-50%,0);-webkit-transform: translate3d(0,-50%,0);}
.hjzf_z_other-18_ul li:nth-child(1) span{background-position: 0 0;}
.hjzf_z_other-18_ul li:nth-child(2) span{background-position: -40px 0;}
.hjzf_z_other-18_ul li:nth-child(3) span{background-position: -80px 0;}
.hjzf_z_other-18_ul li:nth-child(4) span{background-position: -160px 0;}
.hjzf_z_other-18_ul li:nth-child(5) span{background-position: -200px 0;}
#mapContainer{
    width:100%; height:100%;position: absolute;top: 0;left: 0;z-index: 1;
}
#tip{
    height:30px;
    background-color:#fff;
    padding-left:10px;
    padding-right:10px;
    position:absolute;
    font-size:12px;
    right:10px;
    bottom:20px;
    border-radius:3px;
    line-height:30px;
    border:1px solid #ccc;
}
div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius:5px 5px 0 0;
}
div.info-top div {
    display: inline-block;
    color: #333333;
    font-size:14px;
    font-weight:bold;
    line-height:31px;
    padding:0 10px;
}
div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover{
    box-shadow: 0px 0px 5px #000;
}
div.info-middle {
    font-size:12px;
    padding:10px;
    line-height:21px;
}
div.info-bottom {
    height:0px;
    width:100%;
    clear:both;
    text-align:center;
}
div.info-bottom img{
    position: relative;
    z-index:104;
}