.hjzf_other-25{width: 100%;margin: auto;height: auto;padding: 10px 0;}
.other-25__searchbox ul {display: inline-block;float: right;}
.other-25__searchbox ul li{list-style-type: none;float: left}
.other-25__keywords{line-height: 30px;color: #ffffff;font-size: 16px;}
.other-25__searchbox ul li.search_first input{height: 30px;outline: none;border: 0;padding-left: 6px;}
.other-25__searchbox .search_second button{border: none;display: inline-block;padding: 0;outline: none;background: transparent}
.other-25__searchbox .search_second button img{max-height: 30px;}
.other-25__keywords span a{margin-right: 15px;display: inline-block}
.other-25__keywords span a:hover{text-decoration: underline}
@media (max-width: 767px) {
    .other-25__keywords{text-align: center}
    .other-25__keywords span{display: block}

}


