.hjzf2_other_24,.hjzf2_other_24 .flex{
    min-height: 100vh;
    color: #fff;
}
.hjzf2_other_24 a{
    color: #fff;
}
.hjzf2_other_24 .flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.hjzf2_other_24 .column{
    flex-direction: column;
}
.hjzf2_other_24 .flex .main_content{
    margin: 5vh auto;
}
.hjzf2_other_24 .flex .more{
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    border: 1px solid #fff;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
@media (max-width:1024px) {
    .hjzf2_other_24,.hjzf2_other_24 .flex{
        height: 50vh;
    }
}