.hjzf_other-30{width: 100%;height: auto;margin: auto;}
.other-30_slide a{display: block;text-align: center;border: 1px solid #eee;}
.other-30_slide img{max-width: 100%;height: auto;}
.other-30-pagination{
    margin-top: 30px;
}
.other-30-pagination span{
    width: 12px;
    height: 12px;
}