.hjzf_other_120_title .index_sub_title{
	position: relative;
	padding: 0 20px;
	display: inline-block;
	padding-bottom: 8px;
	color: #babcc6;
}
.hjzf_other_120_title .index_sub_title:after{
	position: absolute;
	bottom: 0;
	left: 50%;
	content:'';
	transform: translateX(-50%);
	width: 200px;
	height: 1px; 
	background-color: #babcc6;
}
.hjzf_other_120_title .index_sub_title:before{
	position: absolute;
	display: block;
	content:'';
	width: 60px;
	height: 3px;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
}
.hjzf_other_120_wrapper_box{
	position: relative;
}

@media(min-width: 1200px) {
	.hjzf_other_120_wrapper_box .swiper-button-whitee{
		background-size: 50%;
		background-color: #f8f8f8;
		width: 45px;
		height: 110px;
		margin-top: -55px;
	}
	.hjzf_other_120_wrapper_box{
		padding: 0 50px;
	}
}
.hjzf_other_120_wrapper li{
	width: 252px;
	margin-right: 20px;
}