.other_37_wrapper{
    display: flex;
    justify-content: flex-start;
    line-height: 40px;
}
.other_37_wrapper a{
    padding: 0 2vw;
    transition: all .3s;
}
@media(max-width: 1200px) {
    .other_37_wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width:1300px) {
    .other_37_wrapper a{
        padding-left: 0;
        padding-right: 30px;
    }
}