
.new_hjzf_other-17 .renyuan-one-container{ margin-top:40px;width:368px;}
.new_hjzf_other-17 .renyuan-container{ text-align:center; text-align:center;}
.new_hjzf_other-17 .renyuan-name{ color:#434343;  text-align:center; margin-top:30px; margin-bottom:10px;}
.new_hjzf_other-17 .renyuan-info{ color:#8a8a8a;  text-align:center; padding:0 15px;}
.new_hjzf_other-17 .renyuan-title{ color:#333333;}
.new_hjzf_other-17 .renyuan_img{ transition:all 0.3s}
.new_hjzf_other-17 .renyuan_img:hover{    cursor: pointer;
    transform: scale(1.2);
    -ms-transform:scale(1.2);     /* IE 9 */
    -moz-transform:scale(1.2);     /* Firefox */
    -webkit-transform:scale(1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2);
}


