.hjzf_other_110{
	position: relative;
}
.other_110_xuanzhuan{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 120px;
	transition: all 1.5s;
}
.other_110_xuanzhuan:hover{
	transform: translate(-50%, -50%) rotate(360deg);
}