.HJZF2_Z_other_87 {
    background-color: #f5f5f5;
}

.HJZF2_Z_other_87_wrapper {
    display: flex;
    justify-content: space-between;
}

.HJZF2_Z_other_87_left ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.HJZF2_Z_other_87_left ul li {
    flex: 0 0 48%;
    margin-bottom: 20px;
    font-size: 16px;
}

.HJZF2_Z_other_87_left ul li:nth-of-type(3),
.HJZF2_Z_other_87_left ul li:nth-of-type(4) {
    margin-bottom: 0;
}

.HJZF2_Z_other_87_left ul li img {
    margin-bottom: 15px;
    height: 65px;
    transition: all .5s;
}

.HJZF2_Z_other_87_left ul li a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all .5s;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
}

.HJZF2_Z_other_87_left ul li:hover img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.HJZF2_Z_other_87_left ul li:hover a {
    text-decoration: underline;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.HJZF2_Z_other_87_wrapper .HJZF2_Z_other_87_left {
    flex: 0 0 38%;
    width: 38%;
}

.HJZF2_Z_other_87_wrapper .HJZF2_Z_other_87_mid {
    flex: 0 0 35%;
    width: 35%;
}

.HJZF2_Z_other_87_wrapper .HJZF2_Z_other_87_right {
    flex: 0 0 23%;
    width: 23%;
}

/* mid */
.HJZF2_Z_other_87_mid {
    background-color: #fff;
    padding: 20px;
}

.HJZF2_Z_other_87_mid ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.HJZF2_Z_other_87_mid ul li {
    border-bottom: 1px dotted #ccc;
    line-height: 3;
    color: #333;
}
.HJZF2_Z_other_87_mid ul li a{
    color: #333;
    transition: all .5s;
}
.HJZF2_Z_other_87_mid ul li:hover a em{
    text-decoration: underline;
}
.HJZF2_Z_other_87_mid ul li em {
    font-style: normal;
}
.HJZF2_Z_other_87_mid img{
    width: 100%;
}
/* right */
.HJZF2_Z_other_87_right{
    display: flex;
    flex-direction: column;
}
.HJZF2_Z_other_87_right_top{
    margin-bottom: 10px;
}
.HJZF2_Z_other_87_right_top a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: 15px;
    padding-top: 20px;
    overflow: hidden;
} 
.HJZF2_Z_other_87_right_top a h4{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.HJZF2_Z_other_87_right_top a p{
    opacity: 0.8;
    white-space: nowrap;
}
.HJZF2_Z_other_87_right_top img{
    transform: translateX(30px);
    transition: all .5s;
}
.HJZF2_Z_other_87_right_top:hover img{
    transform: translateX(10px);
}
.HJZF2_Z_other_87_right_bottom{
    display: flex;
    flex-direction: column;
}
.HJZF2_Z_other_87_right_bottom a:first-child{
    margin-bottom: 10px;
}
.HJZF2_Z_other_87_right_bottom a{
    transition: all .5s;   
    color: #fff; 
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.HJZF2_Z_other_87_right_bottom a img{
    margin-right: 5px;
}
.HJZF2_Z_other_87_right_bottom a:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}

@media (min-width: 1680px) {
    .container {
        max-width: 1170px;
    }
}
@media(max-width: 1440px) {
    .HJZF2_Z_other_87_right_bottom a{
        padding-left: 5px;
    }
    .HJZF2_Z_other_87_right_bottom a h4{
        font-size: 16px;
    }
    .HJZF2_Z_other_87_right_bottom a p{
        font-size: 14px;
    }
}
@media(max-width: 768px) {
    .HJZF2_Z_other_87_wrapper{
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
    .HJZF2_Z_other_87_wrapper .HJZF2_Z_other_87_left,
    .HJZF2_Z_other_87_wrapper .HJZF2_Z_other_87_mid,
    .HJZF2_Z_other_87_wrapper .HJZF2_Z_other_87_right {
        flex: 0 0 100%;
        width: 100%;
    }
    .HJZF2_Z_other_87_right_bottom a{
        flex: 0 0 49%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .HJZF2_Z_other_87_right_bottom{
        justify-content: space-between;
        flex-direction: row;
    }
    .HJZF2_Z_other_87_right_bottom a img{
        height: 30px;
    }
    .HJZF2_Z_other_87_right_bottom a h4{
        font-size: 14px;
    }
    .HJZF2_Z_other_87_right_bottom a p{
        font-size: 12px;
    }
    .HJZF2_Z_other_87_right_bottom a:first-child{
        margin-bottom: 0;
    }
}