.side{display: none !important; } /*隐藏另一个样式*/
.HJZF_Z_other_HJ07{
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.HJZF_Z_other_HJ07_contact__top{
    width: 45px;
    text-align: center;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    cursor: pointer;
}
.HJZF_Z_other_HJ07_contact__top img{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.HJZF_Z_other_HJ07_contact__top p{
    width: 100%;
    text-align: center;
    line-height: 45px;
    writing-mode: vertical-lr;
}
.HJZF_Z_other_HJ07_contact_left{
    position: absolute;
    top: 0px;
    left: -300px;
    width: 270px;
    transition: all .5s ease;
}
.HJZF_Z_other_HJ07_contact_left.active{
    left: -280px;
}
.HJZF_Z_other_HJ07_contact_left{
    background-color: #fff;
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    overflow: hidden;
}
.HJZF_Z_other_HJ07_contact_left > span{
    display: block;
    padding: 5px 5px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    height: 45px;
    line-height: 35px;
}
.HJZF_Z_other_HJ07_contact_left i{
    background-color: #fff;
    font-size: 20px;
    font-weight: normal;
    padding:5px;
    cursor: pointer;
}
.HJZF_Z_other_HJ07_contact_left ul{
    padding-left: 20px;
    line-height: 45px;
    padding-bottom: 10px;
}
.HJZF_Z_other_HJ07_contact_left ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.HJZF_Z_other_HJ07_contact_left ul li img{
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}
.HJZF_Z_other_HJ07_contact_left ul li span{
    float: left;
    font-size: 18px;
    line-height: 45px;
    color: #333;
}
.HJZF_Z_other_HJ07_contact_left ul li span a{
    color: #333;
}

.HJZF_Z_other_HJ07_to_top{
    cursor: pointer;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
}