.hjzf2_other_41 .index_title{
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.other_41_wrapper img{
    transition: all .5s;
}
.other_41_wrapper img:hover{
    filter: opacity(.8);
}
.other_41_wrapper li{
    margin-bottom: 20px;
}
.other_41_wrapper a{
    color: #333;
}
.other_41_wrapper i{
    font-size: 22px;
    margin-left: 5px;
    line-height: 28px;
}
@media(max-width: 768px) {
    .hjzf2_other_41{
        padding-left: 15px;
        padding-right: 15px;
    }
}