.HJZF2_Z_other_3hj04 {
    width: 100%;
    height: auto;
    margin: auto;  
}
.HJZF2_Z_other_3hj04_body{
	position:relative;
	width:100%;
}
.HJZF2_Z_other_3hj04_title{
	width:100%;
	text-align:center;
    font-style: normal;
}
.HJZF2_Z_other_3hj04_title span{
	font-weight: normal;
	color:#333;
}
.HJZF2_Z_other_3hj04_ms{
	text-align:center;
}
.HJZF2_Z_other_3hj04_ms span{
	color:#797979;
}
.HJZF2_Z_other_3hj04_list{
	width:100%;
	margin-top:40px;
}
.HJZF2_Z_other_3hj04_list .HJZF2_Z_other_3hj04_item{ 
	position:relative;
}
.HJZF2_Z_other_3hj04_list .HJZF2_Z_other_3hj04_itemleft {
	width:100%;
}

.HJZF2_Z_other_3hj04_list .HJZF2_Z_other_3hj04_itemleft img {
    width: 100%;
    height: auto;
}
.HJZF2_Z_other_3hj04_itemright{
	width: 50%;
    padding: 0 5%;
    text-align: left;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	display: flex;
    justify-content: center;
    flex-direction: column;
	height: 100%;
	transform: translate(0,7%);
}
.HJZF2_Z_other_3hj04_itemright .HJZF2_Z_other_3hj04_itemheader{
	text-align: left;
    margin-top: 8px;
}
.HJZF2_Z_other_3hj04_itemright .HJZF2_Z_other_3hj04_itemheader h3 {   
    font-weight: bold;
    font-style: normal;
    color: #f7f7f7;
}
.HJZF2_Z_other_3hj04_itemright .HJZF2_Z_other_3hj04_itemheader h3:hover{ text-decoration:underline; color:#f7f7f7;}
.HJZF2_Z_other_3hj04_itemright .HJZF2_Z_other_3hj04_itemdesc {   
	height:auto;
	overflow:hidden;
    font-weight: normal;
    color: rgba(255,255,255,0.7);
	margin-top:15px;
	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;
	  
}

@media screen and (max-width: 991px){
.HJZF2_Z_other_3hj04_list .HJZF2_Z_other_3hj04_item{
	margin-bottom:40px;
}
}