.hjzf_other_113_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
@media(max-width: 1200px) {
	.hjzf_other_113{
		padding: 0 15px;
	}
	.hjzf_other_113_wrapper{
		margin-top: 40px;
		flex-direction: column;
		align-items: flex-start;
	}
	.hjzf_other_113_wrapper .hjzf_other_113_left{
		margin-bottom: 20px;
	}
}