.HJZF2_Z_other_79_wrapper {
    padding: 30px 15px;
    padding-top: 50px;
    transition: all .5s;
}

.HJZF2_Z_other_79 li {
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.HJZF2_Z_other_79_wrapper img {
    margin-bottom: 15px;
}

.HJZF2_Z_other_79 li .index_sub_title {
    font-weight: bold;
}

.HJZF2_Z_other_79_wrapper_bg {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 99;
}
.HJZF2_Z_other_79 li:hover .HJZF2_Z_other_79_wrapper{
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    transform: translateY(-20px);
}

@media(min-width: 1200px) {
    .HJZF2_Z_other_79_wrapper {
        margin-top: -140px;
    }
}