.HJZF2_Z_other_hj04 {
    width: 100%;
    height: auto;
    margin: auto;
}
.HJZF2_Z_other_hj04_body{
	position:relative;
	width:100%;
}

.HJZF2_Z_other_hj04_title{
	width:100%;
	text-align:left;
	margin-bottom: 5px;
}
.HJZF2_Z_other_hj04_title span{
	font-weight: bold;
	color:#333;
}
.HJZF2_Z_other_hj04_line{
	margin-bottom: 50px;
}
.HJZF2_Z_other_hj04_icon{ 
	position:relative;
}
.HJZF2_Z_other_hj04_icon i{
	transform: rotateY(180deg);
}
.HJZF2_Z_other_hj04_icon:after{
    content: "";
    position: absolute;
    bottom: 50%;
    left: 26px;
    border-width: 0;
    top: 50%;
	width: 60px;
    border-style: solid;
    border-bottom-width: 2px;
}
.HJZF2_Z_other_hj04_list .HJZF2_Z_other_hj04_item{ 
	position:relative;
	padding: 0;
    clear: both;
    min-height: 1em;
    margin: 0 0 30px;
    overflow: visible;
	font-size: 63px;
}
.HJZF2_Z_other_hj04_list .HJZF2_Z_other_hj04_itemleft {
    margin-right: 25px;
    position: relative;
    z-index: 9;
}

.HJZF2_Z_other_hj04_list .HJZF2_Z_other_hj04_itemleft img {
    width: 63px;
    height: 73px;
}
.HJZF2_Z_other_hj04_itemright .HJZF2_Z_other_hj04_itemheader h3 {   
    font-weight: bold;
}
.HJZF2_Z_other_hj04_itemright .HJZF2_Z_other_hj04_itemdesc {    
    margin-top: 15px;
    font-weight: normal;
    color: #85868c;
}
.HJZF2_Z_other_hj04_icon_list{
	border-right-width: 1px;
    border-right-style: dashed;
    border-color: #e97d1f;
	height: 100%;
    position: absolute;
    top: .5em;
    z-index: 1;
	left:31px;
}
.HJZF2_Z_other_hj04_list li:last-child .HJZF2_Z_other_hj04_icon_list{
	display:none;
}
.HJZF2_Z_other_hj04_right{
	width:100%;
}
.HJZF2_Z_other_hj04_contact{
	width:100%;
	margin-bottom:50px;
}
.HJZF2_Z_other_hj04_contact ul li{ margin-bottom:25px;}
.HJZF2_Z_other_hj04_contact .aio-icon-left{
    border-style: solid;
    border-width: 2px;
    width: 54px;
    height: 54px;
	text-align:center;
    line-height: 54px;
    border-radius: 0px;
    font-size: 24px;
    display: inline-block;
	margin-right:15px;
	vertical-align: middle;
}
.HJZF2_Z_other_hj04_contact .aio-icon-left i.fa-mobile{
	font-size: 34px;
	vertical-align: top;
    margin-top: 8px;
}
.HJZF2_Z_other_hj04_contact .aio-ibd-block{
	display: inline-block;
    vertical-align: middle;
}
.HJZF2_Z_other_hj04_contact .aio-ibd-block .aio-icon-header h3{
	font-size: 14px;
	font-weight:bold;
    line-height: 24px;
}
.HJZF2_Z_other_hj04_contact .aio-ibd-block .aio-icon-description span a,.HJZF2_Z_other_hj04_contact .aio-ibd-block .aio-icon-description span{
	font-weight:bold;
	color:#333;
}
.HJZF2_Z_other_hj04_inquiry{
	width:100%;
}
.HJZF2_Z_other_hj04_inquiry #index_inquiry{width: 100%; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2_Z_other_hj04_inquiry .inquiry_box{
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 15px 5px 15px;
    border-color: rgba(119,119,119,.2);
    background-color: #fcfcfc;
	border:1px solid #e0e1e1;
	position:relative;
}
.HJZF2_Z_other_hj04_inquiry .inquiry_box.inquiry_boxTextarea{height: 60px;margin-bottom: 18px;}
.HJZF2_Z_other_hj04_inquiry .inquiry_boxHalf{width: 180px;}
.HJZF2_Z_other_hj04_inquiry .inquiry_box input,.inquiry_box textarea{background: transparent;outline: none;border: none;height: 30px;width: 100%;color: #333;}
.HJZF2_Z_other_hj04_inquiry .inquiry_box input::-webkit-input-placeholder,.inquiry_box textarea::-webkit-input-placeholder{
    color: #8b9091;
}
.HJZF2_Z_other_hj04_inquiry .inquiry_box input::-moz-placeholder,.inquiry_box textarea::-moz-placeholder{
    color: #8b9091;
}
.HJZF2_Z_other_hj04_inquiry .inquiry_box textarea{height: 50px;margin-top: 10px;}

.HJZF2_Z_other_hj04_inquiry .inquiry_boxCode{border-bottom: none;margin-bottom: 20px;}
.HJZF2_Z_other_hj04_inquiry .inquiry_boxCode input{width: 230px;border-bottom: 1px solid rgba(255,255,255,0.6)}
.HJZF2_Z_other_hj04_inquiry #index_inquiry div:last-child.inquiry_box{ padding:0; border:none; background:none;}
.HJZF2_Z_other_hj04_inquiry .inquiry_box #inquiry_box6{width: 115px; padding: 10px 18px;}
.HJZF2_Z_other_hj04_inquiry .inquiry_box #inquiry_box6 input{color: #fff;font-size: 14px;cursor: pointer; line-height:20px; height:20px; text-transform:uppercase;}
.HJZF2_Z_other_hj04_inquiry #index_inquiry .yz_alert{top:10px;right: 10px; position:absolute; z-index:2;}
