.hjzf2_other_60_top video{
    max-width: 100%;
    object-fit: fill;
}
.little-list.hjzf2_other_60_thumbs .swiper-wrapper{
    justify-content: center;
}
.hjzf2_other_60_thumbs img{
    margin-bottom: 10px;
    cursor: pointer;
}

@media(min-width: 1200px) {
    .hjzf2_other_60_top{
        margin-bottom: 30px;
    }
}