.hjzf2_other_33_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 9;
}
.hjzf2_other_33_ul{
    display: flex;
    justify-content: center;
}
.hjzf2_other_33_ul li{
    flex: 1;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.hjzf2_other_33_ul dt{
    margin-top: 20px;
    margin-bottom: 15%;
}
.hjzf2_other_33_ul span{
    font-size: 60px;
    letter-spacing: -0.25px;
    margin-bottom: 8%;
}
.hjzf2_other_33_ul p{
    color: #888;
}
.hjzf2_other_33_bottom{
    display: flex;
    justify-content: center;
}
.hjzf2_other_33_bottom li{
    flex: 0 0 50%;
}
.hjzf2_other_33_inna{
    position: absolute;
    z-index: 8;
    left: 15px;
    top: 0;
    right: 15px;
    bottom: 0;
    justify-content: center;
    display: flex;
}
.hjzf2_other_33_inna div{
    flex:1;
    position: relative;
    display: block;
    height: 100%;
}
.hjzf2_other_33_inna div:after{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #eee;
    right: 0;
    top: 0;
    content:'';
}
.hjzf2_other_33_bottom li{
    position: relative;
    overflow: hidden;
}
.hjzf2_other_33_bottom li:first-child{
    padding-right: 15px;
}
.hjzf2_other_33_bottom li:last-child{
    padding-left: 15px;
}
.hjzf2_other_33_bottom li img{
    width: 100%;
}
.hjzf2_other_33_bottom li span{
    position: absolute;
    left: 3vw;
    top: 50%;
    transform: translate(0, -50%);
}


@media(min-width: 1200px) {
    .hjzf2_other_33{
        height: 100vh;
    }
    .hjzf2_other_33_wrapper{
        height: 100vh ;
    }
    
}

@media (max-width: 1200px){
    .hjzf2_other_33{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hjzf2_other_33_ul span{
        font-size: 32px;
    }
    .hjzf2_other_33_ul dt{
        margin-top: 15px;
        margin-bottom: 10%;
    }
    .hjzf2_other_33_bottom{
        margin-top: 15px;
        flex-direction: column;
    }
    .hjzf2_other_33_bottom li{
        margin-bottom: 10px;
    }
    .hjzf2_other_33_bottom li{
        padding: 0 !important;
    }
}
@media (max-width: 768px) {
    .hjzf2_other_33{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hjzf2_other_33_ul{
        flex-wrap: wrap;
    }
    .hjzf2_other_33_ul li{
        flex: 0 0 50%;
        margin-bottom: 30px;
    }
    .hjzf2_other_33_ul li:nth-child(2n-1){
        border-right: 1px solid #eee;
    }
    .hjzf2_other_33_inna{
        display: none;
    }
}


.other_33_new_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.other_33_new_title .index_title{
    text-align: right;
    padding-right: 1.5vw;
    position: relative;
}
.other_33_new_title .index_title:before{
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    content:'';
    background-color: #999;
}
.other_33_new_title .index_sub_title{
    padding-left: 1.5vw;
    letter-spacing: 3px;
}
.other_33_new_title span{
    flex: 0 0 50%;
}