.HJZF2_Z_other_88{
    padding-top: 40px;
    background-color: #fbfbfb;
}
.HJZF2_Z_other_88__video iframe{ height:900px !important;}
@media(min-width:992px) and (max-width:1365px){
	.HJZF2_Z_other_88__video iframe{ height:500px !important;}
}
@media(max-width:991px){
	.HJZF2_Z_other_88__video iframe{ height:300px !important;}
}