.HJZF2_Z_other_86{
    padding: 15px 0;
}
.p-15{
    padding: 0 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.HJZF2_Z_other_86_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.HJZF2_Z_other_86_list li{
    flex: 0 0 24.5%;
    width: 24.5%;
    position: relative;
    margin-bottom: 25px;
}
.HJZF2_Z_other_86_list li span{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    border: 2px solid #333;
    color: #333;
    display: inline-block;
    padding: 7px 30px;
    border-radius: 20px;
    transition: all .5s;
    white-space: nowrap;
}
.HJZF2_Z_other_86_list li:hover span{
    background-color: #333;
    color: #fff;
}
.HJZF2_Z_other_86_list li:nth-of-type(2n):hover a img{
    opacity: .6;
}
.HJZF2_Z_other_86_list li img{
    max-width: 100%;
    transition: all .5s;
}

@media(max-width: 1200px) {
    .HJZF2_Z_other_86_list li{
        flex: 0 0 49%;
        width: 49%;
    }
    
}