.hjzf2_other_67_container .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.hjzf2_other_67_pagination{
    text-align: center;
    margin-top: 70px;
}
.hjzf2_other_67_container .swiper-slide{
    transition: all .5s;
    transform: scale(1);
}
.hjzf2_other_67_container .swiper-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.hjzf2_other_67_container .swiper-slide-active{
    box-shadow: 0 0 10px 0px rgba(0,0,0,.1);
    transform: scale(1.2);
    z-index: 9;
}

@media(max-width: 768px) {
    .hjzf2_other_67_container .swiper-slide-active{
        transform: scale(1);
    }
    .hjzf2_other_67_pagination{
        text-align: center;
        margin-top: 20px;
    }
}