.hjzf2_other_65_wrapper li{
    margin-bottom: 40px;
}
.hjzf2_other_65_wrapper li a{
    display: flex;
}
.hjzf2_other_65_wrapper_img{
    margin-right: 30px;
    max-width: 30%;
    flex-shrink: 0;
}
.hjzf2_other_65_wrapper_img img{width: 100%;}
.hjzf2_other_65_wrapper li:last-child{
    margin-bottom: 0;
}
.hjzf2_other_65_wrapper_right .index_sub_title{
    margin-bottom: 10px;
}
.hjzf2_other_65_wrapper_right .index_text{
    margin-bottom: 20px;
}
.hjzf2_other_65_wrapper_right span{
    border: 1px solid #ccc;
    margin-right: 15px;
    color: #fff;
    transition: all .5s;
    display: inline-block;
}
.hjzf2_other_65_wrapper_right{
    padding-bottom: 18px;
    border-bottom: 1px solid #C7C7C7;
}
.hjzf2_other_65_wrapper_right .index_btn{
    padding: 8px 20px;
}
@media(max-width: 1200px) {
    .hjzf2_other_65_wrapper_right span{
        float: left;
        max-width: 48%;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .hjzf2_other_65_wrapper_right span:first-of-type{
        margin-right: 2%;
    }
}
@media(max-width: 768px) {
    .hjzf2_other_65_wrapper li a{
        flex-direction: column;
    }
    .hjzf2_other_65_wrapper_img{
        max-width: 100%;
        margin-bottom: 10px;
		margin-right:0;
    }
    .hjzf2_other_65_wrapper_img img{
        max-width: 100%;
    }
    .hjzf2_other_65_wrapper_right span{
        width: 100%;
    }
    .hjzf2_other_65_wrapper_right span:last-of-type{margin-right: 0;}
}