.other_38_wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.hjzf2_other_38 .index_title{
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.other_38_wrapper a{
    transition: all .3s;
    color: #333;
}
.other_38_wrapper li p{
    filter: opacity(.8);
}
.other_38_wrapper li{
    margin-bottom: 30px;
}
@media(max-width: 1200px) {
    .other_38_wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width:1300px) {
    .other_38_wrapper a{
        padding-left: 0;
        padding-right: 30px;
    }
}
@media(max-width:768px) {
    .hjzf2_other_38{
        padding-left: 15px;
        padding-right: 15px;
    }
}