.ruiyi_title {
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
}

.ruiyi_title:after,
.ruiyi_title:before {
	position: absolute;
	display: block;
	content: '';
	width: 1px;
	height: 42px;
	background-color: #9d9d9d;
	top: 30px;
}
.ruiyi_title:before {
	left: 0;
}
.ruiyi_title:after {
	right: 0;
}
.ruiyi_title div {
	position: relative;
}
.ruiyi_title .index_title:before,
.ruiyi_title .index_title:after,
.ruiyi_title .index_text:after,
.ruiyi_title .index_text:before {
	position: absolute;
	display: block;
	content: '';
	width: 100px;
	height: 1px;
	background-color: #9d9d9d;
	top: 50%;
}
.ruiyi_title .index_text:after,
.ruiyi_title .index_text:before {
	width: 15px;
}
.ruiyi_title .index_title:before,
.ruiyi_title .index_text:before {
	left: 0;
}
.ruiyi_title .index_title:after,
.ruiyi_title .index_text:after {
	right: 0;
}

.ruiyi_title .index_text {
	padding: 0 30px;
}

.ruiyi_title .index_title {
	padding: 0 120px;
	text-shadow: 2px 1px 4px rgba(0, 0, 0, .3);
}

@media(max-width: 1365px) {

	.ruiyi_title:after,
	.ruiyi_title:before {
		top: 23px;
		height: 35px;
	}
}

@media(max-width: 767px) {

	.ruiyi_title .index_title:before,
	.ruiyi_title .index_title:after {
		width: 40px;
	}
	.ruiyi_title .index_title{
		padding: 0px;
	}
	.ruiyi_title:after,
	.ruiyi_title:before {
		top: 18px;
		height: 29px;
	}

	.ruiyi_title .index_text:after,
	.ruiyi_title .index_text:before {
		top: 11px;
	}
}

.HJZF2_Z_other_107 {
	overflow: hidden;
}

.HJZF2_Z_other_107_wrapper li .index_sub_title {
	white-space: nowrap;
	text-align: center;
}
.HJZF2_Z_other_107_wrapper li> .img-box{
	width: 78%;
    height: 0;
    padding-bottom: 65%;    
    border-radius: 50%;
    box-shadow: 0 0 28px 3px#bbbebf;
	overflow: hidden;
}
.HJZF2_Z_other_107_wrapper li> .img-box img{
	width: 100%;
	height: auto;
}
.HJZF2_Z_other_107_wrapper li>img {
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 100%;
}

.HJZF2_Z_other_107_wrapper li .img-par {
	margin-top: 15px;
	margin-bottom: 25px;
}

.HJZF2_Z_other_107_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.HJZF2_Z_other_107_wrapper:after {
	display: block;
	content: '';
	position: absolute;
	border: 1px dashed #bfbfbf;
	width: 120%;
	bottom: 87.5px;
	left: -10%;
	z-index: 2;
}

.HJZF2_Z_other_107_wrapper .yuan {
	width: 40px;
	position: relative;
	margin-bottom: 20px;
	z-index: 9;	
}

.HJZF2_Z_other_107_wrapper .yuan:before {
	left: 0;
	transform: translateX(-100%);
}

.HJZF2_Z_other_107_wrapper .yuan:after {
	right: 0;
	transform: translateX(100%);
}

.HJZF2_Z_other_107_wrapper span {
	display: block;
	width: 40px;
	height: 15px;
	position: relative;
	margin: 0 auto;
}

.HJZF2_Z_other_107_wrapper span:before,
.HJZF2_Z_other_107_wrapper span:after {
	position: absolute;
	content: '';
	display: block;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.HJZF2_Z_other_107_wrapper span:before {
	width: 15px;
	height: 15px;
	opacity: .5;
}

.HJZF2_Z_other_107_wrapper span:after {
	width: 7px;
	height: 7px;
}

.HJZF2_Z_other_107_wrapper li {
	flex: 0 0 13%;
	width: 13%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.HJZF2_Z_other_107_wrapper li:hover .hover {
	opacity: 1;
	visibility: visible;
}

@media(max-width: 1200px) {
	.HJZF2_Z_other_107_wrapper:after {
		display: none;
	}

	.HJZF2_Z_other_107_wrapper .yuan {
		margin-bottom: 10px;
	}

	.HJZF2_Z_other_107_wrapper li .img-par {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.HJZF2_Z_other_107_wrapper li {
		flex: 0 0 33.333333%;
		position: relative;
	}

	.HJZF2_Z_other_107_wrapper li:before,.HJZF2_Z_other_107_wrapper li:after {
		display: block;
		content: '';
		position: absolute;
		border: 1px dashed #bfbfbf;
		width: calc(50% - 15px);
		bottom: 44.5px;		
		z-index: 2;
	}
	.HJZF2_Z_other_107_wrapper li:before{
		left: 0;
	}
	.HJZF2_Z_other_107_wrapper li:after{
		right: 0;
	}
}
@media(min-width: 768px) {
	.hjzf2_news_32_wrapper_btn_pagination{
		display: none;
	}
}
@media(max-width: 767px) {
	.HJZF2_Z_other_107_wrapper li {
		flex: 0 0 50%;
		width: 50%;
	}
	.HJZF2_Z_other_107_wrapper li > img{
		width: 80%;
	}
	.ruiyi_title .index_title:before, .ruiyi_title .index_title:after, .ruiyi_title .index_text:after, .ruiyi_title .index_text:before,.ruiyi_title:after, .ruiyi_title:before,.HJZF2_Z_other_107_wrapper li .img-par
	{
		display: none;
	}
	.HJZF2_Z_other_107_wrapper li .index_sub_title{
		font-size: 14px;
	}
	.HJZF2_Z_other_107_wrapper li> .img-box{
		margin-bottom: 20px;
	}
	.HJZF2_Z_other_107_wrapper .yuan {
		margin-bottom: 16px;
	}
}