@media(min-width: 1200px) {
    .HJZF2_Z_other_78_right_wrapper{
        width: 80%;
        float: right;
        background-color: #fff;
        box-shadow: 0 5px 30px #c1c1c1;
    }
    .HJZF2_Z_other_78_left p{
        margin-top: 5vw;
    }
    .HJZF2_Z_other_78_right{
        margin-top: -180px;
        position: relative;
        z-index: 9;
    }
    .HJZF2_Z_other_78_right_wrapper:after{
        display: block;
        position: absolute;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
        bottom: -30px;
        content:'';
    }
    .HJZF2_Z_other_78_right_wrapper{
        padding: 60px 0;
        padding-bottom: 0;
        position: relative;
    }
    .HJZF2_other_78_pagination{
        position: absolute;
        left: 0;
        bottom: 40px;
        margin-top: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid #ccc;
        min-width: 180px;
    }
}
.HJZF2_Z_other_78_right{
    position: relative;
}
.HJZF2_Z_other_78_right_wrapper .index_title{
    padding-left: 20px;
    padding-right: 20px;
}
.HJZF2_Z_other_78_left a{
    display: inline-block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    color: #fff;
}

.HJZF2_Z_other_78_left a img{
    margin-left: 20px;
}
.HJZF2_Z_other_78_right_wrapper .hx{
    display: block;
    width: 120px;
    height: 4px;
    background-color: #333;
    margin-left: 20px;
    bottom: 40px;
    margin-bottom: 20px;
}

.HJZF2_other_78_pagination span{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border: 3px solid transparent;
    border-radius: 50%;
}
.HJZF2_other_78_pagination span.swiper-pagination-bullet-active{
    background-color: transparent;
}
.HJZF2_Z_other_78_right_container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .HJZF2_other_78_pagination{
        text-align: center;
    }
    .HJZF2_Z_other_78_left{
        margin-bottom: 20px;
    }
    .HJZF2_Z_other_78_right_wrapper .index_title{
        padding-left: 0;
    }
    .HJZF2_Z_other_78_right_wrapper .hx{
        margin-left: 0;
    }
}