.new_hjzf_other-14 .left_story {
	margin-top: 1.5rem;
	height: 583px;
}

.new_hjzf_other-14 .left_story img {
	overflow: hidden;
}

.new_hjzf_other-14 .story_title {
	color: #003333;
	font-size: 36px;
	position: relative;
	left: -20px;
}

.new_hjzf_other-14 .title_starp:after {
	content: "";
	display: block;
	background: url("img/title_starp.png");
	width: 157px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.new_hjzf_other-14 .story_content_title {
	font-size: 15px;
	line-height: 26px;
	padding-top: 10px;
}

.new_hjzf_other-14 .story_content_detail {
	color: #666;
}

.new_hjzf_other-14 .story_one_content {
	position: relative;
	margin: 30px 0px;
}

.new_hjzf_other-14 .story_one_content:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: -25px;
	top: 2.5px;
}

.new_hjzf_other-14__gushi {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.new_hjzf_other-14 .story_container {
	margin-top: 1.5rem
}

@-webkit-keyframes anim-ripple {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(2, 2, 1);
		transform: scale3d(2, 2, 1)
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes anim-ripple {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(2, 2, 1);
		transform: scale3d(2, 2, 1)
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@-webkit-keyframes loadRotate {
	from {
		-webkit-transform: rotateZ(0deg);
	}

	to {
		-webkit-transform: rotateZ(360deg);
	}
}

@keyframes loadRotate {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

@-webkit-keyframes loadRotate2 {
	from {
		-webkit-transform: rotateZ(0deg);
	}

	to {
		-webkit-transform: rotateZ(-360deg);
	}
}

@keyframes loadRotate2 {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(-360deg);
	}
}

.xuanzhuan {
	position: absolute;
	z-index: 1;
	margin: auto;
	color: #fff;
	width: 86%;
	margin: auto;
	left: 0px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 0px;
}

.xuanzhuan1 {
	float: left;
	position: relative;
}

.xuanzhuan1-1 {
	-webkit-animation: loadRotate 30s linear infinite;
	-webkit-animation-fill-mode: both;
	animation: loadRotate 30s linear infinite;
	animation-fill-mode: both;
}

.xuanzhuan1-1 img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.dian {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin: -12px;
	cursor: pointer;
	text-align: center;
	transition: all .5s ease-in-out;
}

.quan1 {
	-webkit-transform: rotate(72deg) translate(22em) rotate(-72deg);
	-ms-transform: rotate(72deg) translate(22em) rotate(-72deg);
	transform: rotate(72deg) translate(22em) rotate(-72deg);
}

.quan2 {
	-webkit-transform: rotate(144deg) translate(22em) rotate(-144deg);
	-ms-transform: rotate(144deg) translate(22em) rotate(-144deg);
	transform: rotate(144deg) translate(22em) rotate(-144deg);
}

.quan3 {
	-webkit-transform: rotate(216deg) translate(22em) rotate(-216deg);
	-ms-transform: rotate(216deg) translate(22em) rotate(-216deg);
	transform: rotate(216deg) translate(22em) rotate(-216deg);
}

.quan4 {
	-webkit-transform: rotate(288deg) translate(22em) rotate(-288deg);
	-ms-transform: rotate(288deg) translate(22em) rotate(-288deg);
	transform: rotate(288deg) translate(22em) rotate(-288deg);
}

.quan5 {
	-webkit-transform: rotate(360deg) translate(22em) rotate(-360deg);
	-ms-transform: rotate(360deg) translate(22em) rotate(-360deg);
	transform: rotate(360deg) translate(22em) rotate(-360deg);
}

.dianxuanzhong {
	width: 100px;
	height: 100px;
	margin: -50px
}

.dianxuanzhong .dian1-1 {
	background: transparent;
	opacity: 1;
}

.dianxuanzhong .dian1 {
	width: 100%;
	height: 100%;
}

.dianzong {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
	border: 1px solid #fff;
}

.dian1 {
	margin: 0;
	padding: 0;
	background: #222;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 8px;
	height: 8px;
	transition: all .5s ease-in-out;
}

.dian1-1 {
	-webkit-animation: loadRotate2 30s linear infinite;
	-webkit-animation-fill-mode: both;
	animation: loadRotate2 30s linear infinite;
	animation-fill-mode: both;
	position: absolute;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
	border-radius: 50%;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.dian:after,
.dian:before {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 50%;
	-webkit-animation: anim-ripple 2s ease-out infinite forwards;
	animation: anim-ripple 2s ease-out infinite forwards;
}

.xuanzhuan1-2 {
	width: 375px;
	height: 375px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.xuanzhuan1-2-1 {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0;
	visibility: hidden;
}

.xuanzhuan1-2 .xuanzhuan1-2-1:nth-child(1) {
	opacity: 1;
	visibility: visible;
}

.xuanzhuan1-2-1 img {
	width: 100%;
	height: auto;
}

.xuanzhuan1-2-1-1 {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0px;
}

.xuanzhuan1-2-1-2 {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: bold;
	text-align: center;
	font-size: 36px;
}

.xuanzhuan1-2-1-2 p {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0px;
	width: 100%;
	transform: translate(0, -50%);
}

.xuanzhuan2 {
	width: 32%;
	line-height: 30px;
	position: absolute;
	z-index: 1;
	top: 50%;
	height: 120px;
	right: 0px;
	transform: translate(0, -50%);
}

.xuanzhuan2-1 {
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0px;
}

.xuanzhuan2 .xuanzhuan2-1:nth-child(1) {
	opacity: 1;
	visibility: visible;
}