.HJZF_Z_other_HJ04{
    margin: auto;
}
.HJZF_Z_other_HJ04_swiper{width: 100%;}
.HJZF_Z_other_HJ04_swiper img{
    width: 100%;
}
.por{
    position: relative;
}
.HJZF_Z_other_HJ04_swiper_slide_next,.HJZF_Z_other_HJ04_swiper_slide_prev{
    width: 32px;
    height: 32px;
    margin-top: 0;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    transition: all .5s ease;
    font-size: 18px;
}
.HJZF_Z_other_HJ04_swiper_slide_prev {
    left: -35px;
}
.HJZF_Z_other_HJ04_swiper_slide_next{
    right:  -35px;
}
@media (max-width: 1200px) {
    .HJZF_Z_other_HJ04{
        padding: 40px 0;
    }
}
@media (max-width:576px){
    .HJZF_Z_other_HJ04_swiper_slide_next{right: 0;}
    .HJZF_Z_other_HJ04_swiper_slide_prev{left: 0;}
}
@media(min-width: 1366px) {
    .HJZF_Z_other_HJ04_swiper_slide{
        width: 192px;
    }
}
@media(min-width: 1920px) {
    .HJZF_Z_other_HJ04_swiper_slide{
        width: 232px;
    }
}