.HJZF_Z_other_HJ05_box a.more {
    padding: 10px 50px;
    color: #fff;
    display: inline-block;
}

.HJZF_Z_other_HJ05_box {
    padding: 40px;
}

@media (min-width: 1200px) {
    .HJZF_Z_other_HJ05 {
        position: relative;
        min-height: 250px;
    }

    .HJZF_Z_other_HJ05_box {
        position: absolute;
        padding: 40px;
        width: 600px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(min-width: 1441px) and (max-width: 1600px) {
    .HJZF_Z_other_HJ05_box {
        width: 460px;
        padding: 30px;
    }
}

@media (max-width:1366px) {
    .HJZF_Z_other_HJ05_box {
        padding: 20px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1)
    }
}

@media (max-width: 1199px) {
    .HJZF_Z_other_HJ05_box a.more {
        padding: 10px 20px;
    }

    .HJZF_Z_other_HJ05_box {
        margin-bottom: 15px;
    }
}