.d-block {
    display: block;
}

.hjzf2_other_45_title .index_sub_title {
    font-style: italic;
}

.hjzf2_other_45_title .index_title {
    padding-right: 30px;
}
.hjzf2_other_45_title .index_title img{
    display: inline-block;
}

.hjzf2_other_45_title .index_text {
    padding-left: 30px;
}

.hjzf2_other_45_title .index_title:after {
    position: absolute;
    display: block;
    right: -1px;
    top: 5%;
    height: 70%;
    width: 3px;
    content: '';
    background-color: #339cee;
}

/* middle */
.hjzf2_other_45_mid {
    position: relative;
    min-height: 100px;
    margin-bottom: 30px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.hjzf2_other_45_swiper img {
    border-radius: 50%;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0.6;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}
.hjzf2_other_45_swiper .swiper-slide-active img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 1;
}
.hjzf2_other_45_swiper .swiper-slide{padding: 5px;}

.hjzf2_other_45_swiper_next {
    right: -70px;
    background: none;
}

.hjzf2_other_45_swiper_prev {
    left: -70px;
    background: none;
}

.hjzf2_other_45_swiper_next,
.hjzf2_other_45_swiper_prev {
    width: 45px;
    height: 45px;
    margin-top: -25px;
    background-color: #fff;
    font-size: 18px;
    opacity: 1 !important;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
}

/* bottom */
.hjzf2_other_45_bottom_img{
    position: relative;
}
.hjzf2_other_45_bottom_img:after{
    position: absolute;
    width: 90px;
    height: 45px;
    content:'';
    left: -100px;
    bottom: -60px;
}
.hjzf2_other_45_bottom .info {
    position: relative;
}

.hjzf2_other_45_bottom .info a.mid {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hjzf2_other_45_bottom .info a.mid:before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    content: '';
}

.hjzf2_other_45_bottom .info p {
    width: 50%;
    padding-left: 30px;
    padding-top: 30px;
    color: #fff;
    min-height: 94px;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}

.hjzf2_other_45_bottom .info span {
    position: relative;
}

.hjzf2_other_45_bottom .info span:before {
    display: block;
    position: absolute;
    z-index: 1;
    left: -10px;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #ccc;
    content: '';
}

.hjzf2_other_45_bottom .info i {
    position: absolute;
    top: 25px;
    right: 15px;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}

.hjzf2_other_45_bottom .info em {
    position: relative;
    z-index: 9;
    display: block;
    margin-top: 20px;
    padding-left: 30px;
    color: #fff;
    font-style: normal;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}

.hjzf2_other_45_bottom .info:hover p,
.hjzf2_other_45_bottom .info:hover em {
    margin-left: 10px;
}

.hjzf2_other_45_bottom .info:hover i {
    margin-right: 10px;
}

.hjzf2_other_45_bottom li {
    margin-bottom: 15px;
}

@media(max-width: 1200px) {
    .hjzf2_other_45_title .index_title {
        text-align: center !important;
    }

    .hjzf2_other_45_title .index_text {
        padding-left: 15px;
    }

    .hjzf2_other_45_title .index_sub_title {
        text-align: left !important;
    }
}

@media(max-width:992px) {
    .hjzf2_other_45_title .index_title:after {
        display: none;
    }
}

@media(max-width:768px) {
    .hjzf2_other_45_title .index_sub_title{
        font-size: 14px;
        line-height: 24px;
    }
    .hjzf2_other_45_bottom .info p {
        padding-left: 15px;
        padding-top: 15px;
    }
    
    .hjzf2_other_45_bottom .info i {
        width: 30px;
        height: 30px;
    }

    .hjzf2_other_45_bottom .info i img {
        width: 100%;
    }

    .hjzf2_other_45_swiper_next {
        right: -40px;
        background: none;
    }

    .hjzf2_other_45_swiper_prev {
        left: -40px;
        background: none;
    }
    .hjzf2_other_45_bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .hjzf2_other_45_bottom:before,.hjzf2_other_45_bottom:after{
        display: none;
    }
    .hjzf2_other_45_bottom li{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(50% - 7.5px);
                flex: 0 0 calc(50% - 7.5px);
        padding: 0;
    }
    
}