.hjzf_other_114_ico li{
	margin: 0 2vw;
	margin-bottom: 20px;
	cursor: pointer;
}
.hjzf_other_114_ico li span{
	position: relative;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.hjzf_other_114_ico{
	display: flex;
	justify-content: center;
	align-items: center;
}
.hjzf_other_114_ico li:hover span .hover,
.hjzf_other_114_ico li.on span .hover{
	opacity: 1;
}
.hjzf_other_114 .other_114_right a{
	color: #fff;
}
.hjzf_other_114 .other_114_right a img{
	max-width: 30px;
}
.other_114_right .index_title{
	text-align: center;
}
.other_114_right_list li{
	line-height: 2;
	margin-bottom: 10px;
}
.other_114_right_list li a{
	color: #333;
	transition: all .5s;
	font-size: 16px;
}
.other_114_bottom_wrapper{
	display: none;
}
.other_114_bottom_wrapper.on{
	display: block;
}
@media(min-width: 1200px) {
	.other_114_right{
		padding-right: 100px;
		text-align: right;
		margin-top: 30px;
	}
	.hjzf_other_114_ico{
		margin-bottom: 40px;
	}
	.other_right_a{
		width: 70%;
		float: right;
		text-align: center;
	}
}
@media(max-width: 1199px) {
	.other_114_right {
		text-align: left;
		margin-bottom: 20px;
	}
}