.hjzf_other_112_wrapper{
	position: relative;
	display: inline-block;
}
.hjzf_other_112_wrapper span{
	position: absolute;
	width: 235px;
	height: 45px;
}
.hjzf_other_112_wrapper span a{
	display: block;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.hjzf_other_112_wrapper span.other_112_1{
	left: 49%;
	top: 8.5%;
}
.hjzf_other_112_wrapper span.other_112_2{
	left: 17%;
    top: 24%;
}
.hjzf_other_112_wrapper span.other_112_3{
	left: 63.5%;
    top: 20%;
}
.hjzf_other_112_wrapper span.other_112_4{
	left: 2.5%;
    bottom: 24%;
}
.hjzf_other_112_wrapper span.other_112_5{
	right: 1.5%;
    bottom: 27%;
}
@media(max-width: 1365px) {
	.hjzf_other_112_wrapper span{
		width: 150px;
		height: 35px;
	}
}
@media(max-width: 767px) {
	.hjzf_other_112_wrapper span{
		width: 15vw;
		height: 3vw;
	}
}