.hjzf2_z__other-9 {
    width: 100%;
    margin: auto;
    height: auto;
    padding-top: 60px;
}

.hjzf2_z__other-9__titlewrap {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.hjzf2_z__other-9__maintitle {
    color: #333;
    font-weight: normal;
    font-style: normal;
}

.hjzf2_z__other-9__futitle {
    color: #797979;
    font-weight: normal;
}

.hjzf2_z__other-9__imgwrap {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

.hjzf2_z__other-9__imgitem {
    flex-grow: 1;
    flex-shrink: 1;
}

.hjzf2_z__other-9__imgitem img {
    width: 100%;
}

.hjzf2_z__other-9__contactwrap {
    width: 100%;
    background: #383c55
}

.hjzf2_z__other-9__contactitembox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

.hjzf2_z__other-9__contact_item {
    width: 100%;
    padding: 40px 20px 40px 45px;
    text-align: left;
    margin: 0 auto;
    color: #fff;
}

.hjzf2_z__other-9__contact_item .fa {
    font-size: 24px;
    opacity: 0.5;
    margin-left: 10px;
    line-height: 30px;
    margin-bottom: 10px;
}

.hjzf2_z__other-9__contact_item .hjzf2_z__other-9__contact_text, .hjzf2_z__other-9__contact_item .hjzf2_z__other-9__contact_text a {   
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 15px;
}
.hjzf2_z__other-9__contact_item .hjzf2_z__other-9__contact_text a {
    font-size: inherit;
}
.hjzf2_z__other-9__contact_text2 {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

.hjzf2_z__other-9__contact_item:first-child {
    background: #df504b;
}

.hjzf2_z__other-9__contact_item:nth-child(2) {
    background: #1a61a6
}

.hjzf2_z__other-9__contact_item:nth-child(3) {
    background: #384069
}

.hjzf2_z__other-9__contact_item:nth-child(4) {
    background: #44afae
}

@media screen and (max-width: 991px) {
    .hjzf2_z__other-9__imgwrap{margin-bottom: 30px;flex-wrap: wrap;}

    .hjzf2_z__other-9__contact_item {
        width: 100%;
    }
    .hjzf2_z__other-9__contactitembox{flex-wrap: wrap}
}
@media screen and (max-width: 576px){
    .hjzf2_z__other-9__imgitem{width: 100%}
    .hjzf2_z__other-9__contactwrap{padding: 20px 0}
    .hjzf2_z__other-9__titlewrap{margin-bottom: 20px;}
}