.HJZF2_Z_other_hj03 {
    width: 100%;
    height: auto;
    margin: auto;    
}
.HJZF2_Z_other_hj03_body{
	position:relative;
	border-top-width: 9px !important;
    border-right-width: 9px !important;
    border-bottom-width: 9px !important;
    border-left-width: 9px !important;
    padding-top: 60px !important;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    border-left-color: rgba(255,255,255,0.3) !important;
    border-left-style: double !important;
    border-right-color: rgba(255,255,255,0.3) !important;
    border-right-style: double !important;
    border-top-color: rgba(255,255,255,0.3) !important;
    border-top-style: double !important;
    border-bottom-color: rgba(255,255,255,0.3) !important;
    border-bottom-style: double !important;
	margin:0 15px;
}
.HJZF2_Z_other_hj03_left{
	padding-bottom: 50px;
}
.HJZF2_Z_other_hj03_title{
	width:100%;
	text-align:left;
	margin-bottom: 15px;
}
.HJZF2_Z_other_hj03_title span{
	font-weight: bold;
    color: #ffffff;	
}
.HJZF2_Z_other_hj03_line{
	margin-bottom: 35px;
}
.HJZF2_Z_other_hj03_line span{
    height: 3px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
	border-style: solid;
    width: 220px;
    float: left;
}
.HJZF2_Z_other_hj03_ms1{
	width:100%;
	text-align:left;
	margin-bottom: 25px;
}
.HJZF2_Z_other_hj03_ms1 span{
	font-weight: normal;
    color: #ffffff;	
}
.HJZF2_Z_other_hj03_ms2{
	width:100%;
	text-align:left;
}
.HJZF2_Z_other_hj03_ms2 span{
	font-weight: normal;
    color: #ffffff;
}
.HJZF2_Z_other_hj03_inquiry{
	width:100%;
}
.HJZF2_Z_other_hj03_inquiry #index_inquiry{width: 100%; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.HJZF2_Z_other_hj03_inquiry .inquiry_box{
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 15px 5px 15px;
    border-color: rgba(51,51,51,.12);
    background-color: #fdfdfd;
	position: relative;
	color: #8b9091;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.HJZF2_Z_other_hj03_inquiry .inquiry_box.inquiry_boxTextarea{height: 60px;margin-bottom: 18px;}
.HJZF2_Z_other_hj03_inquiry .inquiry_boxHalf{width: 180px;}
.HJZF2_Z_other_hj03_inquiry .inquiry_box input,.inquiry_box textarea{background: transparent;outline: none;border: none;height: 30px;width: 100%;color: #333;}
.HJZF2_Z_other_hj03_inquiry .inquiry_box input::-webkit-input-placeholder,.inquiry_box textarea::-webkit-input-placeholder{
    color: #8b9091;
}
.HJZF2_Z_other_hj03_inquiry .inquiry_box input::-moz-placeholder,.inquiry_box textarea::-moz-placeholder{
    color: #8b9091;
}
.HJZF2_Z_other_hj03_inquiry .inquiry_box textarea{height: 50px;margin-top: 10px;}

.HJZF2_Z_other_hj03_inquiry .inquiry_boxCode{border-bottom: none;margin-bottom: 20px;}
.HJZF2_Z_other_hj03_inquiry .inquiry_boxCode input{width: 230px;border-bottom: 1px solid rgba(255,255,255,0.6)}
.HJZF2_Z_other_hj03_inquiry #index_inquiry div:last-child.inquiry_box{ padding:0;}
.HJZF2_Z_other_hj03_inquiry .inquiry_box #inquiry_box6{width: 90px; border-radius: 3px; padding: 9px 14px 9px 14px; position:absolute; right:2px; top:-50px; z-index:9;}
.HJZF2_Z_other_hj03_inquiry .inquiry_box #inquiry_box6 input{color: #fff;font-size: 14px;cursor: pointer; line-height:20px; height:20px;}
.HJZF2_Z_other_hj03_inquiry #index_inquiry .yz_alert{top: auto;right: 10px; position:absolute; z-index:2;}
.HJZF2_Z_other_hj03_inquiry #index_inquiry #inquiry_box5 .yz_alert{ right:120px;}