.hjzf2_other_39 .index_title{
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.other_39_wrapper img{
    transition: all .5s;
}
.other_39_wrapper img:hover{
    filter: opacity(.8);
}
.other_39_wrapper li{
    margin-bottom: 20px;
}
.other_39_wrapper a{
    color: #333;
}
.other_39_wrapper i{
    font-size: 22px;
    margin-left: 5px;
    line-height: 28px;
    transform: translate(0,2px);
    -webkit-transform: translate(0,2px);
}
@media(max-width: 768px) {
    .hjzf2_other_39{
        padding-left: 15px;
        padding-right: 15px;
    }
}