.hjzf2_other_21,.hjzf2_other_21 .flex{
    height: 90vh;
}
.hjzf2_other_21 a{
    color: #fff;
}
.hjzf2_other_21 .index_title{
    display: inline-block;
    padding-right: 50px;
    position: relative;
}
.hjzf2_other_21 .index_title:after{
    position: absolute;
    content:'';
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}
.hjzf2_other_21 .flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hjzf2_other_21 .column{
    flex-direction: column;
}
.hjzf2_other_21 .flex .main_content{
    font-size: 35px;
    padding: 0 70px;
    background: rgba(255,255,255,.33);
    margin-top: 8vh;
}
.hjzf2_other_21 .flex .more{
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    border: 1px solid #fff;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .hjzf2_other_21,.hjzf2_other_21 .flex{
        height: 50vh;
    }
    .hjzf2_other_21 .flex .main_content{
        font-size: 22px;
        padding: 0 20px;
        background: rgba(255,255,255,.33);
    }
}
