.HJZF2_Z_other_94_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.HJZF2_Z_other_94_wrapper li{
    flex: 0 0 25%;
    width: 25%;
}
.HJZF2_Z_other_94_wrapper li .HJZF2_Z_other_94_wrapper_odd{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.HJZF2_Z_other_94_wrapper_pagination{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 9;
    text-align: right;
}
.HJZF2_Z_other_94_wrapper_pagination span{
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border: 1px solid #fff;
    background: transparent;
    opacity: 1;
}
.HJZF2_Z_other_94_wrapper_odd .index_title{
    margin-bottom: 15px;
}
.HJZF2_Z_other_94_wrapper_odd img{
    margin-bottom: 10px;
}
@media(max-width: 1200px) {
    .HJZF2_Z_other_94_wrapper li{
        width: 50%;
        flex: 0 0 50%;
        overflow: hidden;
    }
}