/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: > 1%,last 3 version,ie 10
*/



.list.my-mask-l{
    display: block;
    line-height: 4;
}
.list.my-mask-l:before{
    top: auto;
    bottom: 0;
    height: 1px;
}
.my-mask-l.list:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content:'';
    z-index: -2;
}
.my-mask-l.list i{
    font-style: normal;
    margin-top: 16px;
    font-size: 22px;
}
.more i{
    margin-left: 20px;
}

@media(min-width: 1200px) {
    .hjzf2_other_34_wrapper{
        height: 100vh;
    }
    .hjzf2_other_34_wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media (min-width:1440px) {
    .hjzf2_other_34_wrapper .col-md-6{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}
@media(max-width: 768px) {
    .hjzf2_other_34_wrapper .col-md-6:first-child{
        margin-bottom: 40px;
    }
}