.HJZF_Z_other4 {
	width: 100%;
	margin: auto;
}

.HJZF_Z_other4__mainTitle {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

.HJZF_Z_other4__mainTitle .HJZF_Z_other4__mainTitle2 {
	font-weight: 700;
}

.HJZF_Z_other4__leftinquiry {
	width: 100%;
}

#index_inquiry {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.inquiry_box {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 15px 5px 15px;
	padding-top: 0;
	padding-bottom: 0;
	border-color: rgba(51, 51, 51, .12);
	background-color: #fdfdfd;
	position: relative;
	color: #8b9091;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.inquiry_box#inquiry_box5,
.inquiry_box #inquiry_box6 {
	min-height: 45px;
}

.inquiry_box.inquiry_boxTextarea {
	height: 60px;
	margin-bottom: 18px;
}

.inquiry_boxHalf {
	width: 180px;
}

.inquiry_box input,
.inquiry_box textarea {
	background: transparent;
	outline: none;
	border: none;
	height: 30px;
	width: 100%;
	color: #333;
}

.inquiry_box input::-webkit-input-placeholder,
.inquiry_box textarea::-webkit-input-placeholder {
	color: #8b9091;
}

.inquiry_box input::-moz-placeholder,
.inquiry_box textarea::-moz-placeholder {
	color: #8b9091;
}

.inquiry_box textarea {
	height: 50px;
	margin-top: 10px;
}

.inquiry_boxCode {
	border-bottom: none;
	margin-bottom: 20px;
}

.inquiry_boxCode input {
	width: 230px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6)
}

#index_inquiry div:last-child.inquiry_box {
	padding: 0;
}

#inquiry_box5 {
	height: 45px;
	line-height: 45px;
}

#inquiry_box5 img {
	margin-top: -4px;
}

.inquiry_box #inquiry_box6 {
	width: 115px;
	padding: 9px 14px 9px 14px;
	position: absolute;
	right: 0;
	top: -55px;
	z-index: 9;
}

.inquiry_box #inquiry_box6 input {
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	line-height: 20px;
	height: 20px;
}

#index_inquiry .yz_alert {
	top: 10px;
	right: 10px;
	position: absolute;
	z-index: 2;
}

#index_inquiry #inquiry_box5 .yz_alert {
	right: 120px;
}

.HJZF_Z_other4__rightcontact {
	width: 100%;
}

.HJZF_Z_other4__contactelement {
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	color: #333333;
}

.HJZF_Z_other4__contactnr ul li {
	margin-bottom: 18px;
	padding-left: 30px;
}

.HJZF_Z_other4__contactnr ul li span {
	color: #333333;
	font-weight: normal;
}

.HJZF_Z_other4__contactnr ul li a:hover {
	text-decoration: underline
}

.HJZF_Z_other4__tblist {
	margin-top: 50px;
	width: 100%;
}

.other4__item {
	padding-right: 15px;
	padding-left: 15px;
}

.other4__item>div {
	position: relative;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.06);
}

.other4__item img {
	width: auto;
	max-width: 100%;
	height: auto;
}

.other4__item:hover div {
	background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
	
	.HJZF_Z_other4__mainTitle {
		margin-bottom: 30px;
	}

	.HJZF_Z_other4__rightcontact {
		margin-top: 30px;
	}

	.HJZF_Z_other4__contactnr ul li span {
		font-size: 14px;
		line-height: 30px;
	}
}

@media (max-width: 768px) {
	.inquiry_box #inquiry_box6 {
		top: 0;
		left: 0;
		right: auto;
	}

	.inquiry_box:last-child {
		margin-bottom: 60px;
	}

}