.hjzf2_z_other-16{width: 100%;margin: auto;height: auto;}
.hjzf2_z_other-16_content{width: 80%;margin: auto;text-align: center;}
.hjzf2_z_other-16_content .hjzf2_z_other-16_text{color: #333333;font-weight: normal; margin-bottom: 40px; font-weight:bold;}
.hjzf2_z_other-16_content .hjzf2_z_other-16_ms{ color:#666666;margin-bottom:80px;}
.hjzf2_z_other-16_list{ margin-bottom:40px;}
.hjzf2_z_other-16_item{color:#666666; line-height:38px;}
.hjzf2_z_other-16_item img{ margin-right:15px; vertical-align:top;}
.hjzf2_z_other-16_a{color: #fff;display: inline-block; position: relative; overflow: hidden; border-radius:6px;padding: 0.1rem 0.6rem;}
.hjzf2_z_other-16_a span{z-index: 3;position: relative}
.hjzf2_z_other-16_a:before{content: ''; display: block; width: 310px; height: 200px;border-radius:50%;-moz-border-radius:50%; -webkit-border-radius:50%; background: transparent; position: absolute; top:0; left: 0;z-index: 1;transform: scale(0);-moz-transform: scale(0);-webkit-transform: scale(0);transition: 0.6s;background: rgba(255,255,255,1)}
.hjzf2_z_other-16_a:hover:before{transition: 0.6s;transform: scale(1.4);-moz-transform: scale(1.4);-webkit-transform: scale(1.4);}
@media (max-width: 1190px) {
	.hjzf2_z_other-16_content{ width:100%;}
}
@media (max-width: 991px) {
	.hjzf2_z_other-16{ padding:55px 0;}	
	.hjzf2_z_other-16_list{margin-bottom: 30px;}
	.hjzf2_z_other-16_item{white-space: pre-wrap;}
	.hjzf2_z_other-16_item img{display: block; margin:auto; width:28px; height:28px;}
	.hjzf2_z_other-16_content .hjzf2_z_other-16_ms{margin-bottom: 40px;}	
}
