.hjzf2_z_other-10{width: 100%;margin: auto;height: auto;padding: 170px 0;}
.hjzf2_z_other-10_content{width: 50%;margin: auto;text-align: center;}
.hjzf2_z_other-10_content .hjzf2_z_other-10_text{color: #333333;font-weight: normal;text-transform: uppercase;}
.hjzf2_z_other-10_a{padding: 8px 40px;color: #fff;display: inline-block;position: relative;overflow: hidden;}
.hjzf2_z_other-10_a span{z-index: 3;position: relative}
.hjzf2_z_other-10_a:before{content: '';display: block;width: 220px;height: 200px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background: transparent;position: absolute;top: -74px;
    left: -105px;z-index: 1;transform: scale(0);-moz-transform: scale(0);-webkit-transform: scale(0);transition: 0.6s;background: rgba(0,0,0,0.3)}
.hjzf2_z_other-10_a:hover:before{transition: 0.6s;transform: scale(1.5);-moz-transform: scale(1.5);-webkit-transform: scale(1.5);}

@media (max-width: 576px) {
    .hjzf2_z_other-10{
        background-attachment: inherit!important;
    }
    .hjzf2_z_other-10_content{
        width: 80%;
    }
    
}