.hjzf2_z_other-11{width: 100%;margin: auto;height: auto;}
.hjzf2_z_other-11_content{width: 100%;margin: auto;text-align: center;}
.hjzf2_z_other-11_content .hjzf2_z_other-11_text{color: #333333;font-weight: bold;text-transform: uppercase;}
.hjzf2_z_other-11_content .hjzf2_z_other-11_img{width: 100%;margin: auto;text-align: center}
.hjzf2_z_other-11_content .hjzf2_z_other-11_img img{max-width: 100%;}
