.d-block{
     display: block;
}
.HJZF2_Z_other_81_con em{
    text-align: center;
    font-style: normal;
    display: block;
    width: 250px;
}
.HJZF2_Z_other_81_con em a{
    color: #fff;
    display: block;
    line-height: 40px;
}
.HJZF2_Z_other_81_con ul{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.HJZF2_Z_other_81_con ul li{
    flex: 0 0 30%;
}
.HJZF2_Z_other_81_wrapper{
    display: flex;
    justify-content: space-between;
}
@media(max-width: 1200px) {
    .HJZF2_Z_other_81_con {
        margin-top: 20px;
    }
    .HJZF2_Z_other_81_con ul{
        margin-top: 20px;
    }
}