.HJZF2_other_77 a{
    color: #333;
}

.HJZF2_other_77_text span{
    display: block;
    width: 30%;
    height: 1px;
    background-color: #333;
    margin-bottom: 20px;
}
.HJZF2_other_77_next{
    right: 20px;
}
.HJZF2_other_77_prev{
    left: 20px;
}
.HJZF2_other_77_next,.HJZF2_other_77_prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-size: 50%;
}
.HJZF2_other_77_pagination span{
    background-color: transparent;
    opacity: 1;
    border: 1px solid #fff;
    border-radius: 50%;
}
@media(min-width: 1200px) {
    .HJZF2_other_77_text{
        order: 1;
    }
    .HJZF2_other_77_text p{
        margin-right: 80px;
    }
}
@media(max-width: 768px) {
    .px-15{
        padding: 0 15px !important;
    }
    .HJZF2_other_77_text{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}