.HJZF2_other_72{
    padding-right: 15px;
    padding-left: 15px;
}
.HJZF2_other_72 .pb40{
    display: block;
}
.HJZF2_other_72_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.HJZF2_other_72_wrapper .bd {
    padding: 10px;
}

.HJZF2_other_72_wrapper .bd ul {
    overflow: hidden;
    zoom: 1;
}

.HJZF2_other_72_wrapper .bd ul li {
    margin: 0 8px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}

.HJZF2_other_72_wrapper .bd ul li .pic {
    text-align: center;
}

.HJZF2_other_72_wrapper .bd ul li .pic img {
    width: 100%;
    display: block;
    padding: 2px;
    border: 1px solid #ccc;
}

.HJZF2_other_72_wrapper .bd ul li .pic a:hover img {
    border-color: #999;
}

.HJZF2_other_72_wrapper .bd ul li .title {
    line-height: 24px;
}
.picList{
    display: flex;
    flex-wrap: nowrap;
    animation: gundon 18s linear infinite backwards;
}
@keyframes gundon{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-340px);
    }
    100%{
        transform: translateX(-680px);
    }
}

