
.hjzf2_other_46_wrapper {
    position: relative;
}

.hjzf2_other_46_wrapper .info {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 4vw;
    color: #fff;
}

.hjzf2_other_46_wrapper .info a {
    color: #fff;
}

.hjzf2_other_46_wrapper .info p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hjzf2_other_46_wrapper .info p a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    line-height: 45px;
    border: 1px solid #339cee;
}

.hjzf2_other_46_wrapper .info p img{
    vertical-align: text-top;
}

.hjzf2_other_46_wrapper .info span {
    margin-left: 1vw;
    margin-right: 1vw;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}
.hjzf2_other_46_wrapper .info a:hover span{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.hjzf2_other_46_img {
    position: relative;
    background-color: #fff;
    z-index: 9;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #339cee;
    padding: 10px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
            box-shadow: 0 20px 30px 5px rgba(0,0,0, .1);

}

.hjzf2_other_46_img span {
    position: absolute;
    width: calc(100% - 20px);
    height: 9px;
    left: 10px;
    border: 1px solid #cadbeb;
}

.hjzf2_other_46_img span {
    position: absolute;
    width: calc(100% - 20px);
    height: 9px;
    left: 10px;
    bottom: -10px;
    border: 1px solid #cadbeb;
    border-top: 0;
    background-color: #fff;
}
.hjzf2_other_46_img i{
    position: absolute;
    width: calc(100% - 40px);
    height: 10px;
    left: 20px;
    bottom: -19px;
    border: 1px solid #cadbeb;
    background-color: #fff;
}

@media(min-width:1200px) {
    .hjzf2_other_46_img{
        max-width: 80%;
    }
}

@media(max-width: 768px) {
    .hjzf2_other_46_wrapper .info{
        bottom: 5vw;
    }
    .hjzf2_other_46_wrapper .info p{
        width: 90%;
    }
    .hjzf2_other_46_wrapper .info p a {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 48%;
                flex: 0 0 48%;
        margin-bottom: 2vw;
    }
}