.HJZF2_Z_other-28{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0;
}
.HJZF2_Z_other-28_body{
	position:relative;
	width:100%;
}
.HJZF2_Z_other-28_title{
	width:100%;
	text-align:center;
    font-style: normal;
}
.HJZF2_Z_other-28_title span{
	font-weight: normal;
	font-size: 30px;
    line-height: 48px;
	color:#333;
}
.HJZF2_Z_other-28_ms{
	text-align:center;
}
.HJZF2_Z_other-28_ms span{
	font-size: 15px;
    line-height: 24px;
	color:#797979;
}
.HJZF2_Z_other-28_list{
	width:100%;
	margin-top:50px;
}
.HJZF2_Z_other-28_list .HJZF2_Z_other-28_item{ 
	position:relative;
}
.HJZF2_Z_other-28_list .HJZF2_Z_other-28_itemleft {
	width:50%;
}

.HJZF2_Z_other-28_list .HJZF2_Z_other-28_itemleft img {
    width: 100%;
    height: auto;
}
.HJZF2_Z_other-28_itemright{
	width: 50%;
    padding: 0 5%;
    text-align: center;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;	
}
.HJZF2_Z_other-28_itemheader a{display: block;}

.HJZF2_Z_other-28_itemright .HJZF2_Z_other-28_itemheader img{display: none;}
.HJZF2_Z_other-28_itemright .HJZF2_Z_other-28_itemheader img:first-child{display: inline-block;}
.HJZF2_Z_other-28_itemright:hover .HJZF2_Z_other-28_itemheader img{display: inline-block;}
.HJZF2_Z_other-28_itemright:hover .HJZF2_Z_other-28_itemheader img:first-child{display: none;}

.HJZF2_Z_other-28_itemright .HJZF2_Z_other-28_itemheader h3 {
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    color: #f7f7f7;
}
.HJZF2_Z_other-28_itemright .HJZF2_Z_other-28_itemheader h3:hover{ text-decoration:underline; color:#f7f7f7;}


@media screen and (max-width: 991px){
.HJZF2_Z_other-28_list .HJZF2_Z_other-28_item{
	margin-bottom:40px;
}
}