.HJZF_Z_other_HJ08 .flex{
    display: flex;
    justify-content: space-between;
}
.HJZF_Z_other_HJ08 .flex li{
    flex: 1;
    text-align: center;
}
.HJZF_Z_other_HJ08 .flex li span{
    display: block;
}
.HJZF_Z_other_HJ08 .flex li:hover span img{
    transform: rotateY(180deg);
}
.HJZF_Z_other_HJ08 .flex li p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.HJZF_Z_other_HJ08 .flex li em{
    font-size: 48px;
    line-height: 60px;
    font-style: normal;
}
.HJZF_Z_other_HJ08 .flex li i{
    font-style: normal;
    font-size: 20px;
}

@media(max-width: 1200px) {
    .HJZF_Z_other_HJ08 .flex li em{
        font-size: 36px;
    }
}

/* mobile */
@media (max-width: 768px) {
    .HJZF_Z_other_HJ08 .flex{
        flex-wrap: wrap;
    }
    .HJZF_Z_other_HJ08 .flex li{
        flex: 0 0 50%;
    }
    .HJZF_Z_other_HJ08 .flex li em{
        font-size: 24px;
    }
    .HJZF_Z_other_HJ08 .flex li p{
        font-size: 16px;
    }
    .HJZF_Z_other_HJ08_title{
        padding-left: 15px;
        padding-right: 15px;
    }
} 