.hjzf2_other_35{
    border-top: 1px solid #ccc;
}
.other_35_swiper{
    padding-bottom: 80px;
}
.other_35_btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
    min-height: 50px;
}
.other_35_btn .swiper-button-next, 
.other_35_btn .swiper-button-prev{
    width: 12px;
    height: 30px;
    background-size: 12px 30px;
    margin-top: -15px;
    opacity: 1 !important;
    background-image: none;
    font-size: 26px;
    line-height: 30px;
}
.other_35_btn .other_35_pagination{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.other_35_pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin: 0 3px;
}
.other_35_swiper img{
    transition: all .5s ease;
}
.other_35_swiper img:hover{
    filter: opacity(.8);
}
.other_35_swiper p{
    margin-top: 5px;
}
.other_35_swiper a{
    color: #333;
}

@media (max-width: 1200px) {
    .hjzf2_other_35{
        padding-left: 15px;
        padding-right: 15px;
    }
}