.HJZF2_Z_other_91_left em{
    font-style: normal;
}
.HJZF2_Z_other_91_left .index_title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.HJZF2_Z_other_91_right {
    position: relative;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    padding-top: 0;
}
.HJZF2_Z_other_91_right:before,.HJZF2_Z_other_91_right:after{
    position: absolute;
    display: block;
    content:'';
    height: 72%;
    width: 1px;
    bottom: 0;
}
.HJZF2_Z_other_91_right:before{
    left: 0;
}
.HJZF2_Z_other_91_right:after{
    right: 0;
}
.HJZF2_Z_other_91_right span{
    position: absolute;
    bottom: 72%;
    display: block;
    width: 100%;
    left: 0;
}
.HJZF2_Z_other_91_right span:before,.HJZF2_Z_other_91_right span:after{
    width: 13%;
    height: 1px;
    content:'';
    position: absolute;
    bottom: 0;
}
.HJZF2_Z_other_91_right span:before{
    left: 0;
}
.HJZF2_Z_other_91_right span:after{
    right: 0;
}
.HJZF2_Z_other_91_right em{
    font-style: normal;
}