.hjzf2_other_51 {
    padding-top: 0;
}

.hjzf_other_51_box input {
    padding-left: 10px;
}

.hjzf_other_51_box input {
    height: 45px;
    line-height: 45px;
    border-radius: 4px;
    background-color: #f2f6f9;
    border: 0;
}

.hjzf_other_51_box .xuanzek {
    float: left;
    margin-top: 0;
    margin-right: 5px;
}

.hjzf_other_51_box a {
    cursor: pointer;
}

.hjzf_other_51_box .mb10 {
    margin-bottom: 15px;
    position: relative;
}

.hjzf_other_51_box .mb10 .yz_alert {
    position: absolute;
    left: 15px;
    bottom: -15px;
    height: 15px;
}


.xuanze {
    display: flex;
    align-items: center;
}

.hjzf_other_51_box em {
    font-style: normal;
}

.hjzf_other_51_box span {
    white-space: nowrap;
}

/* 弹出层 */
.md-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
    z-index: 99;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 999;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1);
    transition: all .3s ease;
    opacity: 1;
}

.md-close {
    width: 150px;
    height: 35px;
    line-height: 35px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.md-modal.close,
.md-overlay.close {
    visibility: hidden;
}

.md-modal.close {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.8);
}

.hjzf_other_51_box .xuanze.errora em {
    color: #f00;
}

@media(max-width: 768px) {
    .hjzf_other_51_box .mb10 .yz_alert {
        font-size: 12px;
    }

    .hjzf_other_51_box span {
        white-space: normal;
    }
    .xuanze{
        align-items: flex-start;  
    }
    .hjzf_other_51_box .xuanze input{
        height: 24px;
        line-height: 24px;
    }
    
}