
.new_hjzf_other-19 .shenqing_ruxue_container{ text-align:center; color:#fff;}

.new_hjzf_other-19 .shenqing_ruxue_title{ font-size:36px;}
.new_hjzf_other-19 .shenqing_ruxue_des{ font-size:14px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.new_hjzf_other-19 .shenqing_ruxue_more{ font-size:18px; vertical-align:middle;line-height:260px;height:260px;}
