.hjzf2_other_23_section,.hjzf2_other_23_section_wrapper{
    height: 100vh;
}
.hjzf2_other_23_section_wrapper{
    background-color: rgba(0,0,0,.2);
}
.hjzf2_other_23_section_wrapper .flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 600px;
    float: right;
    padding: 40px 0;
    color: #fff;
}
.hjzf2_other_23_section_wrapper .column{
    flex-direction: column;
}
.hjzf2_other_23_section_wrapper .flex .main_content{
    margin: 5vh auto;
}
.hjzf2_other_23_section_wrapper .flex .more{
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    border: 1px solid #fff;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

@media (max-width: 1365px) {
    .hjzf2_other_23_section_wrapper .flex{
        width: 100%;
    }
}
@media (max-width:1024px) {
    .hjzf2_other_23_section,
    .hjzf2_other_23_section .flex,
    .hjzf2_other_23_section_wrapper{
        height: 50vh;
    }
}