.partner-1-btn{
    margin-top: -45px;
    margin-bottom: 15px;
    float:right;
    position: relative;
}
.partner-1-btn div{
    min-width: 30px;
    font-size: 32px;
    transition: all .4s;
}
.partner-1-btn .partner-1-btn-next{
    float: left;
}
.partner-1-btn .partner-1-btn-prev{
    float: right;
    text-align: right;
}
.partner-1-btn .partner-1-btn-next:hover{
    transform: translateX(-5px);
}
.partner-1-btn .partner-1-btn-prev:hover{
    transform: translateX(5px);
}
.partner-1-container{
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: none;
    border-right: none;
}
.partner-1-container .swiper-slide{
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.partner-1-container{
    width: 100%;
}

@media(max-width: 1200px) {
    .partner-1-btn .partner-1-btn-next,
    .partner-1-btn .partner-1-btn-prev{
        font-size: 22px;
    }
    .partner-1-btn{
        margin-top: auto;
    }
}