.products_21_left .index_title{
    position: relative;
    display: inline-block;
    line-height: 1;
    margin-bottom: 15px;
}
.products_21_left .index_title em{
    position: absolute;
    right: 0;
    top: 34px;
    font-style: normal;
    font-size: 22px;
}
.products_21_bottom{
    text-decoration: underline;
}
.products_21_bottom a{
    padding-bottom: 10px;
}
.products_21_right_con span a{
    color: #333;
}
.products_21_right_con span em{
    font-style: normal;
}
.products_21_right_pag{
    position: static;
}