.products-Hj03{width: 100%;margin: auto;height: auto;}
.products-Hj03-item{margin: auto;width: 100%;}
.products-Hj03-itemTitle{margin-top: 70px;letter-spacing: 0;text-align: left;color: #000;}
.products-Hj03-itemText{letter-spacing: 0;text-align: left;position: relative;}
/*.products-Hj03-itemText:before{content: '';display: table;width: 6px;height: 6px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;background: #000;position: absolute;top: 11px;left: 0}*/
.products-Hj03-itemText span{width: 6px;height: 6px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;background: #000;display: inline-block;margin-right: 18px;}
.products-Hj03-itemButton{margin-top: 40px;margin-bottom: 40px;height: 35px;
    line-height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    background-color: #1e1e1e;
}
.products-Hj03-itemButton span{
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 2.2em;
    text-align: left;

}
.products-Hj03-item img{max-width: 100%}