#products-hj04 {
    width: 100%;
    height: auto;
    margin: auto;   
    background: #fff;
}

.products-hj04__title {  
    color: #333333;
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
    position: relative;
}

.products-hj04__title--subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    text-align: center;
    font-weight: normal;
    margin-bottom: 24px;
}

.products-hj04__content {
    width: 100%;
    margin: auto;
}

.products-hj04__contentTop {
    width: 100%;
    margin: auto;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.products-hj04__box {
    width: 80%;
    margin: auto;
    position: relative
}

.products-hj04__categroy {
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.products-hj04__categroy li {
    width: 20%;
    border-left: none;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    padding: 20px 0;
}

.products-hj04__itemLeft {
    width: 25%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e1e1e1;
}

.products-hj04__itemLeft > div {
    padding: 30px;
    position: relative;
    height: 100%;
}

.products-hj04__itemRight {
    width: calc(75% - 34px);
    float: right;
}

.products-hj04__itemLeft h3 { 
    font-weight: normal;
    color: #333333;
    margin-bottom: 15px;
}

.products-hj04__itemLeft div.products-hj04__itemLeft_desc {   
    font-weight: normal;
    color: #666666;
    margin-bottom: 30px;
}

.products-hj04__itemLeft_more a {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.products-hj04__itemLeft_more i {
    padding-left: 15px;
}

.products-hj04__itemLeft_more a:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    border-top: 1px solid #333333;
    position: absolute;
    bottom: 0;
    left: 0;
}

.products-hj04__itemLeft_classImg {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%,0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    text-align: center;
    max-width: 100%;
    z-index: -2;
}
.products-hj04__itemLeft_classImg img{max-width: 100%}

.products-hj04__categroy li div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.products-hj04__categroy li img:nth-child(2) {
    display: none;
    transition: 0.6s;
}

.products-hj04__content--down {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 25px;
}
.products-hj04__categroy li div{
    cursor: pointer;
}
.products-hj04__content--down__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.products-hj04__content--down__wrap li {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.products-hj04__item {
    width: calc(50% - 15px);
    height: auto;
    float: left;
    position: relative;
    border: 1px solid #ebebeb;
    margin-left: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.products-hj04__item:nth-child(odd) {
    margin-left: 0;
}

.products-hj04__item:nth-child(3), .products-hj04__item:nth-child(4) {
    margin-bottom: 0;
}

.products-hj04__proImg {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.products-hj04__proImg img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
}

.products-hj04__proName {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.products-hj04__proName a {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

.products-hj04__item:hover .products-hj04__proImg img {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
    -moz-transform: translate3d(-50%, -50%, 0) scale(1.1);
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.1);
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.products-hj04__item:hover .products-hj04__proName {
    bottom: 0;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
}

.products-hj04__categroy li.swiper-slide-thumb-active img:first-child,.products-hj04__categroy li.swiper-slide-active img:first-child {
    display: none;
    transition: 0.6s;
}

.products-hj04__categroy li.swiper-slide-thumb-active img:nth-child(2),.products-hj04__categroy li.swiper-slide-active img:nth-child(2) {
    display: inline-block;
    transition: 0.6s;
}

.swiper-next-product2, .swiper-prev-product2 {
    background-image: none;
    line-height: 44px;
    text-align: center;
    outline: none
}

.swiper-next-product2 i, .swiper-prev-product2 i {
    font-size: 40px;
}

.swiper-next-product2 {
    right: -60px;
}

.swiper-prev-product2 {
    left: -60px;
}
@media (max-width: 1440px) and (min-width: 1366px){
    .products-hj04__box{
        width: 100%;
    }
}

@media (max-width: 992px){    
    .products-hj04__itemLeft{display: none}
    .products-hj04__itemLeft,
    .products-hj04__itemRight{width: 100%;float: none;}

}

@media (max-width: 576px) {

    .swiper-next-product2 {
        right: -34px;
    }

    .swiper-prev-product2 {
        left: -34px;
    }
}

















