.HJZF2_Z__products-10 .HJZF2_Z__products-10__bt{ width:100%; text-align: center; position:relative;margin-bottom:60px; padding-bottom:30px;}
.HJZF2_Z__products-10 .HJZF2_Z__products-10__bt .ttwrap{text-align: center; color: #333;font-weight:bold;}
.HJZF2_Z__products-10 .HJZF2_Z__products-10__bt:after{content:''; display: block; width: 150px; height: 3px; position: absolute; bottom: 0; z-index: 9; left: 50%; margin-left: -75px;}

.HJZF2_Z__products-10__content{ width:100%; position:relative;}
.HJZF2_Z__products-10__container{ padding:0 15px;}
.HJZF2_Z__products-10__grid.dt-css-grid{display: flex;-webkit-transition: all .33s;transition: all .33s;flex-wrap: wrap;justify-content: space-around;}
.HJZF2_Z__products-10__thumbnail img{ width:100%;}
.HJZF2_Z__products-10__item{ position:relative;width: calc(25% - 15px);margin-bottom: 15px;}
.HJZF2_Z__products-10__item a{
	display:block;
}
.HJZF2_Z__products-10__wrap{padding: 0px 0px 0px 0px; border-radius: 0px; position: relative; width: 100%;
 -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex: 0 0 auto;}
.HJZF2_Z__products-10__thumbnail{ position:relative; display:block;}
.HJZF2_Z__products-10__hover.post-entry-content {
    opacity: 0;
    visibility: hidden;
    padding: 10px 10px 10px 10px;
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    background: 0 0!important;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
	align-items: center;
}
.HJZF2_Z__products-10__item:hover .HJZF2_Z__products-10__hover.post-entry-content{ opacity:1; visibility:initial;}

.project-links-container a:before {
    position: absolute;
    background: 0 0;
    border-style: solid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    -webkit-backface-visibility: hidden;
}
.HJZF2_Z__products-10__title{margin-bottom: 5px; font-weight: 700; color: #fff;
	height:32px;
}
.HJZF2_Z__products-10__desc{
	height:52px;
	overflow:hidden;
	color: #b2aeae;
	text-align:center;
}
.HJZF2_Z__products-10__icom{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
	opacity: 1;
}
.HJZF2_Z__products-10__hover .project-links-container {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100px;
    margin-bottom: 15px;
    margin-top: 0;
	position: relative;
}
.HJZF2_Z__products-10__icom:before{
	border-width: 3px;
	border-color: #fff;
	opacity: 1;
	position: absolute;
    background: 0 0;
    border-style: solid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    -webkit-backface-visibility: hidden;
}
.icomoon-the7-font-the7-plus-03{
	color: #fff;
	position: relative;
    z-index: 2;
    -webkit-transition: color .25s;
    transition: color .25s;
}
.project-links-container>span {
    font-size: 16px;
    line-height: 50px;
	color:#FFFFFF;
	text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
}
.HJZF2_Z__products-10__icom:after{
	background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
	border-width: 3px;
	border-color: #fff;
}
.portfolio-shortcode .post-thumbnail {
    position: relative;
    display: block;
}
.HJZF2_Z__products-10__thumbnail:after{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    -webkit-transition: opacity .35s linear;
    transition: opacity .35s linear;
}
.HJZF2_Z__products-10__item:hover .HJZF2_Z__products-10__thumbnail:after {
    background: rgba(0,0,0,0.6);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-linear-gradient();
    background: linear-gradient();
	opacity:1;
}

.HJZF2_Z__products-10__button{ margin-top:50px; text-align:center;}
.HJZF2_Z__products-10__button a{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    fill: #fff;
    color: #fff;
    background-color: #333;
    border-radius: 0 0 0 0;
    padding: 18px 24px 16px 24px;
	display: inline-block;
}
.HJZF2_Z__products-10__button span{margin-left: 10px; float:right;}
@media screen and (max-width: 991px) {
    .HJZF2_Z__products-10__item {
        width: calc(50% - 15px);
    }
}
@media screen and (max-width: 767px) {
	.HJZF2_Z__products-10__title{
		height:30px;
	}
	.HJZF2_Z__products-10__desc{
		height:48px;
	}
}
@media screen and (max-width: 575px) {
    .HJZF2_Z__products-10__item {
        width: 100%;
    }
	
}