.ruiyi_title{
    display: inline-block;
    overflow: hidden;
    position: relative;
	margin-left: 15px;
	margin-right: 15px;
}
.ruiyi_title:after,.ruiyi_title:before{
    position: absolute;
    display: block;
    content:'';
    width: 1px;
    height: 42px;
    background-color: #9d9d9d;
    top: 30px;
}
.ruiyi_title:before{
    left: 0;
}
.ruiyi_title:after{
    right: 0;
}
.ruiyi_title div{
    position: relative;
}
.ruiyi_title .index_title:before,.ruiyi_title .index_title:after,.ruiyi_title .index_text:after,.ruiyi_title .index_text:before{
    position: absolute;
    display: block;
    content:'';
    width: 100px;
    height: 1px;
    background-color: #9d9d9d;
    top: 50%;
}
.ruiyi_title .index_text:after,.ruiyi_title .index_text:before{
    width: 15px;
}
.ruiyi_title .index_title:before,.ruiyi_title .index_text:before{
    left: 0;
}
.ruiyi_title .index_title:after,.ruiyi_title .index_text:after{
    right: 0;
}
.ruiyi_title .index_text{
    padding: 0 30px;
}
.ruiyi_title .index_title{
    text-shadow: 2px 1px 4px rgba(0,0,0,.3);
	padding: 0 120px;
}
@media(max-width: 1365px){
    .ruiyi_title:after,.ruiyi_title:before{
        top: 23px;
        height:35px;
    }
}
@media(max-width: 767px){
    .ruiyi_title .index_title:before,.ruiyi_title .index_title:after{
        width: 40px;
    }
	.ruiyi_title .index_title{
		padding: 0 50px;
	}
    .ruiyi_title:after,.ruiyi_title:before{
        top: 18px;
        height: 29px;
    }
    .ruiyi_title .index_text:after, .ruiyi_title .index_text:before{
        top: 11px;
    }
}


/* pro list */
.hjzf2_products_41_title{
    margin-bottom: 30px;
}
.hjzf2_products_41_title li{
    transition: all .5s;
}
.hjzf2_products_41_title li:hover h4,.hjzf2_products_41_title li.on h4{
    color: #fff;
}
.hjzf2_products_41_title li:hover .hover,.hjzf2_products_41_title li.on .hover{
    opacity: 1;
    visibility: visible;
}
.hjzf2_products_41_title li h4{
    color: #333;
}
.hjzf2_products_41_title > ul{
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.hjzf2_products_41_title ul li{
    margin: 0 15px;
    padding: 15px 2.5vw;
}
.hjzf2_products_41_title ul li div.img-par{
    margin-bottom: 10px;
}
.hjzf2_products_41_con{
	position: relative;
	display: none;
}
.hjzf2_products_41_con_wrapper{
    justify-content: space-between;
    padding: 0 15px;
	position: relative;
}
.hjzf2_products_41_con_left{
    flex: 0 0 39%;
    overflow: hidden;
}
.hjzf2_products_41_con_right li{
    overflow: hidden;
}
.hjzf2_products_41_con_left img,.hjzf2_products_41_con_right img{
    transition: all .5s;
}
.hjzf2_products_41_con_left:hover img,.hjzf2_products_41_con_right li:hover img{
    transform: scale(1.05);
}
.hjzf2_products_41_con_right{
    flex: 0 0 59%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
} 
.hjzf2_products_41_con_right li{
    width: 31%;
}
.hjzf2_products_41_con_left,.hjzf2_products_41_con_right li{
    position: relative;
}
.hjzf2_products_41_con_left_text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    z-index: 9;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}
.hjzf2_products_41_con_left_text em{
    float: right;
    font-style: normal;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hjzf2_products_41_con_left_text em:before,.hjzf2_products_41_con_left_text em:after{
    position: absolute;
    content:'';
    display: block;
    background-color: currentColor;
}
.hjzf2_products_41_con_left_text em:before{
    width: 40%;
    height: 1px;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
}
.hjzf2_products_41_con_left_text em:after{
    width: 1px;
    height: 40%;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.hjzf2_products_41_con_right li .hjzf2_products_41_con_left_text em{
	width: 25px;
	height: 25px;
}

@media(max-width: 1200px) {
    .hjzf2_products_41_con_left,.hjzf2_products_41_con_right{
        flex: 0 0 100%;
        margin-bottom: 25px;
    }
    .hjzf2_products_41_con_right li{
        flex: 0 0 48%;
        margin-bottom: 25px;
    }
}
.hjzf2_products_41_con .hjzf2_products_41_prev,.hjzf2_products_41_con .hjzf2_products_41_next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #bfbfbf;
	font-size: 22px;
	transition: all .5s;
}
.hjzf2_products_41_con .hjzf2_products_41_prev{
	left: -60px;
}
.hjzf2_products_41_con .hjzf2_products_41_next{
	right: -60px;
}
@media(max-width: 1365px) {
	.hjzf2_products_41_con .hjzf2_products_41_prev, .hjzf2_products_41_con .hjzf2_products_41_next{
		display: none;
	}
}
@media(max-width: 767px) {
	.hjzf2_products_41_title ul{
		justify-content: flex-start;
	}
	.hjzf2_products_41_title ul li{
		flex: 0 0 30%;
		width: 30%;
		margin: 0 1%;
		margin-bottom: 15px;
	}
	.ruiyi_title .index_title:before, .ruiyi_title .index_title:after, .ruiyi_title .index_text:after, .ruiyi_title .index_text:before,.ruiyi_title:after, .ruiyi_title:before
	{
		display: none;
	}
	.hjzf2_products_41_title ul li div.img-par img{
		width: 50%;
	}
	.hjzf2_products_41_title li h4{
		font-size: 14px;
	}
	.hjzf2_products_41_con_left_text{
		font-size: 14px;
	}
}