.HJZF_Z__produCategory{width: 100%;height: auto;margin: auto;}
.HJZF_Z__produCategoryWai{position: relative;padding-bottom: 50px;}
.HJZF_Z__produCategory__mainTitle{text-align: center;font-weight: bold;text-transform: uppercase;position: relative; }
.HJZF_Z__produCategory__item{text-align: center}
.HJZF_Z__produCategory__title{margin: 25px 0 15px;}
.HJZF_Z__produCategory__title a{color: #333;font-weight: bold;}
.HJZF_Z__produCategory__desc a{color: #999;}
.HJZF_Z__produCategoryWai .HJZF_Z__produCategory__pagination{bottom: 10px;left: 0;width: 100%;position: absolute;text-align: center;transition: .3s opacity;transform: translate3d(0,0,0);z-index: 10;}
.HJZF_Z__produCategory__pagination .swiper-pagination-bullet {margin: 0 4px;outline: none;width: 12px; height: 12px;}