.new_hjzf_product_four{width: 100%;margin: auto;height: auto;}
.new_hjzf_product_four_title {
    position: relative;
    padding: 30px 0 50px 0;
    background: #13bfbd;
    box-sizing: border-box;
}
.new_hjzf_product_four_title--main,.new_hjzf_product_four_title--desc{text-align: center;}
.new_hjzf_product_four_title--main{color: #fff;
    margin: 0;    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;    
}
.new_hjzf_product_four_title--desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #fff;    
}
.proshow-top-arrow{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    width: 30px;
    height: 30px;
    background: #13bfbd;
    z-index: -2;
}
.new_hjzf_product_four_Content{
    padding-top: 40px;
}
.new_hjzf_product_four_productWrap{position: relative;}
.new_hjzf_product_four_productItem{
    position: relative;
    padding: 20px 10px 10px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #fff;
    transition: .2s;
    margin-bottom: 30px;
}
.new_hjzf_product_four_productItemBox_img{width: 100%;margin-bottom: 25px}
.new_hjzf_product_four_productItemBox_img a{position: relative;display: block;width: 100%;padding-bottom: 75%;height: 0;overflow: hidden}
.new_hjzf_product_four_productItemBox_img img{width: 100%;height: auto;transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);position: absolute;top: 50%;left: 50%; }
.new_hjzf_product_four_productItemBox_name{padding: 0 25px 15px}
.new_hjzf_product_four_productItemBox_name a h3{
    position: relative;
    color: #13bfbd ;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    outline: 0;
    height: 50px;
}
.new_hjzf_product_four_next,.new_hjzf_product_four_prev{
    width: 50px;
    height: 50px;
    line-height: 52px;
    z-index: 10;
    color: #fff;
    text-align: center;
    background: #42a4ff;
    border-radius: 100px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(19,108,191,0.31);
    box-shadow: 0 2px 10px 0 rgba(19,108,191,0.31);
    transition: .33s all ease-out;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: -25px;
}
.new_hjzf_product_four_next{right: -26px;}
.new_hjzf_product_four_prev{left: -26px;}
.new_hjzf_product_four_next:before, .new_hjzf_product_four_prev:before {
    position: relative;
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: inherit;
    opacity: 1;
}
.new_hjzf_product_four_prev:before {
    left: -2px;
    content: '\f053';
}
.new_hjzf_product_four_next:before {
    right: -2px;
    content: '\f054';
}
.pro-btn-more {
    width: 100%;
    padding-bottom: 40px;text-align: center;
}
.text-centers a{
    text-align: center;
    margin: 0 auto;
    background-color: #136cbf;
    border-color: #136cbf;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.31);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.31);
   display: inline-block;
    font-weight: 700;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 22px;
    font-size: 14px;
    letter-spacing: .06em;
    border-radius: 50px;
    transition: .3s ease-out;
    color: #fff;
}

@media (max-width: 1440px) {
    .new_hjzf_product_four_next{right: -8px;}
    .new_hjzf_product_four_prev{left: -8px;}
}
@media (max-width: 1199px) {
    .new_hjzf_product_four_productWrap{
        padding: 0 15px;
    }
    .new_hjzf_product_four_next{right: -7px;}
    .new_hjzf_product_four_prev{left: -7px;}
}
@media (max-width: 767px) {
    .new_hjzf_product_four_productWrap{padding: 0 15px;}
    .new_hjzf_product_four_next,.new_hjzf_product_four_prev{width: 30px;height: 30px;line-height: 32px;}
    .new_hjzf_product_four_next{right: 0;}
    .new_hjzf_product_four_prev{left: 0;}
}