.Product .lingtong_cate[pcid="257"]{
	display:none;
}
.Case .lingtong_cate[pcid="256"]{
	display:none;
}
.product_categories_content{ display:flex; justify-content:space-between; box-sizing:border-box;}
.HJZF2_Z-product_categories-lingtong-left{
	flex:0 0 23%;
}
.HJZF2_Z-product_categories-lingtong-right{
	flex:0 9 75%;
	margin-left:2%;
}
.product_cate_19_title{ font-size:35px; line-height:50px; color:#333; width:100%; text-align:center; padding:50px;}
.product_cate_19_title_zhuangshi{ margin:0 auto; display:inline-block;}
.product_cate_19_title_zhuangshi_row,product_cate_19_des_detail_row{ text-align:center;}
.product_cate_19_des{ color:#333; font-size:22px; line-height:50px; padding:80px 0px 0px 0px; text-align:center;}
.cate_19_row{display:flex; justify-content:center; align-items:center;}
.cate_19_info{ flex:0 0 70%; padding:10px;}
.cate_19_show{flex:0 0 30%;}
.cate_19_row{ padding:40px 0px;flex-direction:row-reverse; background:#e1e1e1; margin:40px 0px;}
.cate_19_class_name{ font-size:30px; color:#333; line-height:50px;}
.cate_19_bj .cate_19_class_name_tip{justify-content:flex-start;}
.cate_19_class_des{font-size:22px; color:#333; line-height:50px}
.cate_19_product_row{ display:flex; padding:50px 0px; justify-content:flex-end;}
.cate_19_bj .cate_19_product_row{ display:flex; padding:50px 0px; justify-content:flex-start;}
.cate_19_product{ flex:0 0 33%; padding-right:30px; box-sizing:border-box;}
.cate_19_product_img{border:1px solid #e9e9e9; border-radius:30px; overflow:hidden; }
.cate_19_product_name{ padding:30px 0px; text-align:center; font-size:20px; color:#333;}
.product_cate_19_des_detail img{ max-width:100%;}
.cate_19_bj{ flex-direction:row; background:#fff;}
.cate_19_info{ text-align:right;}
.cate_19_bj .cate_19_info{ text-align:left;}
.cates_19_cases{ display:flex; flex-wrap:wrap;}
.cates_19_case_title{ font-size:35px; color:#333; text-align:center; padding:10px 0 35px 0px; }
.cates_19_case_des{ font-size:22px; color:#333; line-height:50px; padding:20px 0 40px 0; }
.cates_19_one{ flex:0 0 33%; justify-content:center; align-items:center; display:flex; padding:10px;}
@media(max-width: 750px) {
.product_categories_content{ flex-direction:column;}
.cate_19_row{flex-direction:column;}
.cate_19_product_row{flex-direction:column;}
}