.new_hjzf_procata_18_wrapper li{
	background: #f7f7f7;
    border: 3px solid #eeeef0;
    box-shadow: 0.5px 0.866px 5px 0px rgb(179 179 179 / 30%);
    margin-bottom: 30px;
    transition: all 0.3s;
    background: #fff;
    padding-bottom: 25px;
	width: 345px;
	margin-right: 30px;
}
.new_hjzf_procata_18_wrapper li h3{
	text-align: center;
	color: #333;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.new_hjzf_procata_18_wrapper li p{
	margin: 0 15px;
	max-height: 42px;
	overflow: hidden;
	color: #333;
}
.new_hjzf_procata_18_title{
	position: relative;
}
.pro_list_18_img{
	overflow: hidden;
}
.pro_list_18_img img{
	transition: all .5s;
}
.new_hjzf_procata_18_wrapper .swiper-slide:hover .pro_list_18_img img{
	transform: scale(1.05);
}
.products_more{
	margin-top: 30px;
}
.products_more a{
	color: #fff;
}