.new_hjzf_products-HJ01 .page_probg{width: 100%;height: auto;margin: auto;}
.new_hjzf_products-HJ01 .index_product_title{width: 100%;margin: auto;}
.new_hjzf_products-HJ01 .index_product_title_left{width: 100%;}

.new_hjzf_products-HJ01 .index_product_title_left_text h3{color: #333;font-weight: normal;}
.new_hjzf_products-HJ01 .index_product_title_right_ul{width: 100%;float: right;}
.new_hjzf_products-HJ01 .index_product_title_right_ul .hj02_proclasslist2{float: right}
.new_hjzf_products-HJ01 .index_product_title_right_ul .swiper-slide{padding: 0 15px;}
.new_hjzf_products-HJ01 .index_product_title_right_ul .swiper-slide a{font-size: 14px;line-height: 40px;color: #666;font-weight: normal;}
.new_hjzf_products-HJ01 .hj02_pro_more{float: right;padding: 0 15px;margin: 0 3px;}
.new_hjzf_products-HJ01 .hj02_pro_more a{font-size: 14px;line-height: 40px;color: #666;font-weight: normal;}
.new_hjzf_products-HJ01 .index_prolist_wai_cont{width: 100%;overflow: hidden;}
.new_hjzf_products-HJ01 .index_prolist_wai2{width: 100%;overflow: hidden;margin: auto;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-imgbox{position: relative}
.new_hjzf_products-HJ01 .hj02-index-pro2-left,.new_hjzf_products-HJ01 .hj02-index-pro2-right{position: relative;padding-top: 10px;}
.new_hjzf_products-HJ01 .hj02-index-pro2-left{overflow: hidden;}
.new_hjzf_products-HJ01 .hj02-index-pro2-right{float: right}
.new_hjzf_products-HJ01 .hj02-index-pro2-right_row{margin: 0 -15px;}
.new_hjzf_products-HJ01 .index_prolist_wai2{height: auto;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item{height: auto;margin-bottom: 25px;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-box{box-shadow: 0 2px 20px 0 rgba(0,0,0,0.06);background: #fff}
.new_hjzf_products-HJ01 .hj02-index-pro2-right .hj02-index-pro2-item:nth-child(2n){margin-right: 0;}
.new_hjzf_products-HJ01 .hj02-index-pro2-left .hj02-index-pro2-item{width: 100%;height:auto;}
.new_hjzf_products-HJ01 .hj02-index-pro2-left .hj02-index-pro2-item .hj02-index-pro2-item-box{width: 100%;height: auto;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-img{width: 100%;overflow: hidden;position: relative}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-img img{width: 100%;transition: .6s;height: auto;position: absolute;top: 50%;left: 50%;transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-img a {position: relative;display: block;width: 100%;height: 0;padding-bottom: 75%}
.new_hjzf_products-HJ01 .hj02-index-pro2-left .hj02-index-pro2-item .hj02-index-pro2-item-img{width: 100%;}
.new_hjzf_products-HJ01 .hj02-index-pro2-left .hj02-index-pro2-item-second{padding: 16px 10px;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-second{padding: 10px;}
.new_hjzf_products-HJ01 .hj02-index-pro2-left .hj02-index-pro2-item-second-name{margin-bottom: 10px;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-second-name h6{text-overflow: ellipsis;color: #333}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-second-desc{margin-bottom: 0;font-weight: 400;font-style: normal;color: #999;min-height: 25px;word-break: keep-all;}
.new_hjzf_products-HJ01 .ellipsis_one{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item-img a:after {position: absolute;top: 0;left: 0;content: "";transition: .3s;background: url(../img/product_more.png) no-repeat center 50% rgba(0,0,0,0.5);width: 100%;height: 100%;z-index: 95;right: 0;text-align: center;color: #fff;opacity: 0;visibility: hidden;}
.new_hjzf_products-HJ01 .hj02-index-pro2-item:hover .hj02-index-pro2-item-img a:after {
    opacity: 1;
    visibility: visible;
}
.new_hjzf_products-HJ01 .hj02-index-pro2-item:hover .hj02-index-pro2-item-img img{
    transform: scale(1.1) translate3d(-50%,-50%,0);-webkit-transform: scale(1.1) translate3d(-50%,-50%,0);-moz-transform: scale(1.1) translate3d(-50%,-50%,0);transition: .6s;
}
/*.new_hjzf_products-HJ01 .hj02-index-pro2-right .hj02-index-pro2-item-img{max-height: 270px;}*/
.product--16__nav{position: absolute;bottom: 110px;right: 10px;z-index: 96;}
.product--16__nav li{width: 8px;height: 8px;border-radius: 50%;background: #666;display: inline-block;margin: 0 5px;}
@media (min-width:1199px){
    .new_hjzf_products-HJ01 .index_product_title_right_ul .swiper-slide{padding: 0 15px;width: auto!important;}
}
@media (max-width:991px) {
    .new_hjzf_products-HJ01 .index_product_title_left_text h3{text-align: center;margin-bottom: 30px}
    .new_hjzf_products-HJ01 .index_product_title_right_ul{width: 100%;float: none}
    .new_hjzf_products-HJ01 .index_product_title_right_ul .swiper-slide{padding: 0 5px;width: auto;}
    .new_hjzf_products-HJ01 .index_product_title_right_ul .swiper-slide a{display: inline-block;overflow: hidden;width:100%;text-overflow: ellipsis; white-space: nowrap;}
}