.hjzf2_z__producttwo--2hj02 {
    width: 100%;
    height: auto;
    margin: auto; 
}

.hjzf2_z__producttwo--2hj02_titlebox {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.hjzf2_z__producttwo--2hj02_title {    
    font-weight: normal;
    font-style: normal;
}

.hjzf2_z__producttwo--2hj02_futitle {  
    color: #797979;  
    font-weight: normal;
    font-style: normal;
}

.products-2hj02__categroy {
    width: 100%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.products-2hj02__content__itemBox {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding: 30px 10px;
    word-break: break-word;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.products-2hj02__content__itemBox .products-2hj02img {
    width: 48px;
    height: 48px;
    margin: auto;
}

.products-2hj02__content__itemBox .products-2hj02img img {
    width: 100%;
    height: auto;
}

.products-2hj02__content__itemBox div {    
    color: #fff;   
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.products-2hj02__content__itemBox:after {
    content: '';
    background-color: inherit;
    border-color: inherit;
    display: block;
    width: 100%;
    height: 10px;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.products-2hj02__content__itemBox.first, .products-2hj02__content__itemBox.first:after {
    background: #df504b
}

.products-2hj02__content__itemBox.second, .products-2hj02__content__itemBox.second:after {
    background: #1a61a6
}

.products-2hj02__content__itemBox.third, .products-2hj02__content__itemBox.third:after {
    background: #384069
}

.products-2hj02__content__itemBox.four, .products-2hj02__content__itemBox.four:after {
    background: #44afae
}

.products-2hj02__content__itemBox.five, .products-2hj02__content__itemBox.five:after {
    background: #2c94aa
}

.products-2hj02__content__itemBox.proClass_on:after {
    visibility: visible;
    top: -10px;
    webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    -ms-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
}

.products-2hj02__content--down__wrap {
    width: 100%;
    margin: auto;
    position: relative;
}

.products-2hj02__downBox {
    width: 100%;
    float: left;

}

.products-2hj02__content--down {
    padding-bottom: 10px;
    padding-top: 10px;
}

.products-2hj02__downBox > div {
    margin-left: -20px;
    margin-right: -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.products-2hj02__item {
    padding-right: 20px;
    padding-left: 20px;
    width: 25%;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.products-2hj02__item > div {
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 4px #e3e3e3;
}

.products-2hj02__proImg img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.products-2hj02__protext {
    padding: 17px 20px 20px;
    position: relative;
    overflow: hidden;

}

.products-2hj02__proName {
    margin-bottom: 20px;
}

.products-2hj02__proName a { 
    font-weight: normal; 
    color: #333;
}

.products-2hj02__proMore a {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

@media (max-width: 991px) {
    .products-2hj02__content__itemBox {
        width: 100%
    }

    .products-2hj02__item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .products-2hj02__item {
        width: 100%;
        margin-bottom: 20px;
    }
}
