.HJZF2_Z__product{width: 100%;height: auto;margin: auto;}
.HJZF2_Z__product__title{width: 100%;text-align: center;font-weight: bold;position: relative;margin-bottom: 80px;}
.HJZF2_Z__product__title:before{content: '';display: block;width: 10%;height: 5px;position: absolute;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);bottom: -20px;background: #ffb536;}
.HJZF2_Z__product__swiper_box{padding: 0 50px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;position: relative;}
.HJZF2_Z__product__swiper{width: 100%;margin: auto;}
.HJZF2_Z__product__swiper .swiper-slide .swiper-slide__inner{padding: 0 10px;}
.HJZF2_Z__product__swiper .swiper-slide .swiper-slide__inner_img{width:100%;margin-bottom: 20px;overflow: hidden;text-align: center;}
.HJZF2_Z__product__swiper .swiper-slide .swiper-slide__inner_img img{max-width: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2_Z__product__swiper .swiper-slide .swiper-slide__inner_title{width: 100%;text-align: center;margin-bottom: 20px;}
.HJZF2_Z__product__swiper .swiper-slide .swiper-slide__inner_title a{font-size: 16px;line-height: 24px;font-weight: bold;color: #333;text-align: inherit;transition: all .5s;}
.HJZF2_Z__product__swiper .swiper-slide:hover .swiper-slide__inner_img img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF2_Z__product-next,.HJZF2_Z__product-prev{background-image:none;width: 22px;height: 80px;background:#ffb536;text-align: center;line-height: 80px;outline: none;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.HJZF2_Z__product-next i,.HJZF2_Z__product-prev i{font-size: 20px;font-weight: bold;color: #fff;}
.HJZF2_Z__product-prev{left: 15px;}
.HJZF2_Z__product-next{right: 15px;}

@media (max-width: 768px) {
    .HJZF2_Z__product__swiper_box {
        margin: 0;
    }
    .HJZF2_Z__product__swiper .swiper-slide .swiper-slide__inner{padding: 0;}
}
@media (max-width: 480px) {
    .HJZF2_Z__product__swiper_box {
        margin: 0 0;
    }   
    .HJZF2_Z__product__title{
        margin-bottom: 40px;
    }
}
@media(min-width: 1200px) {
    .HJZF2_Z__product__swiper_box .swiper-slide{
        max-width:345px;
    }
}
