.HJZF_Z__produCategory2{width: 100%;height: auto;margin: auto;padding-top: 70px;padding-bottom: 100px;position: relative;background: #fff}
.HJZF_Z__produCategory2__mainTitle{margin: auto;text-align: center;font-size: 48px;line-height: 50px;color: #333333;font-weight: normal;margin-bottom: 50px;text-transform: uppercase;}
.HJZF_Z__produCategory2__wrap{height: 570px;}
.HJZF_Z__produCategory2__item .box{border-right: 1px solid #ffffff;border-left: 1px solid #ffffff;height: 100%;position: relative;padding: 60px 0;}
.HJZF_Z__produCategory2__item .box_bg{position: absolute;bottom: 100px;width: 100%;overflow: hidden;padding: 0 30px;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__title{padding-bottom: 30px;}
.HJZF_Z__produCategory2__title a{font-size: 24px;color: #fefeff;line-height: 36px;}
.prolist{height:auto; opacity: 0;}
.prolist ul li{padding: 10px 30px;border: 1px solid #fff;margin: 0 10px;width: calc(50% - 20px);box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;white-space: nowrap;
    text-overflow: ellipsis;overflow: hidden;margin-bottom: 20px;position: relative;display: inline-block;color: #fff;font-size: 16px;}
.prolist ul li a{color: #fff;font-size: 16px;}
.prolist ul li:before{content:'';display: block;width: 0;height: 100%;position: absolute;left: 0;top: 0;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;z-index: -2}
.prolist ul li:hover:before{width: 100%;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__more{width: 100%;margin: auto;text-align: center;position: absolute;left: 0;bottom: 60px;opacity: 0;visibility: hidden;}
.HJZF_Z__produCategory2__more a{display: inline-block;width: 54px;height: 54px;border: 1px solid #fff;text-align: center;line-height: 48px;}
.HJZF_Z__produCategory2__more a span{width: 20px;height: 4px;background: #fff;display: inline-block;position: relative;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__more a span:before{content:'';display:inline-block;width: 4px;height: 20px;background: #fff;position: absolute;left: 8px;top: -8px;}
.HJZF_Z__produCategory2__item:hover .HJZF_Z__produCategory2__more a span{transform: rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__item:hover .box_bg{bottom: 200px;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__item:hover .prolist{opacity: 1;}
.HJZF_Z__produCategory2__item:hover .HJZF_Z__produCategory2__more{opacity: 1;visibility: visible;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__jian{width: 24px;height: 24px;position: absolute;bottom: 30px;left: 30px;opacity: 1;visibility: visible;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__jian span{width: 12px;height: 2px;position: absolute;bottom: 30px;background: #fff;transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
.HJZF_Z__produCategory2__jian span:before{content:'';display:block;width: 12px;height: 2px;position: absolute;bottom: -6px;left: 5px;background: #fff;transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);}
.HJZF_Z__produCategory2__item:hover .HJZF_Z__produCategory2__jian{opacity: 0;visibility: hidden;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__pagination{width: 100%;bottom: 30px;}
.HJZF_Z__produCategory2__pagination .swiper-pagination-bullet{margin: 0 10px;background: none;display:inline-block;width: 20px;height: 40px;color: #333;font-size: 16px;font-weight: bold;opacity: 1;line-height: 40px;outline: none;position: relative}
.HJZF_Z__produCategory2__pagination .swiper-pagination-bullet:before{content: '';display: inline-block;width: 0;height: 2px;border-top: 1px solid #333;position: absolute;left: 24px;top: 20px;}
.HJZF_Z__produCategory2__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{margin-right: 100px;position: relative}
.HJZF_Z__produCategory2__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before{content: '';display: inline-block;width: 100px;height: 2px;border-top: 1px solid #333;position: absolute;left: 24px;top: 20px;transition: 0.6s;-moz-transition: 0.6s;-webkit-transition: 0.6s;}
.HJZF_Z__produCategory2__pagination .swiper-pagination-bullet:nth-last-child(1).swiper-pagination-bullet-active{margin-right: 0px;margin-left: 100px;}
.HJZF_Z__produCategory2__pagination .swiper-pagination-bullet:nth-last-child(1).swiper-pagination-bullet-active:before{right: 24px;left: initial}
@media(max-width: 1365px){
    .prolist ul li{
        margin: 0;
        width: 100%;
    }
}

    @media (max-width: 992px) {
    .HJZF_Z__produCategory2__mainTitle{font-size: 40px;}
    .prolist{opacity: 1;}
    .HJZF_Z__produCategory2__item:hover .box_bg{
        bottom: 200px;
    }
}
@media (max-width: 576px) {
    .prolist{height: auto;overflow: hidden;}
}