.hjzf_service_29_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_service_29_wrapper li a{
    display: block;
    border: 2px solid #ccc;
    height: 100%;
    color: #333;
}
.hjzf_service_29_wrapper_info{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.hjzf_service_29_wrapper_info .index_btn{
    margin-bottom: 20px;
}
@media(max-width: 992px) {
    .hjzf_service_29_wrapper li:not(:nth-last-child(1)){
        margin-bottom: 20px;
    }
}
