.hjzf_service_34_wrapper{
    display: flex;
    justify-content: space-between;
}
.hjzf_service_34_wrapper .hjzf_service_34_img,.hjzf_service_34_wrapper .hjzf_service_34_con{
    flex: 0 0 50%;
}
.hjzf_service_34_img img{
    float: left;
}
.hjzf_service_34_con{
    padding: 10px;
}
.hjzf_service_34_con .index_sub_title{
    display: flex;
    justify-content: space-between;
}
.hjzf_service_34_container .swiper-pagination{
    position: static;
    margin-top: 15px;
}
.hjzf_service_34_container .swiper-pagination span{
    width: 12px;
    height: 12px;
}
@media(max-width: 768px) {
    
    .hjzf_service_34_con{
        text-align: center;
    }
}