.HJZF2_z_service-6 {
    width: 100%;
    margin: auto;
    height: auto;    
}

.HJZF2_z_service-6_title {    
    font-weight: bold;
    color: #ffffff;    
    text-align: center;
}
.HJZF2_z_service-6_content{
    padding: 40px;border: 3px dashed rgba(255,255,255,0.3);    width: 85%;
    margin: auto;position: relative;
}

.HJZF2_z_service-6_item {
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;

    width: 100%;
    padding: 0;
    box-sizing: border-box;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.testimonial-avatar {
    margin-right: 40px;
    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    text-align: center;
    overflow: hidden;
    min-width: 150px;
}
.testimonial-avatar img{width: 100%}
.HJZF2_z_service-6_itemcontent{
    margin-bottom: 20px;    
    color: #ffffff;
    background: none;
    font-style: italic;

}
.HJZF2_z_service-6_itemname{
    color: #ffffff;
    background: none;
    margin-bottom: 0px;    
    font-weight: bold;
}
.HJZF2_z_service-6_itemname2{
    color: #ffffff;
    background: none;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}
.HJZF2_z_service-6_next,.HJZF2_z_service-6_prev{
    background-image: none;height: 54px;width: 54px;text-align: center;opacity: 1!important;outline: none;
}
.HJZF2_z_service-6_next{
    right: -30px;
}
.HJZF2_z_service-6_prev{
    left: -30px;
}
.HJZF2_z_service-6_next i,.HJZF2_z_service-6_prev i{
    font-size: 24px;line-height: 54px;color: #fff;
}

@media  (max-width:1199px){
    .HJZF2_z_service-6_content{
        width: 100%;
    }
    .HJZF2_z_service-6_item{

        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .testimonial-avatar{
        margin-bottom: 20px;
    }
}