.service_23_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_23_title .index_title {
    text-align: right;
    padding-right: 1.5vw;
    position: relative;
}
.service_23_container{
    padding-bottom: 30px;
}
.service_23_container .service_23_paga{
    bottom: 0 !important;
}
.service_23_paga .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.service_23_title .index_title:before {
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    content: '';
    background-color: #999;
}

.service_23_title .index_sub_title {
    padding-left: 1.5vw;
    letter-spacing: 3px;
}

.service_23_title span {
    flex: 0 0 50%;
}

.service_23_wrapper {
    position: relative;
}

.service_23_wrapper_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2vw;
    color: #fff;
    transition: all .4s;
    display: flex;
    flex-direction: column;
}

.service_23_wrapper_content .index_sm_title,
.service_23_wrapper_content .index_sub_title {
    transition: all .4s;
    position: relative;
    z-index: 9;
}

.service_23_wrapper_content .index_sm_title a,
.service_23_wrapper_content .index_sub_title a {
    color: #fff;
}

.service_23_wrapper_content:hover .index_sub_title a {
    color: #333;
}

.service_23_wrapper_content .more {
    width: 10vw;
    min-width: 170px;
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    color: #333;
    opacity: 0;
    transition: all .5s;
}

.service_23_wrapper_content:hover .more {
    opacity: 1;
}

.service_23_wrapper_content:hover {
    background-color: #fff;
}

.service_23_wrapper_content .more:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 0;
    top: 50%;
    border-top-width: 4px;
    border-right-width: 7px;
    border-bottom-width: 4px;
    border-left-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #000;
    content: '';
    transform: translateY(-50%);
}

.service_23_wrapper_content .more span.line_1 {
    display: block;
    float: left;
    width: 0;
    height: 1px;
    background-color: #333;
    transition: width .4s;
    transform: translateY(10px);
}

.service_23_wrapper_content .more span.line_2 {
    display: block;
    float: right;
    width: 4vw;
    height: 1px;
    margin-right: 10px;
    background-color: #333;
    transform: translateY(10px);
    transition: width .4s, margin .4s;
}

.service_23_wrapper_content .more:hover span.line_1 {
    width: 4vw;
    margin-right: 10px;
}

.service_23_wrapper_content .more:hover span.line_2 {
    width: 0;
}

.service_23_wrapper_content_line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.service_23_wrapper_content_line span:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
}

.service_23_wrapper_content_line span:nth-child(1):before,
.service_23_wrapper_content_line span:nth-child(1):after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    transition: all .4s;
}

.service_23_wrapper_content_line span:nth-child(1):before {
    width: 0vw;
    height: 1px;
}

.service_23_wrapper_content_line span:nth-child(1):after {
    width: 1px;
    height: 0vw;
}

.service_23_wrapper_content_line span:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
}

.service_23_wrapper_content_line span:nth-child(2):before,
.service_23_wrapper_content_line span:nth-child(2):after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    transition: all .4s;
}

.service_23_wrapper_content_line span:nth-child(2):before {
    width: 0vw;
    height: 1px;
}

.service_23_wrapper_content_line span:nth-child(2):after {
    width: 1px;
    height: 0vw;
}

.service_23_wrapper_content_line span:nth-child(3) {
    position: absolute;
    left: 0;
    bottom: 0;
}

.service_23_wrapper_content_line span:nth-child(3):before,
.service_23_wrapper_content_line span:nth-child(3):after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    transition: all .4s;
}

.service_23_wrapper_content_line span:nth-child(3):before {
    width: 0vw;
    height: 1px;
}

.service_23_wrapper_content_line span:nth-child(3):after {
    width: 1px;
    height: 0vw;
}

.service_23_wrapper_content_line span:nth-child(4) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.service_23_wrapper_content_line span:nth-child(4):before,
.service_23_wrapper_content_line span:nth-child(4):after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    transition: all .4s;
}

.service_23_wrapper_content_line span:nth-child(4):before {
    width: 0vw;
    height: 1px;
}

.service_23_wrapper_content_line span:nth-child(4):after {
    width: 1px;
    height: 0vw;
}

.service_23_wrapper_content:hover .service_23_wrapper_content_line span:before {
    width: 2vw;
}

.service_23_wrapper_content:hover .service_23_wrapper_content_line span:after {
    height: 2vw;
}

.service_23_wrapper_content_box {
    position: absolute;
    left: 2vw;
    bottom: calc(2vw + 35px);
    opacity: 0.3;
    transition: all .5s;
    font-size: 65px;
}

.service_23_wrapper_content_box span,
.service_23_wrapper_content_box_a {
    padding: 0;
    margin: 0;
    float: left;
}

.service_23_wrapper_content_box_a {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 120px;
    transform: translate(-50%, -50%);
    color: #333;
    opacity: 1;
    display: flex;
}

.service_23_wrapper .service_23_wrapper_content_box_a span {
    transform: rotateX(-45deg) translateY(-2vw);
    opacity: 0;
    transition: all .4s;
}
.service_23_wrapper:hover .service_23_wrapper_content_box_a span {
    transform: rotateX(0) translateY(0);
    opacity: .2;
}
.service_23_wrapper .service_23_wrapper_content_box_a span:first-child{
    transition-delay: .3s;
}
.service_23_wrapper .service_23_wrapper_content_box_a span:nth-child(2){
    transition-delay: .5s;
}
.service_23_wrapper .service_23_wrapper_content_box_a span:nth-child(3){
    transition-delay: .8s;
}



@media(max-width:768px) {
    .service_23_title{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .service_23_title .index_title{
        text-align: left;
        order: 2;
    }
    .service_23_title .index_sub_title{
        padding: 0;
        order: 1;
    }
    .service_23_title .index_title:before{
        background-color: transparent;
    }
}