.new_hjzf_service-24 .hj01-evaluate {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}


.new_hjzf_service-24 .hj01-evaluate_right {
    height: 100%;
    float: right;
}

.new_hjzf_service-24 .hj01-evaluate_right_content {
    width: 100%;
    height: 100%;
    padding: 50px 40px 40px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.new_hjzf_service-24 .hj01-evaluate_right_title {
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    height: 80px;
}

.new_hjzf_service-24 .section-heading-title {
    position: relative;
    margin-bottom: 10px;    
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
}

.new_hjzf_service-24 .section-heading-title:after {
    content: "";
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #d0d0d0;
    height: 1px;
    width: 80px;
    display: inline-block;
    position: absolute;
    bottom: -24px;
    left: 0;
}

.new_hjzf_service-24 .evaluate_list {
    padding-left: 20px;
    position: relative;
}

.new_hjzf_service-24 .evaluate_list .slick-arrow {
    opacity: 0;
    visibility: hidden;
}
.new_hjzf_service-24 .insignia-testimonial-image{margin-bottom: 30px;}

.new_hjzf_service-24 .insignia-testimonial-text {    
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #6d8190;
    margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
    .new_hjzf_service-24 .insignia-testimonial-text {        
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 28px;
        color: #6d8190;
    }
}

.new_hjzf_service-24 .insignia-testimonial-meta_name {    
    font-size: 16px;
    line-height: 20px;
}

.new_hjzf_service-24 .insignia-testimonial-meta_job {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;    
    font-weight: 400;
}

.new_hjzf_service-24 .new_hjzf_service-24-next,.new_hjzf_service-24 .new_hjzf_service-24-prev{
    top: 115%;background-image: none;outline: none;
}
.new_hjzf_service-24 .new_hjzf_service-24-prev{
    left: 600px;
}
.new_hjzf_service-24 .new_hjzf_service-24-prev:before{
    content: '\f104';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}
.new_hjzf_service-24 .new_hjzf_service-24-next:before{
    content: '\f105';
    font-family: "FontAwesome";
    font-size: 40px;
    color: #fff;
}
 .new_hjzf_service-24 .swiper-pagination{
    bottom: -49px;
    left: 623px;
    width: 30px;
    display: inline-block;
}