.service_hj04_wrapper img{
    float: left;
}
.service_hj04_wrapper .info{
    margin-left: 35px;
}
.service_hj04_container{
    padding-bottom: 40px;
}
.service_hj04_container .service_hj04_pagination span{
    width: 12px;
    height: 12px;
}
.service_hj04_wrapper .info strong{
    display: block;
    font-weight: normal;
}
.service_hj04_wrapper .info p{
    margin-bottom: 15px;
}
.service_hj04_wrapper .info i{
    font-size: 14px;
}
