.service-17{width: 100%;height: auto;margin: auto;}
.service-17_top{width: 100%;border-bottom: 1px solid #f4f4f4;margin-bottom: 40px;}
.service-17_tabs{width: 100%;}
.service-17_tabs li{display: inline-block;margin-right: 20px;padding-bottom: 20px;border-bottom: 2px solid transparent;}

.service-17_tabs li:first-child{margin-left: 0;}
.service-17_descBox{width: 100%;}
.service-17_descBox>.index_text{width: 100%;}

@media(max-width: 1200px) {
    .service-17_tabs li{
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
}
@media(max-width: 768px){
    .service-17_tabs li{
        margin-right: 10px;
    }
}