.service-18{width: 100%;height: auto;margin: auto;}
.service-18_itemlist{width: 100%;}
.service-18_itemlist ul{display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: space-around;flex-wrap: wrap;}
.service-18_itemlist ul li{width: 25%;padding: 30px 20px;border: 1px solid transparent;}
.service-18_itemlist ul li.service-18_item .two{display: none;}
/* .service-18_itemlist ul li.service-18_item:hover .two{display: inline-block;} */
/* .service-18_itemlist ul li.service-18_item:hover .one{display: none;} */
.service-18_itemlist ul li.service-18_item img{margin-bottom: 15px;}
.service-18_itemlist ul li:hover{border:1px solid #d2d2d2}
@media(max-width:576px){
    .service-18_itemlist ul li{width: 50%;}
}
