.hjzf2__service-3 {
    width: 100%;
    height: auto;
    margin: auto;    
}

.hjzf2__service-3_TitleWrap {
    width: 100%;
    margin: auto;
    text-align: center;   
}

.hjzf2__service-3_mainTitle {   
    font-weight: bold;  
    color: #333;
}

.hjzf2__service-3_desTitle {    
    font-weight: normal;    
    color: #85868c;
}

.hjzf2__service-3__swiper {
    margin-bottom: 40px;
}

.hjzf2__service-3_pic {
    width: 100%
}

.hjzf2__service-3_pic img {
    width: 100%
}

.hjzf2__service-3_item {
    position: relative
}

.hjzf2__service-3__info {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px );
    height: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
    background: rgba(0, 0, 0, .7);
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .55s;
    transition: .55s;
}

.hjzf2__service-3__name {
    transition: color .3s;
    color: #fff;    
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
}

.hjzf2__service-3__desc {
    margin-bottom: 0px;   
    color: #85868c;
    opacity: 0;
    visibility: hidden;
}

.hjzf2__service-3_item:hover .hjzf2__service-3__info {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .35s;
    transition: .35s;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.hjzf2__service-3_item:hover .hjzf2__service-3__name, .hjzf2__service-3_item:hover .hjzf2__service-3__desc {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .35s;
    transition: .35s;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.hjzf2__service-3__next, .hjzf2__service-3__prev {
    background-image: none;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 58px;
    outline: none;
}

.hjzf2__service-3__prev {
    left: 0;
}

.hjzf2__service-3__next {
    right: 0;
}

.hjzf2__service-3__next i, .hjzf2__service-3__prev i {
    color: #fff;
    font-size: 26px;
}

.hjzf2__service-3__more {
    width: 100%;
    margin: auto;text-align: center;
}

.hjzf2__service-3__more a {
    display: inline-block;
    width: 240px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding: 19px 13px 19px 13px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}