.hjzf_service_31_wrapper{
    position: relative;
}
.hjzf_service_31_wrapper_container .swiper-pagination span{
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #ccc;
}
.hjzf_service_31_wrapper_faq li{
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
}
.hjzf_service_31_wrapper_faq li span{
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 15px;
    border: 1px solid #666;
    border-radius: 50%;
    cursor: pointer;
}
.hjzf_service_31_wrapper_faq li span:after,.hjzf_service_31_wrapper_faq li span:before{
    position: absolute;
    content:'';
    background-color: #666;
    transition: all .5s;
}
.hjzf_service_31_wrapper_faq li span:after{
    width: 70%;
    height: 1px;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.hjzf_service_31_wrapper_faq li span:before{
    height: 70%;
    width: 1px;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}
.hjzf_service_31_wrapper_faq li .index_sub_title{
    color: #333;
    transition: all .5s;
    padding-right: 25px;
}
.hjzf_service_31_wrapper_faq li .index_text{
    display: none;
    padding-top: 10px;
    border-top: 1px solid #999;
}
.hjzf_service_31_wrapper_faq li{
    background-color: #f5f5f5;
    transition: all .5s;
}
.hjzf_service_31_wrapper_faq li.on{
    background-color: #fff;
}
.hjzf_service_31_wrapper_faq li.on .index_sub_title{
    margin-bottom: 10px;
}
.hjzf_service_31_wrapper_faq li.on span:before{
    transform: rotate(90deg);
}

/* right */
@media(min-width: 1200px) {
    .hjzf_service_31_wrapper_right{
        position: sticky;
        top: 100px;
    }
}
.hjzf_service_31_wrapper_xp{
    border: 1px solid #ccc;
    padding: 30px 15px;
}