.hjzf_service_30_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.hjzf_service_30_wrapper .hjzf_service_30_wrapper_info{
    padding: 20px;
}
.hjzf_service_30_wrapper_p20{
    border: 2px solid #ccc;
    height: 100%;
}
.hjzf_service_30 .index_btn{
    border: 1px solid #000;
}
.hjzf_service_30 .index_btn:hover{
    background-color: transparent !important;
    transition: all .5s;
}
.hjzf_service_30_wrapper_p20 img{
    width: 100%;
}

@media(max-width: 1200px) {
    .hjzf_service_30_wrapper li{
        margin-bottom: 30px;
    }
}