.HJZF2_Z_service {
    width: 100%;
    height: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.HJZF2_Z_service__inner {
    padding-top: 80px;
}

.HJZF2_Z_service_titleBox {
    text-align: center;
	width:67%;
	margin:auto;
}

.HJZF2_Z_service_titleBox h1 {   
    font-weight: bold;
	color:#252525;
}

.HJZF2_Z_service_desc {    
    position: relative;
	text-align:center;
}

.HJZF2_Z_service_desc span {    
	color: #9a9a9a;
}


.HJZF2_Z_service_content {
    font-size: 16px;
    line-height: 28px;
    color: #85868c;
    text-align: center;
    font-weight: normal;
    margin-bottom: 35px;
}


ul.HJZF2_Z_service_list li {
    margin-bottom: 20px;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    will-change: transform;
}



.HJZF2_Z_service_item--left {
	display: table-cell;
    vertical-align: top;
}

.HJZF2_Z_service_item--left img {
    width: 48px;
    height: 48px;
	margin-right:15px;
}

.HJZF2_Z_service_item--right{
	display: table-cell;
    vertical-align: middle;
}

.HJZF2_Z_service_item--right .HJZF2_Z_service_item_header h3 {    
	color: #252525;
	font-weight:bold;
}

.HJZF2_Z_service_item--right .HJZF2_Z_service_item_desc {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #898989;
    margin-top: 10px;
	text-align:left;
}

.HJZF2_Z_service_itempic{ width:100%;text-align: center;}
.HJZF2_Z_service_itempic img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.HJZF2_Z_service_bannerbg{ width:100%; padding:40px 0;}
.HJZF2_Z_service__banner_box{
	width:100%; 
	box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.HJZF2_Z_service__banner_inner{ width:100%; text-align:left;}
.HJZF2_Z_service__banner_inner h2{ font-weight:bold;color: #ffffff; margin-bottom: 10px;}
.HJZF2_Z_service__banner_inner span{font-weight: normal; color: #ffffff;}
.HJZF2_Z_service__banner_right{ 
	text-align:right;
	-webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
	display: flex;
	webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	align-items: center;
}
.HJZF2_Z_service__banner_btn{
	width:100%;
	align-items: center;
}
.HJZF2_Z_service__banner_btn a{
	width:auto;
	max-width:100%;
	font-weight: 700;
    min-height: 38px;
    padding: 6px 25px;
    border-radius: 0px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
    background: rgba(255, 255, 255, 0.01);
    color: rgb(255, 255, 255);
	display: inline-block;
}
.HJZF2_Z_service__banner_btn span{color:#FFFFFF;}
.HJZF2_Z_service__banner_btn a:hover{ border-color: rgba(255, 255, 255, 1); background:rgba(255, 255, 255, 1);}

@media screen and (max-width: 991px) {
.HJZF2_Z_service__banner_inner{ text-align:center;}
.HJZF2_Z_service__banner_btn{ text-align:center; margin-top:30px;}
}
@media (max-width: 767px) {
    .HJZF2_Z_service__inner{padding-top: 40px;}
}