.hjzf_service_35 {
    overflow: hidden;
}
.hjzf_service_35_wrapper{
    position: relative;
}
.hjzf_service_35_wrapper:before{
    position: absolute;
    content:'';
    width: 200%;
    left: -50%;
    top: 168px;
    border-bottom: 1px dashed #777;
}
.hjzf_service_35_wrapper i{
    font-style: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 18px;
    color: #a9a9a9;
}
.hjzf_service_35_wrapper{
    display: flex;
    justify-content: space-between;
}
.hjzf_service_35_wrapper li{
    width: 8.333333%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hjzf_service_35_wrapper li img{
    width: 102px;
    display: block;
    margin: 0 auto;
}
.hjzf_service_35_wrapper li p{
    font-size: 18px;
    line-height: 2;
    white-space: nowrap;
}
.hjzf_service_35_wrapper li:nth-of-type(2n){
    margin-top: 204px;
}
.hjzf_service_35_wrapper li:nth-of-type(2n) img{
    order: 2;
}
.hjzf_service_35_wrapper li:nth-of-type(2n-1){
    margin-bottom: 204px;
}
.hjzf_service_35_wrapper li:nth-of-type(2n-1) i{
    top: 153px;
}
.hjzf_service_35_wrapper li:nth-of-type(2n) i{
    top: -51px;
}
.hjzf_service_35_wrapper li:nth-of-type(2n) i:before,.hjzf_service_35_wrapper li:nth-of-type(2n-1) i:before{
    position: absolute;
    display: block;
    content:'';
    width: 1px;
    height: 20px;
    left: 50%;
    border-left: 1px dashed #777;
}
.hjzf_service_35_wrapper li:nth-of-type(2n) i:before{
    bottom: -22px;
}
.hjzf_service_35_wrapper li:nth-of-type(2n-1) i:before{
    top: -22px;
}
.hjzf_service_35_pagination span{
    width: 12px;
    height: 12px;
}

@media(max-width: 1200px) {
    
    .hjzf_service_35_wrapper li{
        width: 16.66666667%;
    }
    .hjzf_service_35_wrapper{
        flex-direction: column;
    }
    .hjzf_service_35_pagination{
        margin-top: 30px;
    }
}