.othercate14_left_con_jkgl b {
    font-weight: bold;
    color: #e5692c;
}
.choice_tc p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.choice_tc ul{
    margin-bottom: 20px;
}
.choice_tc ul li a{
    color: #fff;
}
.choice_tc ul li h3{
    font-size: 14px;
    line-height: 3;
}
.choice_tc ul li:hover{
    background-color: #005bac;
}
.choice_tc ul li {
    width: 10%;
    line-height: 40px;
    background: #e5692c;
    text-align: center;
    float: left;
    margin: 3px;
    transition: all .5s;
}
.package_ul li {
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding: 2% 0;
}
.package_ul li:nth-of-type(odd) {
    background: #f5f5f5;
}
.package_ul li p {
    float: left;
    width: 10%;
    color: #009098;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
    text-align: center;
    display: none;
}
.package_ul li div {
    float: right;
    width: 96%;
    position: relative;
}
.package_ul li p b {
    font-size: 54px;
    display: block;
    font-weight: 300;
}
.package_ul li div strong {
    display: block;
    font-size: 20px;
    color: #232323;
    font-weight: 400;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}
.package_ul li div em {
    width: 23px;
    height: 23px;
    border: 1px solid #009098;
    border-radius: 50%;
    color: #009098;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
    position: absolute;
    right: 22px;
    top: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.package_ul li div span {
    display: block;
    margin-top: 20px;
}
.package_ul li div span a {
    display: inline-block;
    width: 90px;
    line-height: 30px;
    border-radius: 5px;
    color: #9E9E9E;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
    border: 1px solid #9E9E9E;
}
.package_ul li div span a:hover{
    background-color: #e5692c;
    color: #fff;
    border: 1px solid #e5692c;
}
.icon-arrow-right:before {
    content: "\e688";
}

@media(max-width: 768px) {
    .choice_tc ul li{
        width: 16%;
    }
    .package_ul li div strong {
        font-size: 16px;
    }
    .package_ul li div span {
        margin-top: 10px;
    }
    .package_ul li div em {
        display: none;
    }
    .info_package ul.package_ul li {
        padding: 5% 0;
    }
    .HJZF2_Z-othercate14_box_bg{
        background-color: #fff;
    }
}