/*head*/
.header-language>ul>li{height: 40px;padding: 12.5px 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: relative;font-size: 14px;font-weight: bold;margin-top: 25px;}
.header-language>ul>li>a{position: relative;}
.header-language>ul>li>a:after{content: "\f0dd";font-size: 12px;position: absolute;font-family: FontAwesome;right: -15px;top: -0.5px;display: table;}
.header-language>ul>li>ul{min-width: 150px;padding: 10px;z-index: 1006;box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);visibility: hidden;position: absolute;background: #ffffff;margin-top: 30px;opacity: 0;transition: all 0.3s ease-out 0s;-webkit-transition: all 0.3s ease-out 0s;}
.header-language>ul>li>ul>li{height: 30px;line-height: 29px;background: #f9f9f9;border-bottom: 1px solid #fff;font-size: 14px;}
.header-language>ul>li>ul>li>a{color: #001327;font-size: 14px;line-height: 30px;display: block;}
.header-language>ul>li>ul>li>a>img{margin: 0 15px;width: 18px;height: 12px;}
.header-language>ul>li:hover ul{margin-top: 0;visibility: visible;opacity: 1;transition: all 0.3s ease-out 0s;-webkit-transition: all 0.3s ease-out 0s;}
.header-language>ul>li>ul>li:hover a{color: #fff;}
.head_menu{width: 100%;margin: 0 auto;height: 96px;z-index: 56;background-color: #fff}
.head_menu > div {height: 100%;position: relative}
.page_Logo_box{width: 200px;height: 100%;}
.page_Logo {width: auto;height: 100%;float: left;-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out;transition: all .4s ease-in-out;position: relative;}
.page_Logo a{width: auto;height: 100%;}
.page_Logo a h1{height: 100%;display: flex;align-items:center;flex-direction:row;}
.page_Logo img {width: auto;height: auto;}
.HJ02_head_menu.hj-navbar{width: auto;height: auto;float: left;padding-left: 88px;}
.hj-navbar>ul.hj-nav>li{float: left;position: relative;text-align: center}
.HJ02_head_menu.hj-navbar>ul.hj-nav>li.nav_more:after{content: '\f0dd';font-family: "FontAwesome";font-size: 14px;line-height: 14px;position: absolute;top: 38px;right: 0;color: #ccc;}
.HJ02_head_menu.hj-navbar>ul.hj-nav>li>a>h2{color: #001327;line-height:22px;font-size: 14px;line-height: 50px;text-align: center;font-weight: bold;display: inline-block;padding: 23px 20px;position: relative;text-transform: uppercase;}
.nav_more a h2{position: relative}
.nav_more a h2:after{content: '';display: table;width:11px;height:7px;position: absolute;right: -25%;top: 22px;background: url(../img/nav_more.png) no-repeat;background-size: cover}
/*导航开始*/
.hj-dropdown-menu{background: #fff;left: 0;list-style: none;opacity: 0;padding: 0;position: absolute;top: 100%;visibility: hidden;width: 200px;z-index: 999;text-align: left;margin: 30px 0 0;transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;-moz-transition: all 0.3s ease-out 0s;box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);}
.hj-dropdown-menu>li{padding: 10px 0;border-bottom: 1px solid #e5e5e5;}
.hj-dropdown-menu>li>a>h3{font-size: 14px;line-height: 26px;color: #333;text-align: left;padding: 0 10px 0 20px;font-weight: normal}
.HJ02_head_menu.hj-navbar>ul.hj-nav>li:hover .hj-dropdown-menu{visibility: visible;opacity: 1;margin-top: -20px;left: -20px;transition: all 0.3s ease-out 0s;-webkit-transition: all 0.3s ease-out 0s;-moz-transition: all 0.3s ease-out 0s;}
.HJ02_head_menu.hj-navbar>ul.hj-nav>li>.hj-dropdown-menu>li:hover a>h3{color: #fff;}
/*导航开始*/
.head_menu_second{width: 100%;min-width: 1190px;max-width: 1920px;height: 50px;}
.head_product_cate{width: 200px;position: relative;}
.cate-list-menu{padding:17px 0;}
.cate-list-menu>a.heading-title{position: relative;padding-left: 22px;padding-right: 0px;display: inline-block;text-transform: uppercase;color: #001327;font-weight: bold;}
.cate-list-menu>a.heading-title:before {content: "\f0c9";font-family: FontAwesome;font-size: 18px;position: absolute;top: -1px;left: 0;}
.cate-list-menu>a.heading-title:after {content: "\f0dd";font-family: FontAwesome;font-size: 18px;position: absolute;top: -5px;right: -27px;}
.head_product_cate:hover .cate-list-menu>a.heading-title,.head_product_cate:hover .cate-list-menu>a.heading-title:before,.head_product_cate:hover .cate-list-menu>a.heading-title:after{color: #fff}
.product-catelist{min-width: 254px;border: 1px solid #fdb819;padding-left: 8px;padding-right: 8px;background: #ffffff;z-index: 9;position: absolute;top: 50px; visibility: hidden; opacity: 0; margin-left: 30px;transition: all 0.3s;}
.catelist-first{position: relative;}
.catelist-first>li{min-height: 50px;line-height: 49px;border-bottom: 1px solid #eeeeee;display: flex;display: -webkit-flex;}
.catelist-first>li>a>h3{color: #666666;font-size: 16px;line-height: 26px;font-weight: 400;padding: 10px 0;}
.catelist-first>li>i.icon{color: #777777;font-size: 22px;display: block;padding-top: 11.5px;padding-right: 13px;padding-left: 13px;line-height: 1;}
.catelist-first>li>i.icon:before{content: '\f0a4';font-family: FontAwesome}
.catelist-first>li.has_second:after{content: "\f105";font-family: FontAwesome;position: absolute;right: 15px;display: block;color: #777777;}
.catelist-first>li>ul.catelist-second{min-width:420px;padding: 13px 35px;position: absolute;left: 263px;top: -1px;background: #ffffff;border: 1px solid #fdb819;border-left: none;height: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
    opacity: 0;visibility: hidden;transition: all 0.3s ease-in-out 0s;pointer-events: visible;}
.catelist-first>li>ul.catelist-second>li{width: 50%;float: left;font-size: 14px;height: auto;line-height: 32px;}
.catelist-first>li>ul.catelist-second>li a h3{color: #999999;font-size: 14px;line-height: 32px;font-weight: 400;}
.head_product_cate:hover .product-catelist{margin-left: 0;visibility: visible; opacity: 1;transition: all 0.3s;}
.catelist-first>li:hover ul.catelist-second{ opacity: 1;visibility: visible; transition: all 0.3s ease-in-out 0s;}
.ins-header-search{width: 537px;height: 40px;background: #fff;margin-top: 5px;margin-left: 100px;}
.ins-header-search li{list-style-type: none;}
.ins-header-search li.search_first{width: 480px;height: 40px;float: left;}
.ins-header-search li.search_first input{height: 40px;width:523px;border-width:0px;padding-left: 10px;color:#999;outline: none;}
.ins-header-search li.search_second{width: 57px;height: 40px;float: left;}
.ins-header-search li.search_second button{width: 100%;height: 100%;background: #001327;outline: none;border: none;cursor: pointer}
.ins-header-search li.search_second button:after{content: '\f002';font-size: 20px;color: #fff;font-family: FontAwesome;}
.head_mail,.head_mail a{color: #001327;font-size: 14px;font-weight: bold;padding-top: 15px;line-height: 20px;}
.head_mail:before{content: '\f0e0';font-family: FontAwesome;font-size: 14px;color: #001327;margin-right: 10px;}
.head_mail:hover,.head_mail:hover a,.head_mail:hover:before{color: #fff}
/*head*/

/*黄金05banner1开始*/
.HJ05-banner1-box{width: 100%;min-width: 1190px;max-width: 1920px;height: 800px;overflow: hidden}
#HJ05-banner1{width: 100%;height: 100%;}
.swiper-container{width: 100%;height: 100%}
.HJ-banner-item>a{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.hj05-banner .hj-banner-prev{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;left: -100px;}
.hj05-banner .hj-banner-next{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;right: -100px;}
.banner_wrap{width: 1190px;height: 520px;flex-direction: column;justify-content: center;}
/*黄金05banner1结束*/

/*hj05-index-advantage*/
.hj-advantage{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;}
.HJ05-advantage-box{min-height: 634px;padding-top: 70px;padding-bottom: 70px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box}
.HJ05-advan-title{text-align: center;margin-bottom: 35px;}
.HJ05-advan-title .ttwrap {display: inline-block;position: relative;font-family: "Oswald";text-transform: uppercase;font-size: 30px;color: #ffffff;font-weight: 600;padding: 9.5px 45px;background: #fdb819;z-index: 2;}
.HJ05-advan-title:before {content: " ";position: relative;display: table;margin: auto;width: 600px;top: 22px;border-bottom: 1px solid #cccccc;}
.HJ05-advan-title:after {content: " ";position: relative;bottom: 22px;display: table;margin: auto;width: 800px;border-bottom: 1px solid #cccccc;z-index: 0;}
.HJ05-advan-title .ttwrap:before {content: " ";width: 20px;left: -20px;height: 100%;top: 0;position: absolute;background: linear-gradient(to bottom right, transparent 0%,transparent 47%,#fdb819 52%,#fdb819 100%);}
.HJ05-advan-title .ttwrap:after {content: " ";width: 20px;right: -20px; height: 100%;top: 0;position: absolute;background: linear-gradient(to top left, transparent 0%,transparent 47%,#fdb819 52%,#fdb819 100%);}
.HJ05-advan-title_2{font-size: 16px;font-family: 'Roboto';line-height: 24px;color: #666666;font-weight: normal;text-align: center;margin-bottom: 50px;}
.HJ05-advan-content-item{width: 33.333%;float: left;padding-right: 15px;padding-left: 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;;transition: .6s;-webkit-transition: .6s;-moz-transition: .6s;}
.HJ05-advan-item{flex-direction: row;}
.HJ05-advan-item .num {position: relative;padding:0 14px;height: 40px;line-height: 40px;text-align: center;display: inline-block;font-family: Oswald;font-size: 24px;color: #ffffff;background: #001327; margin-right: 35px;transition: all 0.3s ease-out 0s;-webkit-transition: all 0.3s ease-out 0s;}
.HJ05-advan-item .num:before{content: "";position: absolute;left: -5px;width: 5px;height: 40px;background: linear-gradient(to bottom right, transparent 0%,transparent 43%,#001327 56%,#001327 100%);}
.HJ05-advan-item .num:after{content: "";position: absolute;right: -5px;width: 5px;height: 40px;background: linear-gradient(to top left, transparent 0%,transparent 43%,#001327 56%,#001327 100%);}
.content-wrap .desc-title{font-family: "Oswald";font-weight: 500;font-size: 24px;margin-bottom: 20px;line-height: 24px;color: #001327;transition: all 0.3s;}
.content-wrap .desc-line {color: #666666;max-width: 265px;}
.HJ05-advan-content-item .HJ05-advan-item:nth-child(1){margin-top: 29px;margin-bottom: 98px;}
.HJ05-advan-item:hover .content-wrap .desc-title{margin-left: 10px;transition: all 0.3s;}
.HJ05-advan-content-item.center img{transition: .6s;-webkit-transition: .6s;-moz-transition: .6s;}
.HJ05-advan-content-item.center:hover img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px) ;
        transform: translateX(8px) ;
    }

    33.3% {
        -webkit-transform: translateX(-6px) ;
        transform: translateX(-6px) ;
    }

    49.95% {
        -webkit-transform: translateX(4px) ;
        transform: translateX(4px) ;
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px) ;
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px) ;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.hvr-wobble-horizontal {display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px rgba(0,0,0,0);}
.hvr-wobble-horizontal:hover,.hvr-wobble-horizontal:focus,.hvr-wobble-horizontal:active {-webkit-animation-name: hvr-wobble-horizontal;animation-name: hvr-wobble-horizontal;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-timing-function: ease-in-out;animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;animation-iteration-count: 1}
/*hj05-index-advantage*/

/*hj05-index-product*/
.hj-product{width: 100%;margin: auto;min-width: 1190px;}
.HJ05-product-content{width: 100%;height: 500px;margin:auto;margin-top: -390px;}
.hj05-product .swiper-slide{box-shadow: 0.5px 0.866px 5px 0px rgba( 179, 179, 179 ,0.3);background: #fff;margin-bottom: 60px;padding-bottom: 20px;}
.hj05-product .swiper-slide img{width: 100%;height: auto;}
.hj05-product .swiper-slide .in_proname_a{margin: 0 25px;border-top: 1px solid #f1f1f1;padding-top: 20px;text-align: center;margin-bottom: 20px;}
.hj05-product .swiper-slide .in_proname_a a{color: #001327;font-size: 18px;font-weight: 500;}
.hj05-index-more a{width: 128px;height: 40px;text-align: center;line-height: 40px;display: block;margin: auto;color: #fff;font-size: 14px;font-weight: bold;text-transform: uppercase;}
/*index product*/
/*index product2*/
.HJ05-product-box2{padding-top: 160px;padding-bottom: 50px;}
.index_product_categroy{width: 100%;text-align: center;margin-bottom: 50px;}
.index_product_categroy li{display: inline-block;margin: 0 16px;}
.index_product_categroy li a h3{color: #666666;font-size: 16px;line-height: 24px;font-weight: normal}
.hj05-product2 .indexhotpro-slide{float: left;width: 270px;height: auto;box-shadow: 0.5px 0.866px 5px 0px rgba( 179, 179, 179 ,0.3);margin-bottom: 30px;transition: all 0.3s;background: #fff;padding-bottom: 25px;}
.hj05-product2 .indexhotpro-slide img{width: 100%;height: auto;}
.hj05-product2 .indexhotpro-slide .in_proname_a{margin: 0 25px;border-top: 1px solid #f1f1f1;padding-top: 20px;text-align: center;margin-bottom: 20px;}
.hj05-product2 .indexhotpro-slide .in_proname_a a{color: #001327;font-size: 18px;font-weight: 500;}
.hj05-index-more a{width: 128px;height: 40px;text-align: center;line-height: 40px;display: block;margin: auto;color: #fff;font-size: 14px;font-weight: bold;text-transform: uppercase;}
.index-more2 a{width: 168px;height: 40px;text-align: center;line-height: 40px;display: block;margin: auto;color: #fff;font-size: 14px;font-weight: bold;text-transform: uppercase;}
/*index product2*/
/*hj02-index-other1*/
.hj05-banner2{height: 620px;}
.HJ05-banner2-box{width: 100%;overflow: hidden}
.hj05-banner2-itembox{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.hj05-banner2 .HJ-banner-item a{height: 100%;}
.banner_wrap2{width: 50%;height: 520px;flex-direction: column;justify-content: center;float: left;}
.banner_wrap2_right{float: right;width: 50%}
.hj05-banner2 .hj-banner-prev{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;left: -100px;}
.hj05-banner2 .hj-banner-next{width: 45px;height: 70px;text-align: center;line-height:70px;text-align:center;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;right: -100px;}
/*hj02-index-other1*/

/*index-news*/
.hj-news{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;overflow: hidden;}
.HJ05-news .swiper-slide{margin-bottom: 30px;box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);background: #fff;}
.HJ05-news .swiper-slide .hj05-news-pic{margin: 10px;position: relative;overflow: hidden;}
.HJ05-news .swiper-slide .hj05-news-pic img{width: 100%;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
.HJ05-news .swiper-slide .hj05-news-pic .news_item_date{flex-wrap: wrap;position: absolute;top: 0;background: #fdb819;color: #ffffff;z-index: 1;left: 22px;width: 55px;height: 55px;font-weight: bold;padding-top: 6px;}
.HJ05-news .swiper-slide .hj05-news-pic .news_item_date .bt{font-size: 24px;display: block;width: 100%;text-align: center;}
.HJ05-news .swiper-slide .hj05-news-pic .news_item_date .mnth{font-size: 14px;display: block;width: 100%;text-align: center;}
.news_info{padding: 15px 30px 30px 30px;}
.news_class_name{font-size: 14px;color:#999;line-height: 24px;margin-bottom: 13px;}
.news_item-title{margin-bottom: 28px;}
.news_item-title a{font-size: 20px;font-family: Oswald;font-weight: 500;color: #001327;line-height: 24px;}
.news_item-desc{margin-bottom: 28px;}
.news_item-desc a{font-size: 16px;font-family: 'Roboto';font-weight: 400;color: #666666;line-height: 24px;}
.news_item_more{color: #001327;font-weight: 700;font-size: 14px;text-transform: uppercase;}
.HJ05-news .swiper-slide:hover .hj05-news-pic img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
/*index-news*/

/*index-case*/
.HJ05-case .swiper-slide{margin-bottom: 30px;box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);background: #fff;}
.HJ05-case .swiper-slide .hj05-news-pic{margin: 10px;position: relative;overflow: hidden;}
.HJ05-case .swiper-slide .hj05-news-pic img{width: 100%;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
.HJ05-case .swiper-slide .hj05-news-pic .news_item_date{flex-wrap: wrap;position: absolute;top: 0;background: #fdb819;color: #ffffff;z-index: 1;left: 22px;width: 55px;height: 55px;font-weight: bold;padding-top: 6px;}
.HJ05-case .swiper-slide .hj05-news-pic .news_item_date .bt{font-size: 24px;display: block;width: 100%;text-align: center;}
.HJ05-case .swiper-slide .hj05-news-pic .news_item_date .mnth{font-size: 14px;display: block;width: 100%;text-align: center;}
.news_info{padding: 15px 30px 30px 30px;}
.news_class_name{font-size: 14px;color:#999;line-height: 24px;margin-bottom: 13px;}
.news_item-title{margin-bottom: 28px;height: 48px;}
.news_item-title a{font-size: 20px;font-family: Oswald;font-weight: 500;color: #001327;line-height: 24px;}
.news_item-desc{margin-bottom: 28px;height: 32px;}
.news_item-desc a{font-size: 16px;font-family: 'Roboto';font-weight: 400;color: #666666;line-height: 24px;}
.news_item_more{color: #001327;font-weight: 700;font-size: 14px;text-transform: uppercase;}
.HJ05-case .swiper-slide:hover .hj05-news-pic img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
/*index-case*/

/*index-bottom*/
.hj-bottom{width: 100%;min-width: 1190px;max-width: 1920px;margin: auto;}
.HJ05-bottom{padding-top: 70px;padding-bottom: 15px;}
.HJ05_bottom_list{width: 100%;margin: auto;margin-bottom: 30px;}
.HJ05_bottom_list li.hj-bottom-item{float: left;}
.hj-bottom_nav,.hj-bottom_class,.hj-bottom_contact,.hj-bottom_share{width: 306px;margin-right: 36px}
.hj-bottom_share{margin-right: 0;width: 160px;}
.hj-bottom-item>p{font-size: 23px;color: #ffffff;margin-bottom: 40px;font-weight: 500;font-family: Oswald;}
.hj-bottom-item ul li{margin-bottom: 15px;padding-left: 15px;position: relative}
.hj-bottom-item ul li:before{content: '\f0da';font-family: FontAwesome;font-size: 16px;position: absolute;left: 0;top: 2px;}
.hj-bottom-item ul li a h2{color: #ccc;font-family: 'Roboto';font-size: 16px;font-weight: 400;line-height: 24px;}
.hj-bottom-item ul li a h3{color: #ccc;font-family: 'Roboto';font-size: 16px;font-weight: 400;line-height: 24px;}
.hj-bottom_contact ul li:before{content: '';display: none;}
.hj-bottom_contact ul li{padding-left: 0;color: #ccc;font-family: 'Roboto';font-size: 16px;font-weight: 400;line-height: 24px;}
.hj-bottom_contact ul li a{color: #ccc;font-family: 'Roboto';font-size: 16px;font-weight: 400;line-height: 24px;}
.hj-bottom_contact ul li i{margin-right: 6px;}
.hj-copy{text-align: center}
.hj-copy,.hj-copy a{color: #ccc;font-family: 'Roboto';font-size: 16px;font-weight: 400;line-height: 24px;}
/*index-bottom*/


/*index aboutus*/
.hj-aboutus {width: 100%;max-width: 1920px;min-width: 1190px;height: auto;padding-top: 70px;padding-bottom: 70px;}
.HJ05-aboutus-box{height: 410px;}
.HJ05-aboutus-box-left{width: 600px;height: 410px;position: relative}
.HJ05-aboutus-box-right{width: 540px;height: 410px;}
.hj05-abus-title1{font-size: 14px;line-height: 26px;font-weight: 600;letter-spacing: 0;margin-bottom: 15px;}
.hj05-abus-title2{font-size: 30px;line-height: 50px;font-weight: 700;letter-spacing: 0px;margin-bottom: 15px;color: #333}
.hj05_abus_left_content{font-size: 16px;line-height: 28px;font-weight: normal;color: #626262;font-family: 'Roboto';}
.index_abus_more{width: 160px;height: 50px;line-height: 50px;text-align: center;font-size: 16px;color: #fff;position: absolute;left: 0;bottom: 0;display: block}
.index_abus_more i{padding-left: 10px;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
.index_abus_more:hover i{padding-left: 15px;transition: .6s;-moz-transition: .6s;-webkit-transition: .6s;}
.hj05_abus_right_content{width: 100%;height: 100%;overflow: hidden}
#ab_picbox{width: 100%;height: 410px;position: relative}
.page_indexpic{float: left;	overflow: hidden;width: 100%;height: 410px;}
.page_indexpic ul {width: 1620px;height: auto;}
.page_indexpic ul li {list-style: none;float: left;background: #fff;text-align: center;width: 540px;height: 410px;}
.page_indexpic ul li img{width: 100%;height: 100%;}
#tip{position: absolute; height: 10px; width: auto; z-index: 2; bottom: 14px; right: 10px;}
#tip ul li{cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 10px;}
/*index aboutus*/