HTML BODY {
	MARGIN:0px;  PADDING:0px; TEXT-ALIGN:left; FONT-SIZE:13px; FONT-FAMILY:"Arial","Microsoft YaHei";color:#525353;
}
TD,div {font-family: "Arial","Microsoft YaHei";font-size: 13px; color: #333333; line-height:22px;}

INPUT,TEXTAREA {BORDER-WIDTH:1px; BORDER-COLOR:cccccc;background:ffffff;font-family: "Arial","Microsoft YaHei";}
INPUT{ outline:medium;}
img{ border:0}
*{ margin:0}
a{ text-decoration:none; color:#333}
a:hover{text-decoration: underline;}
ul{ padding:0; margin:0}
li{ list-style:none;}
.clear{clear:both; overflow:hidden; height:0px;}

#animate1,#animate2,#animate3,#animate4,#animate4_1,#animate4_2,#animate5,#animate6,#animate6_1,#animate6_2,#animate7,#animate7-1,#animate8,#animate8_1,#animate8_2,#animate9,#animate9-1,#animate9-2,#animate10,#animate10-1,#animate11,#animate11-1,#animate_banner {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
#at4-share{display: none;}
.top_headbg{min-width:1190px; max-width:1920px; margin:0 auto; height:43px; background:#333333;}
.top_head{width:1190px; margin:auto; height:43px;}
.top_head ul li{ float:left; font-size:13px; color:#ffffff; line-height:43px;}
.top_head ul li a{font-size:13px; color:#ffffff;}
/*logo*/

.menuon{display:block;}
.menuon h2{ font-size:14px; color:#00c3e3 !important; font-weight:normal; line-height:58px;}

.in_banner{ width:100%; margin:0 auto; min-width:1190px; max-width:1920px; height:400px;}

/*面包屑导航*/
.r_mbx{width:1190px; margin:auto; height:35px; margin-top:16px; margin-bottom:11px; text-align:left; line-height:25px; font-size:13px; color:#7e7e7e;}
.r_mbx a{font-size:13px; color:#7e7e7e;}
.page_RightTitle{width:838px; margin:auto;text-align: center;}
.page_RightTitle {line-height: 50px;font-size: 35px;color: #111111;padding-bottom: 21px;background:url(.../img/fl_bg.png) bottom center no-repeat;text-align: center;text-transform: uppercase;}

.in_RightTitle{width:1190px; margin:auto; margin-top:34px; background:url(.../img/index_line.jpg) center no-repeat; text-align:center; line-height:45px; font-size:34px; color:#333333; font-weight:bold;}
.in_RightTitle span{ background:#FFFFFF; padding:0 15px;}
.page_Main{ width:855px;float: right;}

/*内页左侧*/
.page_LeftClass{width:261px;float: left;margin-bottom: 30px;}
.page_LeftClass ul li{float:left;}
.parent{float:left; padding:10px 20px 10px 17px; text-align:center;}
.parent h3{font-size:16px; color:#000000; line-height:24px; font-weight:normal;}
.parent:hover{ background:url(.../img/left_dot1.jpg) left no-repeat;}
.parent a:hover{ text-decoration:none;}
.parent1{float:left; padding:10px 20px 10px 17px; background:url(.../img/left_dot1.jpg) left no-repeat; text-align:center;}
.parent1 h3{font-size:16px; color:#000000; line-height:24px; font-weight:normal;}
.parent1 a:hover{ text-decoration:none;}


.daohang_list1{width:296px; background:#f5f5f5; border:1px solid #dcdcdc;}
.daohang_list1 h3{text-align:center; padding-left:0; color:#3e3e3e; font-size:14px; font-weight:normal;}
.daohang2{position:relative;}
.daohang2 .daohang_list1{display:none}
.daohang2:hover .daohang_list1{display:block}
.daohang_list1{position:absolute; z-index:111; top:36px; left:0;}
.zdh1{border-top:1px dashed #d9d9d9;}
.zdh1 h3{font-size:14px; color:#3e3e3e !important; font-weight:normal; line-height:20px; padding:7px 0;}
.zdh1:hover h3{font-size:14px; color:#3e3e3e; font-weight:bold; line-height:20px;}
.zdh1 a:hover{ text-decoration:none;}

/*内页右侧*/
.page_RightTitle2{ width:840px;text-transform: uppercase; height:42px;margin:auto; background:url(.../img/in_titledot2.jpg) bottom  no-repeat; text-align:left; font-size:20px; color:#333; line-height:45px;background-size: 100%;padding-left: 15px;}

.page_RightMain{width:838px; margin:auto; margin-top:20px; padding-bottom:50px;}


.in_asd{width:375px; float:left; overflow:hidden; position:relative; margin-bottom:20px;}
.in_img{width:375px; height:244px; overflow:hidden; position:relative;}
.in_img img{width:373px; height:242px; display:block; border:1px solid #e2e2e2;}
.in_proname {width:345px;}
.in_proname a{color:#000000; font-size:15px; line-height:20px; font-weight:normal;}
.in_asd .in_rsp{width:375px;height:244px;overflow:hidden;position: absolute; background:url(.../img/pro_bg.png) no-repeat; top:0px;left:0px; z-index:111; cursor:pointer;}
.in_asd .in_text{position:absolute;width:375px;height:142px;left:-375px;top:102px;overflow:hidden; text-align:center; z-index:111;}

.pro_more{width:120px; height:35px; margin:auto; background:#000; text-align:center; line-height:35px;}
.pro_more a{ font-size:14px; color:#ffffff;}



/*通用样式*/
#product_detail { width:100%; margin-top:25px;}
#product_detail .left { width: 410px;float:left;}
#product_detail .big_pic { width: 410px; height:355px; text-align:center;}
#product_detail .big_pic img {width:410px; height:355px;}
#product_detail .big_pic .bigimg{ width:700px; height:606px;}
#product_detail .big_pic .view { display: block;text-indent: 20px; margin-left: 130px; width: 19px; height: 15px; display: inline-block; cursor: pointer; }
#product_name{ font-size:20px !important; color:#333333 !important; font-weight:normal; line-height:25px;}
.pro_info_box { width:395px; height:225px; text-align:left;}
.pro_info_box h4{ display:inline-block;font-size:27px; color:#000; line-height:40px; font-weight:bold; padding-bottom:15px}
.pro_info_box span{font-size:16px; color:#000000;}
#product_detail .product_info {width:405px; float:right; overflow:hidden;}
#product_detail .product_info li {line-height:22px; margin-bottom:5px; font-size:15px; color:#333333;}
#product_detail .product_info li span{ font-size:15px; color:#333333;}


/*焦点图*/
#product_detail ul.pic_list {width:100%; overflow: hidden; height:132px;}
#product_detail ul.pic_list li { width:171px; height: 132px; text-align:center;float:left;}
#product_detail ul li { list-style: none; }

.mod18{width:100%;height:132px; position:relative;}
.mod18 .btn{position:absolute;width:16px;height:132px; cursor:pointer;z-index:99;}
.mod18 .prev{top:0px;background:url(.../img/l_btn.jpg) no-repeat;left:0px;}
.mod18 .prev:hover{top:0px;background:url(.../img/l_btnon.jpg) no-repeat;left:0px;}
.mod18 .next{top:0px;background:url(.../img/r_btn.jpg) no-repeat;right:0px;}
.mod18 .next:hover{top:0px;background:url(.../img/r_btnon.jpg) no-repeat;right:0px;}

.mod18 .listBox{width:342px;height:132px;position:relative;overflow:hidden;margin: auto;}
.mod18 .listBox ul{height:132px;position:absolute;}
.mod18 .listBox li{cursor:pointer;position:relative;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li img{width:150px;height:130px; border:1px solid #66bfae;}
.mod18 .listBox li img:hover{width:150px;height:130px; border:1px solid #e2e2e2;}
.mod18 .listBox .on i{display:block;}

.bt{
background: #65c0b4;
color: #ffffff;
border: 0 !important;
cursor: pointer;
height: 35px !important;
padding: 0 10px 0 10px !important;
width:69px !important;
margin:auto;
}

.in_case{width:855px; float:left; margin-bottom:22px;height: 220px;background: #f7f7f7}
.in_case:hover{box-shadow: 4px 4px 5px #999}
.incase_pic{width:375px; height:220px; overflow:hidden;float: right;}
.incase_pic img{width:375px; height:220px;}
.incase_name{width:420px; float: left; padding:30px;}
.incase_name a{font-size:14px; color:#000;}
.incase_name li{clear: both;}

.detailtitle{width:1190px; margin:auto; background:url(.../img/in_right.jpg) right center no-repeat; line-height:50px; font-size:22px; color:#333333; text-align:left; text-transform:uppercase; font-weight:bold;}
.detailtitle2{width:100%; text-align:center; background:url(.../img/in_titledot2.jpg) center bottom no-repeat; height:45px; line-height:40px; font-size:22px; color:#fefefe; font-weight:bold; text-transform:uppercase;}
#pro_profile{ width:100%; padding-top:20px; overflow-x:auto;}
#pro_profile table{width:100%;}
#pro_profile table td{ padding-left:5px;}
.btn ul li{ float:left !important;}

.pro_title1{ width:100%; font-size:22px; color:#00366e; line-height:49px; border-bottom:5px solid #002c6f}
.back{ width:100%; padding:15px 0; text-align:center}
.back span{ padding:5px 15px; color:#fff; background:#0f83d8; font-size:14px;}

.page_inquirybg{ width:100%; margin:0 auto; min-width:1002px; max-width:1920px; padding-bottom:37px; background:#f1f1f1; margin-bottom:30px; padding-top:28px;}

.pro_title2{width:700px;padding-left:11px;text-align:left;line-height:42px; font-size:22px; color:#004d98; background:#efefef; font-weight:bold; text-transform:uppercase; float:left;}

.proinquiry{width:100%; padding:10px 0 0 0}



.right{ float:right}
.news #news_detail .body{ width:100%; float:left;}
.news #news_detail{ width:100%; float:left; padding:10px 0}
.news #news_detail h1{ text-align:center; font-size:18px;}
.prev_next{padding-bottom:20px; width:100%; float:left;}
.prev_next ul li{ list-style:none}

.news_view{ width:100%; float:left; padding:5px 0; border-bottom:1px dashed #ccc}

.back input[type=button]{ background:#ff9c00; padding:3px 10px; border:0; color:#fff; cursor:pointer; font-size:16px; font-family:Arial}
.news_body{ padding:10px 0}

.main_page{text-align:center;width:100%; float:left; padding-top:15px; padding-bottom:30px;}
.main_page a,.main_page .current{ margin:0 5px;}
.main_page a{ background:#f5f5f5; padding:3px 8px; color:#717071 !important; border:1px solid #d6d7d2}
.main_page .current{ padding:3px 8px; background:#66bfb1; color:#fff;border:1px solid #66bfb1}

#sitemap ul li{ list-style:none; text-align:left; list-style:none}
#sitemap ul li h2{ font-size:16px; padding-bottom:8px;color:#333333; text-transform:uppercase; font-weight:normal;}
#sitemap ul li ul li{ float:inherit; padding-left:30px}
#sitemap ul li ul li h3,#sitemap ul li ul li a{ font-size:14px;line-height:24px; color:#333333; font-weight:normal;}

/*关联产品与新闻*/
.reation{ width:100%; float:left; padding-top:15px;}
.reation h5{ font-size:24px; border-bottom:1px solid #ccc; line-height:38px; margin-bottom:10px;}

/*评论*/
.inquiry{ width:100%; float:left;}
.comment{ width:100%; float:left; padding:10px 0}
.commentTitle{ width:100%; float:left; text-align:left;}
.commentTitle h5{ font-size:22px; color:#333333; line-height:53px;text-align:left; font-weight:normal}
.commentTitle h5 span{ float:right; line-height:53px; font-size:14px;}
.commentTitle h5 span a{color:#333333;}
.commentlist{ width:100%; float:left; padding-top:10px; text-align:left;}
.commentlist ul{ width:100%; float:left;}
.commentlist ul li{ float:left; list-style:none}
.inquiryinfo{ width:100%; float:left; padding-bottom:10px;}

.left_title{background: url(.../img/leftbg.jpg) no-repeat;width: 261px;height: 79px;line-height: 79px;text-align: center;color: #fff;font-size: 28px;text-transform: uppercase;}
.left_title2{background: url(.../img/leftbg2.jpg) no-repeat;width: 210px;height: 71px;line-height: 82px;color: #fff;font-size: 28px;text-transform: uppercase;padding-left: 55px;}
.left_title3{
    background: url(.../img/leftbg.jpg) no-repeat;
    width: 180px;
    padding-left: 50px;
    padding-right: 41px;
    padding-top: 23px;
    height: 55px;
    line-height: 23px;
    text-align: left;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.left_con{background: #fff;box-shadow: 0px 5px 5px #ebebeb;
    padding-bottom: 20px;}
.yiji{width: 227px;margin: 15px auto;background: #404040;padding-left: 11px;}
.yiji a h3{line-height: 24px;font-size: 16px;color: #fff;font-weight: normal;    padding: 5px 0px;}
.yiji:hover{background: #009fa8}
.yijion{width: 227px;margin: 15px auto;background: #009fa8;padding-left: 11px;}
.yijion a h3{line-height: 24px;font-size: 16px;color: #fff;font-weight: normal;    padding: 5px 0px;}

.erji:first-child{padding-top:0px}
.erji{ width: 225px;padding-left: 30px;line-height: 20px;padding-top:17px;padding-bottom: 10px;border-bottom:1px solid #efefef;clear: both; }
.erji a h3{font-size: 16px;color: #333333;font-weight: normal;}
.erji:hover a h3{color: #68c1b1;font-weight: normal;}
.erji:hover{width: 225px;padding-left: 30px;
    padding-bottom: 10px;line-height: 20px;}
.erjion a h3{color: #68c1b1;font-weight: bold;}

.erjion{ width: 225px;padding-left: 30px;clear: both;
    padding-bottom: 10px;line-height: 20px; }


.asd2{width:255px; float:left; overflow:hidden; position:relative;height: 221px;border:1px solid #d2d2d2;}
.img2{width:255px; overflow:hidden; position:relative;}
.img2 img{width:255px;height: 220px; display:block;cursor: pointer;
       transition: all 0.6s;}
.asd2:hover .img2 img{transform: scale(1.2);}       
.in_proname2 {width:235px; padding:10px;background: #000;text-align: center;position: absolute;bottom: 0px;left: 0px;opacity: 0.7}

.in_proname2 a{color:#fff; font-size:18px; line-height:24px; font-weight:normal;}


.detail_title ul li {
    width: 250px;
    height: 34px;
    padding-left: 15px;
    margin: auto;
    background: url(.../img/in_titledot2.jpg) no-repeat;
    text-align: left;
    font-size: 18px;
    color: #fff;
    line-height: 34px;
    float: left;
    text-transform: uppercase;
}
.detail_title{border-bottom: 1px solid #ccc;clear: both;height: 33px;}

.detail_title ul li:hover{
	background: url(.../img/in_titledot3.jpg) no-repeat;
	color: #fff
}  
.pro_detail{text-align: left;padding: 20px 0px;}

.page_ClassList:hover .mz{
    background: #404040;
}
.page_ClassList:hover .mz a h3{
	color: #fff
}
.classpic a img{width: 280px; cursor: pointer;
    transition: all 1s;}
.classpic a img:hover{
	transform: scale(1.2);
}
.classpic{
	width: 280px;height: 181px;border:1px solid #cccccc;overflow: hidden;   
}
.page_ClassList{width: 282px;
    float: left;
    overflow: hidden;
    background: #fff;
    
    }
.mz{    width: 262px;
    padding: 10px;
    background: #fff;}   

.mz a h3{
    color: #666;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
} 
.product_image a img{width: 270px;height: 180px;}
.show_product_list ul li{width: 270px;float: left;}

.prolist_in{height: 82px;width: 1190px;margin: auto;background: url(.../img/in4.jpg);margin-top: -41px;position: relative;z-index: 5}
.prolist_in li{width: 33%;float: left;}
.prolist_in li h3{line-height: 82px;margin-left: 91px;}
.prolist_in li:first-child+li+li h3{margin-left: 150px}
.child2 ul li{padding-left: 50px;padding-top: 10px;padding-bottom: 10px;background: url(.../img/list3.png) 32px center no-repeat;}
.child2 ul li h3{font-size: 14px;color: #666;line-height: 20px;font-weight: normal;}
.child2 ul li:hover h3{color: #68c1b1}
.child2 ul li:hover{background: url(.../img/list3on.png) 32px center no-repeat;}

.right_time{float: right;line-height: 30px;}

.body li a:hover{color: #66bfb1}