
.index_advantage_adv_title{ margin: auto; height:44px; font-size:16px; color: #fff; text-align:center;position: absolute;top: 480px;left: 60px;line-height: 18px;}

.index_ad_left{width: 458px;float: left;}


.ad_left_title{height: 44px;padding-left: 54px;font-size: 22px;color: #333;line-height: 44px;}
.ad_left_con{margin-top: 8px;font-size: 16px;color: #666;line-height: 28px;}
.ad_left1{margin-left: 50px;margin-top: 30px;display: none;}
.ad_left2{margin-left: 50px;margin-top: 30px;display: none;}
.ad_left3{margin-left: 50px;margin-top: 30px;display: none;}
.index_advantage_adv_cont{width: 632px;float: right;margin-top: 30px;}




.index_admore{width: 119px;height: 35px;left: 697px;top: 493px;background: #223c7c;text-align: center;position: absolute;}
.index_admore a{font-size: 13px;color: #fff;line-height: 35px;}

.index_adem{width: 250px;height: 35px;left: 831px;top: 493px;background: url(../img/embg.jpg) no-repeat;;text-align: center;position: absolute;}
.index_adem a{font-size: 13px;color: #223c7c;line-height: 35px;}

.index_advantage_ys_dot{width:61px; text-align:center; height:61px; background:url(../img/ys_dot1.png) no-repeat; font-size:34px !important; color:#000000; font-weight:bold; line-height:61px !important;}

.index_advantage_ys_mail{width:59px; float:right !important; text-align:center; height:59px; background:url(../img/ys_mail1.png) no-repeat; line-height:59px !important;}





.index_advantage_resu_1,.index_advantage_resu_2,.index_advantage_resu_3,.index_advantage_resu_4,.index_advantage_resu_5,.index_advantage_resu_6{display: none;}
.fadeInLeftBig {
	-webkit-animation:fadeInLeftBig 1s .2s ease both;
	-moz-animation:fadeInLeftBig 1s .2s ease both;
}
.fadeInLeftBig1 {
	-webkit-animation:fadeInLeftBig 1s .4s ease both;
	-moz-animation:fadeInLeftBig 1s .4s ease both;
}
.fadeInLeftBig2 {
	-webkit-animation:fadeInLeftBig 1s .6s ease both;
	-moz-animation:fadeInLeftBig 1s .6s ease both;
}
.fadeInRightBig {
	-webkit-animation:fadeInRightBig 1s .2s ease both;
	-moz-animation:fadeInRightBig 1s .2s ease both;
}
.fadeInRightBig1 {
	-webkit-animation:fadeInRightBig 1s .4s ease both;
	-moz-animation:fadeInRightBig 1s .4s ease both;
}
.fadeInRightBig2 {
	-webkit-animation:fadeInRightBig 1s .6s ease both;
	-moz-animation:fadeInRightBig 1s .6s ease both;
}
.fadeInRightBig3 {
	-webkit-animation:fadeInRightBig 1s .8s ease both;
	-moz-animation:fadeInRightBig 1s .8s ease both;
}
.fadeInRightBig4 {
	-webkit-animation:fadeInRightBig 1s 1s ease both;
	-moz-animation:fadeInRightBig 1s 1s ease both;
}
.fadeInRightBig5 {
	-webkit-animation:fadeInRightBig 1s 1.2s ease both;
	-moz-animation:fadeInRightBig 1s 1.2s ease both;
}
#index_advantage_animate,#index_advantage_animate_1{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}