.HJ02-banner1-box{width: 100%;min-width: 1190px;max-width: 1920px;height: 500px;margin: auto;position: relative;margin-bottom: 120px;}
#HJ02-banner1{width: 100%;height: 500px;}
#HJ02-banner1 .slick-slide{width: 100%;height: 100%;float: left;}
#HJ02-banner1 .slick-slide img{width: 100%;height: 100%;}
#HJ02-banner1 .slick-prev{left: 10%;z-index: 99;display: none;width: 40px;height: 40px;background: rgba(0,0,0,0.5)}
#HJ02-banner1 .slick-next{right: 10%;z-index: 99;display: none;width: 40px;height: 40px;background: rgba(0,0,0,0.5)}

#HJ02-banner1 .slick-prev:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat 0px 0px;
}
#HJ02-banner1 .slick-next:before{
    content: '';display: table;;width: 40px;height: 40px;background: url(../img/jiantou.png)no-repeat -39px 0px;
}

#HJ02-banner1 .slick-dots{bottom: 36px;}
#HJ02-banner1 .slick-dots li button::before{border: #c8c8c8 1px solid;width: 10px;height: 10px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;opacity: 0.5;content: "";background: #000;}

.HJ02-banner1-box_other{width: 100%;height: 186px;position: absolute;bottom: -93px;left: 0;}
.HJ02-banner1-box_other ul{display: flex;justify-content:space-between;}
.HJ02-banner1-box_other ul div{justify-content:space-between;float: left;}
.HJ02-banner1-box_other ul li{display: flex;width: 380px;background: #fff;justify-content:center;align-items:center;flex-direction:column;height: 186px;border: 1px solid #D6D6D6;transition: .6s; -webkit-transition: .6s;}
.HJ02-banner1-box_other ul li p,.HJ02-banner1-box_other ul li h4{width: 100%;text-align: center;}
.HJ02-banner1-box_other h4{font-size: 22px;color: #333;line-height: 30px;font-weight: normal;}
.HJ02-banner1-box_other h4 a{position: relative;display: inline-block}
.HJ02-banner1-box_other ul li h4 a:before{content: '';width: 0;height: 2px;display: table;position: absolute;;bottom: -2px;left: 50%;transition: .6s;}
.HJ02-banner1-box_other ul div:first-child{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.HJ02-banner1-box_other ul div:nth-child(2){
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .4s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .4s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .4s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.HJ02-banner1-box_other ul div:nth-child(3){
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .6s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .6s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .6s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .6s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.HJ02-banner1-box_other ul li:hover{
    transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    transition: .6s;
    -webkit-transition: .6s;
}

