#wrapper {
    margin-bottom: 462px;
    position: relative;
    z-index: 10;
    background: #fff;
    overflow-x: hidden;
}
.HJ01_other2 {
    width: 100%;
    min-width: 1190px;
    max-width: 1920px;
    height: 298px;
    padding-top: 80px;
}

.hj01_bottom_contact li {
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#hj01_contact_item2 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s;
}

#hj01_contact_item3 {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

#hj01_contact_item4 {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    animation-delay: .8s;
}

.hj01_contact_item-title {
    color: #fff;
    font-size: 22px;
}

.hj01_contact_item_content p {
    color: #ced5e4;
    font-family: Arial;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    font-size: 15px;
    min-height: 75px;
}

.hj01_contact_item_content p a {
    color: #fff;
}

.hj01_contact_item_btn {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.5);
}

.hj01_contact_item_btn a {
    color: #fff;
    font-family: Saira;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative
}

.hj01_contact_item_btn a:after {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    position: absolute;
    background: #fff;
    bottom: -6px;
    right: 0;
    width: 0;
    height: 2px;
}

.hj01_contact_item_btn a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}
.HJ01_bottom {
    width: 100%;
    min-height: 402px;
    min-width: 1190px;
    max-width: 1920px;
    margin: auto;
    position: fixed;
    bottom: -10px;
    left: 0;
    right: 0;
    padding-top: 60px;
}

.upper-footer {
    padding-bottom: 20px;
}

.HJ01_bottom_down_item {
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.HJ01_bottom_down_item h5{
    margin-bottom: 25px;
    font-family: Arial;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    color: #074575;
    font-size: 20px;
}

.HJ01_bottom_down_item_content {
    width: 100%;
}

.HJ01_bottom_down_item_content p {
    color: #6d8190;
    font-family: Arial;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 15px;
}

.HJ01_bottom_down_item_content a {
    color: #6d8190;
    font-family: Arial;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 15px;
}

.HJ01_bottom_down_item_content ul > li {
    position: relative;
    padding-left: 18px;
    padding-bottom: 12px;
}

.HJ01_bottom_down_item_content ul > li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 80%;
    color: #666
}

.HJ01_bottom_down_item_content ul > li a h3 {
    font-family: Arial;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 15px;
}

.HJ01_bottom_down_item_content ul > li a h2 {
    font-family: Arial;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 15px;
}

.HJ01_bottom_share {
    margin-top: 40px;
}

.HJ01_bottom_share a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 12px;
    display: inline-block;
    text-align: center;
}

.bottom_copyright > div {
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 15px;
    color: #fff;
    font-family: Arial;
    font-weight: 400;
}

.bottom_copyright > div a {
    font-size: 15px;
    color: #fff;
    font-family: Arial;
    font-weight: 400;
}

.foot_nav {
    width: 240px;
    height: auto;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 116px;
}

.foot_title {
    font-size: 22px;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    margin-top: 42px;
    margin-bottom: 16px;
}

.foot_nav li {
    float: left;
}

.foot_nav #menu1 {
    margin-right: 40px;
}

.foot_nav #menu3 {
    margin-right: 28px;
}

.foot_nav #menu5 {
    margin-right: 40px;
}

.foot_nav li a h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 31px;
    padding: 0 10px;
}

.foot_nav div:last-child {
    display: none;
}

.foot_hot {
    width: 229px;
    float: left;
    height: auto;
    margin-right: 116px;
}

.foot_proclass {
    width: 229px;
    height: auto;
}

.foot_proclass li {
    float: left;
}

.ft_cla_name {
    width: 100%;
    float: left;
}

.ft_cla_name a h3 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    line-height: 31px;
}

.ft_ewm {
    width: 111px;
    float: left;
    margin-right: 116px;
}

.ft_cont {
    float: left;
    width: 262px;
}

.ft_cont ul li {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: Arial;
    padding-left: 28px;
    line-height: 23px;
}

.fc-left {
    font-size: 14px;
    color: #ffffff;
    width: 812px;
    height: 143px;
    float: left;
}

.lef_1, .lef_2 {
    float: left;
}

.lef_1 {
    width: 419px;
}

.lef_2 {
    width: 382px;
}

.lef_1 li, .lef_2 li {
    padding-left: 22px;
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
}

.foot-cont {
    width: 1190px;
    height: 143px;
    margin: 0 auto;
}

.fc_title {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.fc_add {
    list-style: none;
    height: 74px;
    width: 886px;
}

.fc_add li {
    float: left;
    margin-right: 20px;
    line-height: 30px;
    padding-left: 28px;
}

.fc-right {
    width: 378px;
    height: 143px;
    float: right;
}

.fr_2 {
    float: right;
    width: 264px;
    margin-right: 12px;
}

.foot1 {
    width: 792px;
    height: 75px;
    margin-top: 25px;
    float: left;
}

.foot2 {
    width: 97px;
    height: 117px;
    float: left;
    text-align: center;
    margin-top: -17px;
}

.foot3 {
    width: 110px;
    height: 77px;
    float: right;
    text-align: center;
}
.dowm_share ul li{list-style-type: none;padding-left: 0!important;margin-left: 0!important;margin-right: 10px;}
.dowm_share ul li:before{content: '';display: none!important}