.index_bottom_footer{width:100%;clear: both; margin:auto; min-width:1190px; max-width:1920px; background:url(../img/bottombg.jpg) center center no-repeat;;min-height: 305px;}
.index_bottom_left{width: 900px;float: left;}
.index_bottom_left_title{font-size: 13px;color: #fff;height: 40px;text-transform: uppercase;font-weight: bold;}
.index_bottom_left_d{margin-top: 20px;}
.index_bottom_left_d li{font-size: 13px;color: #fff;margin-bottom: 10px;}
.index_bottom_con{width: 160px;margin-left: 210px;float: left;}
.index_bottom_Page_Search{width: 322px;height: 34px;margin-left: 35px;}
.index_bottom_right{width: 140px;float: right;text-align: center;}

.index_bottom_nav li h2 {color:#fff;font-size: 14px;font-weight: normal;padding-right: 42px;line-height: 50px; text-align:left; }
.index_bottom_nav li h2:hover {color:#fff;font-size: 14px;font-weight: normal; }

.index_bottom_nav li{margin-bottom: 7px;float: left;}
.index_bottom_nav{width: 100%;height: 57px;}

.index_bottom_bottom1{width:1190px; margin:auto; height:77px; margin-top:9px; border-bottom:1px solid #262626;}
.index_bottom_contact{width:860px; margin-left:59px; float:left; margin-top:4px;}
.index_bottom_contact ul li img{-webkit-transition:all 0.5s ease;	-moz-transition:all 0.5s ease;}
.index_bottom_contact ul li:hover img{-webkit-transform:rotate(360deg); -moz-transform:rotate(360deg);}
.index_bottom_tel{width:262px; float:left;}
.index_bottom_tel ul li{ font-size:14px; color:#e5e5e5; float:left; line-height:20px;}
.index_bottom_tel ul li span{ font-size:15px;}
.index_bottom_add{width:382px; float:left;}
.index_bottom_add ul li{ font-size:14px; color:#e5e5e5; float:left; line-height:20px;}
.index_bottom_add ul li span{ font-size:15px;}
.index_bottom_mail{width:210px; float:left;}
.index_bottom_mail ul li{ font-size:14px; color:#e5e5e5; float:left; line-height:20px;}
.index_bottom_mail ul li span{ font-size:15px; }
.index_bottom_mail ul li a{font-size:14px; color:#e5e5e5;}

.index_bottom_ewm{width:139px; float:right; text-align:center;}
.index_bottom_ewm ul li{ float:left; line-height:66px; font-size:14px; color:#ffffff;}
.index_bottom_bottom2{ width:100%; margin:auto; line-height:46px; text-align:left; color:#fff; font-size:13px;clear: both;height: 46px;}
.index_bottom_bottom2 a{color:#fff; font-size:13px;}
.friendlink{ width:1190px; margin:auto; line-height:30px;}
.link{width:1190px; margin:auto; font-size:16px; color:#666666; line-height:30px;}
.link a{font-size:16px; color:#666666; line-height:30px;}
#index_bottom_animate,#index_bottom_animate_1,#index_bottom_animate_2{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}