#bottom3{
    padding: 35px 0 10px 0;
}
#bottom3 .bottom_f{
    width:1190px;
    margin:0px auto;
    color:#fff;
    font-size:14px;
}
#bottom3 a{color:#fff;font-size:14px;}
#bottom3 .b_nav{ width:160px;float:left;}
#bottom3 .b_nav_c{margin-bottom:20px;color:#fff;font-size:14px;}
#bottom3 .link_b{ width:350px; margin-left:100px}
#bottom3 .nav_2{ width:200px;}