.HJZF2_Z__bottom-5 {
    width: 100%;
    height: auto;
    padding-top: 60px;
}
.HJZF2_Z__bottom-5_content{margin-bottom: 25px;}
.HJZF2_Z__bottom-5Item {
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    margin-bottom: 30px;
}

.bottomInfo {
    padding-left: 15px;
}
.productInfo{
    padding-right: 15px;
}
.bottomInfo__logo {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: left;
    margin-bottom: 20px;
}

.bottomInfo__logo img {
    max-width: 100%;
    height: auto;
}

.bottomInfo__context {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
}
.HJZF2_Z__bottom-5Item.bottomimg{display: flex;display: -webkit-flex;justify-content: space-evenly}
.bottomimg_img1{float: left;text-align: center;}
.bottomimg_img1:first-child{margin-left: 0;}
.bottomimg_img1 span{font-size: 18px;line-height: 30px;color: #fff;font-weight: normal;padding-top: 10px;display: inline-block}


.HJZF2_Z__bottom-5Item__title {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
}

.contctInfo ul {
    margin-bottom: 15px;
}

.contctInfo ul li {
    margin: 10px 0 0;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.contctInfo ul li a {
    color: #fff;
}
.contctInfo ul li a:hover{
    text-decoration: underline;
}

.contctInfo ul li:first-child {
    margin-top: 0;
}

.contctInfo ul li span {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.HJZF2_Z__bottom-5__copyrightContent{width: 100%;border-top: 1px solid rgba(255,255,255,.12)}
.HJZF2_Z__bottom-5__copyrightContent{padding: 10px 0;}
.HJZF2_Z__bottom-5__copyright--left,.HJZF2_Z__bottom-5__copyright--right,.HJZF2_Z__bottom-5__copyright--left a,.HJZF2_Z__bottom-5__copyright--right a{font-size: 14px;line-height: 20px;font-weight: normal;color: #fff;}
.HJZF2_Z__bottom-5__copyright--right{text-align: right;}
.HJZF2_Z__bottom-5__copyrightContent a:hover {text-decoration: underline}

.HJZF2_Z__bottom-5__friendlink{ width:100%; font-size: 14px; line-height:30px; padding-bottom:10px; color: #fff;}
.HJZF2_Z__bottom-5__link{ padding:0 15px;}
.HJZF2_Z__bottom-5__link a{font-size: 14px; color:#FFFFFF;}

@media screen and (max-width: 768px){
    .HJZF2_Z__bottom-5{background-repeat:  repeat!important;}
    .HJZF2_Z__bottom-5__copyright--left,.HJZF2_Z__bottom-5__copyright--right{text-align: center;margin-bottom: 10px;}
    .HJZF2_Z__bottom-5{padding-top: 0;}
    .HJZF2_Z__bottom-5_content{margin-bottom: 0;}
}
@media screen and (max-width: 576px){
    .HJZF2_Z__bottom-5Item{padding-left: 15px;padding-right: 15px;}
    .HJZF2_Z__bottom-5{padding-top: 0;}
    .HJZF2_Z__bottom-5_content{margin-bottom: 0;}
}