.main-content_inner_news{
	margin-top:15px;
	margin-bottom:30px;
}
.inner_cases4_item{
	margin-bottom:30px;
}
.inner_cases4_item a{
	color:#333;
}
.inner_cases4_item .inner_cases4_wz{
	padding: 4% 4% 0 4%;
}
.inner_cases4_item.sec .inner_cases4_img{
	float:right;
}
.inner_cases4_item.sec .inner_cases4_wz{
	padding: 4% 4% 4% 15px;
}
.inner_cases4_title{
	position:relative;
	padding-left:60px;
}
.inner_cases4_title:before{
	content:'';
	width:48px;
	height: 2px;
    line-height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}
.inner_cases4_des{
    padding: 15px 0 0px 60px;
    margin-bottom: 15px;
}
.inner_cases4_more{
	margin-left:60px;
	width: 160px;
	padding:10px 0;
	text-align:center;
	border: 1px solid #151515;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	display:block;
}
.inner_cases4_more:before,.inner_cases4_more:after{
	content:"\f178";
	color:#333;
	font-size:16px;
	margin-left:15px;
	right:24px;
	position:absolute;
	font: normal normal normal 14px/1 FontAwesome;
	top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	transition: all .36s ease;
}
.inner_cases4_more:after{
	opacity:0;
	right:38px;
}
.inner_cases4_more span{
	padding-right:15px;
}
.inner_cases4_item:hover .inner_cases4_more{
	color:#fff;
}
.inner_cases4_item:hover .inner_cases4_more:before{
	opacity:0;
	right:10px;
}
.inner_cases4_item:hover .inner_cases4_more:after{
	opacity:1;
	color:#FFFFFF;
	right:24px;
}
.HJZF_Z__inner_case4{
	padding: 15px 30px;
	background: #f1f1f1;
	margin-bottom:30px;
}
.inner_case4_class ul li{
	display:inline-block;
	margin-right:15px;
}
.inner_case4_class ul li:last-child{
	margin-right: 0;
}
.inner_case4_class ul li a{
	position:relative;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	font-size:16px;
	color:#333;
	line-height:28px;
	padding:6px 10px;
	display:block;
}
.inner_case4_class ul li a:before{
	content: ' ';
    width: 16px;
    height: 2px;
    line-height: 2px;
    background: #000;
    position: absolute;
    left:5px;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.inner_case4_class ul li a:after{
	content: ' ';
    width: 0;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.inner_case4_class ul li a h3{
	font-size:16px;
	color:#333;
	line-height:28px;
	font-weight:normal;
	display:inline-block;
	padding-left:25px;
	position: relative;
    z-index: 9;
}
.inner_case4_class ul li a:hover:before,.inner_case4_class ul li.on a:before{
	background:#fff;
}
.inner_case4_class ul li a:hover h3,.inner_case4_class ul li.on a h3{
	color:#fff;
}
@media(max-width:768px){
.InsidePages_left_content-main{
	box-shadow:none;
}
.inner_cases4_title:before{
	width:16px;
}
.inner_cases4_title{
	padding-left:25px;
}
.inner_cases4_des{
	padding:10px 0;
}
.inner_cases4_item .inner_cases4_wz,.inner_cases4_item.sec .inner_cases4_wz{
	padding: 25px 15px;
    background: #eee;
    margin: 0 15px;
    width: calc(100% - 30px);
}
.inner_cases4_des{
	padding-left:0;
}
.inner_cases4_more{
	margin-left:0;
	width: 120px;
	padding:2px 0;
	margin-top:10px;
}
.inner_cases4_more:before, .inner_cases4_more:after,.inner_cases4_item:hover .inner_cases4_more:after{
	right:10px;
}
.HJZF_Z__inner_case4_mobile{
	position:relative;
}
.leftcases2_title{
	background: #f1f1f1;
	display:block;
	padding:5px 15px;
	margin-bottom:15px;
}
.leftcases2_navlist li{
	position:relative;
	width: 50%;
    float: left;
	padding-right:15px;
}
.leftcases2_navlist li:nth-child(2n){
	padding-right:0;
}
.leftcases2_navlist li a{
	display: block;
    padding: 5px 0 5px 25px;
    background: #f1f1f1;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.leftcases2_navlist li a:before{
	content: ' ';
    width: 16px;
    height: 2px;
    line-height: 2px;
    background: #000;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.leftcases2_navlist li a h3{
	display:inline-block;
	font-size:14px;
	color: #333;
	line-height:26px;
	font-weight:normal;
	position:relative;
	z-index:9;
}
.leftcases2_navlist li a:after{
	content: ' ';
    width: 0;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.leftcases2_navlist li a:hover:before,.leftcases2_navlist li.on a:before{
	background:#fff;
}
.leftcases2_navlist li a:hover h3,.leftcases2_navlist li.on a h3{
	color:#fff;
}
}