.index_servicebg{min-width:1190px; max-width:1920px; margin:auto; background:url(../img/page_servicebg.jpg) center no-repeat; height:278px;}
.index_service_title{width:1190px; height:60px; margin:auto; padding-top:37px; text-align:center; font-size:35px; color:#ffffff; font-weight:bold; line-height:60px;}

.index_service_list{width:965px; margin:auto; height:159px; overflow:hidden; margin-top:22px;}
.service_logo{width:90px; float:left;}
.service_pic{width:90px; height:89px; overflow:hidden;}
.service_pic img{width:90px; height:89px;}
.service_title{ text-align:center; font-size:19px; color:#ffffff; line-height:30px; margin-top:10px;}
.service_jt{width:19px; height:18px; float:left; margin:38px 33px 0 33px; background:url(../img/lc_jt.png) no-repeat;}

#index_service_animate,#index_service_animate1{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}