.search_ougang_list_bg{
    padding: 10px 0;
}
.friendTicks{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.ougang_search,.attr_group .one_search_cate{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 7px;
}
.ougang_search .ougang_search_name,.attr_group .one_search_cate li h3{
    flex: 0 0 10%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #333;
    line-height: 2;
}

.ougang_search .ougang_search_list,.attr_group .one_search_cate ul{
    flex: 0 0 88%;
    display: flex;
    flex-wrap: wrap;
}
.ougang_search .ougang_search_list{
	flex: 0 0 100%;
}
.ougang_search_list li h3,.attr_group .one_search_cate ul li h3{
    font-size: 14px;
    font-weight: normal;
    color: #333;
    transition: all .5s;
    cursor: pointer;
}
.ougang_search_list li,.attr_group .one_search_cate ul li{
    margin: 0 25px;
}
.ougang_search_list li a{
    display: flex;
    height: 100%;
    align-items: center;
}
.ougang_search_list li a.noheight{
    margin-bottom: 20px;
}
.search_reset{
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    min-width: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.HJZF_Z__Breadcrumbs{
    text-align: right;
    margin-bottom: 20px;
}
.search_ougang_list_bg{
    background-color: #f2f2f2;
    margin-bottom: 30px;
}
.ougang_search_list .yiji,.ougang_search_list .yijion{
    position: relative;
}
.ougang_search_list .yiji i,.ougang_search_list .yijion i{
    margin-left: 5px;
}
.yijion a.noheight + .erji{
    opacity: 1;
    visibility: visible;
}
.ougang_search.on{
    padding-bottom: 50px;
}
.yiji .erji,.yijion .erji{
    position: absolute;
    left: 0;
    top: 90%;
    min-width: 100%;
    text-align: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.yiji:hover .erji,.yijion:hover .erji{
    opacity: 1;
    visibility: visible;
}
.erji li a{
    justify-content: flex-start;
    text-align: left;
}
.erji li a h3{
    font-size: 13px;
}
.erji li{
    margin: 10px 0;
    padding-left: 15px;
    position: relative;
}
.erji li.childon:before,.erji li:hover:before{
    position: absolute;
    content:'';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-70%);
}
.yiji:hover .erji{
    background-color: #fff;
}
.ougang_search_list li{ padding:1%;}
.ougang_search_list li a{ display:flex; flex-direction:column;}
.ougang_search_list li h3{ width:100%; text-align:center;}
.ougang_search_list li img	{ max-width:100%;}