.news18_left_title b:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #{$color};
    position: absolute;
    bottom: -12px;
    left: 0;
}

.HJZF2_Z-news18_box_bg {
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
}

#HJZF_Z__wrapper {
    margin-bottom: 0;
}

.news18_left {
    float: left;
    width: 73%;
    background-color: #fff;
    padding: 20px;
}

.news18_left_title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
}

.news18_left_title b {
    font-size: 18px;
    color: #242424;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.info_news_type {
    overflow: hidden;
    margin-bottom: 5%;
}

.info_news_type ul li {
    width: 31%;
    margin-right: 3.2%;
    float: left;
    text-align: center;
}

.info_news_type ul li.new_act a {
    background: #009098;
    text-align: left;
}

.info_news_type ul li.new_act a span {
    color: #fff;
    margin-left: 10%;
}

.info_news_type ul li.new_act:nth-of-type(1) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico11.png");
}

.info_news_type ul li.new_act:nth-of-type(2) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico22.png");
}

.info_news_type ul li.new_act:nth-of-type(3) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico33.png");
}

.info_news_type ul li:nth-of-type(1) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico1.png");
}

.info_news_type ul li:nth-of-type(2) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico2.png");
}

.info_news_type ul li:nth-of-type(3) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico3.png");
}

.info_news_type ul li:nth-of-type(4) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico4.png");
}

.info_news_type ul li:hover a {
    background: #009098;
    text-align: left;
}

.info_news_type ul li:hover a span {
    color: #fff;
    margin-left: 10%;
}

.info_news_type ul li:hover:nth-of-type(1) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico11.png");
}

.info_news_type ul li:hover:nth-of-type(2) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico22.png");
}

.info_news_type ul li:hover:nth-of-type(3) span {
    background-image: url("/Tpl/HJZF2_Z/img/images/new_ico33.png");
}

.info_news_type ul li a {
    display: block;
    line-height: 46px;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_type ul li a i {
    display: block;
    width: 26px;
    height: 26px;
    background: url("/Tpl/HJZF2_Z/img/images/more_btn.png") no-repeat center;
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -13px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_type ul li a span,
.info_news_type ul li a span h3 {
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    display: inline-block;
    height: 100%;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
    color: #fff;
}

.info_news_type ul li:last-of-type {
    margin-right: 0;
}

.info_news_con_top {
    overflow: hidden;
    margin-bottom: 3%;
}

.info_news_con_top img {
    float: left;
    width: 45%;
}

.info_news_con_top .info_news_con_top_r {
    float: right;
    width: 50%;
}

.info_news_con_top .info_news_con_top_r p {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.info_news_con_top .info_news_con_top_r p b {
    display: block;
    font-size: 18px;
    color: #171717;
    margin-bottom: 5px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_top .info_news_con_top_r p small {
    display: block;
    font-size: 14px;
    color: #aaaaaa;
    margin-top: 13px;
    line-height: 29px;
    text-indent: 2em;
}

.info_news_con_top .info_news_con_top_r p:hover b {
    color: #e5692c;
}

.info_news_con_top .info_news_con_top_r ul {
    margin-top: 4%;
}

.info_news_con_top .info_news_con_top_r ul li {
    margin: 10px 0;
}

.info_news_con_top .info_news_con_top_r ul li a {
    display: block;
    font-size: 14px;
    color: #373636;
    position: relative;
    text-indent: 10px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_top .info_news_con_top_r ul li a:before {
    display: block;
    width: 5px;
    height: 5px;
    background: #e5692c;
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_top .info_news_con_top_r ul li:hover a {
    color: #e5692c;
}

.info_news_con_top .info_news_con_top_r ul li:hover a:before {
    background: #e5692c;
}

/* bottom */
.info_news_con_bottom ul li {
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding: 2% 0;
}

.info_news_con_bottom ul li:hover strong:after {
    background: #009098;
    border-radius: 50%;
}

.info_news_con_bottom ul li:hover p {
    color: #009098;
}

.info_news_con_bottom ul li:hover strong {
    color: #009098;
}

.info_news_con_bottom ul li div strong:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: #979797;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_bottom ul li div strong {
    display: block;
    font-size: 20px;
    color: #292929;
    font-weight: 400;
    margin: 2% 0 1%;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
    position: relative;
    padding-left: 20px;
}

.info_news_con_bottom li div {
    display: flex;
    flex-direction: column;
}

@media(max-width: 1200px) {
    .info_news_con_bottom li div .visible-xs {
        display: block !important;
    }

    .info_news_type ul li {
        width: 100%;
        float: none;
    }

    .info_news_type ul li:not(:last-child) {
        margin-bottom: 15px;
    }

    .info_news_con_bottom ul li div strong {
        font-size: 16px;
    }
}

/* news_detail */
.dean_news_title {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.news_time_share {
    text-align: center;
}

.news_time_share {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_time_share .baidu_share {
    margin-left: 15px;
}

.dean_left table {
    width: 100%;
}

.dean_left {
    line-height: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.info_news_con_top {
    margin-bottom: 20px;
}

.info_news_con_top img {
    float: left;
    width: 45%;
}

.info_news_con_top .info_news_con_top_r {
    float: right;
    width: 50%;
}

.info_news_con_top .info_news_con_top_r p {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.info_news_con_top .info_news_con_top_r p b {
    display: block;
    font-size: 18px;
    color: #171717;
    margin-bottom: 5px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_top .info_news_con_top_r p small {
    display: block;
    font-size: 14px;
    color: #aaaaaa;
    margin-top: 13px;
    line-height: 29px;
    text-indent: 2em;
}

.info_news_con_top .info_news_con_top_r p:hover b {
    color: #e5692c;
}

.info_news_con_top .info_news_con_top_r ul {
    margin-top: 4%;
}

.info_news_con_top .info_news_con_top_r ul li {
    margin: 10px 0;
}

.info_news_con_top .info_news_con_top_r ul li a {
    display: block;
    font-size: 14px;
    color: #373636;
    position: relative;
    text-indent: 10px;
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_top .info_news_con_top_r ul li a:before {
    display: block;
    width: 5px;
    height: 5px;
    background: #e5692c;
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    transition: 250ms ease;
    -webkit-transition: 250ms ease;
}

.info_news_con_top .info_news_con_top_r ul li:hover a {
    color: #e5692c;
}

.info_news_con_top .info_news_con_top_r ul li:hover a:before {
    background: #e5692c;
}