.DB_tab25 {width:100%;height:600px;position:relative;overflow:hidden}

.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:600px;display:none}

.DB_tab25 .DB_imgSet{position:absolute;width:1000px;left:50%;margin-left:-500px;}

.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:360px;top:150px;}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:-10px;top:495px}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:50px;top:70px}

.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:-100px;top:212px;}
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:-50px;top:478px}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:550px;top:180px}

.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:-40px;top:220px;}
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:400px;top:310px}
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:650px;top:0px}

.DB_tab25 .DB_imgSet .DB_4_1{position:absolute;left:-143px;top:164px;}
.DB_tab25 .DB_imgSet .DB_4_2{position:absolute;left:0px;top:120px}
.DB_tab25 .DB_imgSet .DB_4_3{position:absolute;left:0px;top:150px}
.DB_tab25 .DB_imgSet .DB_4_4{position:absolute;left:0px;top:180px}
.DB_tab25 .DB_imgSet .DB_4_5{position:absolute;left:650px;top:0px}

.DB_tab25 .DB_imgSet .DB_5_1{position:absolute;left:0px;top:80px;}
.DB_tab25 .DB_imgSet .DB_5_2{position:absolute;left:400px;top:310px}

.DB_tab25 .DB_menuWrap{position:absolute;width:1190px;left:50%;margin-left:-595px;bottom: 0;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;bottom:10px;text-align:center;font-size:0;z-index: 999;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 12px;display:inline-block;width: 13px;height: 13px;}
.DB_tab25 .DB_menuWrap .DB_menuSet li.select{cursor:pointer;margin:0 12px;display:inline-block;width: 13px;height: 13px;}
.banner_shuzi{position:absolute;width:84%;top:573px;text-align:center;padding: 0 77px;}
.banner_shuzi li{width: 141px;margin: 0 2px;color: #fff;float: left;display: inline;}

.DB_tab25 .DB_prev{position:absolute;left:-40px;top:430px;cursor:pointer;display:block;/*background: url(../ZERO/img/ban_prev.png) no-repeat;*/width: 17px;height: 29px;}
.DB_tab25 .DB_next{position:absolute;right:-40px;top:430px;cursor:pointer;display:block;/*background: url(../ZERO/img/ban_next.png) no-repeat;*/width: 17px;height: 29px;}

