.index_about_aboutbg{min-width:1190px; max-width:1920px; height:437px; margin:auto; background:url(../img/aboutbg.jpg) center center no-repeat;}


.index_about_aboutnr{width: 880px;margin: auto;text-align: center;}
.index_about{width: 1190px;margin: auto;position: relative;margin-top: 40px;}
.index_about_pc{width: 537px;height: 265px;float: left;}
.index_about_name{font-size: 22px;margin-top: 15px;line-height: 36px;color: #223c7c;font-weight: bold;}
.index_about_con{font-size: 16px;color: #333;line-height: 30px;margin-top: 40px;}
.index_about_aboutpic{width:845px; margin:auto; margin-top:32px; position:relative;}
.index_about_more{width: 141px;height: 40px;background: #223c7c;text-align: center;margin-top: 35px;}
.index_about_more a{font-size: 13px;color: #fff;line-height: 40px;}
.index_about_more:hover {background: #009fa8}
.index_about_aboutpic ul li{ float:left; width:121px; margin:0 24px; position:relative; overflow:hidden;}

.about_more{width: 153px;height: 38px;border:1px solid #333;border-radius: 15px;text-align: center;margin: auto;}
.about_more a{font-size: 18px;line-height: 38px}


.demo {width: 547px;height: 418px;font-size: 14px;position:relative;clear: both; background: #fff}
.demo a.control {position:absolute;display: block;bottom: 0px;width:36px;height: 34px;cursor: pointer;z-index: 2;}
.demo a.prev {right: -600px;background:url(../img/honorl.jpg) no-repeat;}

.demo a.next {right: -643px;background:url(../img/honorr.jpg) no-repeat;}


/*----------------------------为保证最佳效果，建议设置如下样式------------------------*/

.desc{display: none;}
.bg{display: none;}
.slider{}
.slider3 ul li img{width: 288px !important;height: 161px !important;}


#index_about_bk_hover,#index_about_bk_hover2,#index_about_bk_hover3,#index_about_bk_hover4,#index_about_bk_hover5{position:absolute; top:0; left:0; z-index:111;}
#index_about_animate,#index_about_animate_1,#index_about_animate_2{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-animation-duration: 1s;
-webkit-animation-delay: .2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
-moz-animation-duration: 1s;
-moz-animation-delay: .2s;
-moz-animation-timing-function: ease;
-moz-animation-fill-mode: both;
-ms-animation-duration: 1s;
-ms-animation-delay: .2s;
-ms-animation-timing-function: ease;
-ms-animation-fill-mode: both;
animation-duration: 1s;
animation-delay: .2s;
animation-timing-function: ease;
animation-fill-mode: both;
}