#aboutus{width: 100%;max-width: 1920px;min-width: 1190px;height: auto;}
.ab_cont{width: 1190px;margin: auto;}
.ab_title{width: 1190px;text-align: center;margin: 0 auto;}
.ab_title span{font-size: 26px;color: #333333;font-family: Arial;font-weight: normal;}
.title_bg{width: 100%;height: auto;margin-top: 14px;margin-bottom: 28px;text-align: center;}
.ab_text{width: 664px;height: auto;float: left;}

.text_title{ height: 30px;width: 100%;}
.text_title span,.text_title img{float: left;}
.text_title span{height: 30px;display:inline-block;margin-left: 10px;font-size: 18px;color: #333333;font-family: Arial;font-weight: normal;}
#ab_text{padding: 12px 17px 0 39px;font-size: 14px;color: #666666;font-family: Arial;font-weight: normal;}

.ab_icon2{float: right;margin-top: 26px;margin-right: 17px;}
#ab_pic{width: 503px;height: 342px;}
#container { width: 503px; height: 342px; overflow: hidden; position: relative;}
#list { width: 2012px; height: 342px; position: absolute; z-index: 1;}
#list img { float: left;}
#buttons { position: absolute; height: 10px; width: auto; z-index: 2; bottom: 12px; right: 0;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 10px;}

.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#container:hover .arrow { display: block;}
#prev { left: 20px;}
#next { right: 20px;}