/*
.page_Banner{ width:100%; margin:0 auto;height:600px; min-width:1190px; max-width:1920px;}
.DB_tab25 {width:100%;height:600px;position:relative;overflow:hidden}

.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:600px;}

.DB_tab25 .DB_imgSet{position:absolute;width:1190px;left:50%;margin-left:-595px;}

.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:107px;top:263px;}

.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:0px;top:213px;}


.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:394px;top:331px;}


.DB_tab25 .DB_menuWrap{position:absolute;width:1000px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:500px;text-align:center;font-size:0;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 5px;display:inline}


.DB_tab25 .DB_prev{position:absolute;left:-250px;top:188px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:-250px;top:188px;cursor:pointer;display:none}
*/




.page_Banner{ width:100%; margin:0 auto; min-width:1002px; height:535px;}
.page_Banner{ width:100%; margin:0 auto; min-width:1002px; height:535px;}
.main_image {width:100%; height:552px; overflow:hidden; margin:0 auto; position:relative}
.main_image:hover #btn_prev{opacity: 1;}
.main_image:hover #btn_next{opacity: 1;}
.main_image ul {width:9999px; height:535px; overflow:hidden; position:absolute; top:0; left:0}
.main_image li {float:left; width:100%; height:535px;}
.main_image li span {display:block; width:100%; height:535px}
.main_image li a {display:block; width:100%; height:535px}

div.flicking_con {width:100%; margin:0 auto; position:relative;}
div.flicking_con .flicking_inner {position:absolute; top:495px; left:0; z-index:999; width:100%; height:27px; text-align:center;  padding-top:10px;} /* 121126 */
div.flicking_con a {width:124px; height:3px;background-color:#fff; display:inline-block;z-index:99;margin-right: 3px; }
div.flicking_con a.on {background-color: #ffffff;width: 124px;height: 5px;display:inline-block;z-index:99}
#ban_index{position: absolute;top:483px;margin:0 auto;z-index: 9999;width: 100%;height: 27px;text-align: center;padding-top: 10px; }

#ban_index span{color: #ffffff;    width: 124px;text-align: left;display: inline-block;z-index: 99;margin-right: 3px;}
.inbanner{ width:100%; min-width:1002px; margin:0 auto; height:300px;}
#btn_prev,#btn_next{z-index:11111;position:absolute;width:150px!important;height:100px!important;top: 200px;display: block;opacity: 0;}
#btn_prev{ left: 5px;background: url(../img/ban_prev.png) no-repeat 50px 50px;}
#btn_next{right: 5px;background: url(../img/ban_next.png) no-repeat 50px 50px;}
