
.foot{
    width: 100%;
    height: 255px;
    background:url("../img/foot_bg.jpg") no-repeat;
    clear: both;position: relative;
}
.foot_mian{width: 1190px;margin: 0 auto;height: 191px;}

.foot_nav{width: 240px;height: auto;overflow: hidden;text-align: center;float: left;margin-right:116px;}
.foot_title{font-size: 22px;color: #ffffff;font-family: Arial;font-weight: bold;text-align: left;margin-top:42px;margin-bottom:16px;}

.foot_nav  li{float: left;}
.foot_nav #menu1{margin-right: 40px;}
.foot_nav #menu3{margin-right: 28px;}
.foot_nav #menu5{margin-right: 40px;}

.foot_nav li a h2{font-size: 14px;color: #fff;font-weight: normal;line-height: 31px;padding: 0 10px;}
.foot_nav div:last-child{display: none;}
.foot_hot{width:229px;float: left;height: auto; margin-right:116px;}
.foot_proclass{width: 229px;height: auto;}
.foot_proclass li{float: left;}

.ft_cla_name{width: 114px;float: left;}
.ft_cla_name a h3{font-size: 14px;color: #fff;font-weight: normal;line-height: 31px;}
.ft_ewm{width: 111px;float: left;margin-right:116px;}
.ft_cont{float: left;width: 262px;}
.ft_cont ul li{font-size: 14px;color: #ffffff;font-weight: normal;font-family: Arial;padding-left: 28px;line-height:23px;}

.fc-left{font-size: 14px;color: #ffffff;width: 812px;height: 143px;float: left;}
.lef_1,.lef_2{float: left;}
.lef_1{width: 419px;}
.lef_2{width: 382px;}
.lef_1 li,.lef_2 li{padding-left: 22px;font-size: 14px;color: #ffffff;line-height: 36px;}
.foot-cont{width: 1190px;height: 143px;margin: 0 auto;}
.fc_title{font-size: 18px;color: #ffffff;font-weight: bold;}
.fc_add{list-style: none;height: 74px;width: 886px;}
.fc_add li{float: left;margin-right: 20px;line-height: 30px;padding-left: 28px;}
.fc-right{width: 378px;height:143px;float: right;}
.fr_2{float: right;width: 264px;margin-right:12px; }
.foot1{width: 792px;height: 75px;margin-top: 25px;float: left;}
.foot2{width: 97px;height: 117px;float: left;    text-align: center;
    margin-top: -17px;}
.foot3{width: 110px;height: 77px;float: right;text-align: center;}
.search_list{ position:absolute; background:url(../img/topewmbg.png);top:22px; width:250px; height:59px; font-size:15px; text-align:center; z-index:55}