/*head_middle*/
.top{width: 100%;background: #333;height: 40px;}

.top1{width: 1190px;margin: 0 auto;height: 40px;}
.top2{line-height: 40px;float: left;color: #ffffff;font-size: 16px;font-family:"Arial" , "Regular"; }
.top5{ float: right;font-size: 16px;color: #ffffff;font-family: Arial;font-weight: normal;line-height: 40px;}
.top4{float: right;line-height: 40px;width: 110px;margin-top: 10px;}
.banner_top{width: 100%;margin: 0 auto;height: 101px;z-index: 56;background-color: #FFFFFF;border-bottom: 1px solid #c1c1c1;}
.banner_top2{width: 1190px;height: 101px;margin: 0 auto;}
.page_Logo{ width:640px; height:101px; float:left;}
.page_Logo img{margin-top: 26px;}
.logo_wenzi{float: left;color: #000;display: block;margin-top: 10px;width: 320px;}
.logo_em{height: 49px;margin-top: 32px;float: right;padding-left: 61px;}
.logo_em p{
	font-size: 16px;color: #333333;font-family: Arial;font-weight: normal;text-align: left;
}

/*head_middle*/

/*head_down*/
.banner_title{width: 100%;max-width:1920px;min-width:1190px;height: 44px;margin:0 auto;background-color: #ffffff;}
.banner_title2{width: 1190px;margin:0 auto;}
.index_nav{width: 100%;clear: both;}
.index_nav2{width: 100%;margin:0 auto;position: relative;}
.index_nav2 ul {width: auto;float: left;}
.menu_li {float: left;height: 44px;}
.index_nav2 ul li a h2{font-size: 16px;color: #333333;font-weight: normal; text-align: center;margin: 12px 40px 12px 40px;}
.index_nav2 ul li:hover{background-color:#333333;height: 44px;}
.index_nav2 ul li:hover a h2{color: #FFFFFF;}
.menu_line{width: 2px;height: 15px;background: url("../img/menu_line.jpg") no-repeat;float: left;margin-top: 14px;}
.menu_on{background-color: #333;float: left;height: 44px;}
.index_nav2 ul li.menu_on h2{color: #fff;}
/*head_down*/
