/*ind_news start*/
#news{width: 100%;max-width: 1920px;min-width: 1190px;margin: 0 auto;height: auto;}
.news_cont{width:1190px;margin: 0 auto;margin-bottom: 52px;position: relative;}

#news_item{float: left;width: 560px;height: 156px;background: #f2f2f2;padding: 10px;}
.hynews_pic{width: 188px;height: 155px;float: left;margin-right: 10px;overflow: hidden;}
.hynews_pic img{width: 188px;height: 155px;transition: 0.6s;}
.hynews_list{width: 362px;height: 155px;float: left;}
#four a:hover{text-decoration: underline;}

#news_item:hover .hynews_pic img{transform: scale(1.1);transition: 0.6s;}
/*ind_news end*/