/*partner start*/


#customers{width: 100%;max-width: 1920px;min-width: 1190px;background:url(../img/cus_btn.png) repeat-x 0 21px; }
.customer_cont{width: 1190px;margin: auto;height: auto;margin-top: 66px;}
.cus-title{width: 1190px;text-align: center;font-size: 26px;color: #333333;font-weight: normal;font-family: Arial;}
#cus_btn {
    width: 1190px;
    margin: auto;
    height: 30px;
}
.Cooperation_cont{margin-top: 22px;}


.blk_12 {
    OVERFLOW: hidden;min-width: 1190px;  margin:auto; ZOOM: 1; position:relative;
}
.blk_12 .pcont {
    OVERFLOW: hidden; WIDTH:1190px; margin:auto; position:relative;
}
.blk_12 .ScrCont {
    WIDTH: 32766px; ZOOM: 1
}
.blk_12 #List1_2 {
    FLOAT: left;
}
.blk_12 #List2_2 {
    FLOAT: left;
}


.LeftBotton2 a{ width:24px; display:block;}

.RightBotton2 a{ width:24px; display:block; cursor:pointer;}

.blk_12  img{width:230px; height:100px; display:block;float: left;margin-right: 85px;border: 1px solid #c9c9c9;}
.commu_cont3 {
    MARGIN: 9px 7px 7px; LINE-HEIGHT: 150%
}
.commu_cont3 UL {
    WIDTH: 132px
}
/*partner end*/