.index_productcategories_proclass{width:1190px; margin:auto; margin-top:80px; margin-bottom:14px;}
.index_productcategories_title{width: 100%; text-align: center; font-size:50px; color:#333333; line-height:52px; text-transform:uppercase; background:url(../img/class_line.png) center center no-repeat; font-family:'Arial';}
.index_productcategories_title h2{ display:inline-block; background:#FFFFFF; padding:0 20px; font-size:50px; color:#333333; line-height:52px; text-transform:uppercase; font-family:'Arial'; font-weight:normal;}
.index_productcategories_sm{width:1190px; margin:auto; font-size:25px; line-height:30px; color:#333333; text-align:center; font-family:'Arial';}

.page_product{width:1190px; margin:auto; margin-top:35px;}
.index_pagepro{width:370px; float:left; position:relative; margin-bottom:59px;}
.index_pagepro .index_proimg{width:368px; height:462px; border:1px solid #ebe8e5; overflow: hidden;}
.index_pagepro .index_proimg img{width:368px; height:462px; overflow:hidden; transition: all 1s;}
.index_proname{width:100%; text-align:center; border-bottom:1px solid #dcdcdc; font-size:22px; color:#333333; line-height:35px; padding:15px 0;}
.index_proname h3{font-size:22px; color:#333333; font-weight:normal;}
.index_promore{width:211px;  height:39px; text-align:center; line-height:39px; margin:auto; margin-top:27px;}
.index_promore a{ font-size:22px;font-family:'Arial';}
.index_pagepro:hover .index_proimg img{transition:all .6s;transform:scale(1.15);}

.index_proname a:hover{ text-decoration:none;}

#index_productcategories_animate_1,#index_productcategories_animate_2{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}