/*quility start*/

.qu_cont{width: 1190px;height: 502px;margin: 0 auto;}
#qbox1,#qbox2,#qbox3{margin-top:28px;}
#qbox1{float: right;width: 554px;height: 355px;}

#qbox3{float: right;width: 554px;height: 335px;}
.qpic2,.qpic4{width: 272px;height: 89px;float: right;}
.qpic1,.qpic3{width: 272px;height: 89px;float: left;}
.qitem:hover .qpic1,.qitem:hover .qpic2,.qitem:hover .qpic3,.qitem:hover .qpic4{filter: drop-shadow(0px 0px 4px #acabab);}
.qitem:hover .qtext2,.qitem:hover .qtext{text-decoration: underline;color: white;}

.qtext{width: 278px;height: 89px;float: left;text-align: left;margin-left: 4px;}
.qtext2{width: 278px;height: 89px;float: left;text-align: right;margin-right: 4px;}
.qtitle{font-size: 18px;color: #ffffff;font-family: Arial;font-weight: bold;}
.qt{font-size: 15px;color: #fff;font-family: Arial;font-weight: normal;line-height: 18px;opacity: 0.7;}
/*quility end*/